[2020-08-13 07:25] aviral243 opened #2499 "_buildScale() doesn't process Cb Major."
![Screenshot from 2020-08-13 12-54-14](https://user-images.githubusercontent.com/44023445/90105882-40b08600-dd64-11ea-92f1-616361d7394e.png)

[2020-08-13 11:29] pikurasa commented on #2496
huh... FYI, I tested on FF. Maybe the issue is specific to FF. I did not see anything in the logs.

[2020-08-13 21:16] pikurasa commented on #857
@sksum I think this would be a good one to tackle before the end of summer.

@walterbender what do you think? Anything else to add?

[2020-08-13 22:15] walterbender commented on #857
I think these are all great ideas... I do think it would good to still reflect some of the programming ideas too:
did they use actions?
boxes?
the heap?

Any advanced concepts such as recursion, the arg block, return values?

and anything about sensors...

[2020-08-14 21:43] walterbender commented on #857
Another thing:  was the music chromatic or in a key(s)? @pikurasa can you think of a simple algorithm for determining this? (I suspect we could do a simple statistical analysis.

[2020-08-15 11:19] #2406 closed

[2020-08-15 19:07] pikurasa opened #2505 "Sugarlabs.org version (release, I assume) not passing smoke test"
musicblocks.sugarlabs.org is not passing smoke test.

https://play.musicblocks.net/ (older version) works
rawgit version works

I would grab something from logs, but the problem is bad enough that I cannot access the logs while I am on the site.

[2020-08-15 21:35] pikurasa commented on #857
The simplest thing is to take the user's word for what key they are in. We could then come up with stats for how many notes are in the key, and how many are out of the key.

If we want a deeper dive, I suggest we start with the formula I gave to Aviral. Do you want the "deeper dive"?

[2020-08-15 21:46] walterbender commented on #857
I'd love the deeper dive for my own education. But I think we can keep it simple here. The only tricky bit might be tracking explicit key changes.

[2020-08-15 21:56] walterbender opened #2506 "y to pitch fails for most neg. numbers"
![Screenshot from 2020-08-15 17-54-03](https://user-images.githubusercontent.com/3996641/90322279-7601d300-df20-11ea-889c-ca99561a2664.png)

Try this ^^

Most neg. print NaN. Some do work, e.g., C3

[2020-08-15 22:14] #2506 closed

[2020-08-15 22:15] #2494 closed

[2020-08-15 22:16] #2482 closed

[2020-08-15 22:16] #2474 closed

[2020-08-15 22:16] #2466 closed

[2020-08-15 22:17] #2465 closed

[2020-08-15 22:17] #2434 closed

[2020-08-15 22:24] #2486 closed

[2020-08-16 00:24] walterbender commented on #2505
I cannot reproduce this error... musicblocks.sugarlabs.org works fine for me. What browser are you using?

[2020-08-17 10:04] sksum commented on #2495
the problem seems to be with the order of tuplet and rhythm blocks ,
tuplet works when they are present before the rhythm block inside the widget stack.
looking for a fix .

[2020-08-17 11:20] pikurasa commented on #2505
Chromium -- Version 80.0.3947.0 (Developer Build) custom (64-bit)

[2020-08-17 12:42] pikurasa opened #2510 "JS Widget: Please output pitches to logs (for now)"
@meganindya

I noticed that if you use a lower-case `c`, you get a different pitches from when you put `C`.

Please try the following:
[code]

For testing purposes, please add the following features:
1. send pitches played to log so we can verify what is going on through the output.
2. a hard-stop feature in the widget to stop running the code that is being run.

[2020-08-17 12:43] pikurasa commented on #2510
As for the 2, when I try to use the main stop, I get the following (and the widget stops working):

[code]

[2020-08-17 14:16] walterbender commented on #2505
Hmm. I am running v 84.
I will try to find a way to test with v 80.

[2020-08-17 14:44] pikurasa commented on #2505
I tested on Version 86.0.4200.0 (Developer Build) (64-bit) and it works.

I wonder why it doesn't work on that particular version of chromium.

If I run from terminal I see the following output:

![Screenshot at 2020-08-17 10:39:30](https://user-images.githubusercontent.com/13454579/90408739-406efe00-e076-11ea-87f5-10579788ca17.png)

[code]

[2020-08-17 15:35] pikurasa opened #2513 "Regression on Rawgit"
This metronome does not work on Rawgit: https://musicblocks.sugarlabs.org/index.html?id=1592058687652210&run=True

It doesn't run at all on Rawgit. The sugarlabs.org version has trouble syncing the graphics, but still runs.

Error in logs
[code]

[2020-08-17 21:39] meganindya commented on #2510
About the `C`/`c` problem, I noticed that too. `c` got treated as `D♭`. I pushed the printing of input parameter and output values in #2514. I figured that the existing utility function correctly works only for lowercase solfeges or upper case letter names.

I think issues like this should be fixed once I work on the parameter validation. Perhaps for this case we'd need to internally convert lower

[2020-08-18 14:33] #2510 closed

[2020-08-18 14:35] pikurasa commented on #2484
I am going to close this for now.

Just FYI, when I was testing the slider, I clicked some of the Hertz blocks, and a few seconds later--without clicking on anything--the same pitches played in the same order a second time. I tried to reproduce it a second time, and the same thing happened.

I am going to keep a lookout for this behaviour. @sksum please do the same.

[2020-08-18 14:35] #2484 closed

[2020-08-18 14:41] pikurasa commented on #2495
Works. Thanks!

[2020-08-18 14:41] #2495 closed

[2020-08-18 14:43] pikurasa opened #2516 "Phrase Maker Styling for shorter notes"
For shorter notes, it is hard to see where one note ends and the next begins. It becomes a big green blob. Also the numbers run together.

- [ ] Matrix styling
- [ ] Numbers

![Screenshot at 2020-08-18 10:41:23 short notes](https://user-images.githubusercontent.com/13454579/90527334-6dd3ae80-e13f-11ea-8650-3da53625d113.png)

[2020-08-18 14:47] pikurasa commented on #2420
@walterbender What do you think of this idea?

[2020-08-18 14:47] pikurasa commented on #2387
@walterbender is this resolved?

[2020-08-18 15:05] pikurasa commented on #2371
@sksum any questions about this?

Your example with dots and multiply note value is a little complex. However, I expect the following:

Your code as pseudo code:

dot_1{ sol_4, 1/4, mult-note-value_1/4{mi_4, 1/4}; mult-note-value_1/2{sol_4, 1/4}}}

before dotting, we have:
sol_4, 1/4; mi_4, 1/16; sol_4, 1/32

(which for beat factor in 4/4 meter is 1, 1/4, and 1/8)

dot lengthens everything by half

[2020-08-18 15:11] pikurasa commented on #2513
I also tried the following on Rawgit and it is not working either: https://musicblocks.sugarlabs.org/index.html?id=1590682539166934&run=True

Errors in logs:

Uncaught ReferenceError: _enqueue is not defined
    at Function.playNote (js/turtleactions/RhythmActions.js:75)
    at NewNoteBlock.flow (js/blocks/RhythmBlocks.js:789)
    at Logo.runFromBlockNow (js/logo.js:1597)
    at js/logo.js:1474
Rh

[2020-08-18 15:12] pikurasa commented on #2513
For https://github.com/sugarlabs/musicblocks/issues/2513#issuecomment-675538316, if I take out the `on every note do` block it works.

![Screenshot at 2020-08-18 11:11:51](https://user-images.githubusercontent.com/13454579/90531145-af665880-e143-11ea-9378-d445bbb2f5bc.png)

[2020-08-18 15:13] walterbender commented on #2387
yes and no
We have an Android version in the Google playstore
But it needs to be run initially on-line.
So we need to regenerate a version that is self-contained.

[2020-08-18 15:18] walterbender commented on #2420
I think the preview would be great. Just not sure how feasible it is.

[2020-08-18 15:52] pikurasa commented on #2050
I did it.

File:
[Sakura-Scale-Degree-I-In.html.zip](https://github.com/sugarlabs/musicblocks/files/5091361/Sakura-Scale-Degree-I-In.html.zip)

It gets the correct pitches, but the octaves are displaced (known issue).

Lilypond Output:
[Sakura-SD.zip](https://github.com/sugarlabs/musicblocks/files/5091366/Sakura-SD.zip)

There are a couple strange things about the Lilypond Output:
- [ ] Octaves se

[2020-08-18 16:40] #2301 closed

[2020-08-18 18:09] meganindya commented on #2513
Could you share a `.zip` of the project. The links open the initial project in my case.

[2020-08-18 20:37] pikurasa commented on #862
Let's close this and work on issue of "E<->F and B<->C" separately.

[2020-08-18 20:37] #862 closed

[2020-08-19 12:48] pikurasa opened #2520 "Run Slowly and Step-by-Step is broken"
It seems to break once we hit a pitch block, although I have not tested thoroughly. (FYI, The test project has Scale Degree and Solfege Blocks. Copied below.)

I see this in the logs:

[code]

[SD-Large-Span.html.zip](https://github.com/sugarlabs/musicblocks/files/5096436/SD-Large-Span.html.zip)

[2020-08-19 12:51] pikurasa commented on #2520
Or maybe it has to do with this block:

![Screenshot at 2020-08-19 08:51:07](https://user-images.githubusercontent.com/13454579/90636814-2a3d7b00-e1f9-11ea-92d4-344d9b981f31.png)

???

[2020-08-19 12:59] pikurasa opened #2521 "Putting pitch blocks directly into trash does not generate silence"
When you put a pitch block in the trash, the note block should have silence.

However, it seems that if you put the pitch directly into the trash at the bottom of the screen the silence is not generated.

![Screenshot at 2020-08-19 08:58:36](https://user-images.githubusercontent.com/13454579/90637718-57d6f400-e1fa-11ea-8141-942aa3985d9b.png)

[2020-08-19 15:56] sum2it opened #2522 "Implement a digital audio workstation (DAW) within MB or make MB compatible with an existing open source DAW"

[2020-08-19 17:40] pikurasa commented on #2522
Wow! I like the idea, but may be 500 hours of work.

[2020-08-19 19:22] sum2it commented on #2522
Agreed, even the simplest implementation will take about 100 hours. I've added GSOC 2021 (next year) as a milestone.

[2020-08-19 19:24] sum2it commented on #2522
@sksum has laid the foundation stone by adding MIDI capability to Music Blocks.

[2020-08-19 23:19] #2469 closed

[2020-08-20 11:42] walterbender opened #2526 "reorder the blocklist on save"
When we export blocks, we save the block list. But the block list is ordered based on the order in which blocks were added to the project. It would make the code more readable if the block list were reordered based on the block flow -- starting with a start block and flowing the connections in a serialized "tree". Other start blocks would flow, then each action block, and finally unattached blocks

[2020-08-20 11:49] pikurasa opened #2527 "Increase Click and Drag Area in Palette"
Please allow the empty space on the right to be click and drag - able (as discussed at today's meeting).

[2020-08-20 11:49] walterbender opened #2528 "update clamps based on a tree representation"
Right now we are very inefficient when expanding clamp blocks in blocks.js making multiple passes through the block list.
If we generate a "tree" representation of the list and start with the deepest levels, then we could do it in just one pass.

[2020-08-22 11:11] walterbender opened #2532 "switch clamp issues"
(1) only case and default blocks should be allowed in the top-level child flow of a switch block
(2) case and default blocks should not be allowed to connect to anything but other case blocks or the top-level child flow of a switch block.

[2020-08-22 18:35] pikurasa opened #2533 "Phrase Maker and Hertz"
One improvement and one bug related to hertz and phrase maker.

Hertz Numeric Value should not have more than 2 decimal places in Phrase Maker.

Please see:

![Screenshot at 2020-08-22 14:31:41](https://user-images.githubusercontent.com/13454579/90963313-91229480-e484-11ea-84bc-ffd7b65b74c9.png)

Also, the button to order all the pitches results only in a single pitch:

![Screenshot at 2020-08-22

[2020-08-23 14:55] pikurasa opened #2535 "BPM and Meter Widget"
(Tested on RawGit) Master BPM works with Meter Widget, but BPM does not work with Meter Widget. I do not see a reason why BPM should not. I think it is an omission.

Test File:
[BPM-Meter.html.zip](https://github.com/sugarlabs/musicblocks/files/5114107/BPM-Meter.html.zip)

[2020-08-24 12:49] pikurasa opened #2537 "Build Scale Logic Refactoring"
There have been some discussions about how build scale works and how to improve it such that it better follows the logic that musicians use to spell pitches for scales.

_Sketching out here; will refine later. We may add this to the docs (for users as well as developers):_

Spelling Pitches in a Scale
=====

Regardless whether we are finding accidentals for modes with greater than or fewer than 7,

[2020-08-24 13:07] pikurasa opened #2538 "Spelling Chromatic Pitches Outside a Scale"
_Another sketch to figure out spellings for chromatic pitches outside of a given scale. https://github.com/sugarlabs/musicblocks/issues/2537 should be solved before solving this._

Spelling Chromatic Pitches Outside a Scale
===

Melodies often have pitches outside the 7 note framework, which means that the spelling needs to be arbitrated between its relationship to the nearest scalar pitch above a

[2020-08-24 13:14] pikurasa commented on #2390
I also got an error the first time I ran the code. It ran well the second time.

These are the errors I get the first time.
[code]

[2020-08-24 13:15] pikurasa commented on #2537
@aviral243 can you please provide some feedback on this proposal as you know buildscale very well?

[2020-08-24 13:43] pikurasa commented on #2513
Yes, it works.

[2020-08-24 15:58] pikurasa commented on #2520
works. Thanks @sksum

[2020-08-24 15:58] #2520 closed

[2020-08-25 23:17] #2390 closed

[2020-08-26 09:42] aviral243 commented on #2537
Adding on to this:

- We have no support for any double flat/double sharp keys. Bottleneck for https://github.com/sugarlabs/musicblocks/pull/2498#issuecomment-679130460 .

- Edge cases like B# and Cb fail.

- More issues can be thought of but they're more or less the result of not being able to generate a proper scale and rethinking the function should solve most of them. e.g weird Lilypond export

[2020-08-26 13:26] pikurasa opened #2543 "Forward inside Note Block fails to run from JS Widget"
This may be a known issue, but I bumped into this just now:

![Screenshot at 2020-08-26 09:24:18](https://user-images.githubusercontent.com/13454579/91309022-1c01d880-e77e-11ea-994a-ee78087b7ca0.png)

[code]

[2020-08-26 13:39] meganindya commented on #2543
Thanks for finding this. I realized that I forgot to update the function names for the graphics blocks in the API. Will push a quick fix.

Btw, does the code look reasonable? This is the simplest I could without losing functionality. We can do some preprocessing and clear up a little bit more.

[2020-08-26 14:19] #2543 closed

[2020-08-26 16:20] pikurasa commented on #2543
works

I think it does.

I think we should stay focused on tying up loose ends with an assumption that this is our design.

[2020-08-27 12:50] walterbender commented on #857
The basics are done now. We can perhaps open a new issue with explicit ideas for enhancements.

[2020-08-27 12:50] #857 closed

[2020-08-27 13:33] pikurasa opened #2546 "New Stats Documentation"
We should update the documentation for our new stat features.

![Screenshot at 2020-08-27 09:32:35 stat](https://user-images.githubusercontent.com/13454579/91448765-49b35400-e848-11ea-9c0d-97e2c5dc599a.png)

[2020-08-27 16:04] #2481 closed

[2020-08-27 23:46] walterbender opened #2548 "regression: last start block should not go into the trash"
We always need a start block on the screen. But you can put the last start block in the trash, resulting in no start block.

[2020-08-28 00:40] walterbender commented on #2548
Seems to only occur when the start block has a companion turtle (on every beat do)

[2020-08-28 11:11] #2548 closed

[2020-08-29 13:03] walterbender opened #2549 "backward block seems to play twice"
Running the Crab Canon example, the action inside the backward block play twice.

[2020-08-29 13:06] #2513 closed

[2020-08-29 14:25] pikurasa opened #2550 "Changing Meter has no impact on "On Every Beat Do""
Changing the Beat ("Note Value" arg) in Meter Block seems to have no impact on the interpretation of the "on every beat do" block.

This program plays the actions on the quarter notes:
![Screenshot at 2020-08-29 10:15:47 beat](https://user-images.githubusercontent.com/13454579/91639044-bada3f00-e9e1-11ea-912e-65922e8adc36.png)

Test File:
[On-every-Beat-Do.html.zip](https://github.com/sugarlabs/mu

[2020-08-29 18:48] walterbender opened #2551 "default synths not initialized for companion turtle"
When you create a companion turtle, the default synths are not initialized.

[2020-08-29 19:21] #2551 closed

[2020-08-29 23:08] walterbender commented on #2550
Should work now as long as the set meter block comes before the on every beat do block.
It will not work if you change the meter afterward.

[2020-08-30 18:55] walterbender commented on #2549
(1) I confirmed it is a recent regression -- works fine on musicblocks.sugarlabs.org
(2) It only happens when calling an action inside the backward block.

[2020-08-30 18:57] meganindya commented on #2549
I'll take a look

[2020-08-30 19:05] walterbender commented on #2549
This works.

![Screenshot from 2020-08-30 15-03-54](https://user-images.githubusercontent.com/3996641/91667370-200d5d80-ead2-11ea-9a31-6881b60e1b3b.png)

This does not work.

![Screenshot from 2020-08-30 15-05-33](https://user-images.githubusercontent.com/3996641/91667384-4501d080-ead2-11ea-85a5-dc085526aded.png)

[2020-09-02 15:04] pikurasa commented on #2550
It works!

BTW, there seem to be some performance related issues that occur after a few iterations of code.

![Screenshot at 2020-09-02 11:03:42](https://user-images.githubusercontent.com/13454579/92000923-18d19400-ed0c-11ea-84f7-1f1a1b9563cd.png)

[2020-09-02 15:04] #2550 closed

[2020-09-04 16:23] #2549 closed

[2020-09-04 17:44] walterbender commented on #2533
I don't think there should be any decimal places, actually.

[2020-09-04 17:53] #2533 closed

[2020-09-04 20:38] walterbender commented on #2535
@pikurasa this works for me (both BPM and Master BPM). please reopen if you cannot get it to work.

[2020-09-04 20:38] #2535 closed

[2020-09-04 20:39] #2499 closed

[2020-09-04 20:47] pikurasa opened #2555 "Music Keyboard Misplacing octave of sharp keys"
![Screenshot at 2020-09-04 16:38:15 fa sharp](https://user-images.githubusercontent.com/13454579/92283362-b6c08c80-eecd-11ea-85e7-88b1dc000cc9.png)

(The Fa # should be higher up, after the "H" key on the physical keyboard. I expect it to be in the spot for "i")

I suspect that this is just the tip of the iceberg. We should review how we are mapping the keys and come up with a robust solution.

Te

[2020-09-05 07:12] sum2it opened #2557 "Close issues @sksum has resolved"
Can @sksum please get a list of all resolved issues so that they can be closed?

[2020-09-05 20:41] pikurasa opened #2558 "Issue with musicblocks.sugarlabs.org ??"
I am getting no sound at the moment...

[code]

Tested on `Chromium Version 80.0.3947.0 (Developer Build) custom (64-bit)`

![Screenshot at 2020-09-05 16:39:52](https://user-images.githubusercontent.com/13454579/92313178-9c9eb100-ef96-11ea-95c0-d2906d11df7f.png)

[2020-09-06 03:33] sksum commented on #2557
[this](https://github.com/sksum/GSOC-20-Final-Work-Product/blob/master/Code.md) contains all the issues (closed and not closed ) ,
I will also add a separate list of the ones ( not closed )

[2020-09-06 12:16] sum2it commented on #2557
@sksum thank you. I made this issue just in case you missed including an issue in your list due to the deadline.

[2020-09-07 13:30] pikurasa commented on #2558
What commit is musicblocks.sugarlabs.org on right now?

Origin Master (v3.3) works just fine (`HEAD is now at 7ad5e0a... update JA strings`)

I tested yesterday and today and can confirm that I get the same results every time.

[2020-09-07 18:43] pikurasa opened #2559 "Hertz block pitches exported from Phrase Maker"
[code]

If I export hertz blocks from Phrase Maker, they no longer export properly and I get an error.

Example of using Hertz blocks in Phrase Maker:
![Screenshot at 2020-09-07 14:36:17](https://user-images.githubusercontent.com/13454579/92411917-d5b25f00-f117-11ea-9e93-d3c12ac944a4.png)

Exported Code looks like this and I get an error:
![Screenshot at 2020-09-07 14:37:54](https://user-images.gi

[2020-09-09 09:23] walterbender opened #2560 "rotating a tablet causes work to be lost"
Dear Walter

There is an issue to be solved ASAP with Musicblocks, please:  when the app is open and you work in a horizontal  position, you can program with the blocks but when you turn to vertical, the apps restarts from scratch and you loose all what you programed before.

Tonight they are closing all the APK!! I am copying Rocio and Ladislao, who are in charge on adding Musicblocks today.

Tha

[2020-09-10 17:22] pikurasa opened #2561 "Regression in "On Every Note Do""
Experienced on Rawgit as of today.

[code]

Test Code:
![Screenshot at 2020-09-10 13:21:39](https://user-images.githubusercontent.com/13454579/92771077-9464be00-f368-11ea-8b76-2b65572673ef.png)

[2020-09-11 18:19] sksum commented on #2559
are the hertz values correctly being translated as solfege ? and should they ?

[2020-09-12 13:18] walterbender opened #2562 "erase on pitch staircase eliminates starting pitch"
![Screenshot from 2020-09-12 09-16-47](https://user-images.githubusercontent.com/3996641/92996332-d3b21c80-f4d8-11ea-9424-ab640983d380.png)

oops. no way to continue without the starting pitch

[2020-09-12 17:57] pikurasa commented on #2558
It seems musicblocks.sugarlabs.org has been updated.

[2020-09-12 17:57] #2558 closed

[2020-09-12 17:58] pikurasa commented on #2559
If the pitch in hertz matches a solfege pitch, it is translated to solfege. That is working fine right now.

[2020-09-13 12:32] #2528 closed

[2020-09-13 12:33] #2299 closed

[2020-09-13 12:33] walterbender commented on #2299
Please reopen if the problem reoccurs

[2020-09-13 12:37] walterbender opened #2563 "oscilloscope continues to run after stop"
Checking the console output, line 103 in oscilloscope.js continues to generate spam after the stop button has been pressed.

[2020-09-13 15:35] #2561 closed

[2020-09-13 15:42] walterbender commented on #2559
[92,["newnote",{"collapsed":false}],805,447,[134,94,93,135]],[93,"vspace",819,479,[92,97]],[94,"divide",907,447,[92,95,96]],[95,["number",{"value":1}],993,447,[94]],[96,["number",{"value":4}],993,479,[94]],[97,"pitch",819,511,[93,98,99,null]],[98,["solfege",{}],893,511,[97]],[99,["number",{"value":2}],893,543,[97]]

This is from the exported code... note that the solfege block value is not set.

[2020-09-13 15:57] #2559 closed

[2020-09-13 16:04] walterbender commented on #2496
![Screenshot from 2020-09-13 12-03-38](https://user-images.githubusercontent.com/3996641/93022829-30850400-f5b9-11ea-8d0a-1a8279384862.png)

Seems to be working on FF. Please reopen with browser details if you can reproduce.

[2020-09-13 16:04] #2496 closed

[2020-09-13 16:34] #1145 closed

[2020-09-13 16:37] #2458 closed

[2020-09-13 17:23] sujal111 commented on #2346
I want to work on this issue by improving the documentation.

[2020-09-13 18:03] walterbender commented on #2346
Sounds good. Please see https://github.com/sugarlabs/sugar-docs/blob/master/src/contributing.md

[2020-09-13 18:29] #2562 closed

[2020-09-13 18:40] walterbender commented on #2410
I like this idea but I am not sure how to implement it. We need to see if we can change the pitch of a synth as it is playing. And the sample-based pitches are somewhat dependent on note value.

[2020-09-13 20:21] walterbender commented on #2410
The scalar step block will play stand-alone now.

[2020-09-15 12:31] #2532 closed

[2020-09-16 16:59] pikurasa opened #2564 "Accidental Support for Pitch Converter"
At the moment, we output a lot of different things, but the user has to go through a few hoops if they want the full name of the pitch (with accidentals).

Right now, this is how one would get the full name in alphabet:

![Screenshot at 2020-09-16 12:57:55](https://user-images.githubusercontent.com/13454579/93368670-45ad9d00-f81c-11ea-8bce-4ad101adef6b.png)

It would also be nice to get the full n

[2020-09-19 00:50] walterbender commented on #2395
Hidden blocks are hidden because they are deprecated or because they are on an advanced palette (when in beginner mode). Maybe we need to add a deprecated flag and not allow search for those blocks. But if a hidden block is shown in the search menu, it should be possible to create it.

[2020-09-20 16:03] walterbender commented on #2371
I am a bit confused as to what we want this block to do.

current note value / beat, where beat is specified by the meter block (denominator)?

[2020-09-20 17:34] walterbender commented on #2371
I implemented the above. Please test.

[2020-09-20 20:52] walterbender commented on #2564
I am not sure what you are trying to do... printing current pitch directly preserves accidentals. And if you want the letter class, you just need one converter.

[2020-09-20 23:30] pikurasa commented on #2564
OK, I had forgotten that you could just use `current pitch` without a converter.

How does one get solfege with accidentals?

There could be a current pitch solfege for fixed which shows accidentals for the pitch (same as alphabet, but Do, Re, Mi instead of C, D, E), and a current pitch solfege for movable, which could outputs all the fancy movable solfege syllables (e.g. "Di" for a sharped first

[2020-09-20 23:43] pikurasa commented on #2371
It works as expected -- hurrah!

[2020-09-20 23:43] #2371 closed

[2020-09-21 23:13] walterbender commented on #2564
I fixed the solfege problem. (For some reason, the code was set up to strip the accidental.)

Haven't implemented the fancy solfege symbols yet.

[2020-09-21 23:17] walterbender commented on #2555
Question: would it make sense to add all of the black keys but only label/enable the ones that correspond to the notes chosen?
(Same question regarding the white keys...)

It would make the layout much more consistent.

[2020-09-22 13:10] pikurasa commented on #2564
It should strip the accidental for "solfege class" like it does for "letter class", so that is why @aviral243 implemented it this way. However, we also need a method to keep the accidental.

OK.

[2020-09-22 13:18] pikurasa commented on #2555
Yes, it would.

Only question I have is what do we do about starting points and how to best use the keyboard mappings.

The example in the image above starts from `g`, but the user could have a starting point from any pitch.

I see two potential methods:

1. We always make the lowest pitch the `a` key on the keyboard.
2. We always make `a` key on the keyboard a 'c' pitch (keyboard keys `f` and `g`

[2020-09-22 13:20] walterbender commented on #2564
So a separate converter. Any suggestions as to the name? Maybe the converter that strips the accident should be called solfege class???

[2020-09-22 13:23] walterbender commented on #2555
I would like to start with C and generate octaves that span the range input.
Maybe we can have a compact mode where you get "white keys" for just the notes you select, including what would normally appear on a black key. But the default would be a full octave(s) display.

[2020-09-22 15:04] pikurasa commented on #2555
And if all the pitches are in octave 2?

[2020-09-22 15:19] walterbender commented on #2555
If all the pitches are confined to one octave, then you'd only see one octave worth of keyboard.

[2020-09-22 16:18] pikurasa commented on #2555
+1

[2020-09-22 22:39] walterbender commented on #2564
I added a separate converter, solfege class, which removes the accidental.
Also, some tweaks to the pitch to color code so that it divides color into 12 steps for a chromatic scale and also accommodates double sharp and double flat.

[2020-09-23 14:14] walterbender commented on #2395
I misspoke earlier-- there is a deprecate flag and it removes blocks from the search list.
I added a way to add piemenu items, e.g., pitch converter options to the search. Please test.
Also, if there are other blocks missing (or appearing when they should not, please let me know).

[2020-09-23 14:18] walterbender commented on #2403
Seems there is no documentation for anything on the block context menu (copy/delete/remove/help/ et al.)

[2020-09-25 15:14] sksum commented on #2563
"oscilloscope running" should log every frame while the widget is open , does it still log when the widget is closed ?

[2020-09-25 16:58] walterbender commented on #2563
I think it should not be running when the program is not running, even if it is open. Is that possible?

[2020-09-25 16:59] walterbender commented on #2563
(Check the console output to see what I mean... when the oscilloscope is running, the console is bombarded with output even if there is nothing else running.)

[2020-09-26 12:35] walterbender commented on #2555
I'm starting to look into this but I have two questions.

It seems to me that the keyboard is an absolute mapping of notes. So I think we need to convert solfege to letter class (accounting for key/mode) on the way in. (Right now, it seems to be assuming that everything is C Major.) OK to make that change?

Also, I am unsure what to do with notes that don't map to the keyboard, say a hertz block t

[2020-09-26 22:19] pikurasa commented on #2555
Yes, let's use alphabet spellings of pitches.

Perhaps we can use the number row at the top of the keyboard (1, 2, 3, 4, 5, 6, 7, 8, 9, 0) to account for some collisions.

If the user has "too many" collisions, we need to be more imaginative, but this is a start.

[2020-09-29 23:17] walterbender commented on #2555
I have this mostly working on master. Please test and give me feedback.

[2020-09-30 11:19] ricknjacky commented on #2560
hey @walterbender , I'm new to this code, the possible fix that you have suggested here, if I am not wrong, saves the file locally. Wouldn't it be better if we just restore the previous session?Can you please review, whether this code will be best possible fix? :)

`function restoreMostRecent(sessionInfos) {
  if (!sessionInfos.length) {
    console.log("No sessions found")
    return;
  }
  let s

[2020-09-30 11:20] ricknjacky commented on #2560
hey @walterbender , I'm new to this code, the possible fix that you have suggested here, if I am not wrong, saves the file locally. Wouldn't it be better if we just restore the previous session?Can you please review, whether this code will be best possible fix? :)

[code]

[2020-09-30 12:53] walterbender commented on #2560
Can you confirm that the session data was saved? I thought that it wasn't, hence my explicitly saving the project.

[2020-09-30 13:34] ricknjacky commented on #2560
The previous session was restored is what I meant..to test it my PC came in handy, it supports tablet mode, I rotated it and it worked well there. I'd like you to correct me if I am wrong somewhere

[2020-09-30 15:29] walterbender commented on #2560
I don't think the behavior on Android is the same as in the browser. We need to test there.

[2020-09-30 18:43] walterbender commented on #2555
Made one change: every key is active... but just the ones selected by the user are labeled.
![Screenshot from 2020-09-30 14-42-30](https://user-images.githubusercontent.com/3996641/94726459-47528700-032b-11eb-9900-2a1438c162e4.png)

[2020-09-30 20:00] pikurasa commented on #2555
Ok, that seems good.

I tested, and found two places of improvement:
* Playback does not seem to be the same tempo as record (with metronome)
* Since there are a lot of potential notes, it would be nice if the matrix used the space better especially when in "fullscreen".

[2020-09-30 20:03] walterbender commented on #2555
Let's open new tickets for these. Also, we should be able to add drums and graphics with little additional work given the changes I just made.

[2020-09-30 20:03] #2555 closed

[2020-10-01 15:55] ricknjacky commented on #2441
@walterbender I want to work on this issue,I am new to the code can you give me a head-start on this? I read here:-[https://github.com/sugarlabs/musicblocks/issues/2522#issuecomment-676614956](url)  that the midi compatibility has been added.

[2020-10-01 16:46] ricknjacky commented on #2441
Thanks, will be waiting for an update on this :)

[2020-10-01 19:51] liamnorm opened #2566 "Audio input via file"
Sound files like .wav, .mp3, and .m4a should be able to be imported to the “load file” block and be played with the “play back”  media block.

A “load file” block should visually change to show an audio file is uploaded to it, like how a thumbnail image is displayed when an image is uploaded.

A tool should exist to take audio input from a microphone through the browser, and have the audio put int

[2020-10-02 21:13] pikurasa opened #2567 "rawgit 404 errors"
A student was unable to open any of the palettes on the rawgit version of MB.

She tried refreshing many times, but it did not work.

We tried a different recent version (play.musicblocks.net), but that had the same issue.

She tried both Chrome and Chromium.

We rolled back -- like way back -- and we were able to do a lesson. Somehow, at the end of the hour when I asked her to reproduce the issue

[2020-10-02 21:39] walterbender commented on #2566
If we import the samples (or capture them through mic input) then ideally we can treat them like any other sample in the system, using the same mechanisms we use for drum samples and/or voice samples.

Tone.js let's you pitch shift, but specifying the shift with a ratio is a nice idea. (We sort of kind of support that with the pitch staircase widget.)

Changing the playback speed of a sample is al

[2020-10-02 21:40] walterbender commented on #2566
Do we want to consider a sample widget that lets you record and then perhaps crop your sample?

[2020-10-02 21:40] walterbender commented on #2566
@pikurasa any thoughts re ^^

[2020-10-02 21:44] walterbender commented on #2567
How far back did you go? What old interface?

[2020-10-02 21:52] walterbender commented on #2567
I tried from both Chrome and FF and it seemed to work. But I suspect from the 404 error it was a problem with rawgit rather than MB. Maybe it is time to retire rawgit.

[2020-10-02 23:17] pikurasa commented on #2566
Almost every teacher I know who has used MB asks about ways to import unique audio samples, so yes this sounds great.

I thought it was not possible because of browser security...

Ratio is important, but we also want to be able to tune to equal temperament as well. (These sorts of tools are in the temperament widget.)

I think the user would benefit to preview pitches side-by-side to their sample

[2020-10-02 23:27] pikurasa commented on #2567
It was the palette selector branch, which I still have up at:

https://sandbox.musicblocks.net/test/palette-selector/index.html

FYI, https://play.musicblocks.net/ (which was updated 9/27) did not work for the student either, so unsure if the palette issue she encountered is specific to rawgit.

[2020-10-03 12:52] walterbender commented on #2567
From what I have been reading, it might also be related to the use of adblocker software. Can you check on that possibility?

[2020-10-04 14:28] walterbender commented on #1825
I added drums... graphics next :p
See https://github.com/sugarlabs/musicblocks/commit/678d6305ed867d2822e588bbd94498890c7b8c0e

[2020-10-04 14:33] walterbender opened #2568 "some layout issues for music keyboard"
- [ ] The grid does not fill the available space.

![Screenshot from 2020-10-04 10-32-34](https://user-images.githubusercontent.com/3996641/95018325-ff827700-062c-11eb-9e33-cc53f0df6c4a.png)

- [ ] When you scroll the grid using the mouse (not the scroll bar) the entire widget scrolls, not just the grid itself.

![Screenshot from 2020-10-04 10-32-52](https://user-images.githubusercontent.com/39966

[2020-10-05 07:01] ricknjacky commented on #2568
@walterbender I have resolved the 1st bug you have described,
![Screenshot (172)](https://user-images.githubusercontent.com/50985033/95048873-442e1100-0706-11eb-870d-03c1469f3726.png)

I used the `display: flex;`  as it makes it easier to design flexible responsive layout structure without using float or positioning solves the grid issue, is cross browser compatible as well [reference](https://www

[2020-10-05 08:25] ricknjacky commented on #2568
Solved the second scrolling issue too using `overflow: hidden;` in f9c9c46

[2020-10-06 21:27] ricknjacky opened #2570 "Layout issues with the Tempo widget"
When you scroll the grid using the mouse (not the scroll bar) the widget generates an unexpected behavior... quite similar to #2568

The current behavior:-
![tempo](https://user-images.githubusercontent.com/50985033/95261878-c9214380-0848-11eb-93ca-b7e8b8b8f577.gif)

[2020-10-06 21:29] ricknjacky opened #2571 "Layout issues with Rhythm maker"
When you scroll the grid using the mouse (not the scroll bar) the entire widget scrolls, not just the grid itself....similar to #2568

![rhythm maker](https://user-images.githubusercontent.com/50985033/95262027-0be31b80-0849-11eb-84e7-942fe1b8e7d7.gif)

[2020-10-06 21:32] ricknjacky opened #2572 "Layout issues with Pitch widget"
When you scroll the grid using the mouse (not the scroll bar) the entire widget scrolls, not just the grid itself.....(again similar to #2568 )

![pitch](https://user-images.githubusercontent.com/50985033/95262294-75632a00-0849-11eb-84d6-d6aaad231321.gif)

[2020-10-07 08:16] ISHANT3011 commented on #2346
@sujal111  are you working on this?? @walterbender I also wanna work on this.

[2020-10-07 10:54] sujal111 commented on #2346
He can work on that.
Please unassign Sir

On Wed, 7 Oct, 2020, 1:46 PM ISHANT3011, <notifications@github.com> wrote:

[2020-10-07 11:25] walterbender commented on #2346
We don't typically assign issues in part because it prevents other people from working on them. Feel free to work on any open issue regardless of whether someone else has "claimed" it. (For more details, please refer to the contributors guide in the Sugar Labs docs on github.)

[2020-10-07 15:32] #2570 closed

[2020-10-07 15:33] #2572 closed

[2020-10-07 15:33] #2571 closed

[2020-10-07 15:33] #2568 closed

[2020-10-09 20:22] pikurasa opened #2573 "Error with Scalar Interval Measure"
Uncaught RangeError: Maximum call stack size exceeded
    at Logo.parseArg (logo.js:797)
    at IntBlock.arg (NumberBlocks.js:33)
    at Logo.parseArg (logo.js:797)
    at Logo.runFromBlockNow (logo.js:1517)
    at Logo.runFromBlockNow (logo.js:1757)
    at Logo.runFromBlockNow (logo.js:1757)
    at MeasureIntervalScalarBlock.arg (IntervalsBlocks.js:281)
    at Logo.parseArg (logo.js:797)
    at L

[2020-10-09 20:35] pikurasa commented on #2573
I don't seem to get any output for these blocks, even when doing something simple like:

![Screenshot at 2020-10-09 16:34:39](https://user-images.githubusercontent.com/13454579/95629159-651b9c80-0a4d-11eb-83ba-f5f6388ac009.png)

[2020-10-09 21:03] pikurasa commented on #2567
Yes, the student uses adblocker software.

[2020-10-09 21:04] pikurasa commented on #2567
...and it seemed to help. She had some issue viewing some of the 3rd party fonts we use, and after disabling the adblocker on the page, she could see them.

[2020-10-09 21:05] pikurasa commented on #2567
(We were not as methodical to test palettes, but they are working for her now)

[2020-10-10 15:03] walterbender commented on #2573
Should be working now. Please test.

[2020-10-10 16:08] ricknjacky commented on #2436
![image](https://user-images.githubusercontent.com/50985033/95659727-a93b9980-0b40-11eb-9f9e-a67faa57bf61.png
@walterbender I am quite new this concept of adding tests, I want to work on this issue. Can you help me here a bit?
How should I approach with editing the file above in the image?

[2020-10-10 16:55] walterbender commented on #2436
Open the test project and follow along from there

On Sat, Oct 10, 2020, 12:09 PM Jaikishan Brijwani <notifications@github.com>
wrote:

[2020-10-10 22:01] #2567 closed

[2020-10-10 22:02] walterbender commented on #2560
Favor disabled rotate in the android app.

[2020-10-10 22:02] #2560 closed

[2020-10-14 18:42] liamnorm commented on #2566
I've drafted a little blueprint for a widget for recording audio. The set of buttons/actions available will be dependent on what stage in the process of recording the user in. I think the first step is working on a loudness visualizer bar and storing incoming microphone data (?) I will have to research how mic input would work and how it would be stored.

![IMG_1259](https://user-images.githubuser

[2020-10-14 19:50] walterbender commented on #2566
Looks good overall. Note that the standard widget window will put buttons on the left side for you.

[2020-10-17 10:55] ricknjacky commented on #2436
![image](https://user-images.githubusercontent.com/50985033/96335170-34161a00-1094-11eb-9798-ebefea072e09.png)

@walterbender I followed along the **test-suite.html** as you consulted me to.

- I have added an action block with the Scale Degree block encapsulated in it
- The same action block I have added inside the start block.

I have mixed feelings about this one, can you please tell me where c

[2020-10-17 11:58] walterbender commented on #2436
If you look at the other tests, they are of the form: (1) do something; (2) test to make sure the results are as expected. You need to add Step 2, the test. Compare the note played with the expected note (G presumably).

[2020-10-17 14:36] walterbender opened #2574 "regression with camera block"
Uncaught TypeError: Failed to execute 'createObjectURL' on 'URL': No function was found that matched the signature provided.
    at streaming (/js/utils/utils.js:796)

Version 3.3

[2020-10-17 14:37] walterbender opened #2575 "regression with block resizing"
Seems to be limited to collapsed blocks:

![Screenshot from 2020-10-17 10-06-44](https://user-images.githubusercontent.com/3996641/96339789-bdadf380-1064-11eb-87db-45b35821f91a.png)

[2020-10-17 15:22] ricknjacky commented on #2574
That's because the createObjectURL has been deprecated by most browsers including all chromium ones. [reference](https://developers.google.com/web/updates/2018/10/chrome-71-deps-rems)

I am creating a PR which I think, should solve this error.

[2020-10-17 15:35] walterbender commented on #2574
Thanks for the patch.

[2020-10-17 15:35] #2574 closed

[2020-10-17 15:55] ricknjacky commented on #2575
How do I reproduce this error?
And can you please elaborate a bit more on this? like what is the expected behavior.

[2020-10-17 23:35] walterbender commented on #2575
I am having trouble reproducing it as well. I will ask the student how he did this.

[2020-10-18 14:48] ricknjacky opened #2577 "Discrepancy with readme file."
The Getting Started section of the readme file :- [here](https://github.com/sugarlabs/musicblocks/tree/master/documentation#getting-started)

states that:-

This is where there's discrepancy, as we see a stack of blocks representing notes:Sol 4 ,Mi 4 and Sol 4 upon launching musicblocks.

[2020-10-19 06:30] ricknjacky commented on #2577
![Screenshot (235)](https://user-images.githubusercontent.com/50985033/96409055-4dd56f80-1202-11eb-9aaf-17bdb45d81e0.png)
adding on to the discrepancy, we play notes `sol` `mi` and `sol` in succession unlike the `dol` `mi` `sol` `do` mentioned in the readme

[2020-10-19 13:23] chimosky opened #2579 "Fails to start in sugar"
Activity fails to start and this error is seen in the logs;
[code]

[2020-10-19 14:20] ricknjacky commented on #2404
Can we replace `ecstatic` with [http-server-legacy](https://www.npmjs.com/package/http-server-legacy) instead?

[2020-10-21 15:56] pikurasa opened #2580 "I do not know how to store in (for blocks created in box palette)"
If a user creates a new box called "foo", it creates a few new blocks on the box palette.

One of those blocks is a store in box called "store in foo".

If the user pulls that block from the palette, they will get a "I do not know how to store in" error.

However, if the user pulls a new "Store in" block from scratch, and gives it the name "foo" there is no issue.

[2020-10-23 23:33] shubham00jain commented on #2346
@walterbender I would like to work to work on this issue. I was looking at the first example `12 keys circcles and Nth`. What does oraganize them by theme mean?

[2020-10-25 04:37] jatinverma12 commented on #2346
Hey. While working on the issue#2346 I found there were no proper spacing and indentations in file 12-Keys-Circles-and-Nth.html.
So I added those where needed. Can I raise a pull request for this?

[2020-10-25 05:29] jatinverma12 opened #2581 "Run step by step does not work"
After pressing run step by step button nothing happens.

[2020-10-25 05:55] ricknjacky commented on #2581
![musicblocks](https://user-images.githubusercontent.com/50985033/97099925-58857e00-16b4-11eb-81ec-470f01029fdf.gif)

You have to click the `step by step` button repeatedly, to perform the step by step action. A single click won't just perform the action for you. If you wish to see the steps progressing in gradual manner, use the run slowly button. I have attached a GIF for the step by step action

[2020-10-25 06:18] jatinverma12 commented on #2581
Thanks. I got it.

[2020-10-25 06:18] #2581 closed

[2020-10-25 12:40] #2577 closed

[2020-10-25 12:41] walterbender commented on #2579
Could you provide a bit more context in how you are running Music Blocks? In what browser? From a file, it seems?

[2020-10-25 13:27] #2580 closed

[2020-10-26 12:19] chimosky commented on #2579
Ran it from the activity ring in sugar.

[2020-10-26 14:24] walterbender commented on #2579
Does it work from Browse Activity? I don't think the app (a wrapper with Browse) has been updated in a long time.

[2020-10-28 11:35] walterbender opened #2582 "Projects uploaded to the Planet should be licensed"
Is there a specific license for the projects shared in the "Global" option of Turtle Blocks?

That is something I need to fix actually, since I don't assign any
specific license to the files that are uploaded. Maybe I should ask
the children to select a license? I guess I assumed that it would be
AGPL as that is what everything else is licensed under, but leaving it
assumed as opposed to explicit

[2020-10-31 15:04] walterbender opened #2583 "an erase text block would be handy"
It is hard to erase text (since it is in a different layer). It would be nice to have a block that just erases the text layer.
(and perhaps one for images as well).

[2020-10-31 15:06] walterbender opened #2584 "show project title when you load from the planet"
It would be nice to display (in the browser tab?) the name of the project loaded from the planet.

[2020-10-31 16:31] walterbender commented on #2583
@pikurasa please test -- should make the slide shows easier to implement. Also, please add JA and Kana for "erase media" and "The erase media block erases text and images." Thx

[2020-10-31 16:55] walterbender commented on #2583
Test project...
[presentation.zip](https://github.com/sugarlabs/musicblocks/files/5469452/presentation.zip)

[2020-11-02 13:57] ricknjacky commented on #2584
I want try my hand at solving this issue, @walterbender please can I get a head-start as to which files are to be edited and what is the final expected behavior?  It'll help a ton! (:

[2020-11-02 14:43] walterbender opened #2586 "translations needed for dictionary blocks"
key (as in keyword/value pair)
value (as in keyword/value pair)
dictionary
set value
get value
show dictionary

[2020-11-02 14:45] walterbender opened #2587 "support dictionary blocks in export-js"
some code may need to move to turtleactions...

[2020-11-02 14:46] walterbender commented on #2587
from @meganindya

I checked the 6 new blocks — seem to be working fine. For export, the logic and graphics need to be totally separated, which didn't happen for the ensemble blocks and so those were pending.

The way for export is to start by separating the "action" logic into a file in turtleactions/. The methods in that file are called by those in the blocks/ when interfacing via the canvas, and

[2020-11-02 15:09] walterbender opened #2588 "remove deprecated blocks from code"
We keep support for deprecated blocks for supporting old projects. But it makes the code harder to read. We should decide which deprecated blocks to end support for.

There are deprecated blocks on these palettes. We should review each in turn.
- [ ] EnsembleBlocks.js
- [ ] ExtrasBlocks.js
- [ ] IntervalsBlocks.js
- [ ] PitchBlocks.js
- [ ] RhythmBlocks.js
- [ ] ToneBlocks.js
- [ ] VolumeBlocks.js

[2020-11-02 15:44] walterbender commented on #2588
I think we can safely remove these blocks:
- [ ] SetNoteVolume2Block
- [ ] SetVoiceBlock
- [ ] SynthNameBlock (the hot-cross-buns-plot.tb example needs to be updated)
- [ ] SwingBlock
- [ ] NewSwingBlock
- [ ] RhythmicDotBlock (the la-bamba.tb and harry-potter.tb examples need to be updated)
- [ ] NoteBlock
- [ ] RestBlock
- [ ] SquareBlock
- [ ] TriangleBlock
- [ ] SineBlock
- [ ] SawtoothBlock
-

[2020-11-02 17:15] walterbender commented on #2584
The title is initially set in init.html
In the DOM it is document.title

The projects are loaded in planet/js/GlobalPlant.js
But I am not sure that the planet has access to the same DOM object.

[2020-11-03 13:09] ricknjacky commented on #2584
Thanks a ton! for the insight @walterbender I have edited the `planet/js/ProjectViewer.js ` file as follows:-
![Screenshot (270)](https://user-images.githubusercontent.com/50985033/97988862-a52f2e80-1e03-11eb-9ba9-916fe2612756.png)

However I can't test it locally as I am not connected to the MB server;

![image](https://user-images.githubusercontent.com/50985033/97988619-3f42a700-1e03-11eb-9094-5

[2020-11-03 13:47] walterbender commented on #2584
You can test by using a local server as described in the README file:

npm run serve

[2020-11-03 22:25] walterbender commented on #2588
- [x] the la-bamba.tb and harry-potter.tb examples need to be updated

[2020-11-03 23:12] walterbender opened #2591 "guide artwork is deprecated"
The artwork associated with the widgets in the guide (https://github.com/sugarlabs/musicblocks/blob/master/guide/README.md) is in need of updating.

- [x] drum5.svg
- [x] drum6.svg
- [x] matrix2.svg
- [x] matrix3.svg
- [x] matrix8.svg
- [x] matrix10.svg
- [x] matrix13.svg
- [x] meter2.svg
- [x] mode2.svg
- [x] mode3.svg
- [x] mode4.svg
- [x] mode5.svg
- [x] pitchslider1.svg
- [x] pitchslider2.svg

[2020-11-04 03:04] jatinverma12 commented on #2318
@walterbender I am trying to understand the project but I think I am finding needle in the bush. Could you please help me getting a good start. I want to make open source contribution.

[2020-11-04 03:11] walterbender commented on #2318
This one is pretty tricky. The scalar step block steps based on the previous note. But if that note was inverted then it will step from the inverted note instead. I think we need to figure out if the scalar step is inside an invert and do the following:

1. uninvert the previous note
2. step
3. invert the result.

This is prob. not a good first issue.

[2020-11-04 07:33] ricknjacky commented on #2591
- [ ] temperament2.svg artwork needs an update too @walterbender .

[2020-11-04 08:27] ricknjacky commented on #2591
I have done the requested changes, however; rhythm8.svg and temprament4.svg prevail, as widgets pertaining to those files seem to be broken:-

1. instance specific to rhythm8.svg
![issue](https://user-images.githubusercontent.com/50985033/98086681-1a9f0b80-1ea5-11eb-8d57-94b4c43d9786.png)
here the 1/3+1/3, that ideally should return 2/3 returns(displays) 1.33/2

2. instance specific to temprament4

[2020-11-05 17:27] meganindya commented on #2587
Now that #2585 has been merged, can I start working on the export implementation of these blocks? I might want to touch `logo.js` and `turtle.js` along the way in an effort to standardize changes I implemented for the previously dealt blocks.

[2020-11-05 17:28] walterbender commented on #2587
+1

[2020-11-08 03:36] walterbender commented on #2586
@pikurasa I updated the PO files. Also there are a few new blocks:

load dictionary
save dictionary
set dictionary
heap

[2020-11-08 14:11] meganindya opened #2594 "logo/turtles object not required to be passed as argument"
This is related to the coding standard maintained throughout.

`logo = new Logo()` and `turtles = new Turtles()` are defined in `js/activity.js`. They are essential for Music Blocks to run and are globally available once `Activity` is loaded. Also, there's only one instance of each.

Therefore it is redundant to pass them as arguments to `functions`/`methods`. Also, accessing `turtles` as `logo.tu

[2020-11-08 16:41] walterbender commented on #2594
Makes sense.

[2020-11-09 20:40] walterbender opened #2596 "merge project from Global Planet"
There is a merge project option in the Local Planet, but not the Global Planet. It would be a nice enhancement.

[2020-11-10 18:27] sohamsshah commented on #2594
Hey I would like to work on this issue 😁

[2020-11-10 18:30] meganindya commented on #2594
Cool.

However, this is spread all across the codebase. We need to do this gradually. Do you have a plan?

[2020-11-11 07:21] sohamsshah commented on #2594
Yess, makes sense. Hey, it would be really amazing if you can guide me upon solving this issue and its approach. Once that's clear, we can have multiple issues open for accomplishing this (as its spread in the whole codebase) and so that in turn can revamp this gradually and properly with possibly more collaborations from the community. So, actively looking forward to work on this :)

[2020-11-11 14:04] ricknjacky opened #2598 "Rhythm Maker widget is broken"
The readme states for the rhythm maker widget that:-

The behavior we get is:-
![issue](https://user-images.githubusercontent.com/50985033/98820727-8d375a80-2454-11eb-95fd-0ea015191abc.png)

here the 1/3+1/3, that ideally should return 2/3 returns(displays) 1.33/2

[2020-11-11 23:02] walterbender commented on #2591
-[ ] Oscilloscope
-[ ] Music Keyboard

Both of these widgets need to be added to the Guide.

[2020-11-12 16:18] pikurasa opened #2599 "Add "Save as ABC" instructions to guide"
We have instructions for how to save as lilypond, but not yet how to save as ABC.

https://github.com/sugarlabs/musicblocks/tree/master/guide#BEYOND-MUSIC-BLOCKS

It could be as simple as saying: "The method for saving as ABC is the same as lilypond. Just select 'Save as ABC' instead."

[2020-11-12 21:17] #2584 closed

[2020-11-12 21:28] ricknjacky commented on #2591
@walterbender Now after #2600 , Only drum5.svg and drum6.svg remain..Can I work on them as well?

[2020-11-12 21:37] walterbender commented on #2591
sure.

[2020-11-12 22:15] ricknjacky commented on #2591
The files of timbre widget and pitch drum mapper widget, are now up to date.

[2020-11-12 22:55] #2591 closed

[2020-11-13 11:47] ricknjacky commented on #2546
@pikurasa I have created the necessary svg file for the stat.
I just need some brief-input from your end, that goes into the documentation

ps, here's what I intend to add in documentation text:-

[code]

[2020-11-14 13:57] walterbender opened #2602 "more Japanese strings"
grid
pitch converter

[2020-11-14 14:09] #2599 closed

[2020-11-14 20:26] walterbender commented on #2546
Stats is not a new feature. It has been part of Music Blocks since the very beginning -- inherited from Turtle Blocks.
You can simply say that "Project statistics are available in advanced mode from a button the the secondary toolbar." and add the figure.

[2020-11-14 22:34] #2583 closed

[2020-11-14 22:35] #2573 closed

[2020-11-15 02:50] ricknjacky commented on #2546
Quite new to the project's codebase, pardon my tenderfoot  :)
thanks for the help with the documentation, will do the changes as soon as I can.

[2020-11-15 13:10] #2546 closed

[2020-11-16 16:12] walterbender opened #2603 "blocks not always expanding properly"
There are occasions where the block expansion on project loading is not correct. (@pikurasa you mentioned something the other day relative to the Planet).

I've pushed a fix to master, but it needs testing. (See https://github.com/sugarlabs/musicblocks/commit/0700d6e8925b93054098361828cc506b996eb920)

I added a mechanism to invoke the blocks expander code (Alt-O) as part of the testing.

[2020-11-16 17:15] #2598 closed

[2020-11-16 19:03] ricknjacky commented on #2563
Changes to the code :-
![Screenshot (369)](https://user-images.githubusercontent.com/50985033/99295805-ded45080-286b-11eb-9a20-bf01bcd6e3b5.png)

The console output that I got:-
![Screenshot (370)](https://user-images.githubusercontent.com/50985033/99296085-3a9ed980-286c-11eb-8436-78c46a699fa7.png)

Does this match the behavior you expect? @walterbender

[2020-11-16 19:38] walterbender commented on #2563
That suppresses the log output but the code presumably is still running. We need to stop the code from running.

[2020-11-16 19:41] ricknjacky commented on #2563
When the widget is open the oscilloscope code should run? right? When we close the widget window it stops ig.

[2020-11-16 20:32] walterbender commented on #2563
It should also stop when the program execution stops, regardless of whether or not the widget is open.

[2020-11-16 22:55] walterbender commented on #2602
grid = グリッド"

pitch converter, no idea.

[2020-11-17 03:13] ricknjacky commented on #2563
So, we define an arbitrary variable assign it's to value 1. And if variable ==1 run the function, if not i.e else {}

Is my approach correct?

[2020-11-17 18:18] #2602 closed

[2020-11-17 21:22] walterbender opened #2605 "loading projects is veeeery slooooow"
I've starting to investigate a regression with project loading.

I'm using a large project, Rainbow Connection, as a baseline.

v3.0 -- 20 seconds

v3.4.1 -- 4 minutes

I'll test a few intermediate versions with the idea of isolating the problem.

[2020-11-17 21:38] walterbender commented on #2605
v3.3 -- 1 minute

[2020-11-17 21:51] walterbender commented on #2605
v3.4 -- 6 minutes

[2020-11-17 21:58] walterbender commented on #2605
What happened between 3.3 and 3.4???

[2020-11-18 01:59] walterbender commented on #2605
Seems to be something in blocks.js

[2020-11-18 21:01] walterbender commented on #2605
I tested but would like to get confirmation that the problem is resolved.

[2020-11-18 22:20] walterbender commented on #2575
I made the function async and added a refresh. Seems to work for me.

[2020-11-20 22:41] pikurasa opened #2606 "Store in Block Issue"
I seem to be encountering some issue that is causing new `box` blocks created via `store in box` block to fail.

I don't yet really have a grasp of what needs to be done to reproduce the issue, but below is the project, logs, and a screenshot.

[Store-in-BUG.html.zip](https://github.com/sugarlabs/musicblocks/files/5576404/Store-in-BUG.html.zip)

[code]

![Screenshot at 2020-11-20 22:41:35](https:/

[2020-11-22 00:01] walterbender commented on #2606
![Screenshot from 2020-11-21 19-00-47](https://user-images.githubusercontent.com/3996641/99890319-e5781480-2c2b-11eb-8385-418b0d061344.png)

This is a simple way to trigger the bug. I'll investigate.

[2020-11-22 03:10] kushal-khare-official opened #2607 "Error in Manifest.json"
Icons should be an array in Manifest.json file
 Instead of the following code
[code]

the code should be this

[code]

[2020-11-22 03:52] kushal-khare-official commented on #2607
@walterbender can I take this issue?

[2020-11-22 11:40] walterbender commented on #2607
sure.

[2020-11-22 11:41] walterbender commented on #2607
Can you please include a link to the manifest format documentation too?

[2020-11-22 11:47] kushal-khare-official commented on #2607
@walterbender [here](https://web.dev/add-manifest/) is the link to manifest format documentation

[2020-11-22 17:11] #2586 closed

[2020-11-22 17:47] #2607 closed

[2020-11-22 17:51] walterbender commented on #1510
Does this still happen? I cannot reproduce it.

[2020-11-22 22:14] pikurasa commented on #1510
I could swear that I experienced it even recently (within the last month), and I even remember seeing a student bump into it recently as well.

I kind of got used to it.

I will keep it on my radar this week, and we can tackle it at the triage if needed.

[2020-11-22 22:33] walterbender commented on #2557
These are the issues that are marked "needs testing". Many of these were worked on by @sksum and should probably be closed.

[2020-11-22 23:10] walterbender commented on #2596
Test by running a local server:

npm run serve

Then open a project on the Global Planet and click on the Merge option.

[2020-11-23 16:25] walterbender commented on #2537
G# major now resolves to: ["G♯", "A♯", "B♯", "C♯", "D♯", "E♯", "F𝄪", "G♯"]
Are there more test cases we can check?

[2020-11-24 17:17] kushal-khare-official commented on #1107
@pikurasa @walterbender is this issue still open? I would like to work on this

[2020-11-24 18:39] pikurasa commented on #1107
@kushal-khare-official , yes it is. Feel free to jump in and do it. Have fun and let us know if you have any questions.

[2020-11-25 15:53] devil-cyber commented on #2422
is this issue open, I would like to work on this?

[2020-11-25 18:07] #2587 closed

[2020-11-25 18:26] walterbender commented on #2557
All of the issues in the list are either marked for testing or closed, with the exception of:

#2264  which is not resolved.

[2020-11-26 02:58] kuruma99 commented on #2460
Hi @pikurasa , I would like to start working on this issue. Can you direct me to the right files to look into and guide me a little more on how to implement this feature.

[2020-11-26 04:20] kushal-khare-official commented on #1107
Just one last, how to submit the html file I created

Should I add this file in the examples folder and send a PR

[2020-11-26 06:36] meganindya opened #2609 "Lint and Prettify JavaScript files"
I ran a statistics on the entire codebase. See [results](https://github.com/sugarlabs/musicblocks/files/5600396/linecounter.txt).

As far as the (JS) code is concerned, there are **103** `.js` files in the `/js` directory, which have a total of **82312** lines of code, **10751** blank lines, and **9796** comment lines, making a sum total of **102859** lines in the files.

Here's the per file count

[2020-11-26 07:25] ricknjacky commented on #2609
@meganindya I want to work on this,  Any heads up on the plan of action? :)

[2020-11-26 07:47] meganindya commented on #2609
We need to come to a conclusion first regarding the linting and formatting rules. We have a bigger goal of adding some kind of automated testing at both the code end (e.g. unit tests) and the application end (e.g. crashes). But, I think that needs to wait before other inconsistencies are sorted, this one being one of them.

@walterbender  comments?

[2020-11-26 07:54] meganindya commented on #2422
This one in itself is quite large. There are **2181** references of `blockList` across **79** files. This needs a proper plan and needs to be done in stages. Can you think of one?

For ideas on how it could look like, see [generateStacksTree()](https://github.com/sugarlabs/musicblocks/blob/8fec291c22bab4f36fc27f4b300a572378311ecc/js/js-export/generate.js#L52).

[2020-11-26 07:58] meganindya commented on #2594
I think we can start with the block API — each `updateParameter`, `arg`, and `flow` method gets a `logo` argument.

[2020-11-26 10:27] kushal-khare-official commented on #2596
@walterbender I spotted an error in [this](https://github.com/sugarlabs/musicblocks/commit/b4cc9ff5e309c4a65bd48b1c436deed5db2252ee) commit and have commented there.

Also how about adding the merge button on the project card like this
![ss](https://user-images.githubusercontent.com/62568269/100339545-0069d080-3000-11eb-98e9-a3520a22c700.png)

[2020-11-26 13:39] walterbender commented on #1107
[1606397396550-10264-6975638-0u29xkkq0c29ms4i.pdf](https://github.com/sugarlabs/musicblocks/files/5603315/1606397396550-10264-6975638-0u29xkkq0c29ms4i.pdf)

[2020-11-26 13:44] walterbender commented on #2609
Is there a decent JavaScript equivalent of https://pypi.org/project/black ???

[2020-11-26 13:53] walterbender commented on #2596
If we add a merge button (good idea) we should also add a open icon. Let's make a new issue for this.

[2020-11-26 13:57] meganindya commented on #2609
AFAIK [Prettier](https://prettier.io/) is the most popular code formatter for JavaScript. There's a CLI, and extensions/plugins for modern IDE like text-editors (e.g. VS Code). And, it can work in conjunction with _ESLint_. I believe we need both — a code formatter for code readability, and a linter for maintaining coding standards.

[2020-11-26 14:07] walterbender commented on #2609
We need to tweak the prettier parameters -- I've run it over the code in the past and it made a real mess (from my Pythonic POV).

[2020-11-26 14:09] walterbender commented on #1107
Regarding uploads, adding the project to examples would be ideal.

[2020-11-26 14:19] meganindya commented on #2609
The [.prettierrc.json](https://github.com/sugarlabs/musicblocks/tree/master/.prettierrc.json) file contains the configurations. As such there aren't a lot of [options](https://prettier.io/docs/en/options.html) to deal with; most of these are fairly obvious ones. However, it indeed makes tons of changes since the files we have right now aren't formatted.

Which options according to you need changin

[2020-11-26 14:43] walterbender commented on #2609
You've seen a lot of the same issues as me in your code clean ups:

if (
    foo &&
    bar
) {

is a particularly annoying one.

[2020-11-26 14:51] meganindya commented on #2609
If the conditions are long, they'll indeed break up like this into multiple lines, but there is an indentation. Sometimes I've observed that the indentation isn't proper, most often due to using _tabs_ instead of spaces.

Isn't
[code]
the convention if they can't fit within the line character limit?

[2020-11-26 15:10] walterbender commented on #2609
I'd prefer:
[code]

But ESlint is probably the first task. It'd be good to break up some of the larger files too. I started work on block.js last week -- moving a bunch of block-specific definitions to the block prototype definitions, e.g., the default pie menu values. I'd like to move all of the pie menu (controller) code out as well. This is going to take some time. (But we are in much better sh

[2020-11-26 15:11] kushal-khare-official commented on #1107
@walterbender  in the PR #2610, I have added the html file in examples. Please review it.

Also, are we also supposed to produce a pdf with lilypond. If yes, how to do so?

The guide [here](https://github.com/sugarlabs/musicblocks/tree/master/guide#LILYPOND) talks about a save as **lilypond block** but I could not find it.

[2020-11-26 15:18] meganindya commented on #2609
I think we should totally port to ES6+ as well. `logo`, `turtle`, `singer`, `painter`, and a few more were ported. The rest remain.

[2020-11-26 15:30] walterbender commented on #1107
I've reviewed but waiting for Devin to sign off.
The save lilypond block is deprecated -- I should fix the documentation. But there is a save to Lilypond option in the save pulldown menu (only in Advanced mode).

[2020-11-26 15:35] walterbender commented on #2609
Maybe we should add a checkbox list of files that need ES6+ porting?

[2020-11-26 15:42] meganindya commented on #2609
I'll go through the files and create the checklist in a new issue. I don't think even the `var` to `let` thing was completed. This porting will solve a lot of the linting issues (e.g. no-use-before-declare) I think. We can then come back and work on the linting rules thereafter.

[2020-11-26 15:46] meganindya commented on #2609
Btw, we also need to change the _requireJS_ style of importing the files. Possibly, we might actually treat most of them as completely independent modules, rather than adding everything to the global scope.

[2020-11-26 16:08] kushal-khare-official commented on #1107
Regarding the fix in documentation, should I raise an issue and and send a PR?

[2020-11-26 16:13] walterbender commented on #1107
all set: https://github.com/sugarlabs/musicblocks/commit/de9c8ba3ab41c32f62affbd5b0be982ba86e49a8

[2020-11-26 17:15] kuruma99 commented on #2346
@walterbender I would like to start working on this issue. Can you kindly give me a little more information as where the examples are and a little idea about the themes you want them to be categorized by.

[2020-11-26 17:22] walterbender commented on #2346
Some are examples of transcriptions, some are examples to highlight specific musical (e.g., intervals) or mathematical (ratios, distance) or programmatic (sensors, events, graphics) features. If you get it blocked out we can collectively fill in some of the details.

[2020-11-26 17:24] walterbender commented on #2346
Maybe a chart showing the various dimensions that are shown in the "statistics" panel would be a good start. Then we could add some comments.

[2020-11-26 19:15] walterbender commented on #2609
I finished pulling the pie menus out of block.js. Still lots of opportunity for cleaning things up, but it is at least a bit more manageable.

[2020-11-26 19:46] meganindya commented on #2609
I predict that's pretty much shrinking the size of that file in half?

I plan to work on `activity.js`. All the initial configuration stuff is there, maybe I can make some improvements, while porting it.

[2020-11-26 20:04] walterbender commented on #2609
Yes. Almost exactly a 50-50 split.

[2020-11-27 07:11] ricknjacky commented on #1887
I too have witnessed this at times. However, Chrome violations don't represent errors. They are instead warnings hinting us to improve our application's script.
In this case, **[Violation] 'requestAnimationFrame' handler** took 90ms of runtime. They are logged in as warning because our application doesn't match the parameters set by chrome for a smooth user experience. Moreover they can be avoided

[2020-11-27 07:18] ricknjacky commented on #1900
@walterbender this has been resolved as part of issue #2591 and PRs pertaining to it, I presume, right?

[2020-11-27 07:19] ricknjacky commented on #1900
@walterbender I presume this has been resolved as part of issue #2591 and PRs pertaining to it, right?

[2020-11-27 08:07] kushal-khare-official commented on #1144
@pikurasa  is this issue still relevant? I could not find the PTM block

[2020-11-27 08:46] ricknjacky opened #2612 "Timbre UI Issue"
In an attempt to reproduce #1153 (which I couldn't reproduce)
I stumbled upon the issue wherein scrolling through the filters added is not possible.

The current behavior doesn't allow us scrolling through the filters, hence we can't change the values pertaining to the filters added.
![Screenshot (388)](https://user-images.githubusercontent.com/50985033/100428931-9f530300-30ba-11eb-824d-37711b393e

[2020-11-27 09:24] sj00coder opened #2614 "Not enough storage to save locally."
![image](https://user-images.githubusercontent.com/65244030/100432964-59993900-30c0-11eb-9809-66b48451e073.png)
This error is caught in musicblocks/planet/js/ProjectStorage.js

[2020-11-27 09:33] sj00coder opened #2615 "Could not load sourceMap"
![image](https://user-images.githubusercontent.com/65244030/100433877-b812e700-30c1-11eb-98e0-165cbb69bfe1.png)

[2020-11-27 10:00] sj00coder opened #2616 "Issue in card css in planet"
![image](https://user-images.githubusercontent.com/65244030/100436457-68361f00-30c5-11eb-9418-ccf4f96ad77a.png)

[2020-11-27 10:01] sj00coder commented on #2616
I want to work on it

[2020-11-27 10:05] sj00coder commented on #2615
I just got this error in website.Please direct me to solve it @walterbender

[2020-11-27 10:10] kushal-khare-official opened #2617 "Merge and Open button in Global Planet Card"
As Discussed [here](https://github.com/sugarlabs/musicblocks/issues/2596#issuecomment-734310592)

Tasks:
- [ ] Add Open and Merge button to the global card
![ss](https://user-images.githubusercontent.com/62568269/100447459-a25bec80-30d6-11eb-995f-1b5f2a359e48.png)

[2020-11-27 10:10] sj00coder opened #2618 "doSearch is not defined"
![image](https://user-images.githubusercontent.com/65244030/100437478-d29b8f00-30c6-11eb-9141-b8ad3b48695a.png)

[2020-11-27 12:26] sj00coder opened #2622 "CSS issue in opening Modal"
In open modal, if we maximize the modal, the content does not maximize.
![image](https://user-images.githubusercontent.com/65244030/100449355-c5d46680-30d9-11eb-9261-a26961ad0bc7.png)

[2020-11-27 12:26] sj00coder commented on #2622
I want to solve this issue,Sir.Should,I proceed sir, @walterbender ?

[2020-11-27 12:33] sj00coder opened #2623 "Hindi translation of modal message."
![image](https://user-images.githubusercontent.com/65244030/100449953-c0c3e700-30da-11eb-9f0e-cec4cfa75b41.png)

[2020-11-27 12:33] sj00coder commented on #2623
I want to work on it sir, @walterbender

[2020-11-27 12:51] kushal-khare-official opened #2624 "Error 404"
error 404 for getting  `/dist/app.min.js/?cb=1566155195010`

![ss](https://user-images.githubusercontent.com/62568269/100451443-742ddb00-30dd-11eb-9b28-b27d280fda27.png)

[2020-11-27 13:13] walterbender commented on #1900
We may want to tweak it, but yes, this is resolved.

[2020-11-27 13:13] #1900 closed

[2020-11-27 13:13] walterbender commented on #1144
PTM === phrasemaker

[2020-11-27 13:17] walterbender commented on #2615
Please investigate.

[2020-11-27 13:19] sj00coder commented on #2615
Ohk sir, but do you have any hind about it.@walterbender

[2020-11-27 13:23] walterbender commented on #2622
https://github.com/sugarlabs/sugar-docs/blob/master/src/contributing.md

[2020-11-27 16:06] #2617 closed

[2020-11-27 16:13] #2612 closed

[2020-11-27 16:19] walterbender commented on #2623
Not quite sure what issue you want to work on. If you want to work on the Hindi translation on general, please make a PR to the po/hi.po file.

[2020-11-27 16:22] walterbender commented on #2616
Can you please describe the set up you have that resulted in this? Browser/version etc.?

[2020-11-27 16:26] walterbender commented on #2615
This might be of help?

https://www.b247.eu.org/2017/05/how-to-prevent-404-not-found-for-css-and-javascript-map-files.html

[2020-11-27 16:31] walterbender commented on #2522
We need to define the scope of this project.

[2020-11-27 16:33] walterbender commented on #2624
Seems there are some files that the local server is expecting but are not critical. See related issue #2615

[2020-11-27 18:13] ricknjacky commented on #1153
@walterbender I was not able to reproduce this issue. I presume, the issue is redundant now?

[2020-11-27 18:17] ricknjacky commented on #1290
@walterbender the issue is redundant now, ig.

[2020-11-27 18:38] walterbender commented on #1290
It is still waiting an implementation.

[2020-11-27 18:50] #2616 closed

[2020-11-27 20:11] pikurasa commented on #1107
Sorry, I was hit by some terrible migraine/fatigue.

What I see in https://github.com/sugarlabs/musicblocks/files/5603315/1606397396550-10264-6975638-0u29xkkq0c29ms4i.pdf is fine, but usually the round is offset by a single measure (not two).

[2020-11-27 22:23] walterbender commented on #2623
Was there something specific you were addressing with this Issue/PR?

[2020-11-27 23:25] walterbender commented on #2609
Took care of a lot of var --> let clean up today.  But still plenty more to do.

[2020-11-28 04:32] meganindya commented on #2609
I guess we should use `const` wherever logical

[2020-11-28 04:38] ricknjacky commented on #2609
hey @meganindya I await this, so that I too can contribute to this.

[2020-11-28 05:16] meganindya opened #2629 "Port remaining files completely to ES6+ syntax and modules"
Most of the JavaScript files contain code a lot of ES5 code, that better be updated to ES6 (and above, e.g. `async`/`await`). It's not like we should be bothered about ceding any further browser support because the codebase already contains ES8 elements.

As for the ES5-ES6 syntax, we should port to the following things:
- `var` to `let`/`const`
- `arrow` functions in callbacks
- Object `prototype

[2020-11-28 05:19] meganindya commented on #2629
This need not be done all at once, rather it must be done incrementally lest the changes should be too invasive.

I'll start working with `js/activity.js`. Probably most other files can be dealt with in any order.

[2020-11-28 05:22] meganindya commented on #2609
@ricknjacky see #2629. I'll just add the checklists quickly.

[2020-11-28 05:36] meganindya opened #2630 "Add JSDoc style documentation"
Add [JSDoc](https://jsdoc.app/) style documentation when adding new functions, classes, etc. They help the linter.

We should eventually have everything documented in that manner. Perhaps, at some time in the future we might explore porting to `TypeScript`, thus increasing the robustness and reliability of the codebase.

[2020-11-28 05:39] meganindya commented on #2606
I tested with this. Works fine. So, is this fixed?

[2020-11-28 06:24] kushal-khare-official commented on #2629
@meganindya I would like to help with this too.

I can start with porting to class definition.

[2020-11-28 06:52] meganindya commented on #2629
Pls go ahead. Maybe start with the smaller ones, e.g. widgets. Be careful though.

Add me as a reviewer on the PR (better one file at a time).

[2020-11-28 06:52] ricknjacky commented on #2629
@meganindya sounds great!

I am starting off by porting var to let/const. Thankyou for the articulate explanation of what needs to be done.

[2020-11-28 06:56] meganindya commented on #2629
**One important advice:** _NEVER DO A REPLACE ALL WHEN THERE ARE A LOT OF CASES._ We have had trouble before. Hopefully, you're aware about the scoping issue with `var`. There are a lot of redeclarations in many places. Please be careful.

[2020-11-28 07:26] ricknjacky commented on #2629
I have started porting
currently I am working on `timbre.js` file
I have kept scoping in mind, as you have rightly pointed out in the previous comment
still @meganindya I'd prefer you reviewing it, and correct me, if there's any discrepancy

[2020-11-28 07:28] meganindya opened #2632 "Investigate console errors in production"
Here below is a screenshot of the production release at [musicblocks.sugarlabs.org](https://musicblocks.sugarlabs.org/). The application crashed at loading. However, it loaded on refresh, albeit with a few errors and warnings again. I have had this issue several times before, on multiple devices especially mobile ones. This is a bad thing!

![Screenshot (19)](https://user-images.githubusercontent.

[2020-11-28 08:29] sj00coder commented on #2630
Sir,for this issue we have to configure the project with JSDoc 3 or do commenting on functions and classes to make batter documentation(it is already configured with  JSDoc). @meganindya

[2020-11-28 08:39] meganindya commented on #2630
Add comments as
[code]

[2020-11-28 08:42] sj00coder commented on #2630
On ever javascript file ,on all functions and classes? @meganindya

[2020-11-28 09:16] sj00coder commented on #2629
I would I like to help with this,I will change callbacks to arrow functions. @meganindya

[2020-11-28 10:10] meganindya commented on #2615
This is a kind of issue that can safely be ignored. This is for the developer tools to show the original source code of minified files, for debugging purposes. On minifying the source code, a `.map` is produced which maps the actual source code to the minified code (the identifiers and stuff). The map files are missing. We don't actually need to bother, since those are external libraries.

[2020-11-28 10:11] #2615 closed

[2020-11-28 10:16] meganindya commented on #2615
I'll find and add the `.map` files though.

[2020-11-28 10:42] meganindya commented on #2630
anywhere applicable

[2020-11-28 10:42] meganindya commented on #2630
some files have
[code]
so just gotta add an `*`

[2020-11-28 10:59] meganindya commented on #2624
closed via 1a755ebc0df01b5c1032eba3a2bb5a4a4db68f17

[2020-11-28 10:59] #2624 closed

[2020-11-28 11:00] sj00coder commented on #2630
I am really sorry,but I cant understand that.But,I really want to work on it Sir.Actually,the documentation of jsdoc is also not so clear.
In the,below image,where you want to add *
![image](https://user-images.githubusercontent.com/65244030/100513913-b2d39c00-3196-11eb-9efa-f8e8f1ac69ef.png)
Or change it in the form like below image.
![image](https://user-images.githubusercontent.com/65244030/100

[2020-11-28 11:04] meganindya commented on #2630
this

Change `/* ... */` to `/** ... */`

[2020-11-28 11:06] sj00coder commented on #2630
ohk sir,thank you.I'll do that

[2020-11-28 12:56] meganindya commented on #2622
duplicate of #2173

[2020-11-28 12:56] #2622 closed

[2020-11-28 13:06] #2606 closed

[2020-11-28 14:45] walterbender commented on #2254
![Screenshot from 2020-11-28 09-45-10](https://user-images.githubusercontent.com/3996641/100518242-6ec4a500-315e-11eb-85ab-5835b9492011.png)

[2020-11-28 14:45] #2254 closed

[2020-11-28 14:47] walterbender commented on #2263
![Screenshot from 2020-11-28 09-47-37](https://user-images.githubusercontent.com/3996641/100518316-c6631080-315e-11eb-8c8f-3a75d9ff1ce5.png)

[2020-11-28 14:47] #2263 closed

[2020-11-28 14:57] walterbender commented on #2483
![Screenshot from 2020-11-28 09-55-29](https://user-images.githubusercontent.com/3996641/100518533-12628500-3160-11eb-8d87-a1fa808ce2fa.png)

[2020-11-28 14:59] willrico commented on #2310
Working now. Tested by Henry.

<img width="231" alt="Screen Shot 2020-11-28 at 9 57 52 AM" src="https://user-images.githubusercontent.com/36704980/100518574-5f465b80-3160-11eb-8f4d-a1edccd16ada.png">

[2020-11-28 15:00] #2310 closed

[2020-11-28 15:05] TeddyMaxD commented on #2483
Tested By Teddy

[2020-11-28 15:06] #2483 closed

[2020-11-28 15:09] pikurasa commented on #719
I cannot seem to get anything other than "0" for print beat factor.

This is my current test project (image below and file at bottom):
![testing-on-beat-factor](https://user-images.githubusercontent.com/13454579/100518771-967e3200-318b-11eb-881d-e8853dd8840b.png)

[Working-on-Beat-Factor.html.zip](https://github.com/sugarlabs/musicblocks/files/5610775/Working-on-Beat-Factor.html.zip)

[2020-11-28 15:10] walterbender commented on #2190
duplicate of #2254

[2020-11-28 15:10] #2190 closed

[2020-11-28 15:12] TeddyMaxD commented on #2395
![Screenshot 2020-11-28 at 10 11 38 AM](https://user-images.githubusercontent.com/75172951/100518837-25765480-3162-11eb-8c17-f27e4be8c68e.png)

[2020-11-28 15:12] TeddyMaxD commented on #2395
Tested by Teddy

[2020-11-28 15:12] pikurasa commented on #1107
@kushal-khare-official please adjust the repeats so that the voices are only offset by a single measure (not two).

[2020-11-28 15:13] #2395 closed

[2020-11-28 15:14] willrico commented on #2603
tested by Henry. working now.
<img width="375" alt="Screen Shot 2020-11-28 at 10 12 47 AM" src="https://user-images.githubusercontent.com/36704980/100518881-72f2c180-3162-11eb-8d7c-e575814ccd05.png">
<img width="814" alt="Screen Shot 2020-11-28 at 10 11 50 AM" src="https://user-images.githubusercontent.com/36704980/100518889-79813900-3162-11eb-8aea-538be5a85d46.png">
<img width="1289" alt="Screen

[2020-11-28 15:14] pikurasa commented on #855
Works! Very Nice!

[2020-11-28 15:14] #855 closed

[2020-11-28 15:16] #2603 closed

[2020-11-28 15:19] TeddyMaxD commented on #2221
![Screenshot 2020-11-28 at 10 18 51 AM](https://user-images.githubusercontent.com/75172951/100519005-28be1000-3163-11eb-8d14-e04dadcb9d33.png)

[2020-11-28 15:19] TeddyMaxD commented on #2221
Tested By Teddy

[2020-11-28 15:19] #2221 closed

[2020-11-28 15:23] TeddyMaxD commented on #2184
Tested by Teddy

[2020-11-28 15:23] #2184 closed

[2020-11-28 15:24] pikurasa opened #2645 "Better Faux Pickup Support"
Music Blocks does not mind unusual pickups of 1/3, but Lilypond does not support this sort of input.

In fact, if you put a pickup of 1/3 in your code, Lilypond export fails.

[code]

Test File:
[Faux-Pickup.html.zip](https://github.com/sugarlabs/musicblocks/files/5610795/Faux-Pickup.html.zip)

For more information on how we can formulate a "faux pickup" in MB, please see https://github.com/sugarl

[2020-11-28 15:27] TeddyMaxD commented on #2596
Tested By Teddy

[2020-11-28 15:28] walterbender commented on #719
Cannot find a note for turtle 0

[2020-11-28 15:28] pikurasa opened #2646 ""Merge" Feature should keep the current project`s name"
Right now, when you merge a project into your current project, it overwrites your current project`s name with the name of the merged project. It should keep the name of the current project instead.

[2020-11-28 15:29] #2596 closed

[2020-11-28 15:30] #2370 closed

[2020-11-28 15:32] willrico commented on #2302
We weren't able to recreate the error. However, the volume didn't appear to audibly change when we ran our program:
<img width="315" alt="Screen Shot 2020-11-28 at 10 31 15 AM" src="https://user-images.githubusercontent.com/36704980/100519267-e09fed00-3164-11eb-90fa-0a6a2d3f5647.png">

The messages shown in the console below were there before we ran the program:
<img width="756" alt="Screen Shot 2

[2020-11-28 15:33] TeddyMaxD commented on #2485
![Screenshot 2020-11-28 at 10 33 43 AM](https://user-images.githubusercontent.com/75172951/100519329-383e5880-3165-11eb-9c48-88477997bf76.png)

[2020-11-28 15:34] TeddyMaxD commented on #2485
Tested By Teddy

[2020-11-28 15:38] TeddyMaxD commented on #1873
Tested By Teddy

[2020-11-28 15:39] #1873 closed

[2020-11-28 15:39] pikurasa commented on #1086
I am still having trouble producing outputs that shows that this issue is closed.

However, after today`s testing, I suspect that the issue is specific to tuplets.

![Screenshot at 2020-11-28 15:36:58](https://user-images.githubusercontent.com/13454579/100519452-dcd59000-318f-11eb-9e1c-a49b70d012fb.png)

[measure-number.zip](https://github.com/sugarlabs/musicblocks/files/5610816/measure-number.zip

[2020-11-28 15:40] TeddyMaxD commented on #1899
Tested By Teddy

[2020-11-28 15:40] #1899 closed

[2020-11-28 15:42] pikurasa commented on #2485
Yes, it works. Thanks Teddy

[2020-11-28 15:42] #2485 closed

[2020-11-28 15:43] TeddyMaxD commented on #2052
Tested By Teddy

[2020-11-28 15:43] #2052 closed

[2020-11-28 15:45] pikurasa commented on #1086
Maybe it is our syntax. Maybe the `~` needs to be moved to another spot?

[code]

[2020-11-28 15:52] pikurasa commented on #1299
This works now!

[2020-11-28 15:52] #1299 closed

[2020-11-28 15:54] pikurasa commented on #1118
Right now we do not have "save as .wav" so I will close this for now.

[2020-11-28 15:54] #1118 closed

[2020-11-28 16:00] pikurasa commented on #1153
I am not quite sure how to test this...

What does "the input does not accept changes" mean?

[2020-11-28 16:02] pikurasa commented on #1463
This seems to work for me. Thanks!

[2020-11-28 16:02] #1463 closed

[2020-11-28 16:04] #2563 closed

[2020-11-28 16:05] pikurasa commented on #1825
I think most of the important things in this issue have been solved. I like the drum solution, btw.

[2020-11-28 16:05] #1825 closed

[2020-11-28 16:08] pikurasa commented on #1860
Had no idea that this was implemented. This is very nice.

@walterbender Perhaps we should have the synth in the macros to make this feature more evident.

[2020-11-28 16:08] #1860 closed

[2020-11-28 16:11] pikurasa commented on #1744
This works for me...

(I didn`t know that we had save as wav again...)

[2020-11-28 16:11] #1744 closed

[2020-11-28 16:13] pikurasa commented on #1744
Just FYI, it records as "ogg" although it says "save as wav"

[2020-11-28 16:17] pikurasa commented on #1381
It is working for me now.

[2020-11-28 16:17] #1381 closed

[2020-11-28 16:20] pikurasa commented on #1853
Oh, it works!

It does, not however, give the project its new name.

![Screenshot at 2020-11-28 16:20:03](https://user-images.githubusercontent.com/13454579/100520438-98e58980-3195-11eb-9b23-0d31e70d203c.png)
^^
Stays as old project`s name.

[2020-11-28 16:20] #1853 closed

[2020-11-28 16:22] pikurasa opened #2649 "New name when opening project via planet"
You can now open a project from the planet, however it does not give the project its new name.

![Screenshot at 2020-11-28 16:20:03](https://user-images.githubusercontent.com/13454579/100520438-98e58980-3195-11eb-9b23-0d31e70d203c.png)
^^
Stays as old project`s name.

[2020-11-28 16:24] pikurasa commented on #1882
Overall, this works very well. I seem to recall some corner-cases, but will address those separately.

[2020-11-28 16:24] #1882 closed

[2020-11-28 16:25] pikurasa commented on #2271
I still get this issue from time to time.

[2020-11-28 16:25] pikurasa commented on #2420
Thanks @sksum

[2020-11-28 16:25] #2420 closed

[2020-11-28 17:07] kushal-khare-official commented on #2649
@pikurasa I don't quite understand. Can u tell how to reproduce the error?

When I opened a project from the planet, It names the project by adding "remix of" at the beginning.

[2020-11-28 18:07] walterbender commented on #719
I think I have fixed this. The reason Devin's example was not working was that if we played a drum by itself, the lastNotePlayed was not being updated. We calculate the beat factor from the last note played, so that calculation failed. I added glue to update the lastNotePlayed in turtle-singer.js and I believe tha Devin's test example works as expected now.

[2020-11-28 18:19] walterbender commented on #2302
The console errors seem unrelated.
I suspect that the reason you didn't hear the volume change is that your program plays all the notes at the same volume.
Try something like this instead:

![Screenshot from 2020-11-28 13-19-39](https://user-images.githubusercontent.com/3996641/100523179-64190880-317c-11eb-8d5e-747e66b44e3c.png)

[2020-11-28 18:22] walterbender commented on #2302
There is a bug -- somewhat obscure:

![Screenshot from 2020-11-28 13-21-08](https://user-images.githubusercontent.com/3996641/100523201-975b9780-317c-11eb-9ee5-3c3194a7ebdb.png)

In this case, the volume is adjusted for all of the synths before the new synth is added, so it does not see the volume update. I think I know a work-around.

[2020-11-28 18:53] walterbender commented on #2302
Added the work-around -- to set the initial volume of a synth based on the current volume of the electronic synth, which will have tracked the relative volume changes.

[2020-11-28 18:59] walterbender commented on #1153
![Screenshot from 2020-11-28 13-57-19](https://user-images.githubusercontent.com/3996641/100523863-a729aa80-3181-11eb-8be9-03657addbf5d.png)

See how when I changed the values in the widget, it "accepted" the changes in the blocks themselves.

However, there is one bug -- somewhat unrelated: when you add multiple filters, it changes the filter name (since using the same filter twice makes no sense

[2020-11-28 19:26] walterbender commented on #1153
I have a fix for the filter name. But there is still a bug in which blocks get updates when you adjust a filter after a new filter has been added. (We need to remove the old listeners before adding new ones.)

[2020-11-28 21:55] walterbender commented on #1153
https://github.com/sugarlabs/musicblocks/commit/352f0b2609f09fd45bf2640e5aa69bebab986b0a should fix the problem with the event handler mapping. Ready for testing again.

[2020-11-28 21:59] walterbender commented on #2575
![Screenshot from 2020-11-28 16-58-20](https://user-images.githubusercontent.com/3996641/100526854-f3351900-319a-11eb-9268-25995a071c0d.png)

Seems to still be a problem for very large projects or very slow computers.

[2020-11-28 21:59] walterbender commented on #2575
Works... but it can take a very long time to finish.

[2020-11-28 22:02] walterbender commented on #2605
It is slow again. Something seems to have broken with recent changes to blocks.js

[2020-11-28 22:20] pikurasa commented on #2649
@kushal-khare-official is it the name of the project you just opened, or the one you had opened before opening the new project?

[2020-11-28 22:27] pikurasa commented on #719
Fun.

It works. Thanks!

[2020-11-28 22:27] #719 closed

[2020-11-28 22:31] pikurasa commented on #719
https://github.com/sugarlabs/musicblocks/pull/2655

[2020-11-28 22:51] walterbender commented on #438
We have a Tremolo block. Trill could be added at some point.

[2020-11-28 22:53] #789 closed

[2020-11-28 22:55] walterbender commented on #663
I think the current keyboard widget is adequate for our needs.

[2020-11-28 22:55] #663 closed

[2020-11-28 22:58] walterbender commented on #823
This is obsolete.

[2020-11-28 22:58] #823 closed

[2020-11-28 22:59] #843 closed

[2020-11-28 23:13] walterbender commented on #1842
Please reopen if this still happens. I cannot reproduce it.

[2020-11-28 23:13] #1842 closed

[2020-11-28 23:16] walterbender commented on #1675
I think this is fixed (below is a screenshot of a resized screen.) Please reopen if you see the bug again.
![Screenshot from 2020-11-28 18-15-31](https://user-images.githubusercontent.com/3996641/100527984-b884ae00-31a5-11eb-998a-608caa547f2b.png)

[2020-11-28 23:16] #1675 closed

[2020-11-28 23:18] walterbender commented on #1589
![Screenshot from 2020-11-28 18-18-04](https://user-images.githubusercontent.com/3996641/100528022-14e7cd80-31a6-11eb-9eb5-ef0fc70514ff.png)

The grid lines are faint, but they seem to be there on small screens.

[2020-11-28 23:18] #1589 closed

[2020-11-28 23:21] walterbender commented on #1655
I cannot reproduce this bug anymore. Please reopen if it reoccurs.

[2020-11-28 23:21] #1655 closed

[2020-11-28 23:27] walterbender commented on #2192
The bulk of the work remaining is with the widgets.

[2020-11-28 23:28] walterbender commented on #2192
While I marked this as a "Good first issue", please bear in mind:
(1) global replace will undoubtedly break the code so please don't;
(2) please test after making your changes.

[2020-11-29 00:38] #1859 closed

[2020-11-29 00:40] #1872 closed

[2020-11-29 00:54] #2189 closed

[2020-11-29 01:12] #2334 closed

[2020-11-29 01:14] #2347 closed

[2020-11-29 01:16] #2389 closed

[2020-11-29 01:19] #2564 closed

[2020-11-29 01:20] #2251 closed

[2020-11-29 01:23] #1891 closed

[2020-11-29 01:23] #2302 closed

[2020-11-29 01:24] #1153 closed

[2020-11-29 01:24] #2317 closed

[2020-11-29 01:26] walterbender commented on #2557
Mostly done... I don't think we need this meta issue any more.

[2020-11-29 01:26] #2557 closed

[2020-11-29 04:58] kushal-khare-official commented on #2649
@pikurasa the project I just opened from global planet

[2020-11-29 08:11] kushal-khare-official commented on #2645
@pikurasa What should be the expected behavior?

After a small fix, though saving this file as lilypond shows an error, it still downloads it.

Also what pickup should lilypond not support

[Faux-Pickup.pdf](https://github.com/sugarlabs/musicblocks/files/5611859/Faux-Pickup.pdf)

Here's the pdf file generated by lilypond

[2020-11-29 09:04] sj00coder commented on #2594
If anybody is not working on this,Can I start work on this? @meganindya

[2020-11-29 09:47] meganindya opened #2658 "Architecture related issues"
Music Blocks in its current state has a lot of "low-level" architectural problems, which can no longer be overlooked. So we're preparing for a rebuild and subsequent porting of the features from this application's core.

Please use the `Issue-Architecture` label to identify issues that we currently face trouble fixing. Use the `Priority High Architecture` to mark architecture-related issues that h

[2020-11-29 09:55] meganindya commented on #2594
See #2658.

[2020-11-29 10:18] sj00coder opened #2659 "In advance mode, on small view port auxiliary menu icons got hide"
![image](https://user-images.githubusercontent.com/65244030/100539134-55088800-325a-11eb-808a-70b5c5957338.png)

[2020-11-29 11:02] kushal-khare-official commented on #2659
![ss](https://user-images.githubusercontent.com/62568269/100539968-2e4d5000-3260-11eb-98d3-b890554f46bd.png)
@sj00coder , the icons are shifted down in advanced mode

[2020-11-29 11:29] ricknjacky commented on #2192
(1) global replace will undoubtedly break the code so please don't;
(2) please test after making your changes.

@walterbender remaining files of `js/widgets` have been cleaned up, and both the guidelines were kept in mind while doing so.

[2020-11-29 12:11] meganindya commented on #2659
Thanks for pointing out. We possibly won't fix these issues on this interaction of Music Blocks anymore. Gotta cover this in the redesign. @walterbender this sort of stuff is more widespread than is obvious.

[2020-11-29 12:16] kushal-khare-official opened #2660 "Error after switching to advanced mode"
After switching to advanced mode, values in all the blocks are set to zero. Same happens when switching from advanced to beginner. Also name of all chinks changed to null

Steps to reproduce the error:
1. Load file from your device into MB in beginner mode
![ss](https://user-images.githubusercontent.com/62568269/100541474-327e6b00-326a-11eb-8c12-fe69dd1ee67e.png)

2. Switch to advanced mode
![ss1]

[2020-11-29 12:22] walterbender commented on #2659
I'm not convinced this is the sort of thing the redesign would necessarily catch -- but we should discuss.

[2020-11-29 12:24] walterbender commented on #2660
This, on the other hand is something the redesign would presumably catch.

[2020-11-29 12:24] walterbender commented on #2660
"sometimes" -- any idea of what might trigger it?

[2020-11-29 12:27] meganindya commented on #2605
Took about 20sec on mine (Ryzen 5 2400G 3.6GHz, 16GB dual-channel DDR4 memory @2400MHz) on new Edge ... both v3.0 and current master

[2020-11-29 12:28] meganindya commented on #2605
Some other problems maybe. This one has 5747 blocks

[2020-11-29 12:43] kushal-khare-official commented on #2658
@meganindya Is this rebuild going to be part GSOC 2021?

[2020-11-29 12:50] sj00coder commented on #2658
In which technology or framework, this project is going to be reconstructed?

[2020-11-29 13:00] sj00coder commented on #2660
I think when advance mode is switched,then the reference (or id) of database got lost due to cache clear(as the project got reloaded),which leads to this.What you say sir, @walterbender

[2020-11-29 13:04] kushal-khare-official opened #2661 "[Deprecation] Web MIDI"
Using the MIDI button on music keyboard gives depreciation warning.

![image](https://user-images.githubusercontent.com/62568269/100542574-d3702480-3270-11eb-8933-cbaa150d0488.png)

[2020-11-29 13:16] sj00coder opened #2662 "Title bar of Javascript edier got hide on maximixing it."
![image](https://user-images.githubusercontent.com/65244030/100542927-28ad3580-3273-11eb-834b-2ea6bef876fd.png)

[2020-11-29 13:19] #2662 closed

[2020-11-29 13:39] pikurasa commented on #2645
What was your small fix? It seems to involve be deleting the "pickup" block.

(I am guessing, but it seems) You deleted the `~`.

[2020-11-29 13:40] pikurasa commented on #2649
Ok, I trust you, but I will keep my eye out to see if this happens again.

[2020-11-29 13:40] #2649 closed

[2020-11-29 13:42] pikurasa commented on #2645
The expected behavior is to be able to generate a lilypond file regardless of the values a MB user puts in for their pickup.

Lilypond has no (direct) support for tuplet values (e.g. 3, 5, 7, etc.). Therefore, we would need to finagle our lilypond output to make it work in lilypond.

[2020-11-29 13:42] kushal-khare-official commented on #2645
I just declared the variable. See [this](https://github.com/sugarlabs/musicblocks/pull/2657/commits/f871ea6) commit

[2020-11-29 13:43] pikurasa commented on #2645
Ok, but it doesn't fix this issue.

[2020-11-29 13:46] walterbender commented on #2605
Yes, it is a very large file -- pushing the limits perhaps. But that is why it is a good test case. I think that the current issue is an interaction with the block scaling code -- that seems to add an order of magnitude back into the load time.

[2020-11-29 13:52] kushal-khare-official commented on #2645
But it did generate a .ly file regardless of the values. Please check if the this file[Faux-Pickup.pdf](https://github.com/sugarlabs/musicblocks/files/5612244/Faux-Pickup.pdf) is as expected.
If it is then we only need to make sure that it does not show any error msgs.

[2020-11-29 14:09] walterbender commented on #2661
Did you have a MIDI device connected?

[2020-11-29 15:22] kushal-khare-official commented on #2661
No, I don't have a MIDI device connected. I am talking about the error warning
![ss](https://user-images.githubusercontent.com/62568269/100545980-c0ffe600-3284-11eb-9ddd-65693c97ff62.png)

[2020-11-29 17:33] kushal-khare-official commented on #1144
The current phrase maker widget does not have a scrollbar. Even on Creating a phrasemaker with number of notes = 100, it does not have a scroll bar. If the widget is very long, it just gets past the viewport.
![ss](https://user-images.githubusercontent.com/62568269/100549009-6bccd000-3296-11eb-99c7-15390737a520.png)

Even on full screen mode, it does not have a scroll bar. The below image is same

[2020-11-29 19:45] pikurasa commented on #2645
@kushal-khare-official Do you know what a pickup measure is?

[2020-11-29 19:46] pikurasa commented on #2645
(No, this is not as expected. This is the second time I have looked at this same file.)

[2020-11-29 19:58] pikurasa commented on #1144
The issue is different from when this was first reported, but the fundamental problem is the same.

If the user creates something with a lot of columns and rows, it is hard to see the entire graph.

I don't know if scrolling is necessarily the design-feature to fix this.

![Screenshot at 2020-11-29 14:55:20](https://user-images.githubusercontent.com/13454579/100552123-22a75c80-3253-11eb-9215-46abd

[2020-11-29 20:01] pikurasa opened #2667 "Phrase Maker not allowing for more than one repeat of "modal length" for scalar step"
This should have three octaves, not one.

Also, note that there is both a Fa# and an F#.

![Screenshot at 2020-11-29 14:59:52](https://user-images.githubusercontent.com/13454579/100552206-a3665880-3253-11eb-94cd-cb9c163bbad3.png)
[Phrasemaker-Scalar-step.html.zip](https://github.com/sugarlabs/musicblocks/files/5612765/Phrasemaker-Scalar-step.html.zip)

[2020-11-30 00:33] meganindya commented on #2239
If this still persists, I might know the cause @walterbender

Whatever you plug into the accidental block is handled as a string. Now whether it is properly split and operated on is probably making the difference. I came across this while working on separating `turtleactions`.

see [setAccidental](https://github.com/sugarlabs/musicblocks/blob/6616e9e979286692694c7a1b90549356f8da8b74/js/turtleactio

[2020-11-30 00:35] meganindya commented on #2250
missing flow method

[2020-11-30 00:47] meganindya commented on #2404
We have an npm package `http-server` which has `ecstatic` as a dependency. `ecstatic` is no longer maintained due to some conflict of interest between the developer and npm. According to him v3.3.2 is not longer vulnerable.

I've handled it. We practically aren't really using `http-server` anyway

[2020-11-30 00:47] #2404 closed

[2020-11-30 01:04] meganindya commented on #2660
Can't reproduce this. The value is part of the macro definition itself. If the macro unfolds properly how did the value get changed?

[2020-11-30 03:25] pikurasa commented on #2239
@meganindya This is more a conceptual/design question/issue. Basically, do we want to keep this block, and if so do we want it to override the accidental value of a given pitch?

My doubt is that someone reading the code would be able to identify the accidental value being overridden in this way. If I were, for example, looking at some code in an action block, I need to keep in mind the key given

[2020-11-30 03:26] pikurasa commented on #2239
If we want to keep this block as "an override", perhaps we just rename it to "accidental override". That would be the fast way to solve the conceptual issue given here.

[2020-11-30 03:27] pikurasa commented on #2660
I don't believe I ever ran into this issue myself...

[2020-11-30 04:31] meganindya commented on #2239
You're right. That's exactly what I believed what the block was doing - overriding.

If you remember, we once had a discussion where we were of the opinion that supporting multiple systems and conventions simultaneously can be cumbersome. As for this one particularly, I think the confusion here is e.g. in C major if you have a C#4 inside an accidental clamp with #, do we want a C#4 itself or a D4,

[2020-11-30 04:36] meganindya commented on #2239
You're right. That's exactly what I believed the block was doing - overriding. I think the confusion here is e.g. in C major if you have a C#4 inside an accidental clamp with #, do we want a C#4 itself or a D4, am I right?

If you remember, we once had a discussion where we were of the opinion that supporting multiple systems and conventions simultaneously could get cumbersome to use. IDK, but is

[2020-11-30 14:21] walterbender commented on #2239
+1 for "override". @pikurasa can you come up with the Japanese translation?

[2020-11-30 15:13] kushal-khare-official commented on #2660
It only happens when loading project from a file in your device.

[2020-12-01 00:21] pikurasa commented on #2239
accidental override

変化記号を無効 | kanji

へんかきごうを むこう | Kana

[2020-12-01 01:56] walterbender commented on #2239
I renamed the block and update the translations.

[2020-12-01 01:56] #2239 closed

[2020-12-01 10:51] meganindya commented on #2660
Observed this. Didn't know how it happened by it did. I have a theory though.

[2020-12-01 15:20] #2646 closed

[2020-12-01 16:05] meganindya commented on #2013
Probably a random behavior. Tried with multiple projects. Not really this issue but sometimes similar things happen. Some kind of mouse interaction on the stacks fixes that often.

The expansion/contraction isn't particularly a very smooth/fast process anyway.

[2020-12-01 16:18] walterbender commented on #2013
I suspect that this was fixed when I refactored the code for block expansion. I think we can close this.

[2020-12-01 16:18] #2013 closed

[2020-12-01 17:17] #1107 closed

[2020-12-02 01:32] walterbender commented on #1086
There was a regression introduced into the notation pickup last July. Just fixed it. But please test to make sure its working as expected.

[2020-12-02 10:19] RinkiyaKeDad commented on #2629
Hey @meganindya! I'm new to Music Blocks development and would like to contribute. Though seeing the large amount of pull requests I'm a bit confused as to what the current status of this issue is 😅. Can you please let me know which file I should start porting first? Thanks a lot.

[2020-12-02 14:04] meganindya commented on #2629
Well, if you're really starting out, you might find it challenging at first to figure out what the code is doing; there's lots of code. You might want to use Music Blocks a bit, build programs, then maybe look into the code about some component you might be using often. It is not necessary that only closing issues are considered contributions.

Start by reading [this.](https://musicblocks.sugarlab

[2020-12-04 06:14] b-thebest commented on #2609
Could you assign me this task

[2020-12-04 06:15] b-thebest commented on #2436
Can I work on this

[2020-12-04 10:29] meganindya commented on #2609
Actually we're considering something different and so this isn't a priority at the moment. Possibly, it's practically unfeasible to fix these in a short period. I think it'd be nice to identify and fix some regressions and crashes.

You don't necessarily have to target an issue. Perhaps you can find an issue regarding the said, or come up with a fix to something you might spot.

Have you tried Mus

[2020-12-04 10:36] #2422 closed

[2020-12-04 11:03] #2338 closed

[2020-12-04 23:44] walterbender commented on #2667
Definitely a regression. On mb.sl.o you get three octaves (although you also get the extra F#). I'll see if I can figure out what is going on.

[2020-12-04 23:50] walterbender commented on #2667
A few observations:
(1) the phrasemaker code itself has not changed, which suggests that the problem is with the scalar step code.
(2) if you watch closely, it generates three octaves worth of notes, but apparently they are all in the same octave, so it collapses them into one octave.

I suspect that in my refactoring of musicutils I introduced a bug.

[2020-12-05 01:00] #2667 closed

[2020-12-05 01:02] walterbender commented on #2667
Fixed. Silly regression when trying to consolidate some code.

[2020-12-05 13:12] #1101 closed

[2020-12-06 08:46] RinkiyaKeDad commented on #2629
So I've tinkered around with Music Blocks a bit now and would like to try to help port some of these files. Could you let me know which one I should start with? (I see a bunch of PRs so am not able to make out which files have already been ported).

[2020-12-06 10:06] meganindya commented on #2629
Maybe start porting the widgets to `class` syntax. See recently merged PRs of its kind to get an idea.

[2020-12-07 19:40] #2172 closed

[2020-12-07 19:44] meganindya opened #2690 "Add scroll to help widget"
For some blocks, the help window can't fit the SVG and the text below within the scope of the window. There's no proper way to access the content that overflows without zooming out. It'd be better in my opinion to have a max height (e.g. 75% of window height). If the content overflows, a scrollbar appears.

See example for _multiply note value_ block:

![4ea82a11-9a7f-4fec-9d9f-5b46d4f01657](https

[2020-12-07 22:31] pikurasa commented on #1438
Given: Alphabet pitch block or string of alphabet pitch blocks in an action block

1. Right click on pitch(es)
2. One of the option is a "converter <==>"
3. Click on the converter.
4. Sub-options of "fixed solfege", "scale degree", "movable solfege", and "n^th modal pitch" appear.
5. Click on one of the sub-options (details below)
* Fixed Solfege -- Alphabet pitches will convert to their respectiv

[2020-12-07 23:28] walterbender commented on #1438
Questions:
Why not add Hertz to the mix?
You are proposing right click on the pitch block or the argument to the pitch block? (Are there other contexts where conversion makes sense? Not the key block. But perhaps the invert block? others?)
Is this an addition to the existing context menu (right click) that has copy/delete/help/etc?

[2020-12-08 11:22] meganindya commented on #1438
This maybe a silly question; wouldn't the pitch (hertz) conversion depend on the instrument context and other things like temperament?

[2020-12-08 11:23] meganindya commented on #1438
This may be a silly question; wouldn't the pitch (hertz) conversion depend on the instrument context and other things like temperament?

[2020-12-08 12:27] walterbender commented on #1438
not the instrument but the temperament.

[2020-12-08 14:56] pikurasa commented on #1438
Certainly, why not? The list was not intended as exhaustive.

I imagined the pitch block itself, but no particular opinion... but maybe the pitch block makes the most sense as we sometimes need the octave as well.

Good question. I will think about it.

Yes.

[2020-12-09 11:58] #2690 closed

[2020-12-09 13:02] Parthkhandelwal0 commented on #2629
hey @meganindya i would like to contribute to this issue, can you point me towards some of the files to port?

[2020-12-09 13:11] meganindya commented on #2629
See the checklist above.

[2020-12-10 12:21] sj00coder commented on #2629
Sir,
Except the files in the list,I have changed some other files.Please review it and guide me if any further changes is required sir.
If you want me to change any other files do tell me sir.
@meganindya #2629
#2688 #2687 #2686  #2685

[2020-12-10 13:53] Nirali0029 commented on #2629
@meganindya I would also like to contribute to this. Can I start with widgets/pitchslider.js ? And in end I will also add you as a reviewer as you have said in earlier comments? Is there anything else I should take care of?

[2020-12-10 15:46] meganindya commented on #2629
You don't need to ask. Just take care of redundancy and send one PR at a time. Otherwise it becomes difficult to follow.

[2020-12-11 11:44] sj00coder opened #2699 "Re-declaration of some variable."
![image](https://user-images.githubusercontent.com/65244030/101899679-37311080-3bd4-11eb-80b8-a7ad96bdab34.png)
however,ICONSIZE variable is not used in the whole file after declaration.

[2020-12-11 12:03] sj00coder opened #2701 "UI of 'show Cartesian' button."
On clicked on the button, there are 10 types of Cartesian graph show on clicking again again.But if somebody wants to not show Cartesian,he/she have to click 10 times to get that,which is slightly a matter of inconvenience.

I suggest,There should be a circular navigation to be popped up with all the styles of Cartesian and an option of no Cartesian.

[2020-12-11 12:04] sj00coder commented on #2701
What you say sir? @walterbender

[2020-12-11 12:38] sj00coder opened #2702 "'DrumLabels' is not defined"
Also Set drum modal does not pop up as earlier.

![image](https://user-images.githubusercontent.com/65244030/101904413-cf7ec380-3bdb-11eb-8ee2-0b83411c2590.png)

[2020-12-11 13:33] walterbender commented on #2701
+1 to a pie menu :) Maybe the choices are iconic (with hover text)

[2020-12-11 14:05] ksraj123 commented on #2516
We could have zooming horizontally on scrolling to clearly see the overlapping parts and shorter notes. The labels (ti4, Ia4 etc) will stay fixed and the track could be zoomed in horizontally on scrolling over the area of interest. When zoomed in the track could be made draggable.
What do you think @walterbender, @pikurasa, @meganindya ? Thanks

[2020-12-11 14:45] sj00coder commented on #2702
@meganindya

[2020-12-11 15:30] meganindya commented on #2699
Please don't create an issue if you are immediately fixing it (you may create one if the issue isn't trivial). This one's trivial.

[2020-12-11 15:41] #2699 closed

[2020-12-11 15:49] #2702 closed

[2020-12-11 16:37] sj00coder opened #2705 "Reference error in "phasemaker.js""
![image](https://user-images.githubusercontent.com/65244030/101929639-247f0180-3bfd-11eb-8d61-0c28025242fa.png)

[2020-12-11 17:08] sj00coder commented on #2705
@meganindya

[2020-12-11 17:08] ksraj123 commented on #2705
This would be fixed automatically when ported to es6, working on it. Thanks

[2020-12-11 17:20] meganindya commented on #2705
@sj00coder I told you about trivial issues in #2699

[2020-12-11 17:21] sj00coder commented on #2705
ok sir

[2020-12-11 17:21] #2705 closed

[2020-12-12 12:29] ricknjacky opened #2711 "Help Widget Erratic Behavior."
The current pitch block doesn't display any information upon clicking the help {?} widget.

![ezgif-6-55cfdfcabb6f](https://user-images.githubusercontent.com/50985033/101983901-c8bb8380-3ca3-11eb-9452-3a61f7aad3de.gif)

[2020-12-12 17:34] ricknjacky commented on #2711
![Screenshot (428)](https://user-images.githubusercontent.com/50985033/101990612-d1c14a80-3ccd-11eb-92d8-57b75772e8a3.png)

![Screenshot (429)](https://user-images.githubusercontent.com/50985033/101990748-45fbee00-3cce-11eb-894e-d209236073fa.png)

Upon investigating further and trying to find the reason for this behavior, I stumbled upon the aforementioned errors.
The descriptive images of blocks

[2020-12-12 17:53] meganindya commented on #2711
Missing/Erroneous SVG and description strings probably

[2020-12-13 00:59] walterbender commented on #2516
It seems that it would just add more complexity to the code and the UX. Is it worthwhile?

[2020-12-13 08:50] meganindya commented on #2516
Plus it is one of the most complicated files to work with. Also, the widgets probably need to be rewritten anyway because they tightly bind the DOM manipulation code.

[2020-12-13 10:48] ricknjacky commented on #2711
That's right

- the oscilloscope help widget has an image source of `documentation/oscilloscope_block.svg` and no such file exists.
- the note counter help widget has an image source of `documentation/notecounter2_block.svg` and no such file exists here as well.

[2020-12-13 12:38] ricknjacky commented on #2711
@meganindya we missed this in #2690

Some help widgets, need horizontal scroll like in case of note value block shown as follows:-
![Screenshot (431)](https://user-images.githubusercontent.com/50985033/102012011-f79e2c00-3d6d-11eb-8b0d-42c13cee3449.png)

The notes played block, part of the svg pertaining to this block, needs horizontal scroll for a better UI experience.

[2020-12-13 13:38] meganindya commented on #2711
Increase the width of the widget window itself.

[2020-12-13 14:15] ricknjacky commented on #2711
@meganindya Upon exploring the platform further to better understand the cause of `undefined` being displayed in `current pitch`, I discovered that neither of

- current mode,
- current meter &
- current key
have the option of help widget:-

Pic for reference:-
![Screenshot (433)](https://user-images.githubusercontent.com/50985033/102014387-ab59e880-3d7b-11eb-9fc5-ebc7475f84ad.png)

The solution t

[2020-12-13 14:22] meganindya commented on #2711
cool ... it is obvious from the name itself.

[2020-12-15 08:46] blank-27 commented on #2192
can i work on this issue ?

[2020-12-15 11:04] meganindya commented on #2192
The `js/` directory is the priority. Only 5 effective occurrences remain, probably corner cases. You may try #2629.

[2020-12-15 12:24] blank-27 commented on #2192
ohk thanks

[2020-12-16 22:04] ksraj123 commented on #2701
Hi @sj00coder, this seems interesting. Are you working on this? If not, I would like to give this a try. Thanks

[2020-12-17 08:49] sj00coder commented on #2701
@ksraj123 ,you can start sir.

[2020-12-17 22:24] walterbender commented on #2711
It would be nice to see the current pitch block used in context in the help artwork. You can add the contextual help to macros.js as well so the code can be loaded from the help widget. (A good example would be to use it with the pitch converter block to maybe display the current pitch in Hertz.)

[2020-12-18 05:06] ricknjacky commented on #2711
Thankyou for the insight, I did the changes accordingly
The new behavior is:-
![PITCH](https://user-images.githubusercontent.com/50985033/102576868-b5357000-411c-11eb-8ffe-17eea111a6f2.gif)

If you approve this @walterbender I'll create a pertaining to this.

[2020-12-18 14:31] codescientist703 opened #2717 "Search bar not closing after clicking on search row"
When the search bar row in the palette is clicked the search box opens but it does not closes when clicked again. Is this behavior intended or it's a bug?

[2020-12-18 21:23] pikurasa opened #2718 "Global Search Broken"
The Global Search on rawgit is broken.

Experienced on both my computer (gnu/linux trisquel) and my student's (Windows PC).

[2020-12-18 22:53] walterbender commented on #2718
Can you please describe how it is broken? (It is working for me -- see attached)
![Screenshot from 2020-12-18 17-53-28](https://user-images.githubusercontent.com/3996641/102668462-fc8e2180-4159-11eb-9e45-6db27023857c.png)

[2020-12-18 22:56] walterbender commented on #2711
Looks good but perhaps it code be a bit less verbose? Just one note block followed by the print? Otherwise, it gets lost in the larger context.

[2020-12-19 03:18] ricknjacky commented on #2711
![CurremtPitch](https://user-images.githubusercontent.com/50985033/102679560-9a273680-41d6-11eb-96a3-941127ca96d3.png)

I did the modifications accordingly, If this matches the expected behavior can I send PR for the same now?

[2020-12-19 03:42] walterbender commented on #2711
Please make a PR

[2020-12-19 06:21] ricknjacky commented on #2718
I agree with what @walterbender is saying, it works fine for me.

I may be wrong, but I think that this erratic behavior is due to RawGit not responding/working properly to the requests user sends.

This is an excerpt from [RawGit's](https://rawgit.com/) website:

I think it's high time we switch to a better alternative like [GitHub Pages](https://pages.github.com/)

[2020-12-20 17:35] Nirali0029 commented on #2718
Same. I also agree with @walterbender. Its working fine on my windows 10.
![Screenshot (19)](https://user-images.githubusercontent.com/58932139/102720039-9ebb2000-42a6-11eb-95d5-b4b048acbec8.png)

[2020-12-20 20:53] #2717 closed

[2020-12-20 21:14] walterbender commented on #2718
Please reopen if you can reproduce this bug (and please include details re browser, OS, etc.)

[2020-12-21 16:18] pikurasa commented on #2718
[server-issue.ogv.zip](https://github.com/sugarlabs/musicblocks/files/5725307/server-issue.ogv.zip)

Version 80.0.3947.0 (Developer Build) custom (64-bit), Trisquel 7.0

![Screenshot at 2020-12-21 11:17:15](https://user-images.githubusercontent.com/13454579/102797801-2fb0fa80-437e-11eb-8b07-cbae31218c60.png)
![Screenshot at 2020-12-21 11:16:52](https://user-images.githubusercontent.com/13454579/10

[2020-12-21 16:19] pikurasa commented on #2718
Sorry, I was reporting this in the middle of the lesson and was unable to provide the details, but I thought better reported than not...

[2020-12-21 16:43] walterbender commented on #2718
Oh. I think we had all misinterpreted this issue initially. I thought it was palette search, not planet search. I'll investigate.

[2020-12-22 00:24] walterbender opened #2728 "CSS broken on share button in Global Planet"
See the attached image. The background should  be opaque white.
![Screenshot from 2020-12-21 19-22-00](https://user-images.githubusercontent.com/3996641/102834550-5c870100-43c2-11eb-8ecb-ed693a48b61e.png)

[2020-12-22 00:25] walterbender opened #2729 "share button for Local Planet is wrong"
There should not be a share button for the local planet and the current implementation opens the upload dialog.
![Screenshot from 2020-12-21 19-22-38](https://user-images.githubusercontent.com/3996641/102834526-4b3df480-43c2-11eb-8a82-eb1c7e3a9a48.png)

[2020-12-22 12:36] #2729 closed

[2020-12-22 12:37] #2728 closed

[2020-12-22 14:47] ricknjacky commented on #2711
Fixed in multiple PRs up in this thread
Closing this.

[2020-12-22 14:47] #2711 closed

[2020-12-22 16:01] walterbender commented on #2718
Please test. Should be fixed by https://github.com/sugarlabs/musicblocks/commit/12ee4650f2dab8b537b8775e81544914743b8f00

[2020-12-22 16:45] pikurasa commented on #2718
Works, thanks.

I will try to use the word "Planet Search" next time.

[2020-12-22 16:45] #2718 closed

[2020-12-22 23:10] walterbender commented on #2701
Very nice work.

[2020-12-22 23:10] #2701 closed

[2020-12-22 23:27] walterbender commented on #2661
Should be OK now. Please test.

[2020-12-22 23:38] walterbender commented on #2526
We will address this in Music Blocks 2.0. No need to address it here.

[2020-12-22 23:38] #2526 closed

[2020-12-23 22:36] walterbender commented on #2291
@pikurasa Are you still experiencing this error? When I run your test program (on rawgit) I hear all the notes. (We did upgrade tone.js since this ticket was originally filed, which might have fixed the problem.)

[2020-12-23 22:44] walterbender commented on #2287
The program works as expected if you add a no-clock block. The problem is that the note is being truncated because of its trying to get into sync and so the graphics are clipped. I don't think this is worth fixing in Music Blocks 1.0.

[2020-12-23 22:45] #2287 closed

[2020-12-23 22:46] walterbender commented on #2264
We can address this in Music Blocks 2.0.

[2020-12-23 22:53] walterbender commented on #1934
I think we fixed the pitch preview problem in Phrase maker. I don't think this still happens.

[2020-12-23 23:11] #2250 closed

[2020-12-24 17:57] #1877 closed

[2020-12-24 17:57] #1898 closed

[2020-12-24 17:57] #1934 closed

[2020-12-24 17:57] #2095 closed

[2020-12-24 17:57] #2234 closed

[2020-12-24 17:57] #2291 closed

[2020-12-24 17:57] #2348 closed

[2020-12-24 17:57] #2349 closed

[2020-12-24 17:57] #2350 closed

[2020-12-24 17:57] #2351 closed

[2020-12-24 17:57] #2516 closed

[2020-12-24 17:57] #2537 closed

[2020-12-24 17:57] #2575 closed

[2020-12-24 17:57] #2605 closed

[2020-12-24 17:57] #2661 closed

[2020-12-25 13:42] kuruma99 commented on #2629
@meganindya Are we only using arrow functions in callbacks? What if the function is being assigned to a variable?

[2020-12-26 17:26] PratyushSawan commented on #2629
@meganindya i also want to help to change the codebase to ES6+ syntax where it need. Please tell me from where i can start.

[2020-12-26 19:26] kuruma99 commented on #2629
You can take a look at the files which are not ported yet. You can look at the files inside widgets and see for these 3 things
1) making it as class
2) var -> let (take care of the scoping though)
3) use arrow functions inside callbacks.

Also, do not forget to add @meganindya as a reviewer when you create a pull request.

[2020-12-27 12:46] piyushsingariya commented on #2629
@meganindya How do I test my changes are working fine. I just made some changes in a file??

[2020-12-27 13:15] Nirali0029 commented on #2629
You need to test things in browser console as the architecture doesn't support unit testing.

[2020-12-27 13:27] kuruma99 commented on #2629
@Nirali0029 Sorry, I did not completely get that. Doesn't testing it in browser requires the understanding of what the code actually does? Is there some documentation where I can read about that?

[2020-12-27 13:43] piyushsingariya commented on #2629
@Nirali0029  Is there any documentation regarding this?

[2020-12-27 13:51] meganindya commented on #2629
Please improvise if you do this. There's probably no right way of doing this.

[2020-12-27 13:57] meganindya commented on #2629
Unfortunately, the DOM modifications and the behavior logic are tightly coupled. However, all functionality for a widget should be part of one file, mostly in the singleton class (or prototype functions; these aren't strictly singleton because we haven't enforced it, but only one object should exist at one time).

Since we can not have unit testing in the way this application grew up in volume, yo

[2020-12-27 14:01] meganindya commented on #2629
Just FYI.

[2020-12-30 11:06] PratyushSawan commented on #2629
Hey @meganindya, I am going to start work on  _**widgets/pitchstaircase.js**_

[2020-12-31 18:44] walterbender opened #2739 "regression in Music Keyboard display (A# is missing)"
The black key representing A#/Bb is not being rendered. This is a regression.

![Screenshot from 2020-12-31 13-44-11](https://user-images.githubusercontent.com/3996641/103422215-4b7e8280-4b6e-11eb-8657-5becc22dffc8.png)

[2020-12-31 21:54] ksraj123 commented on #2739
I think actually it is C# that's missing and due to it all the other sharp keys are arranged wrong.

![Kapture 2021-01-01 at 03 21 54](https://user-images.githubusercontent.com/39027928/103426611-bcf71900-4be0-11eb-9b62-cd6ba3170067.gif)

[2021-01-02 19:27] #2739 closed

[2021-01-04 08:46] abhishekkumar08 commented on #2629
@meganindya I would like to contribute in this. As I can see there are many PR related to this issue and have the idea what to do about changing the code to ES6, can you suggest me where to start from?

[2021-01-06 06:55] aditya113141 commented on #2346
I would like to work on this issue. Can you please tell me in detail ?

[2021-01-06 15:54] walterbender commented on #2346
Please read the discussion at the start of the thread.

[2021-01-08 21:27] pikurasa opened #2748 "Case: Student Loses Work"
What I know:
* Student saves project locally (from local Planet)
* Project has many, many images (~15)
* Student returns to their project two weeks later, and opens from their local Planet. Project is missing images and all the text is missing (replaced with "null")
* Student is using Chrome Version 87.0.4280.88 (Official Build) (64-bit)
* Student is using Windows (Thinks Windows 10)
* Student is

[2021-01-08 21:27] pikurasa opened #2749 "Case Study: Student Loses Work"
What I know:
* Student saves project locally (from local Planet)
* Project has many, many images (~15)
* Student returns to their project two weeks later, and opens from their local Planet. Project is missing images and all the text is missing (replaced with "null")
* Student is using Chrome Version 87.0.4280.88 (Official Build) (64-bit)
* Student is using Windows (Thinks Windows 10)
* Student is

[2021-01-08 21:28] pikurasa commented on #2748
Github sent me to a 404 when I published this... Should I send them a bug report??...

[2021-01-08 21:28] #2748 closed

[2021-01-08 21:33] pikurasa opened #2750 "Block to enable/disable "turtle wrap""
On some screens, projects will have unintended result with turtle wrap on by default.

![Screenshot at 2021-01-08 21:31:37](https://user-images.githubusercontent.com/13454579/104066256-03f49800-51f9-11eb-87f5-e3337cc6ae15.png)

Perhaps it should be triggered by a block?

Also, is "Turtle Wrap" a name that would be obvious to others? Maybe "screen wrap" would be better?

[2021-01-08 22:09] pikurasa opened #2751 ""No Clock" block stops code from running"
In this MB project, the code stops after "Black Track".

![Screenshot at 2021-01-08 22:08:24](https://user-images.githubusercontent.com/13454579/104070134-102f2400-51fe-11eb-9f92-da7336a1cfcd.png)

Original Project:
[Remix of record-player.html.zip](https://github.com/sugarlabs/musicblocks/files/5789532/Remix.of.record-player.html.zip)

We used No Clock block b/c otherwise all the first notes play

[2021-01-08 22:12] pikurasa commented on #2751
Hmmm... same thing happens with instrument clamp.

![Screenshot at 2021-01-08 22:11:09](https://user-images.githubusercontent.com/13454579/104070326-85025e00-51fe-11eb-92f2-8b82e9fa1166.png)

This is all I see in the logs:
Uncaught (in promise) Error: Not enough space to save locally
    at ProjectStorage.set (ProjectStorage.js:188)
    at async ProjectStorage.save (ProjectStorage.js:208)

Experie

[2021-01-08 22:17] pikurasa commented on #2751
Somehow, repositioning the clamp blocks to later in the code, fixes the issue. Must be caused by something else...

![Screenshot at 2021-01-08 22:17:29](https://user-images.githubusercontent.com/13454579/104070650-520c9a00-51ff-11eb-9f5f-f7d6e470bb74.png)

See:
[Remix of record-player (1).html.zip](https://github.com/sugarlabs/musicblocks/files/5789563/Remix.of.record-player.1.html.zip)

[2021-01-08 22:26] pikurasa commented on #2751
It might be clamp-block+print block that is causing the issue.

[2021-01-13 15:38] emmanuelhashy commented on #2629
Hey @meganindya, I find this issue interesting and I'd like to contribute to it. I have seen some es5 piece that I can convert to es6 But then I'd like to know where I can begin. Thanks

[2021-01-13 17:37] meganindya commented on #2629
Pick whatever piece you want to work on. You don't need to ask. Just see that there's no overlap: someone already hasn't created a PR for the same.

[2021-01-15 15:10] ksraj123 opened #2754 "No Wrapping in arc - Graphics"
Forward Block has wrapping (when the turtle goes out of screen bounds) but arc block has no wrapping. This could lead to the turtle getting lost in some situations. It would be better #2750 Proposes a block to enable or disable wrapping, Ideally, we should have wrapping on both forward and arc blocks and the user should be able to enable or disable wrapping.

![no_warp_in_arc](https://user-images.

[2021-01-15 22:15] ksraj123 opened #2756 "Block for scrolling graphics plane"
Currently, to my understanding there is no easy way to scroll the graphics plane without moving the turtle. We have the `scroll xy` block but on using that the turtle moves with respect to the graphics plane which can be seen the gif below

![turtle_moves_when_scrolling](https://user-images.githubusercontent.com/39027928/104751211-192e7100-577b-11eb-8985-fbc0c7c65c72.gif)

There are many other way

[2021-01-15 22:15] pikurasa opened #2757 "Random not working for JS Editor"
I found a few issues with JS Editor today. One issue is that random is not being accurately converted.

If you print a random number as in code pictured below, you get:

[code]
![Screenshot at 2021-01-15 22:11:13](https://user-images.githubusercontent.com/13454579/104783759-a1624580-577e-11eb-9da9-a255588530c9.png)

It seems like we need something with `Math.random` and/or `Math.floor` instead. ([

[2021-01-15 22:20] ksraj123 commented on #2750
@pikurasa can you please share link to the project? Is this available on planet global? While trying to reproduce this issue I found that wrapping is implemented only for forward block and not arc block. Opened as issue regarding it (#2754) please have a look. Thanks

[2021-01-16 13:06] ksraj123 commented on #2754
@walterbender @pikurasa @meganindya can you please have a look and share your thoughts on this. Thanks

[2021-01-16 13:06] ksraj123 commented on #2756
@walterbender @pikurasa @meganindya can you please have a look and share your thoughts on this. Thanks

[2021-01-17 13:13] daksh4469 commented on #2629
Hi @meganindya ,
I would like to work on this issue.

[2021-01-17 14:32] ksraj123 opened #2761 "More intuitive ways to maximise or minimise widget windows"
Currently dragging a maximised widget window from the top restores it. It would be intuitive if dragging it back to the top maximises it. This type of functionality is provided in the user interface of many modern operating systems and work environments as well.

Here is what it would look like after the proposed changes -

![drag to top to maximise](https://user-images.githubusercontent.com/39027

[2021-01-17 18:26] #2757 closed

[2021-01-17 21:58] walterbender commented on #2756
I am not quite following what you are proposing. The Turtle does not move when you scroll... but if the pen is down, it leaves a trace on the canvas.

[2021-01-17 21:59] walterbender commented on #2756
If you don't want the turtle to draw when the canvas moves, you can lift up the pen.

[2021-01-17 23:16] ksraj123 commented on #2756
@walterbender lets consider the situation in the pictures and gifs below

In each of the 3 iterations we are are putting our pen down and moving the turtle forward, then we pull up our pen and move the graphics plane by 100 units. The outcome of this should be a straight line of length 300 units with the turtle at its end, this line should be located 300 units to the right of initial position of t

[2021-01-17 23:25] walterbender commented on #2756
I don't understand your logic. If you move the paper horizontally relative to the turtle, why would you expect that the vertical line would be continuous? The line is the pen drawing on the paper wherever the paper is relative to the turtle.

[2021-01-17 23:45] ksraj123 commented on #2756
@walterbender Basically the point of this issue is that, i think currently we do not have a simple way to move the paper along with the turtle. If we had had something like that then I think it would help students to make new kinds of graphics easily. We could have a new block for doing this or maybe modify the scroll block. Would this be something we want? Thanks

[2021-01-17 23:59] walterbender commented on #2756
Is this what you had in mind?
![Screenshot from 2021-01-17 18-59-26](https://user-images.githubusercontent.com/3996641/104859873-2de34400-58f6-11eb-8a77-5741d6fd50e3.png)

[2021-01-18 00:40] ksraj123 commented on #2756
@walterbender for this example lets see how this plays out

![current](https://user-images.githubusercontent.com/39027928/104860949-afb58a80-5953-11eb-9a64-2800520ef1cf.gif)

setxy block moves the turtle to a point on the screen and scroll xy block moves the paper underneath the turtle. The turtle does not move along with the paper.

Here is how we want it to play out

![should](https://user-image

[2021-01-18 14:41] abhishekkumar08 commented on #2629
Hey @meganindya, working on ```widgets/timbre.js```.

[2021-01-18 22:58] walterbender commented on #2754
It makes sense to have wrapping enabled for arc. While we are on the topic, we prob. want to turn off wrapping in the middle of a fill.

[2021-01-19 02:08] ksraj123 commented on #2754
@walterbender sure, it seems reasonable to disable wrapping when drawing for filling.
The below screenshot compares the current situation with what is wanted, is this the kind of functionality we are looking for regarding this?
![changes](https://user-images.githubusercontent.com/39027928/104978562-186e3700-5a28-11eb-9d1e-564b314a8a1f.jpg)

[2021-01-19 02:47] walterbender commented on #2754
Yes. That's correct

On Mon, Jan 18, 2021, 9:08 PM Kumar Saurabh Raj <notifications@github.com>
wrote:

[2021-01-19 16:24] pikurasa commented on #1738
The way that these motions typically work, you get two different placements of a single Letter Class.

I need to do a bit more research before I can say this "authoritatively", but I think that these motions typically (only?) happen in the 2nd, 3rd, 6th, and 7th scale degree spots.

For example:
A Melodic Minor -- A, B, C, D, E, F#, G#, A, G, F, E, D, C, B, and A. (1, 2, 3, 4, 5, 6#, 7#, 8, 7, 6,

[2021-01-20 04:52] ksraj123 commented on #2754
@walterbender opened a PR #2765 addressing the wrapping in the middle of fill issue. Please have a look. Thanks

[2021-01-21 17:50] vj-codes commented on #2346
I would like to work on this , will create a fix within 3-4 days , sounds good ? @walterbender

[2021-01-23 16:43] meganindya commented on #2761
We have discussed this before. But since we're moving on to MB 2, feature additions on this application is not a priority. The objectives on this repository roughly are: fix bugs (like https://github.com/sugarlabs/musicblocks/pull/2758), code cleanup and documentation of important units (might be helpful while porting to MB2), and retiring work (simple improvements like https://github.com/sugarlab

[2021-01-23 16:45] meganindya commented on #2761
You can always create a PR for issues like this one. But if the implementation is a lot of work, it might probably not be worth doing it. BTW, your PR (https://github.com/sugarlabs/musicblocks/pull/2747) on widgetWindow was a healthy contribution.

[2021-01-23 16:51] meganindya commented on #2761
There's actually a bigger problem here with widgets. The DOM configuration is part of the codebase instead of `HTML`/`CSS` and so, barely any widget actually benefits from the full screen mode. The _JSEditor_ takes advantage of the full screen mode, but the rest do not. I doubt if full screen is at all required. The UI actually looks bad when the widget window is in full screen mode but the elemen

[2021-01-23 18:24] meganindya opened #2767 "Identify and/or fix high-level inconsistencies"
The newer build shall replace this as the current iteration of Music Blocks, but this is here to stay. It is perhaps not worth adding new features to this. However, there are some wrap up work that can be done before the new build is completed and this is archived. This iteration incorporates plenty of contributions by lots of people over the last 5+ years of its development and it better be retir

[2021-01-23 18:37] meganindya commented on #2767
Please feel free to address any of these arbitrarily. You don't need to ask. You can always discuss if you are improvising on something.

[2021-01-23 19:42] meganindya commented on #2632
Investigation into this problem concludes that there is a significant problem in `js/activity.js`. Although all the code has been relevantly split across several files, the codebase isn't effectively modularized. There are some GOD objects like `Logo` (`js/logo.js`), `Blocks` (`js/blocks.js`), `Turtles` (`js/turtles.js`), etc. which do a lot of heavy lifting and maintain application state. These a

[2021-01-23 19:48] meganindya commented on #2609
Relates to #2767.

[2021-01-24 20:00] joykirat18 commented on #2318
When I ran the test I got this result
<img width="495" alt="Screenshot 2021-01-25 at 1 26 34 AM" src="https://user-images.githubusercontent.com/66181127/105641920-8b563280-5eac-11eb-8690-243f073a325b.png">
<img width="710" alt="Screenshot 2021-01-25 at 1 26 44 AM" src="https://user-images.githubusercontent.com/66181127/105641932-9a3ce500-5eac-11eb-9aad-191eeabf4b73.png">

But this is different fro

[2021-01-24 20:11] walterbender commented on #2318
Invert should invert the scale. What is happening in your test is that the first note is inverted but the rest are stepped up from the inverted note instead of stepped down.

[2021-01-24 22:11] ksraj123 commented on #2761
@meganindya For the widgets where we could better utilise the full screen mode with simple changes, we could make them. For others, if the fullscreen mode helps somehow then we could leave it as it is else disable it. The PR for this issue could also implement a way to easily disable fullscreen mode of a widget (there would be no maximise icon and other ways to maximise would also not work). Enhan

[2021-01-25 17:38] meganindya commented on #2761
Ok, I think mouse drag maximize-minimize is fine. If you can create a PR please do that first.

[2021-01-25 17:39] meganindya commented on #2761
For the rest, we could discuss all the possibilities separately.

[2021-01-26 10:55] GoutamVerma commented on #2346
Hey @walterbender
I would really like to work on this.

[2021-01-26 19:17] joykirat18 commented on #2609
What should be the syntax to remove error no-dupe-keys in eslint. I encountered the error while working on modewidget.js. @meganindya

<img width="366" alt="Screenshot 2021-01-27 at 12 46 14 AM" src="https://user-images.githubusercontent.com/66181127/105893420-13694300-6039-11eb-96a0-bdc7d5c14290.png">

[2021-01-26 19:17] dhruv-doshi commented on #2629
Hello @meganindya
I would like to work on this issue. Where can I start?
Thanks

[2021-01-26 19:47] walterbender commented on #2609
On Tue, Jan 26, 2021 at 2:17 PM joykirat18 <notifications@github.com> wrote:

That is a bug in the dictionary itself. I will fix it.

--
Walter Bender
Sugar Labs
http://www.sugarlabs.org
<http://www.sugarlabs.org>

[2021-01-26 19:48] meganindya commented on #2609
Doing a simple web search would get you the answer in most cases like this.

[2021-01-26 19:49] meganindya commented on #2609
@walterbender Isn't `B♭` misspelled as `A♭`?

[2021-01-26 19:50] joykirat18 commented on #2609
I searched but could not find any fix.

[2021-01-26 19:53] meganindya commented on #2629
See the checklist on top

[2021-01-27 10:35] ricknjacky opened #2779 "Rhythm maker erroneous behavior while rendering blocks."
I recall testing the widget recently on [GitHubPages ](https://sugarlabs.github.io/musicblocks/)of Musicblocks's master branch. It worked fine back then. Had some minor UI anomalies as discussed [here ](https://github.com/sugarlabs/musicblocks/discussions/2777)

However now it showcases erratic behavior. Two rulers are expected. Instead, only one of them loads.

### The new (erratic) behavior:-
![

[2021-01-28 06:37] meganindya commented on #2779
Something off with the width ... please check after the page is redeployed (after more changes are incorporated on master). This repo struggles with GH pages highlighted in #2632.

[2021-01-28 06:44] ricknjacky commented on #2779
Sure, I will. However in #2777 you can clearly see that even my local system (one up to date with master branch)
doesn't load the second ruler. I presume, maybe we missed this while testing #2763 because it was working properly on my local system as well.
Your thoughts on this?

[2021-01-28 06:46] meganindya commented on #2779
Looks alright on my local machine ... HEAD commit of master

[2021-01-28 06:57] ricknjacky commented on #2779
Oh, can you please tell me what am I missing here ?

Updated my local :-

![Screenshot (538)](https://user-images.githubusercontent.com/50985033/106101307-b4541d00-6163-11eb-95ac-72573cab69df.png)

Even then, 2 rulers won't render
![image](https://user-images.githubusercontent.com/50985033/106101517-039a4d80-6164-11eb-8769-03b48b86bf17.png)

[2021-01-28 06:59] meganindya commented on #2779
If your rebase your local master to current master ... HEAD is 2b381e7bc685ad9b3ead614974d16d41a1c89642

[2021-01-28 07:06] ricknjacky commented on #2779
How do I fix this one, can you please guide? I am kind of confused here.

[2021-01-28 07:10] meganindya commented on #2779
run `git rev-parse HEAD` and share output

[2021-01-28 07:13] ricknjacky commented on #2779
![Screenshot (539)](https://user-images.githubusercontent.com/50985033/106103044-507f2380-6166-11eb-8e2f-d70aabebf925.png)

`2b381e7bc685ad9b3ead614974d16d41a1c89642`

[2021-01-28 07:14] meganindya commented on #2779
`git log -1`

[2021-01-28 07:15] ricknjacky commented on #2779
![Screenshot (540)](https://user-images.githubusercontent.com/50985033/106103260-ac49ac80-6166-11eb-9a1d-42b2fab70edd.png)

[2021-01-28 07:16] meganindya commented on #2779
You're at the right place

[2021-01-28 07:18] meganindya commented on #2779
![bf5b200a-895a-4507-844a-ad47edac8fec](https://user-images.githubusercontent.com/33328728/106103513-13fff780-6167-11eb-9e02-d061c23722d6.png)
looks right

[2021-01-28 07:20] ricknjacky commented on #2779
This is the exact same behavior on my local. And this is erratic.
I guess I didn't explain myself clearly here, I was pointing to 2 stripes of rulers that are expected. Only one of them is being rendered here. One for snare drum and one for kick drum.

[2021-01-28 07:26] meganindya commented on #2779
Right. This is a regression.

[2021-01-29 11:23] meganindya commented on #2609
I've reactivated the GitHub Actions Super-Linter. It'll check for linting problems on updated files.

[2021-01-29 11:39] #2761 closed

[2021-01-29 15:55] meganindya opened #2788 "Look out for issues on the development of the new Music Blocks"
Development of Music Blocks 2 will on [`sugarlabs/musicblocks-2`](https://github.com/sugarlabs/musicblocks-2).

The new architecture will be based on the discussion [Abstracted Architecture](https://github.com/sugarlabs/musicblocks-2/discussions/2).

The development of the engine (or VM) of the new Music Blocks will on [`sugarlabs/musicblocks-lib`](https://github.com/sugarlabs/musicblocks-lib).

L

[2021-01-29 22:15] #2318 closed

[2021-02-01 07:31] Anubhav-developr commented on #2788
Thanks for the information , knowing about the heart of opensource world and its importance i would definetly contribute with some of my skillset that i have .... i like music too much , and this project is aligned with my interest domain.

[2021-02-01 19:07] ricknjacky commented on #2779
fixed in #2793

[2021-02-01 19:07] #2779 closed

[2021-02-04 22:13] kenkirito commented on #2749
can i work on this

[2021-02-05 04:23] ksraj123 opened #2808 "Enhancement to full screen functionality of widgets"
Currently only a few widgets make good use of the extra space in full screen mode. Ideally we want the fullscreen mode to be meaningful for all widgets, however for some widgets fullscreen mode does not bring any benefits and for them the same could be disabled. Since we are moving to music blocks 2 widgets that require too much work to be adapted to the fullscreen mode could be left out.

Widgets

[2021-02-05 04:23] ksraj123 commented on #2808
@meganindya Please share your opinions on this classification. Thanks

[2021-02-05 11:31] endurance21 commented on #2629
@meganindya   i think there is only one /blocks.js that has not been covered yet?
This file seems to be big in size approx 6k lines , is there any other way to distribute and then work on it ?

[2021-02-05 12:20] dhruv-doshi commented on #2629
I'm working on blocks.js.
If needed, we can split

[2021-02-05 14:30] meganindya commented on #2808
The matrix in the Music Keyboard could be appropriately sized. There is free space at the bottom. Should be an easy fix.

[2021-02-05 15:12] endurance21 commented on #2629
@dhruv-doshi  cool !
Let me know if I can help in some way.👍✨

[2021-02-05 15:14] meganindya commented on #2629
@endurance21 perhaps you can try your hand at #2632.

[2021-02-05 15:57] endurance21 commented on #2629
Thanks @meganindya

[2021-02-05 17:32] endurance21 commented on #2632
@meganindya
Is it possible to load modules synchronously using require.js  despite its used AMD module loader ?, mostly i would deny with this.
I think the best would be to have a build system using browserify or webpack and modularise code with  export and import thing ! , It will highly make the codebase ,modular and intuitive to developers out there.

[2021-02-05 17:38] meganindya commented on #2632
Not require.js. I suppose the new `import` syntax would work. This application has a global pattern with GOD objects. I'm not sure if it is practically worth the effort modularizing this since there are circular dependencies. MB is being rebuilt; this issue is only a wrap up move.

[2021-02-05 17:55] endurance21 commented on #2632
if you are refereing to ES6 export and import feature of browsers, one thing we should not forget is that, in this case the js files has to be served using a server !
`export/import` does not work elseway , if we are not using any build system or server  to serve our js file`

`i am not sure if we are using any static or any kind of server to serve our js file to browser or we simply download all

[2021-02-05 18:21] endurance21 commented on #2632
@meganindya  also i am not aware of the term GOD , it would great if you would elaborate about it ?
thanks

[2021-02-05 19:02] meganindya commented on #2632
They're objects that do a little too much of work. They're a common anti pattern. We unfortunately have a few of those. Logo, Blocks, Turtles are our god objects. They store too much state information and handle a lot of manipulation. Even objects of Painter and Singer are heavy in state information. Plus we have global constants and utility functions distributed all around. All these add up.

[2021-02-08 08:34] daksh4469 commented on #2808
Hey @ksraj123 @meganindya, can we add the feature to maximize the widget on Double-Clicking the top-bar of the widget....just as in Windows and Ubuntu systems?

[2021-02-10 04:35] meganindya commented on #2632
Perhaps, my words were cryptic and inconsistent. I've reworded the description. I've assigned myself to this. Follow the progress [Webpack bundling and building](https://github.com/sugarlabs/musicblocks/projects/3).

[2021-02-10 17:09] endurance21 commented on #2632
@meganindya  I am sorry about the reply , I just wrote it down and almost forgot to comment.

It makes sense and I can get to know more as I go along.

[2021-02-10 17:11] endurance21 commented on #2632
@meganindya  I would be very happy to help you out.
Can you tell me where to get started.?

[2021-02-11 11:31] ricknjacky opened #2836 "Current release of MusicBlocks has regression with set instrument."
Behavior of start block on MusicBlocks current release:-

https://user-images.githubusercontent.com/50985033/107630634-cf597d80-6c89-11eb-9cfb-fd3c7a418a48.mp4

`set instrument` malfunctions, irrespective of what instrument we choose it plays notes in only one tune.

However, latest master branch doesn't showcase any such behavior.

https://user-images.githubusercontent.com/50985033/107630899-3677

[2021-02-12 06:06] meganindya commented on #2632
Please use the project link shared above to follow my plans. Since this application will be archived soon. I want to get things sorted in the minimum effort, even if that isn't the best approach in the coding sense. All the progress will be merged from sub-feature branches onto the feature branch [`2632-bundling`](https://github.com/sugarlabs/musicblocks/tree/2632-bundling).

I don't want to go to

[2021-02-12 18:53] ricknjacky opened #2839 "Music Keyboard has a lot of regressions."
In the thread at #2826 @walterbender pointed out one of the regressions that has been there in MusicKeyBoard all this while:-

### 1) Adding pitch/hertz erratic behavior described in detail [here](https://github.com/sugarlabs/musicblocks/pull/2826#issuecomment-777147570).

However there are many other regressions that have gone un-noticed.

### 2) If we add a pitch/hertz block, and ignore the regr

[2021-02-13 11:16] daksh4469 commented on #2808
Hey @meganindya...
Can you check if PR #2841 satisfies what you have mentioned in the above comment?
It is currently generating linting errors and I am working towards linting the file.

[2021-02-13 14:04] dhruv-doshi commented on #2629
Hey @meganindya

I was looking at #2637 and the changes seem to be similar to what I have been editing and the old PR was merged. I would like to know what was the change that has to be made.

Thanks

[2021-02-13 14:37] meganindya commented on #2629
I can't seem to figure where those changes went. The code is still the old one. Weird!

Anyway, if you have a more tried and tested version of the ES6 port, please create a PR. Otherwise, I could copy the changes from #2637.

[2021-02-13 15:19] dhruv-doshi commented on #2629
I would love to contribute the code. It shall be a learning experience for me.

[2021-02-14 11:13] ricknjacky commented on #2839
new block is getting connected to blocks in the clamp but isn't joining them in the clamp blocks.. something is not right.

https://user-images.githubusercontent.com/50985033/107875014-6ff6aa00-6ee3-11eb-8012-3b63da732e71.mp4

[2021-02-14 20:20] walterbender opened #2842 "regression in Lilypond output"
Not sure what has changed but lilypond output is generating crazy code.

[My Project (12).pdf](https://github.com/sugarlabs/musicblocks/files/5978449/My.Project.12.pdf)

![Screenshot from 2021-02-14 15-17-56](https://user-images.githubusercontent.com/3996641/107888000-01601f00-6ed8-11eb-8ca7-04c7842c6579.png)

From this project that plays a simple two-octave scale.

[s.zip](https://github.com/suga

[2021-02-15 04:15] meganindya commented on #2629
Go ahead.

[2021-02-15 17:21] walterbender commented on #2842
The remaining regressions seen are in the scalar step code.

[2021-02-15 17:23] walterbender opened #2846 "regression in scalar step"
As seen in #2842 and in the attached images, scalar step seems to be ignoring octave.

![Screenshot from 2021-02-15 12-20-32](https://user-images.githubusercontent.com/3996641/107977018-6ecb8880-6f88-11eb-82e3-e168cd00878a.png)
![Screenshot from 2021-02-15 12-20-10](https://user-images.githubusercontent.com/3996641/107977019-6ecb8880-6f88-11eb-92a2-b1bb0cf65c42.png)

What was programmed was C3, D3

[2021-02-15 17:45] walterbender commented on #2846
fixed by https://github.com/sugarlabs/musicblocks/commit/752bde122e7a71b337baa0e13b33e09ad20a1a8e
![Screenshot from 2021-02-15 12-40-38](https://user-images.githubusercontent.com/3996641/107978961-b0116780-6f8b-11eb-9a33-41981c84a509.png)

[2021-02-15 18:03] walterbender commented on #2846
Aargh. I introduced a regression to the invert block.

[2021-02-15 18:10] walterbender commented on #2846
Fixed by https://github.com/sugarlabs/musicblocks/commit/7e9c5c31556d043a2fbd315f9e4bd81faa3bb73d

![Screenshot from 2021-02-15 13-09-32](https://user-images.githubusercontent.com/3996641/107980959-32e7f180-6f8f-11eb-9131-aef9c750f7f9.png)

[2021-02-15 18:10] #2846 closed

[2021-02-15 18:12] walterbender commented on #2842
The scalar step regression is fixed.
![Screenshot from 2021-02-15 12-40-38](https://user-images.githubusercontent.com/3996641/107981104-79d5e700-6f8f-11eb-805e-3a6059899e5a.png)

[2021-02-15 18:12] #2842 closed

[2021-02-15 18:17] #2756 closed

[2021-02-15 22:39] walterbender commented on #2836
Can you please describe how to reproduce this bug?

[2021-02-15 22:46] ricknjacky commented on #2836
It's on musicblocks.sugarlabs.org

The start block, just at the start...with set instrument in it, reproduces this error.

You can also see video titled regression.mp4 above in my description of the bug.

[2021-02-15 23:00] walterbender commented on #2751
This is really weird. Something must be messing up while blocks.

[2021-02-17 16:02] ricknjacky commented on #2839
@walterbender there seems to be one more regression that was in commits that have solved most of the above mentioned regressions.

Adding a new pitch back to back generates erratic behavior. The clamp just freezes upon doing so.

https://user-images.githubusercontent.com/50985033/108230843-2f0ec780-7167-11eb-98cd-c31f5400fcf3.mp4

Any heads up on what might be causing this?

[2021-02-17 16:58] ksraj123 commented on #2839
Hey @ricknjacky, Thanks for pointing this out. Apparently there was another regression with adding pitch blocks consecutively i.e. the same pitch in the next octave got added easy time we added a pitch.

The video below shows behaviour before the changes. Please notice sol 5 gets added and then sol 6 which is not the correct behaviour. I think both of these were present prior to the recent changes

[2021-02-17 16:58] ricknjacky commented on #2839
A minor fix, @ksraj123 has proposed the same in 60737e , issuing a PR

[2021-02-17 16:58] ricknjacky commented on #2839
oops....

[2021-02-20 19:52] walterbender commented on #2839
I think these are all addressed now by https://github.com/sugarlabs/musicblocks/pull/2849

[2021-02-20 19:52] #2839 closed

[2021-02-20 19:55] walterbender opened #2850 "plugin palette won't load"
It seems that lots of arrays that the plugin mechanism uses have turned to const. There maybe other reasons as well why plugins palettes don't display. It seems the plugin blocks themselves are being properly defined.

[2021-02-21 01:48] #2850 closed

[2021-02-26 18:11] pikurasa opened #2858 "Temperament Export Not Working"
When I try to export a new temperament on Master, I get the following error (and no new blocks):

[code]

[2021-02-26 18:26] pikurasa opened #2859 "Temperament Notation Convention (as Default)"
Where there are notation conventions that we can use, they should be the default for the pitch name of a "custom temperament"

@wolftune has done some very good research, for example, into a 41 equal division of the octave.

Info available at:
https://en.xen.wiki/w/The_Kite_Guitar#About_41-EDO
https://en.xen.wiki/w/Ups_and_Downs_Notation

I would describe it as "all the beauty of Just Intonation,

[2021-02-26 19:22] wolftune commented on #2859
The sound is super varied, the blues example is just one bit, it can be any style, so much to come still for examples. But anyway, that's kinda side issue. Ups and downs don't have a *sound* they are a nomenclature. ;)

[2021-02-27 06:21] ricknjacky commented on #2858
bug was introduced in 97fac688a82c06444a1174541e5a3db4069601d6
have committed the fix on my local, will create a PR soon

[2021-02-27 14:02] pikurasa commented on #2859
I added a sound example, so people have a real-world reference.

[2021-02-27 22:44] walterbender commented on #2566
Nice job: https://github.com/sugarlabs/musicblocks/pull/2860

[2021-02-27 22:44] #2566 closed

[2021-02-28 08:09] ricknjacky commented on #2836
Can't reproduce this error now......

[2021-02-28 08:09] #2836 closed

[2021-02-28 23:35] walterbender commented on #2858
Should be fixed by #2862

[2021-03-01 08:13] ricknjacky opened #2864 "Sampler widget regressions."
Recently a new widget: sampler was added to MusicBlocks. The readme states:

To test this, I loaded the widget and on inception it generated errors.

1. A tone was played upon loading the sampler by clicking it.

https://user-images.githubusercontent.com/50985033/109467337-0ce34680-7a91-11eb-8fe6-fb668d2596e4.mp4

As we can see above, there were errors in the console as well.

2. Upon loading the

[2021-03-01 08:16] ricknjacky commented on #2864
@walterbender please do share your thoughts on this.

[2021-03-01 16:25] pikurasa commented on #2858
I get the following error, I cannot move the "define temperament", and I do not see the new "custom pitch" block.

Error:

[code]

(I get one of these for each pitch)

Tested with 13 equal division, and 41 equal division.

![Screenshot at 2021-03-01 11:03:00](https://user-images.githubusercontent.com/13454579/109524746-da305280-7a7e-11eb-90cd-42c938d6f4b2.png)

[2021-03-01 18:01] walterbender commented on #2858
Hmm. I am seeing the custom pitch block and was able to use it (13 tone equal spacing)

![Screenshot from 2021-03-01 13-00-32](https://user-images.githubusercontent.com/3996641/109538523-2e8efe80-7a8e-11eb-86d9-1ea03633e91b.png)

But I did get a a run-time error:

![Screenshot from 2021-03-01 12-59-26](https://user-images.githubusercontent.com/3996641/109538599-46668280-7a8e-11eb-835c-3662fde0c14d

[2021-03-01 18:18] #2858 closed

[2021-03-01 22:48] walterbender commented on #2864
The widget seems to work reliably for me. But using a sample is the set instrument block is very unstable. If I load a sample (see attached oboe.wav) it will play for a couple of notes and then fail in tone.js: Error: buffer is either not set or not loaded

The export from the widget itself never works with set instrument.

[2021-03-01 23:44] walterbender commented on #2864
Upon further examination, it all seems to work fine with Chromium (v88) but not with Firefox (v86).
@ricknjacky what browser were you using?

[2021-03-01 23:45] walterbender commented on #2864
@liamnorm ^^

[2021-03-02 04:53] ricknjacky commented on #2864
I was using Brave (chromium based)
I tested again, I still get those same errors as described in the videos above.

[2021-03-02 04:59] ricknjacky commented on #2864
Is there a threshold on how long the duration of sample.wav should be? the sample that I have shared above is ~33seconds long

And if threshold is not the concern, any idea as to why it's not working fine?

[2021-03-02 05:49] ricknjacky commented on #2864
Turns out, this is true. Although I do get errors in the console, but..I was able to use my new sample.wav audio of ~1sec duration work perfectly fine here.

Errors in the console, generated while creating the sampler block and eventually playing it with set instrument start from fetch API to the end in the console capture below.
![image](https://user-images.githubusercontent.com/50985033/10960406

[2021-03-02 15:45] pikurasa commented on #2858
It is suppose to also make a new (input) custom note block...

oh, now I see it!!

It appears very low on the palette. I think it should be bumped up.

It used to be the third one on the pitch palette.

[2021-03-02 15:50] walterbender commented on #2858
Yes. That as been a problem for some time now.
Also, under the hood, it annoys me that OCTAVERATIO is all caps like a const when it is not a const. That was the source of a regression several times now (although I also suspect someone run the --fix option using eslint -- never a good idea.)

[2021-03-02 16:16] ricknjacky commented on #2858
+1 to this.

97fac688a82c06444a1174541e5a3db4069601d6 is the commit where this `--fix` operation was performed, I think we should investigate each file changed here, as maybe in future it can give rise to inconsistencies like it did here in temperament's case.

Your thoughts on this?

[2021-03-02 16:19] pikurasa opened #2865 "Custom Naming for Temperament Results in "Not a Valid Pitch Name""
It is possible to use the "define temperament" to specify new pitch names. This is good.

The new names are getting piped over to the "custom pitch" block. This is also good.

However, when the user selects the newly named pitch on the "custom pitch" block pitch wheel, the user gets a "Not a Valid Pitch Name" error.

See the following:

![Screenshot at 2021-03-02 11:14:50](https://user-images.gith

[2021-03-02 16:42] pikurasa opened #2866 "Custom Pitch not working in Phrase Maker"
[code]
These are the things I tried. Phrase Maker does not seem to work with "Custom Pitch" blocks at the moment.

![Screenshot at 2021-03-02 11:33:26](https://user-images.githubusercontent.com/13454579/109682097-1978a500-7b4c-11eb-9733-9ca2cc4c675a.png)
![Screenshot at 2021-03-02 11:32:28](https://user-images.githubusercontent.com/13454579/109682099-1a113b80-7b4c-11eb-9ba8-afe9530c3da2.png)

[2021-03-02 16:47] pikurasa opened #2867 "Octave Space Adjustment works, but Naming Above 1st Octave Does Not"
I was pleasantly AMAZED that the temperament widget could calculate a different octave space, which I need to recreate this special tuning.

Kind of a "corner case", but everything above the first octave is given a name with cents in relation to C--and only C. It should be to the nearest 12EDO pitch like it is doing for the first octave.

[41EDO-over-2-octave.html.zip](https://github.com/sugarlabs

[2021-03-02 17:46] walterbender commented on #2858
At this point, I think we have prob. surfaced all of the problematic changes.

[2021-03-02 17:54] wolftune commented on #2859
incidentally, it would be ideal if the up/down naming can be shown *with* the cent values (ideally the cent values as an option that could be shown or hidden).

[2021-03-02 18:28] ksraj123 commented on #2866
@pikurasa Cannot reproduce this issue. PhraseMaker seems to be working fine. Am I doing something different? (please check the short video below). Can you please check again on your end? Thanks

https://user-images.githubusercontent.com/39027928/109696192-c71e9f00-7bb2-11eb-92bb-c49206ebb220.mov

[2021-03-02 20:02] walterbender commented on #2858
@pikurasa I moved the custom pitch block up.
![Screenshot from 2021-03-02 15-02-11](https://user-images.githubusercontent.com/3996641/109707619-5f436680-7b68-11eb-9c9b-af5b1f966d23.png)

[2021-03-06 01:29] pikurasa opened #2869 "Featured Image, Project Name, and Short Description for Search Engines, etc."
Music Blocks links are beginning to get captured by search engines. Also, linking to MB projects in apps such as matrix will grab some important data that we are not yet making available.

I do not know the technical terminology, but what we seem to need is:
1. Featured Image
2. Project Name
3. Short Description

Otherwise, linking to MB--either from a search engine or an app will look like
![Scre

[2021-03-08 20:13] ksraj123 commented on #2866
@walterbender Can you please share some insights into what might be different here and how to reproduce this issue? I can not reproduce #2867 as well. I tried using the same settings in the temperament widget that results in a define temperament stack with the same frequencies but different pitch names where for higher frequencies cents are not in relation to only C unlike what's mentioned in the

[2021-03-09 05:48] daksh4469 opened #2872 "Blocks lose their color on hovering over them"
Most of the blocks are changing their native color to Grey color just on hovering on them and can never be recovered without saving and reloading. This is happening for almost all the blocks except the widget ones and the start block.

https://user-images.githubusercontent.com/60084414/110424528-f3618080-80c8-11eb-8b24-be8cdae89dd0.mp4

[2021-03-09 06:17] daksh4469 commented on #2632
Hi @meganindya, I would like to help with this. Where should I start?

[2021-03-09 15:13] pikurasa commented on #2867
@ksraj123 I read your https://github.com/sugarlabs/musicblocks/issues/2866#issuecomment-793043394 comment. It is related to this issue, so it should be put here.

The step you missed is this: "Change Octave Space to `4:1`"

I will add a list of steps to my original report.

[2021-03-10 14:02] aryamantodkar commented on #2872
Hi @daksh4469 can I work on this issue?

[2021-03-10 14:45] abhishekkumar08 commented on #2632
Hello @meganindya @daksh4469 I would also like to work on this issue. Mind if we could share the work together as I think big changes have to be made for this.

[2021-03-10 18:51] abhishekkumar08 commented on #2609
Hey @meganindya can I make a PR to prettify all the codebase, at once, it would not induce any breaking changes, as I'm just formatting the whole code, so it might be easy to review that. What's your opinion?

[2021-03-10 23:52] Arjit222830 opened #2875 "Mobile App Compatibility Issue"
The mobile app version is not responsive. There are lots of bugs related to UX and responsiveness of the app

[2021-03-11 00:34] Arjit222830 opened #2876 "Expand Icon Hover Compatibility"
Expand Icon, on right corner, doesn't show its name on hover while rest of the two icons- (Grid & Clean) shows it

https://user-images.githubusercontent.com/43830893/110717718-992eff80-822f-11eb-9ab9-f6d9bd0fe081.mp4

[2021-03-11 03:00] abhishekkumar08 commented on #2876
@Arjit222830 that's a tooltip issue, I could a PR make for that. Please see this @meganindya .

[2021-03-11 04:26] meganindya commented on #2876
Go ahead. Please check if a tooltip string already exists but it isn't showing.

[2021-03-11 04:27] Arjit222830 commented on #2876
@meganindya Sir, I wanted to work on this issue

[2021-03-11 04:28] meganindya commented on #2609
Please give a count of the number of files that'll be affected.

[2021-03-11 04:38] daksh4469 commented on #2876
I have already fixed this. @Arjit222830

[2021-03-11 04:40] daksh4469 commented on #2876
Also, currently, it shows the tooltip of Expand icon on hover but not of the Collapse icon as shown in the video attached.

[2021-03-11 04:42] daksh4469 commented on #2876
Yeah, the tooltip existed already but it was not showing as the `__makeCollapseButton()` method was called after the `__makeExpandButton` method whereas initially, the icon is of Collapse functionality.

[2021-03-11 09:44] #2876 closed

[2021-03-11 12:01] abhishekkumar08 commented on #2609
For the first commit I would be pushing the changes in the js folder for the files.
[code]
That's a total of 19 files.

[2021-03-11 12:14] meganindya commented on #2609
Go ahead ... create a PR

[2021-03-11 12:25] walterbender commented on #2864
We have confirmed that this problem is due to the sample not being fully loaded into the synth before trying to play the sample. Liam is working on a fix.

[2021-03-11 12:26] walterbender commented on #2864
(A simple way to confirm our hypothesis is to put a rest note between loading the sample and playing the sample.)

[2021-03-11 18:08] walterbender commented on #2864
Should be fixed by https://github.com/sugarlabs/musicblocks/pull/2868

[2021-03-11 18:08] #2864 closed

[2021-03-11 18:30] abhishek-geek commented on #2875
Hey @Arjit222830
Can you point out some specific bugs to start correcting. I would like to have a look at it.

[2021-03-12 12:18] souptik4572 commented on #2629
I would love to contribute by converting the functions to ES6 format.

[2021-03-13 12:47] daksh4469 commented on #2872
Is this intended to happen? @walterbender or should block change color only when they are disconnected?
Please have a look at this.
Thanks

[2021-03-13 14:35] abhishekkumar08 opened #2888 "Adding prettier as a dev dependency"
## Description
We can better add prettier to the repo: https://www.npmjs.com/package/prettier
So whenever we will run ```npm run format```, It will automatically format the whole code.
I can make a PR for that, if approved.

**PS: The repo doesn't have a issue template. Can I create on the same?**

[2021-03-13 17:30] #2888 closed

[2021-03-13 19:58] ksraj123 commented on #2866
@pikurasa We still couldn't reproduce this exact issue but we came across different issues when using the phrase maker with custom pitches in custom temperament which are documented and fixed in #2885 . Can you please check if that PR fixes this issue as well on your end. Thanks

[2021-03-13 21:26] walterbender commented on #2872
I cannot get your video to play, but we purposely make disconnected blocks gray to let you know that they are disconnect.

[2021-03-13 21:26] #2872 closed

[2021-03-14 06:09] khushal87 commented on #2767
@meganindya Any pending work which I can pick up here and improvise/work on?

[2021-03-14 07:04] daksh4469 commented on #2808
Hi @ksraj123, can we also enhance the full-screen functionality of the phrasemaker widget by utilizing the blank space just as in musickeyboard widget?
Please share your opinion on this.
Thanks.

[2021-03-14 11:08] ksraj123 commented on #2808
@daksh4469 We could do that but I don't think there's really a need for that because unlike the music keyboard, the widget window for phrasemaker expands to accommodate all the rows n columns even in non-fullscreen mode, which makes the fullscreen mode useful for very few use cases where the matrix is too large to fit on the screen. Scaling the cells themselves in fullscreen mode would not be a go

[2021-03-14 12:00] khushal87 commented on #2808
@ksraj123 Any widget which I can pick to work on? Thanks.

[2021-03-14 12:34] ksraj123 commented on #2808
@khushal87 Since this issue is somewhat old, most of the widgets are done. Either the fullscreen functionality is already implemented, or is under review or is lying in local awaiting some finishing touches. Will be opening PRs for pitchDrumMatrix and temperament soon as they are almost done, after the current PRs are merged. Please feel free to explore MusicBlocks and look for issues. Thanks

[2021-03-14 12:39] khushal87 commented on #2808
I checked widgets like "custom mode" and "tempo" and they seem unscaled in full-screen mode. Are they ought to be the same?

[2021-03-14 12:41] ksraj123 commented on #2808
`custom mode` is currently under review in PR #2894 and for the `tempo` fullscreen mode was disabled for the reasons mentioned in the starting comment of this issue.

[2021-03-14 12:43] khushal87 commented on #2808
Okay. Thanks, will check some other issue.

[2021-03-14 23:55] jhones212 commented on #2346
@walterbender - I apologize if this is redundant but I want to make sure I proceed correctly. I have started a table with fields such as the name of the example, a link to the example, last updated, creation date, tags, and description. I know you mentioned including dimensions from the 'statistics panel' but I was not sure where to find that. Is this a good start?

[2021-03-15 00:35] walterbender commented on #2346
If you click on the stats button on secondary control panel for any project you'll see a display based on the types of blocks used. I think that could be a better indication of what an example is about than things like date modified...

[2021-03-15 01:23] jhones212 commented on #2346
Yes, sorry I found this immediately after I posted the original question and thats why I deleted the comment. I am working on this now and should have a pull request in the next few days. Thank you for clarifying!

[2021-03-15 02:06] walterbender opened #2896 "NaN appearing in stats"
There seems to be a regression with the stats.
![Screenshot from 2021-03-14 22-02-30](https://user-images.githubusercontent.com/3996641/111094272-51e78e00-8511-11eb-9496-9904409738e6.png)

The hertz is not calculated properly.

[2021-03-15 03:11] daksh4469 commented on #2896
Also, once the Statistics widget is opened and closed, it cannot be re-opened currently without reloading musicblocks. Can you please verify this? @walterbender

https://user-images.githubusercontent.com/60084414/111098712-1331f200-856a-11eb-9201-9e6aac7fd4c0.mp4

Also, the hertz is not showing NaN in the above video. Can you please tell how to reproduce this?
Thanks

[2021-03-16 12:05] JanitChawla commented on #2629
Hey @meganindya
Is there any changes left to made would love to contribute

[2021-03-18 12:41] pmccabe5 commented on #2346
I have begun work on the `README` in the examples folder. Please see the following PR and I am open to feedback #2904

[2021-03-19 21:32] pikurasa opened #2907 "Projects on Planet get Clobbered (overwritten) | The underlying issue is that a new name is not created on "New Project""
Today, a student saved a project to the planet, which clobbered a previous project.

I think that the underlying issue is, when the user creates a "new project" by clicking the "New Project" icon on the main scree, it does not always make a new name for the new project.

I have seen this in the past, so I do not think it is a "regression".

That being said, it hardly ever becomes problematic as th

[2021-03-23 05:53] CormacDC commented on #2346
I have begun work on the `README` in the examples folder along with pmccabe5 and the rest of our team. Please see PR [#2909](https://github.com/sugarlabs/musicblocks/pull/2909) for my contribution to the `README`. You'll see I named mine `README_1` because I wasn't sure if it would overwrite pmccabe5's file if pulled. Any and all feedback is welcome.

[2021-03-24 02:12] jhones212 commented on #2346
@walterbender Is this what you had in mind as far as blocking it out? I have been working with @pmccabe5 and @CormacDC on this issue and this is how we have arranged it so far. Please let me know what you think and we can proceed/adjust.

[2021-03-24 10:52] KaranSingh1301 opened #2913 "Bottom Buttons (Home, Collapse, Expand etc.) UI Enhancement"
To get familiar with the codebase I was looking for some UI fixes. I encounter after hovering over the buttons at the bottom the shape of text field was not correct as compare to other places.

Before:
![Screenshot (412)](https://user-images.githubusercontent.com/70521663/112298364-f067b200-8cbc-11eb-9f25-ae5135f036d9.png)

After:
![Screenshot (413)](https://user-images.githubusercontent.com/70521

[2021-03-24 10:52] KaranSingh1301 commented on #2913
I have raise the PR for the same.

[2021-03-25 08:05] KaranSingh1301 commented on #2629
hello @meganindya
js>activity.js is not mention in the checkbox but still have eslint error and do not have class  components. Can I start with it?

And sir as you mention about MB.2 , will it be have a new structure of code or addon over existing architect of musicblocks. Any of the framework is also be taken into consideration like React?

[2021-03-27 16:11] #2913 closed

[2021-03-30 13:30] ghostcoder12 commented on #2346
Hello, I created the following  pull request #2919. Please let me know if anything else needs to be added.

[2021-03-30 17:34] Ayush-Khandelwal-007 commented on #2192
Please allow me to further clean it up in the remaining files.

[2021-03-30 17:43] Ayush-Khandelwal-007 commented on #2629
I would like to work on the remaining files @meganindya. Should I start working on it?

[2021-03-31 08:11] Ayush-Khandelwal-007 opened #2920 "Mouse is not working"
https://user-images.githubusercontent.com/59086855/113111426-d3376400-9225-11eb-8782-e60fb7fa44d7.mov

I just set up the project on my pc and was going through it. I realized the mouse is not working or if it doesn't have any work.

My PC-MacBook Air (13-inch, 2017),8 GB 1600 MHz DDR3
Browser - Google Chrome Version 89.0.4389.90 (Official Build) (x86_64)

[2021-04-11 18:13] dflowcodes commented on #2907
Hey, taking a look at this for a school project. We have recreated the issue and will get working on finding a good fix.

[2021-04-12 18:26] alfredhb commented on #2869
Taking a look at this for a school project. I've found that [OGP](https://ogp.me/) is used by search engines and fb / whatsapp for serving image, name, description etc.

Adding these would involve injecting some <meta> HTML objects into the project pages themselves. I'll work on this and make a pr for it

[2021-04-13 20:57] alfredhb commented on #2869
After research and some fiddling, I've concluded that this isn't possible without extreme structural refactoring. Facebook and other crawlers don't allow meta tags (which is what provide the desired data) to be updated dynamically i.e. through js and can only pull from static HTML pages. This would mean that in order to get the desired data from a shared MB link, that link would need to point to a

[2021-04-16 21:35] dflowcodes commented on #2907
Submitting a pr with a fix now

[2021-04-20 15:16] dflowcodes opened #2924 "Pull Request linter marked every variable as undefined in activity.js"
My partner and I made a recent PR to address issue #2907, but the changes failed because eslint marked every variable (there are a lot) in the activity.js file as undefined (which is not accurate). We have tested rather extensively and the changes do indeed fix the mentioned issue without affecting other functionality. The only changes were too the _afterdelete function. Could anyone help us under

[2021-04-21 08:50] daksh4469 opened #2925 "Running Project does not stop on opening a New Project"
There is no constraint on opening a new project while the current project is running. Hence, opening a new project while the current project is running produces errors in the new project with arrows pointing to the locations of blocks of the previous project.
This is demonstrated in the following video:

https://user-images.githubusercontent.com/60084414/115522706-f9db3e80-a2a9-11eb-95bb-9c587186e

[2021-04-21 08:51] daksh4469 commented on #2925
@walterbender @meganindya Please share your thoughts on this. Thanks.

[2021-04-21 10:58] walterbender commented on #2925
Probably a force stop would make the most sense.

[2021-04-24 07:10] AtharvaParkale commented on #2875
I would like to work on this issue.

[2021-04-26 21:15] pikurasa opened #2928 "Text Block connected to Custom Temperament Cannot be Reconnected"
1. Create Custom Temperament
2. Remove Text (or try to type new text into) text block connected to `Custom Temperament`
3. Block will remain "sticky" to mouse cursor and will not reconnect.

Tested on `650795a2... add Code Snippet tag` on Chromium `Version 87.0.4266.0 (Developer Build) (64-bit)`

![Screenshot at 2021-04-26 17:09:38 Custom Temperament Problematic Text Block](https://user-images.git

[2021-04-27 05:22] daksh4469 commented on #2928
I added a check to fix this error in #2929. However, while trying to reproducing this issue, after altering the text in the Text block, it did not disconnect itself from the `define temperament` block. Only once I disconnected it "manually", it generated the aforementioned error and the block remained sticky to the mouse cursor as mentioned.

[2021-04-27 08:00] ksraj123 commented on #2928
For define temperament the main issue is that the argument block could not reconnect. Other issues like the console error and stickiness of the block to the cursor are present is other blocks as well and were probably caused by some checks removed by mistake in https://github.com/sugarlabs/musicblocks/commit/d4811babc49737dffd46ad4426759e245aaf7054#

Here is a video demonstrating similar issues wi

[2021-04-29 19:33] pikurasa commented on #2924
@meganindya @walterbender have you looked into this yet?

It would be nice to fix this one bug. It is a bummer when projects are overwritten.

[2021-04-29 19:43] pikurasa opened #2931 "Make Define Temperament and Define Mode Collapsible"
It would be nice to be able to collapse the "Define Temperament" and "Define Mode" blocks as generated by their respective widgets. Especially the "Define Temperament" block can get crowded with many blocks.

![Screenshot at 2021-04-29 15:39:58](https://user-images.githubusercontent.com/13454579/116608747-908aa980-a901-11eb-827f-e436edeb3fc3.png)
![Screenshot at 2021-04-29 15:39:04](https://user-i

[2021-04-29 20:37] daksh4469 commented on #2931
I agree it would be nice to have the define temperament blocks, collapsible.

https://user-images.githubusercontent.com/60084414/116614736-f1dd6780-a957-11eb-99b9-4bee6be6f7c9.mp4

Just to make sure, is this the desired behavior?
Also, what should be the name of the collapsed define temperament block? In the referenced video, it is just "define".
Please share your suggestions and feedback.
Thanks.

[2021-04-29 21:44] walterbender commented on #2924
Please ignore the eslint errors in activity.js (and in blocks.js).

[2021-04-30 03:31] pikurasa opened #2933 "Very Low Pitches Cause Program to Stop"
I assume the log here will give indication as to the cause of the issue.

[code]

Also, if you want to know what I was doing, please see:
[Remix of (Diversion) Remix of Pythagorean Lattice (Step 1).html.zip](https://github.com/sugarlabs/musicblocks/files/6402832/Remix.of.Diversion.Remix.of.Pythagorean.Lattice.Step.1.html.zip)

I think we should either 1) fill the time with silence, 2) play the sam

[2021-04-30 11:24] walterbender commented on #2933
I will look at the code, but I think this is error not caused by the freq of the sound being played.

Re #2, it is largely dependent on the sound system being used (and the ears being used to listen)
Re #3, see #2.

So I am not sure of the best approach. Maybe some way to set lowest/highest sound?

[2021-04-30 11:50] walterbender commented on #2931
I think "temperament" and "mode" would make sense.

[2021-05-02 22:17] pikurasa opened #2935 ""Show" is simultaneous with Note, but "Print" is not (for current pitch)"
Using "Show" block to print text does as it should and prints the "current pitch".

![Screenshot at 2021-05-02 18:06:09](https://user-images.githubusercontent.com/13454579/116829521-1c0a7180-ab72-11eb-9178-352bb91cbfae.png)
![Screenshot at 2021-05-02 18:05:11](https://user-images.githubusercontent.com/13454579/116829522-1ca30800-ab72-11eb-92e0-66e44140e121.png)

However, "Print" is always one note

[2021-05-02 22:18] pikurasa commented on #2935
Project File:
[Remix of Remix of Virtual Whiteboard with Alphabet.html.zip](https://github.com/sugarlabs/musicblocks/files/6412359/Remix.of.Remix.of.Virtual.Whiteboard.with.Alphabet.html.zip)

[2021-05-03 21:05] pikurasa opened #2936 "Y-to-pitch-converter output incorrect when using "set key""
Right now, Y-to-pitch-converter is not accounting for key/mode set by "set key".

I tried to use my "virtual whiteboard" program to write something in E minor for a student, but since the converter does account for input in "set key", both the pitch output and the printed output is incorrect.

Do we need to bother with adding accidentals in the key signatures? No, I do not think that would be prio

[2021-05-05 00:52] pikurasa opened #2939 "Print <-- Current Pitch does not Concat with Text String when inside a Note"
Perhaps this issue is related to https://github.com/sugarlabs/musicblocks/issues/2935 , however https://github.com/sugarlabs/musicblocks/pull/2938 does not fix it.

If you have Print <-- Current Pitch and concatenate a text string, the program fails completely.

Interestingly, the issue only occurs with the Print <-- Current Pitch block is inside of a note. Outside of a note, it works.

![Screensh

[2021-05-05 01:02] pikurasa opened #2940 "Transpose (in Hz) by Ratio"
After experimenting with different systems of tuning, I think it would be fun and educational to have a "Transpose by Ratio" block.

Its "rhythm doppelganger" is the "Multiply Note Value Block".

Any and all pitches inside of the clamp would be operated on via transposition by ratio, affecting the Hz value of the pitch.

Example:

Melody of `B, A, G` operated on by "Multiply Note Value Block" with

[2021-05-05 05:32] daksh4469 commented on #2939
I tried fixing this by adding a check for undefined arguments in the `doPlus` method and it worked. The end result is shown in the video below.

https://user-images.githubusercontent.com/60084414/117100325-1343b680-ad91-11eb-9008-cd96f0000dda.mp4

Can you please confirm if this is the desired behavior? @pikurasa
Thanks.

[2021-05-10 02:12] pikurasa opened #2941 "`Mouse Name` Block Connects to Multiply Block, but not Divide"
I thought it might be clever to use Mouse Name for the Harmonics in this Project (i.e. "1 = fundamental, 2 = next harmonic, etc.") where the name is also the number used in the arithmetic.

[Remix of Tone-Creation-Draft0.html.zip](https://github.com/sugarlabs/musicblocks/files/6448988/Remix.of.Tone-Creation-Draft0.html.zip)

I found that "Mouse Name" Block can be connected to multiplication, but n

[2021-05-10 08:25] ksraj123 commented on #2941
The "mouse name" block can be made to connect with the divide block easily,

<img src="https://user-images.githubusercontent.com/39027928/117627799-24783300-b196-11eb-9cc2-660d21a24f7f.png" width="500px" />

However, the issue is that connecting "mouse name" block with arithmetic operators like either multiply or divide, results in a Not A Number, NAN error.

<img width="720" alt="Screenshot 2021-

[2021-05-10 15:23] pikurasa commented on #2941
You should change the Mouse Name to a number, like "1"

Also, we do have a harmonic block. It is called "partial".

I cannot seem to connect the "mouse name" as you are in the image. I am on commit `HEAD is now at 34dcfbc6... Merge branch 'liamnorm-master'`

[2021-05-10 16:06] ksraj123 commented on #2941
@pikurasa Sorry I misunderstood, I was under the impression that we wanted to name mouse after the names of the harmonics like "fundamental", "second" etc. Thanks for clarifying things.
The mouse name could connect to divide after local changes, Sorry for the confusion. But it still results in NaN with current implementation with numeric string for mouse names.

<img width="500" alt="Screenshot 20

[2021-05-11 20:29] pikurasa commented on #2941
Huh...

I am confused because this project https://musicblocks.sugarlabs.org/index.html?id=1610061192594060&run=True that @walterbender created uses this technique...

[2021-05-13 16:02] #2907 closed

[2021-05-14 14:50] walterbender commented on #2941
This is fixed by https://github.com/sugarlabs/musicblocks/commit/c22210bd95e32826e36329d2597a66bbbb4687cf

[2021-05-14 14:50] #2941 closed

[2021-05-14 14:52] walterbender commented on #2935
Part of https://github.com/sugarlabs/musicblocks/pull/2943

[2021-05-14 14:52] #2935 closed

[2021-05-14 14:53] walterbender commented on #2925
fixed as part of https://github.com/sugarlabs/musicblocks/pull/2943

[2021-05-14 14:53] #2925 closed

[2021-05-14 14:53] walterbender commented on #2924
These lint errors were fixed in https://github.com/sugarlabs/musicblocks/pull/2943

[2021-05-14 14:53] #2924 closed

[2021-05-14 14:54] walterbender commented on #2896
Fixed as part of https://github.com/sugarlabs/musicblocks/pull/2943

[2021-05-14 14:54] #2896 closed

[2021-05-14 15:12] walterbender commented on #2939
fixed as part of https://github.com/sugarlabs/musicblocks/commit/ae7ce9112a2173d4506e84900b6df4ab5dab0da2

[2021-05-14 15:12] #2939 closed

[2021-05-14 15:14] walterbender commented on #2931
fixed as part of https://github.com/sugarlabs/musicblocks/commit/ae7ce9112a2173d4506e84900b6df4ab5dab0da2

[2021-05-14 15:14] #2931 closed

[2021-05-14 16:54] daksh4469 commented on #2939
I think this issue still persists. I have a possible fix (#2946) for this but was waiting for confirmation on my earlier comment.
Please review the patch @walterbender.
Thanks.

[2021-05-15 01:45] walterbender commented on #2920
Sorry to take so long getting back to you. I am not sure what you expect the mouse to do. Try putting a forward block inside one of the note blocks. The mouse should move while the note plays.

[2021-05-15 01:47] walterbender commented on #2875
can you be more specific?

[2021-05-15 01:51] walterbender commented on #2867
Is this fixed?

[2021-05-15 10:43] #2751 closed

[2021-05-15 10:44] walterbender commented on #2751
The While block is working again. Please retest when you have a chance.

[2021-05-15 12:48] pikurasa commented on #2867
When I tested the PR, it worked (https://github.com/sugarlabs/musicblocks/pull/2873#issuecomment-797599321)

However, it is not working now on the Master branch. (Tested from https://sugarlabs.github.io/musicblocks/)

[2021-05-15 13:50] willrico opened #2947 "Can't pull blocks up (hit a wall)"
Loaded this MusicBlocks program:
[Dimensions sounds.html.zip](https://github.com/sugarlabs/musicblocks/files/6487497/Dimensions.sounds.html.zip)

When trying to drag blocks up, hit a wall:
https://user-images.githubusercontent.com/36704980/118363506-a8e5ff80-b562-11eb-9891-e2fef7aabbbb.mov

OS: macOS 11.3.1
Browser: Chrome Version 90.0.4430.212 (Official Build) (x86_64)

[2021-05-15 14:26] willrico opened #2948 "Can't get to right-click menu"
Pulled a box block out of a start menu. Right clicked because I wanted to duplicate the block. Right-click menu didn't appear.

May work intermittently because I left the tab, came back to it, and it worked. But only one time.

<img width="300" alt="Screen Shot 2021-05-15 at 10 26 35 AM" src="https://user-images.githubusercontent.com/36704980/118364815-0a5c9d00-b568-11eb-99b8-37cde57dd737.png">

O

[2021-05-15 18:30] Ayush-Khandelwal-007 commented on #2920
Ohhh okay. Thank you for the assistance.

[2021-05-15 18:31] #2920 closed

[2021-05-16 00:01] walterbender commented on #2947
Should be fixed by https://github.com/sugarlabs/musicblocks/commit/85a81fb8f39c5806d5c97ee60646aee6f4f928f4
Please confirm.

[2021-05-16 00:28] walterbender commented on #2948
please test...

[2021-05-17 12:02] pikurasa opened #2949 "Cannot Create Custom Pitches"
(Tested from https://sugarlabs.github.io/musicblocks/ )

Bug Found when Naming Custom Temperament Pitches:

1.    Create a Custom Temperament (e.g. 5 equal divisions) and save it
2.     Change the text of one of the pitch names.
3.     Click on "Define Temperament"
4.     Result: Custom Pitch Block will fail to show any pitches and becomes "sticky"

[code]
![Screenshot at 2021-05-17 07:58:43](http

[2021-05-17 15:39] willrico commented on #2948
Tested a few times and it worked each time.

[2021-05-17 15:39] #2948 closed

[2021-05-18 01:47] pikurasa opened #2950 "Error Found when using "Arbitrary" Feature in Temperament Widget"
temperament.js:1177 Uncaught TypeError: this._refreshInnerWheel is not a function
    at HTMLInputElement.docById.oninput (temperament.js:1177)

![Screenshot at 2021-05-17 21:43:34](https://user-images.githubusercontent.com/13454579/118577900-38550380-b759-11eb-85ec-e2077bedc48c.png)

[2021-05-18 02:46] pikurasa commented on #499
I imagine this block to be a clamp block, which affects pitches contained within (like a "transpose by cents" block).

[2021-05-18 02:48] pikurasa commented on #499
And it would also be nice to have a block(s) that measures cents, I think.

[2021-05-18 16:15] #2950 closed

[2021-05-18 17:04] walterbender commented on #2949
fixed by https://github.com/sugarlabs/musicblocks/commit/135efff512642e9ac6bbe8f4c1419fd9e227c4a8

[2021-05-18 17:04] #2949 closed

[2021-05-18 17:04] #2947 closed

[2021-05-18 17:07] #2928 closed

[2021-05-18 17:08] #2865 closed

[2021-05-18 17:08] #2750 closed

[2021-05-21 21:24] pikurasa opened #2951 "Error Encountered when using Set Instrument = Sine"
This project runs (https://musicblocks.sugarlabs.org/index.html?id=1621305524967438&run=True) fine when Set Instrument is set to Piano, but fails with the following error when Set Instrument is set to "Sine".

(Fails for any language)
![Screenshot at 2021-05-21 17:21:23](https://user-images.githubusercontent.com/13454579/119199504-2f19ae80-ba59-11eb-9649-604af5eb887d.png)

[code]

[2021-05-21 21:37] pikurasa opened #2952 "Why Does Int + 1 result in this error?"
If I structure my code in the following way I get a zero. This is what I expect, and there is no error.

![Screenshot at 2021-05-21 17:32:38](https://user-images.githubusercontent.com/13454579/119200262-95eb9780-ba5a-11eb-959d-a109abc68984.png)

So, I think "let's add 1 to this to avoid zero". However, if I add 1, I get an error, and the program stops.

[code]

![Screenshot at 2021-05-21 17:32:28]

[2021-05-23 11:18] saymedgm commented on #2875
I will like to work on issue plz tell where are you facing it

[2021-05-23 15:07] walterbender commented on #2952
This was a regression. Should be fixed. Please test.

[2021-05-23 15:08] walterbender commented on #2951
I've been trying to figure this one out for quite some time now. Not a regression from v3.5 -- a long-standing bug. I've a few more ideas -- I'll report back.

[2021-05-23 15:49] walterbender commented on #2951
I have a work-around. But still have not resolved the root cause. Please test.

[2021-05-23 22:02] pikurasa commented on #2952
It works for me.

[2021-05-23 22:02] #2952 closed

[2021-05-23 22:04] pikurasa commented on #2951
Your work-around is working for me, for my test project.

What is the root cause?

[2021-05-23 22:20] pikurasa commented on #2866
I cannot seem to get Custom Temperament to work with Phrase Maker. Testing on https://sugarlabs.github.io/musicblocks/

![Screenshot at 2021-05-23 18:08:42](https://user-images.githubusercontent.com/13454579/119278454-691eb800-bbf3-11eb-9d25-f1fe4a2bd00f.png)

[2021-05-23 22:22] pikurasa commented on #2866
[Custom-Pitch-Phrase-Maker.html.zip](https://github.com/sugarlabs/musicblocks/files/6528997/Custom-Pitch-Phrase-Maker.html.zip)

[2021-05-24 11:00] walterbender commented on #2951
I don't know the root cause. I thought Tone.now() would guarantee we were never in the past, but it seems we still are in some situations. Perhaps I am not applying it correctly.

[2021-05-24 11:40] walterbender commented on #2866
Please test again. I think it should be working now.

[2021-05-25 03:08] pikurasa opened #2953 "Timbre Widget is Broken"
1. Drag Timbre Widget from Palette
2. Click to Initiate Timbre Widget
3. Choose Oscillator
4. Click the Widget's Play Button
Result: No sound will play. You will get the following error in the logs:
[code]
![Screenshot at 2021-05-24 23:05:34](https://user-images.githubusercontent.com/13454579/119433777-ee35ca00-bce4-11eb-952f-695cac1bfc74.png)

[2021-05-25 19:49] pikurasa commented on #2866
It is working for me. Thanks!

[2021-05-25 19:49] #2866 closed

[2021-05-25 20:14] pikurasa opened #2954 "print pitch in hz does not work"
Print Pitch as Alphabet and Solfege work, but Print Current Pitch as Hz does not. You get the following error:

[code]

![Screenshot at 2021-05-25 16:04:26](https://user-images.githubusercontent.com/13454579/119562161-07d22280-bd74-11eb-83ca-88e97920663c.png)

Test File:
[Print-Pitch-Hz.html.zip](https://github.com/sugarlabs/musicblocks/files/6542114/Print-Pitch-Hz.html.zip)

[2021-05-27 02:03] walterbender commented on #2953
I think this is working OK now. Please test.

[2021-05-27 12:57] #2954 closed

[2021-05-28 01:43] pikurasa commented on #2953
Yes, it works, and the new Timbre produced from the widget seems to work with the correct results as well.

Hurrah!

[2021-05-28 01:43] #2953 closed

[2021-05-28 15:59] walterbender commented on #2936
I have scale degree working now with key signature. Working on the other cases.

[2021-05-28 19:02] walterbender commented on #2936
I think it now works for pitch number too. Please test.

[2021-05-28 22:12] #2623 closed

[2021-05-28 22:13] walterbender commented on #2609
I think the lint errors are sorted out.

[2021-05-28 22:13] #2609 closed

[2021-05-28 22:14] #2594 closed

[2021-05-28 22:16] walterbender commented on #2346
This is merged but more examples need to be added.

[2021-05-28 23:01] #2951 closed

[2021-05-29 17:55] pikurasa opened #2959 "Show = Current Pitch not working"
Using Show = Current Pitch in Code like this

![Screenshot at 2021-05-29 13:50:33](https://user-images.githubusercontent.com/13454579/120080019-e1b6c600-c084-11eb-80ad-1f2c05da63f1.png)

Results in

[code]

(And it does not print the text at the location of the mouse, as expected.)

Test File:
[Show Current Pitch.html.zip](https://github.com/sugarlabs/musicblocks/files/6565138/Show.Current.Pitch.h

[2021-05-29 18:49] pikurasa opened #2960 "Pitch Number not Working for temperament when outside of first octave"
Using Pitch Number to generate pitches for a custom temperament fails when outside the first (i.e. original) octave.

[code]
Test Program:
[Simple-Program-Pitch-Number-Fail-Outside-Octave.html.zip](https://github.com/sugarlabs/musicblocks/files/6565193/Simple-Program-Pitch-Number-Fail-Outside-Octave.html.zip)

Steps to reproduce:
1. Generate a custom temperament (tested with 41EDO and 5EDO)
2. Use

[2021-05-30 21:09] pikurasa opened #2961 "Loading Projects by Dropping into Browser Window Broken"
Opening a project by dropping into Browser Window no longer works.

Instead, you get this error:

[code]

![Screenshot at 2021-05-30 17:05:51](https://user-images.githubusercontent.com/13454579/120120171-9d512600-c169-11eb-93d5-1b32132983f4.png)

Tested by trying to open https://github.com/sugarlabs/musicblocks/files/6417709/Virtual-Whiteboard-Samples.zip on latest via https://sugarlabs.github.io/