[2019-08-16 16:54] smurata commented on #1825
@rohitkatlaa Sorry for missing the pics. I just did it. Can you look at them?

[2019-08-18 09:06] rohitkatlaa commented on #1682
Hi,
Since I am not able to inspect the canvas elements, I am not able to find the correct file for solving the issue.
Could you helpe me in finding the file?

[2019-08-19 02:05] pikurasa commented on #1825
@smurata and I discussed this a few days ago and we came up with a nice design. @smurata will share soon.

[2019-08-19 02:10] pikurasa opened #1829 "Make the purpose of 2, 3, 5, 7 numbers in note value more clear"
@smurata asked a good question: How would I describe the meaning of the inner numbers of the pie menu for note value?

I would describe them as "a category of note value".

This got us to think that maybe, instead of using numbers, we use a name. (It turns out that using numbers for both the inner and outer part of the menu can cause some confusion as to their meaning.)

I thought of "duple", "tri

[2019-08-19 02:10] pikurasa opened #1830 "Make the purpose of 2, 3, 5, 7 numbers in note value more clear"
@smurata asked a good question: How would I describe the meaning of the inner numbers of the pie menu for note value?

I would describe them as "a category of note value".

This got us to think that maybe, instead of using numbers, we use a name. (It turns out that using numbers for both the inner and outer part of the menu can cause some confusion as to their meaning.)

I thought of "duple", "tri

[2019-08-19 16:20] smurata commented on #1829
I sketched the layout of the pie menu for note value.

![20190819_120015](https://user-images.githubusercontent.com/53872954/63281363-85e9c700-c27a-11e9-8072-6d530ae71710.jpg)

**I strongly agree with simplicity is the best.** However, I am a little concerned about leaving out mentioning quadruple (4) and possibly sextuple (6). Especially I just read about the definition of 'duple'.

_Duple = base

[2019-08-19 16:57] walterbender commented on #1829
If we use hover menus, we could add the labels w/o having to worry about fitting all the text.

[2019-08-19 17:24] smurata commented on #1829
@walterbender I like the hover menus idea. :)

[2019-08-19 17:30] pikurasa commented on #1829
Since 2/4, 4/4, etc are commonly known as "duple meter" and 3/4, 6/8, etc are known as "triple meter" I do not see the reason to use terms "quadruple" and "sextuple".

[2019-08-19 17:36] smurata commented on #1829
**Since 2/4, 4/4, etc are commonly known as "duple meter" and 3/4, 6/8, etc are known as "triple meter"**

That makes sense. The pie menu doesn't need to have quadruple and sextuple. Thank you for the explanation!

[2019-08-19 18:33] smurata commented on #1825
@walterbender
@rohitkatlaa

After the discussion with @pikurasa, we thought the two keyboards in a screen would be not necessary.

![Snapchat-1588251221 (1)](https://user-images.githubusercontent.com/53872954/63288788-935b7d00-c28b-11e9-8059-650eae5bd7db.jpg)

The keyboard (keyboard no. 1) crossed out in the pic would be taken off.

The main keyboard (keyboard no. 2) in the pic would have two feat

[2019-08-19 19:10] smurata commented on #1825
I made two keyboard charts.

![20190819_143651](https://user-images.githubusercontent.com/53872954/63290738-1979c280-c290-11e9-8f43-bf03cbb94bb5.jpg)

![20190819_144003](https://user-images.githubusercontent.com/53872954/63290807-3ca47200-c290-11e9-9905-1d15e7fedafe.jpg)

I have two questions.

1.) Please take a look at the D# Aeolian Mode in the 2nd picture.
The half black key on the far right is

[2019-08-20 06:13] Pep-DEV101 commented on #1207
I want to claim it

[2019-08-20 06:24] Pep-DEV101 commented on #1207
Please could you elaborate the issue so I could proceed further

[2019-08-20 06:27] quozl commented on #1207
There's no claiming, sorry.  Our [Contributing](https://github.com/sugarlabs/sugar-docs/blob/master/src/contributing.md) guide says

TRANS strings are used to inform our translators of the context of the original string.  They are notes added to source code and extracted for translators to read.  At the time the translators are faced with an original string, they can use the TRANS string and their

[2019-08-20 06:30] Pep-DEV101 commented on #1207
Thank you @quozl

[2019-08-20 06:53] Pep-DEV101 commented on #1207
@quozl @walterbender  If you could give me an example of these string in the source code that I need to convert into trans  String then could proceed further

[2019-08-20 07:04] quozl commented on #1207
It is not converting strings, it is adding documentation.

This bash shell compound command shows all the TRANS strings in Music Blocks:
[code]

You can count the translatable strings like this;
[code]

There are 371 TRANS strings, and 1188 translatable strings.

I don't know where the Planet code is, but a `git grep -i planet` gives lots of matches.

[2019-08-20 07:07] Pep-DEV101 commented on #1207
Thank you @quozl  for the quick reply

[2019-08-20 09:09] Pep-DEV101 commented on #1207
I have made a pull request to this issue if @quozl  you could review it would be a great help from you

[2019-08-25 09:52] rohitkatlaa commented on #1682
Hi,
I am not able to find the correct file to work on as I am not able to inspect the site.
I did find a file called getting_starting_blocks.svg but I think that it is not the correct file.

[2019-08-25 10:56] walterbender commented on #1682
See https://github.com/sugarlabs/musicblocks/blob/master/js/turtledefs.js#L93 and https://github.com/sugarlabs/musicblocks/blob/master/js/turtledefs.js#L141

[2019-08-26 18:57] smurata opened #1840 "bug in beats per minute"
![20190826_143107](https://user-images.githubusercontent.com/53872954/63715237-5bb37e80-c811-11e9-9611-cd834e3b22cc.jpg)

![20190826_143036](https://user-images.githubusercontent.com/53872954/63715361-9ae1cf80-c811-11e9-80fb-299ec679fc32.jpg)

The beats per minute is 84 in this project. It is definitely more than 30.
However, I keep getting this notification.

Is this bug?

Or

The beat value shou

[2019-08-26 20:09] #1840 closed

[2019-08-26 20:26] smurata opened #1841 "bug in 90 beats per minute, 1/12 beat value"
I set a higher number than 90 beats per minute, 1/12 beat value.
However, it doesn't work. The MB project doesn't play any sounds currently when I set 1/12 beat value.

1/4, 1/8, 1/16 work.
Other numbers don't work.

Note value and beat value doesn't match.
1/12 note value exists.
1/12 beat value doesn't exist.

[2019-08-26 23:19] #1841 closed, assigned to nobody

[2019-08-27 02:01] smurata opened #1842 "bug in 120 beats per minute, 1/12 beat value"
@pikurasa
@walterbender

I tried 120 beats per minute, 1/12 beat value in the Japanese version.
The performance is not right.

[https://youtu.be/R8KNPxm7VeM](url)

[2019-08-27 07:05] pikurasa commented on #1842
I did some tests (on Abrowser 65.0.1, 64 bit, Trisquel 8.0, Japanese Mode) and noticed the following:

(@smurata first I put all the action blocks into a instrument clamp to simplify the code)

[2019-08-27.zip](https://github.com/sugarlabs/musicblocks/files/3544663/2019-08-27.zip)

1. Some notes, even in my simplified version do not play the specified instrument, "synthesizer" (シンセサイザー). It seems

[2019-08-27 14:21] walterbender commented on #1842
I don't know anything about "Devin's" version of Music Blocks.  Please test
with the master version. Also it would be helpful if you included console
log output in your bug reports.

On Tue, Aug 27, 2019, 10:03 AM smurata <notifications@github.com> wrote:

[2019-08-27 15:07] pikurasa commented on #1842
@walterbender  I do not have a separate version. I have a page that links to rawgit. Since the URL for rawgit is hard to memorize, I often send people to my page with the links, so that they can find the rawgit version easily.

If you see the URL at 21 seconds through Sachiko's video, you will see that she is testing from the Rawgit master.

Next time I test, I will copy the console.

[2019-08-27 15:29] pikurasa commented on #1842
The console is not working for me (yes, I know Shift-Ctl-J -- it just is not working in this version of Abrowser, which is the browser I use to test Japanese)

At any rate, it seems I put the wrong file for the "simplified version" above. Here is the simplified version (all action blocks contained within a single instrument block):

[bug test. BPM block.08.26.2019-devin-simple.html.zip](https://gi

[2019-09-29 02:22] pikurasa opened #1845 "Enter [Return] to complete input"
I have observed frustration from a few kids that pressing the enter [return] key does not complete the input for entering text into, for example, an action block's text input (to name it).

Right now, the user must click outside of the text box for the input to be complete.

[2019-09-29 02:31] pikurasa opened #1846 "Action name collision avoidance is overly zealous"
I have observed many students frustrated with the over zealousness of action naming's collision avoidance.

The program is trying to keep students from entering the same name for two different action blocks, however it is preventing students from backspacing through a given text to create a new name.

(`Action` is on the screen)
So if there is also `Action1` on the screen and the user clicks to ch

[2019-09-29 02:36] pikurasa opened #1847 "Tempo blocks should not accept negative numbers"
`Beats per minute` and `MAster BPM` should not accept negative numbers.

Technically, it should not even accept numbers less than 30 (although very low numbers that can be kind of fun as students in a recent class have found).

The tempo widget seems to also allow for `0` which results in no tempo ball on the screen whatsoever.

Certainly no value 0 or less should be allowed.

[2019-09-29 02:39] pikurasa opened #1848 "Phrase Maker not saving notes upon its reinitiation"
Phrase maker does not seem to be saving notes upon reinitiation.

I can send a video later, but basically if a user creates something in phrase maker, closes the widget, and reinitiates it, then none of the data remains.

I think the regression happened near when some of the last GSoC code was merged.

[2019-09-29 11:51] walterbender commented on #1847
Fixed by https://github.com/sugarlabs/musicblocks/commit/d1f06f3cf7c24d44a774b5cac6eff674f67ce744

[2019-09-29 11:51] #1847 closed

[2019-09-29 11:54] walterbender commented on #1848
Related to https://github.com/sugarlabs/musicblocks/issues/1156 ??? The vanilla version seems to restore fine.

[2019-09-30 20:55] #1845 closed

[2019-10-02 00:49] walterbender opened #1849 "regression in advanced menus"
Advanced menus are no longer appearing in advanced mode, Looking into exactly which commits are to blame.

[2019-10-02 01:51] #1849 closed

[2019-10-02 19:28] pikurasa opened #1850 "`Run Block` Block does not accept text block"
The `run block` block does not accept text blocks. Also, its help example does not show any other blocks connected.

In the sample below, the text block will not connect to the `run block`:
(html file)
[2019-10-02-cannot-run-block.txt](https://github.com/sugarlabs/musicblocks/files/3682991/2019-10-02-cannot-run-block.txt)

[2019-10-02 19:37] pikurasa opened #1851 "`Show heap` does not run when in a script after `wait for`"
`Show heap` block does exactly what I expect when I click on it by itself.

It also works fine inside a `repeat` as in [1]

However, it does not seem to work after a `wait for` block as in [2]

[1] [2019-10-02-Show-heap-works-before-wait-for.txt](https://github.com/sugarlabs/musicblocks/files/3683034/2019-10-02-Show-heap-works-before-wait-for.txt)
![Screenshot at 2019-10-02 15:33:57 show heap work

[2019-10-02 19:50] pikurasa commented on #1848
It seems to occur when the pitches are specified as alphabet -- not as solfege.

If you try, for example, the `C major` macros, you will experience the bug.

[2019-10-02 20:01] walterbender commented on #1851
It is not just show heap, it is any block that follows wait for.
As a temporary workaround, try this:
![Screenshot from 2019-10-02 16-00-58](https://user-images.githubusercontent.com/3996641/66077386-da48bd80-e52d-11e9-9e64-84e9fe92ec4f.png)

[2019-10-02 20:02] walterbender commented on #1848
I think you are seeing https://github.com/sugarlabs/musicblocks/issues/1156

[2019-10-02 20:18] pikurasa commented on #1848
I will investigate more to see if they are the same issue.

[2019-10-04 19:14] walterbender commented on #1850
Run Block takes a "block number", not a "block name". It is a pretty advanced feature -- when you use Make Block, it returns  a block number, which is how you know which block to run.

We should improve the documentation, however.

[2019-10-04 19:29] #1851 closed

[2019-10-04 23:34] walterbender commented on #1850
Added text option. Somewhat indeterminate in that there may be more than one block with the same name.

[2019-10-05 20:29] eohomegrownapps commented on #1731
Is this still a bug? Saving / loading the file given above seems to still work.

[2019-10-05 20:34] eohomegrownapps opened #1852 "Local Storage runs out of space"
When working with large files (such as https://github.com/sugarlabs/musicblocks/files/3075560/mit-open-edx-march-6x.zip, as mentioned in #1731) it is very easy to exceed the storage limit of the browser's local storage (for Chrome and Firefox this is 10MB). An alternative would be to switch to a storage mechanism designed for larger volumes of data, such as IndexedDB (see https://www.html5rocks.co

[2019-10-05 20:39] eohomegrownapps opened #1853 "Upload and download functionality in Planet does not seem to work"
The 'Open Project from File' button in the Planet does not seem to work - when a file is uploaded, the Planet does not register this, and when the Planet is closed, the contents of the project are not visible. However, when the Planet is reopened, a new project is found to have been created with the name of the uploaded file - it still does not appear to have the contents of the uploaded file.

Th

[2019-10-05 20:43] walterbender commented on #1731
It is still a bug (also saving to the Planet) -- it is usually triggered by inclusion of large media objects.

[2019-10-05 20:46] walterbender commented on #1853
I noticed something similar this morning... I tried opening a file from the Planet... nothing happened but when I exited the Planet, a file choose was open. Selecting a file was successful. So maybe it is a matter of switching the focus and bring the dialog to the front?

[2019-10-05 23:52] eohomegrownapps commented on #1731
This could potentially be due to an upload file size limit set in the server PHP config files - perhaps the sysadmin could verify this?

[2019-10-06 15:19] walterbender commented on #1846
Please test both action blocks and other places where you change the value of a block by typing.

[2019-10-06 16:46] walterbender commented on #1805
Problem seems to have gone away with Firefox v69

[2019-10-06 17:41] #1709 closed

[2019-10-06 17:54] #1506 closed

[2019-10-06 17:57] walterbender commented on #1438
@pikurasa What was the final decision on this? If I undderstand Nabekura, we should leave things as they are?

[2019-10-06 19:37] pikurasa commented on #1438
@walterbender one feature that would help a lot of people, and solve this issue, is a feature that would switch  alphabet to and from solfege for a given pitch block. Maybe it is accessed in the menu that is opened when you right click on a pitch block. What do you think?

[2019-10-06 19:38] walterbender commented on #1381
Started working on this but bumped into a design problem. How do we indicate octave? Or do we ignore octave?

[2019-10-06 19:45] walterbender commented on #1252
I cannot reproduce this. A lot has changed in the code since this was filed. Please test.

[2019-10-06 19:51] walterbender commented on #815
Playback is deprecated.

[2019-10-06 19:51] #815 closed

[2019-10-06 19:59] walterbender commented on #1630
This is resolved.

[2019-10-06 19:59] #1630 closed

[2019-10-06 20:08] walterbender commented on #1670
+1. After going through the help content, we should just walk through the block help, beginner blocks first.

[2019-10-06 20:12] walterbender commented on #1409
Please reopen via a Pull Request.

[2019-10-06 20:12] #1409 closed

[2019-10-06 20:16] pikurasa commented on #1381
You plan to implement a two arg block instead of a clamp?

One of my comments suggested that the first arg be a pitch, which includes octave.

I think it best not to ignore octave. A user may, for example, want to make all the low `c` notes as bass drum while keeping the higher notes as is.

[2019-10-06 20:24] pikurasa commented on #1670
This is a very nice idea.

One suggestion would be that there is an indication for where to find the block in the palette. Perhaps the palette opens to reveal the block location for block shown in help, or perhaps it shows only when the user clicks a `show` button.

I spend a lot of class time telling kids where to find blocks. If there is a way to assist the kids through design, I am all for it.

[2019-10-06 20:26] pikurasa commented on #1850
Thanks for the text option.

[2019-10-06 20:30] pikurasa opened #1854 "Entering advanced mode takes two clicks"
MB seems to take two clicks for `advanced mode` before the requested change is registered.

I expect it would only need one click, one request by user.

[2019-10-06 20:33] walterbender commented on #1381
"the first arg be a pitch'??? How does that work? Maybe you want a 3 arg block:
<-- drum name
<-- pitch
<-- octave

This makes the use of the + block problematic in that you'd need two of them.

[2019-10-06 20:35] walterbender commented on #1438
The challenge for doing that has always been not knowing what key/mode you are in at the time.

[2019-10-06 20:38] pikurasa commented on #1438
I guess I was starting from the assumption of fixed do.

Perhaps it is not helpful for all cases--at least not with a simple design that excludes specifying key for a movable do conversion--but I do think it is helpful.

For Japan, which mainly uses fixed do, I imagine it would be helpful.

[2019-10-06 20:40] pikurasa commented on #1381
I was imagining that a user could just put the whole pitch block in as a single arg (which in itself contains octave).

As for exactly what it looks like, I defer to others while thinking more about it myself.

[2019-10-06 20:45] walterbender opened #1855 "store UID in projects on Planet"
This is a somewhat ill-formed request: to be able to have a user search for their projects on the Plant. It would seem to require storing a UID associated with a user. It could work like this:

When uploading to the Planet, user has the option of adding an ID and a secret
These are encoded with a public key and added to the project.

When searching the Planet, the user can enter an ID and a secret

[2019-10-06 20:50] walterbender commented on #1438
Would this be a global convert or on a per-block basis? We could just always show both alphabet and solfege on the pie menu and let people mix and match.

[2019-10-06 20:53] walterbender commented on #1381
That would entail a new approach to pitch blocks, which I am loathe to do without some serious thought.

Maybe we stick with a clamp but have two different blocks: set drum that works like set timbre and map drum which maps pitches to drums globally.

[2019-10-06 20:56] walterbender commented on #1855
Notes that the user's ID never is stored.

[2019-10-06 20:56] pikurasa commented on #1438
Yes, this is a good question.

I was thinking the following:
* make the change for a single block, and change just that block
* make the change from an action block (or start block), and change all the blocks contained within.

I worry that this may make the pie menu look cluttered. That being said, I don't mind if there is a way to switch between the two (alphabet <==> solfege) from the pie menu,

[2019-10-06 21:01] pikurasa commented on #1381
I am not suggesting to change the design of pitch blocks.

Like this?
![Screenshot at 2019-10-06 17:00:54 set drum](https://user-images.githubusercontent.com/13454579/66275864-794a1e00-e87c-11e9-82b5-5df06ea7592c.png)

What would this like?

[2019-10-06 21:01] walterbender commented on #1438
We need a design.

[2019-10-06 21:21] walterbender commented on #1381
set drum now only impacts notes inside the clamp
map pitch to drum is global

[2019-10-06 21:22] walterbender commented on #1381
We need to add documentation for this block (and get translations from JA)

[2019-10-07 01:13] walterbender commented on #1854
I cannot reproduce this. What browser are you using?

[2019-10-07 18:24] pikurasa commented on #1846
It seems to work now.

As I tested, however, I noticed that you can delete all the text for the name of an action block, and this causes other issues. I suggest we force at least one letter/number of text to be in an action block's name.

What other places are similar to naming an action block?

[2019-10-07 19:21] walterbender commented on #1846
I wanted to make sure that the change did not adversely impact updating boxes, numbers, other strings. I did find an (unrelated) regression with boxes which I fixed in https://github.com/sugarlabs/musicblocks/commit/7bf93beffef643eb83821947e97e5cd299976f02

Regarding a blank action name, I am on the fence. It works but it is a bit strange.

[2019-10-07 19:31] pikurasa commented on #1570
As for https://github.com/sugarlabs/musicblocks/issues/1570#issue-384581788 the translations we landed on differ from what I was asked at the time, so it is impossible to compare. I do not see any English, so that is good.

As for https://github.com/sugarlabs/musicblocks/issues/1570#issuecomment-443280670 these are complete.

I think we can close it.

[2019-10-07 19:36] #1570 closed

[2019-10-07 19:39] pikurasa commented on #1778
MB passes a test where I put enough START blocks that all of the possible mouse names are used for lilypond test.

Results below:
[Lilypond-Test.zip](https://github.com/sugarlabs/musicblocks/files/3699146/Lilypond-Test.zip)

[2019-10-07 19:39] #1778 closed

[2019-10-07 19:39] pikurasa commented on #1407
I have not experienced this bug as of late -- hurrah!

[2019-10-07 19:39] #1407 closed

[2019-10-07 19:45] pikurasa commented on #1854
I have experienced it on Chromium on both Trisquel and Ubuntu.

Also, I saw the Gakken team experience the bug over one of our last video calls.

It may be the case that the issue only occurs if the browser has been opened to MB for the first time or a session has been reopened.

I will try to see if this is the case.

[2019-10-07 19:53] pikurasa commented on #1381
For the following test, the result for me was unexpected. All of the notes were mapped to kick drum, not just the specified `sol_4`.

[map-pitch-drum-affecting-all-pitches.html.zip](https://github.com/sugarlabs/musicblocks/files/3699185/map-pitch-drum-affecting-all-pitches.html.zip)

[2019-10-07 19:55] pikurasa commented on #1846
When I name an action block `` (blank), then pull out the corresponding blank-name action block, what I get is an action block with the name of `action` (not a blank-name action block).

[2019-10-07 20:01] walterbender commented on #1846
Oh. That. I could fix that (or require at least 1 character).

[2019-10-07 20:01] pikurasa commented on #1380
I tested it again and the issue did not occur.

* I tried the test file
* I also tried making a custom pitch block, which was the main cause of the issue.

[2019-10-07 20:01] #1380 closed

[2019-10-07 20:02] pikurasa commented on #1846
I leave it up to you, but prob it is not common to have a function with a blank name in text code.

[2019-10-07 20:09] pikurasa commented on #1252
It seems to work.

However, I do see a discoverability issue. Right now the user must click on `define mode` clamp in order to define the mode. Perhaps it can already be defined for the first time (it has, after all, been defined by the user once already via the widget). @walterbender what do you think?

[2019-10-07 20:09] #1252 closed

[2019-10-07 20:14] pikurasa commented on #1239
I never saw the bug (shame on me for not being so imaginative), but the result looks as I would expect. Good catch!

[2019-10-07 20:21] pikurasa opened #1856 "Add a keyboard representation under `custom mode`"
Another music teacher commented that it would be preferable to have pitch as a letter name or solfege (in addition to the number representation we have).

I propose we have a traditional keyboard representation underneath the custom mode circle, with its black and white keys and something to indicate which notes are within the scale -- perhaps a circle with the note name inside.

When we are using

[2019-10-07 20:30] pikurasa commented on #1232
The main crux of this has been resolved: making running code more forgiving.

I see the leftovers as:

It would still be nice to have a feature that displays what shortcut key is being triggered and a message for what it does.

and

It could be screen cast (binary) or pre-recorded animation via music blocks code. <== if we created a convenient method for developers to create these, then this might

[2019-10-07 20:35] walterbender commented on #1846
A blank action or box name is no longer allowed.

[2019-10-07 20:39] walterbender commented on #1232
Agreed. But note that it means more strings to translate into Japanese :P

[2019-10-07 20:48] pikurasa commented on #1846
I tested.

One suggestion: The default name when the user tries to delete everything should be `action` (not `action1). This is because, if it is `action1` and the user has not specified any other names for action, then they have one action block in the palette with name `action` that is not connected to any action clamps.

![Screenshot_2019-10-07_16-47-48-action-name](https://user-images.githubus

[2019-10-07 20:52] pikurasa commented on #1151
This is all resolved.

Only one nagging question: Do we call "set timbre" "set instrument" instead? I think "instrument" is better understood by most people.

[2019-10-07 20:52] #1151 closed

[2019-10-07 21:04] pikurasa commented on #1145
I still have other testing to do, but as a lazy "put all the default matrix notes in a repeat of 4" test, the results of sort are strange. The user needs to click two times to initiate sort, and the second time the user gets a single row.

![Screenshot_2019-10-07_17-02-10-ptm-with-repeat](https://user-images.githubusercontent.com/13454579/66348425-8589b600-e924-11e9-8793-20c2a048cf9b.png)

[Phrase

[2019-10-07 21:06] pikurasa commented on #1232
I will make sure it gets translated (we can start with my own translations) if this gets done. Sound like a plan?

[2019-10-07 21:07] walterbender commented on #1846
I think I catch that case now.

[2019-10-07 21:09] walterbender commented on #1151
Please open a new issue re changing the name to set instrument.

[2019-10-07 21:11] walterbender commented on #1232
Yes. I just need to create the strings and add the alerts.

[2019-10-07 21:40] pikurasa opened #1857 "Rename set timbre to set instrument"
Rename set timbre to set instrument

[2019-10-07 21:57] walterbender commented on #1232
I made a first pass at the alerts. Feel free to tweak them -- they are in activity,py

[2019-10-07 21:57] walterbender commented on #1232
Many will already have translations.

[2019-10-08 06:42] tanhengyeow commented on #1857
I'm interested in this issue :)

To clarify, there are lots of instances of the term `Timbre`. Are we only interested in changing the block name `set timbre` to `set instrument`? How about instances of `timbre` in these places:
1. Documentation
2. SVG files
3. File names
4. CSS classes

[2019-10-08 06:43] tanhengyeow commented on #1857
I'm interested in this issue :)

To clarify, there are lots of instances of the term `Timbre`. Are we only interested in changing the block name `set timbre` to `set instrument`? How about instances of `timbre` in these places?
1. Documentation
2. SVG files
3. File names
4. CSS classes

[2019-10-08 06:52] tanhengyeow commented on #1107
@pikurasa Is this issue still valid? The two links linked in the issue description can't be accessed anymore.

[2019-10-08 11:43] walterbender commented on #1857
I think just set timbre.

We need to change it in these places:
The block label in basicblocks.svg
The help string in turtledefs.svg
The artwork (svg files) in documents/
The references to set timbre in the guide.

[2019-10-08 11:50] walterbender commented on #1107
It still needs doing. The issue is more for the Lilypond output than the way it would playback in Music Blocks itself. The meter block can be used to set the meter and the note blocks should correspond to that meter. Here is an example: https://www.8notes.com/scores/6174.asp

[2019-10-11 01:58] pikurasa opened #1858 "Blue screen when press TAB"
When the user presses TAB key, they only see a blue screen.

How can we disable the TAB key, or otherwise prevent the TAB key from causing this issue?

[2019-10-11 02:06] pikurasa opened #1859 "Note Visualization for Notes input via Musical Keyboard"
When a user inputs their melody via Musical Keyboard it would be nice if the notes they chose were printed (over time) so that the user can visualize their musical creation.

Ideas:
* Music Notation?
* Piano Roll? (Horizontal or Vertical)

[2019-10-11 13:21] walterbender commented on #1858
Should be fixed by https://github.com/sugarlabs/musicblocks/commit/280acbdac1657cfd38447f3b276e0bd80dcdf107

[2019-10-11 23:45] walterbender commented on #1381
Please test again.

[2019-10-13 17:33] walterbender opened #1860 "musickeyboard only saves default synth"
We should honor the synth set as per:

![Screenshot from 2019-10-13 13-32-11](https://user-images.githubusercontent.com/3996641/66719456-fcf49500-edbd-11e9-9214-3f0da5fa285b.png)

[2019-10-13 17:34] walterbender commented on #1860
DEFAULTVOICE is hardwired throughout the code.

[2019-10-13 17:36] walterbender commented on #1825
https://github.com/sugarlabs/musicblocks/issues/1860 is related

[2019-10-13 17:37] #1846 closed

[2019-10-13 17:38] #1858 closed

[2019-10-13 19:11] walterbender commented on #1860
It works when composing, but the voice is ignored when playing back and when saving.

[2019-10-14 01:42] walterbender opened #1861 "music keyboard grid view is broken"
(1) it is not populating itself with notes played;
(2) when you hit play, it doubles the size of the grid (moving the current notes to the right;
(3) the pie menu to edit note durations doesn't result in any changes.

[2019-10-14 13:43] #1861 closed

[2019-10-14 14:37] walterbender opened #1862 "use dict instead of array"
musickeyboard.js uses some ordered arrays where it could better use dictionaries. (It would make the code less brittle.)

specifcially: notesPlayed and selectedNotes.

[2019-10-14 14:39] walterbender commented on #1860
It tracks the voice except during save.

[2019-10-14 16:17] tanhengyeow commented on #1862
@walterbender JavaScript doesn't have official dictionaries, unlike Python. Some mechanisms that are similar:
1. Using object notation `{ 'key': value }`
2. Using [Map](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map) to hold key-value pairs.

I would prefer the second way as it is more modern. Your thoughts?

[2019-10-14 16:41] walterbender opened #1863 "better keyboard icon needed"
The keyboard icon is pretty weak. Could use something better.
(Used in the musickeyboard widget and the timbre widget.)

![Screenshot from 2019-10-14 12-40-48](https://user-images.githubusercontent.com/3996641/66768135-df87ff80-ee7f-11e9-8e8f-3b8eff4057bd.png)

[2019-10-14 16:52] walterbender commented on #1862
I am fine either way. Mostly we use the obj. mechanism but map works for me.

[2019-10-14 22:41] walterbender commented on #1862
https://github.com/sugarlabs/musicblocks/pull/1864

[2019-10-14 22:41] #1862 closed

[2019-10-15 06:31] tanhengyeow commented on #1850
Hi all, I read through the documentation and couldn't pinpoint the part of the documentation that requires improvement. Any thoughts of how I can help to rephrase things better?

[2019-10-15 11:23] walterbender commented on #1850
'runblock': [_('The Run block block runs a block.'), 'documentation', ''],

There should be a description of the argument (block number or block name).

[2019-10-16 06:36] tanhengyeow commented on #1863
Can we use free to use licensed icons or do they need to be designed from scratch?

[2019-10-16 12:01] #1207 closed

[2019-10-16 12:02] walterbender commented on #1863
Free licenses should be OK. Please be sure to make a note of the source in the PR.

[2019-10-20 19:04] #1863 closed

[2019-10-20 19:05] #1850 closed

[2019-10-20 19:05] #1682 closed

[2019-10-20 22:37] walterbender commented on #1859
I have been thinking about this. Maybe we just use the grid view we already have? It could be open along with the keyboard view instead of either or.

[2019-10-23 14:46] pikurasa commented on #1156
@walterbender Is it possible to fix this issue by tonight? I was hoping to use Phrasemaker for tomorrow's class, and this issue gets in the way.

If not, just let me know and I will find other ways around it (or focus on something else).

[2019-10-23 15:40] pikurasa opened #1872 "Solfege in Phrasemaker with Scalar Step should generate Solfege"
When a user puts a solfege pitch block in for their first pitch block, then uses 'scalar step' to generate more pitches, the generated pitches in the phrasemaker are alphabet, not solfege. When the pitch before scalar step is solfege, the proceeding pitches should be solfege.

Picture of issue:
![Screenshot at 2019-10-23 11:37:34 solfege generates alphabet](https://user-images.githubusercontent.co

[2019-10-23 15:56] pikurasa opened #1873 "A forgiving broken 'pitch' block"
Sometimes students break their pitch block and have a hard time getting back to where they need it to be.

For example:
![Screenshot at 2019-10-23 11:49:16 two kinds of broken](https://user-images.githubusercontent.com/13454579/67411263-dcda8800-f5ac-11e9-8368-0a6045507e88.png)

I propose the following, in order of what I see as being the more important cases:
1.  (left in image above) User has so

[2019-10-24 00:27] pikurasa opened #1874 "Preview Sound of Half Note (1/2) sounds funny in phrasemaker"
I noticed a corner case today when testing the 'phrase maker' (with nicer speakers than I usually use).

Specifically for '1/2' (a 'half note'), the sound is a little bit strange when it is previewed. The sound is fine when it is performed for playback. It seems fine for notes longer and shorter than '1/2' (although I have not tried all the options).

The pitch is correct, and the peculiarity of t

[2019-10-24 00:36] pikurasa commented on #1874
The issue also occurs in the matrix for 'musical keyboard'

[2019-10-24 00:54] pikurasa opened #1875 "Clicks During Musical Keyboard based on 'meter' and 'tempo'"
Musical Keyboard is doing a pretty good job of recording the rhythm correctly.

However, the user has little reference as to what the tempo is.

I suggest that the user be given 2 Lead-in Clicks--and a continued click track--for Musical Keyboard based on 'meter' and 'tempo'.

Some example cases:
(tempo based on input for 'beats per minute' block)
meter = 4/4
Click on beats 3 and 4 (before recordin

[2019-10-24 01:49] pikurasa opened #1876 "Musical Keyboard Physical Keyboard Graphics"
It may be confusing that the 'a','s','d','f','g' is indicating the keys on the computer keyboard (and not the names of pitches).

It would be nice to have a graphic that better indicates that these are computer keys.

(Also, on this note, the letter names may need to be hidden when on mobile/tablet)

[2019-10-24 14:14] SomtochiAma commented on #1663
Hello, I would like to work on this, how can I get started

[2019-10-24 14:48] walterbender commented on #1663
@SomtochiAma See the "contributing" instructions here:
https://github.com/sugarlabs/sugar-docs/blob/master/src/contributing.md

I'd suggest you modify one widget first and solicit feedack.

[2019-10-25 00:33] walterbender opened #1877 "modifications to the grid view breaks playback"
If you modify the music keyboard grid, pretty much any way, will break playback.

[2019-10-25 01:18] walterbender commented on #1877
The problem seems to be that the obj ids are not preserved for the reference back to the keyboard object.
![Screenshot from 2019-10-24 21-16-52](https://user-images.githubusercontent.com/3996641/67536158-c9f6af00-f6a3-11e9-81ad-6e5d48ee04fe.png)

[2019-10-25 12:08] walterbender commented on #1877
the problem is that the mapping between the keyboard object and the notes played is tenuous. That code, which is very convoluted, needs to be refactored.

[2019-10-25 13:09] #1857 closed

[2019-10-25 15:22] walterbender commented on #1877
This is mostly fixed as far as the breakage. What i did was to add the objid to the layout array.

(1) layout should be an object rather than an array, which should make the code a lot easier to read.
(2) adding new rows (pitches) seems to confuse things-- reiniting the widget sorts that out.
(3) the code has tons of redundancy... could be much tighter, which would help with legibility and debuggi

[2019-10-26 00:47] walterbender commented on #1877
Took care of 1. Modifications to the grid -- adding/deleting rows and columns -- is still wonky except restarting the widget fixes all of the problems.

[2019-10-26 13:01] walterbender commented on #1877
column manipulation is working now: combination of missing parseInts and conversion from arrays to objects in copy.

[2019-10-26 13:22] walterbender commented on #1877
I think everything is working now. But please test.
I'll open a separate ticket for cleaning up the code, which is really hard to read and full of redundancies.

[2019-10-26 15:12] walterbender commented on #1872
![Screenshot from 2019-10-26 11-06-05](https://user-images.githubusercontent.com/3996641/67621827-8dc96880-f7e1-11e9-935e-5534e1a7e7b3.png)
![Screenshot from 2019-10-26 11-05-44](https://user-images.githubusercontent.com/3996641/67621828-8dc96880-f7e1-11e9-97fe-12082cc027cc.png)
![Screenshot from 2019-10-26 11-05-16](https://user-images.githubusercontent.com/3996641/67621829-8dc96880-f7e1-11e9-9de

[2019-10-26 15:24] walterbender commented on #1848
closing since this is a duplicate

[2019-10-26 15:24] #1848 closed

[2019-10-26 15:56] walterbender commented on #1156
@pikurasa please test

[2019-10-26 15:58] walterbender commented on #1156
![Screenshot from 2019-10-26 11-57-56](https://user-images.githubusercontent.com/3996641/67622412-edc30d80-f7e7-11e9-827d-42f81dd5bcef.png)

before
![Screenshot from 2019-10-26 11-57-33](https://user-images.githubusercontent.com/3996641/67622418-f582b200-f7e7-11e9-92e8-010ece5950dd.png)

after
![Screenshot from 2019-10-26 11-58-17](https://user-images.githubusercontent.com/3996641/67622421-f9aecf8

[2019-10-26 16:53] walterbender commented on #1874
It is really weird. If you call the default synth with a beat of 0.5 then you get a strange distortion. I cannot reproduce it any other way. The preview was not taking into consideration the default BPM, which playback is, hence you only hear the problem on preview. I now consider BPM, so the problem is gone, but the underlying cause, which seems to  be in tone.js, is still there.

[2019-10-26 16:57] walterbender commented on #1875
We are not considering BPM in calculating the note lengths right now. That should be fixed too.

[2019-10-26 17:14] walterbender commented on #1247
This is almost certainly due to Easel Js tick management. I reduced the framerate, which helps some. But there should be a way to turn off refresh when the program is idle???

[2019-10-26 18:36] pikurasa commented on #1874
@walterbender Do you have enough confidence that tone.js is where the issue is? If so, perhaps you should write a bug report on tone.js?

[2019-10-26 18:40] pikurasa commented on #1875
This comment, seems to me, to contradict itself.

At any rate, this ticket is about having a "click track" so that the user can use it as an aural reference for where the pulse/beat is. It would be nice if the click sound is a woodblock. There could be two different tones of woodblock -- a high and low -- for strong and weak beat, respectively.

[2019-10-26 18:40] pikurasa commented on #1156
Great! I will test.

[2019-10-26 18:41] pikurasa commented on #1872
@walterbender Thanks for catching all these different cases!

[2019-10-26 18:42] pikurasa commented on #1872
I will test this week and see how robust the fix is. Thanks!

[2019-10-26 19:42] walterbender commented on #1874
Yes. but I need to write a test case to pass along to them.

[2019-10-26 19:45] walterbender commented on #1875
Regarding the "contradiction", there are two things going on: (1) when is the note started and (2) what is the mapping between the note duration and the note value. The suggestion made in this issue addresses a way to help regulate 1, but without consideration of BPM, the mapping from duration to value, e.g., 133 milliseconds to 1/2 note, is not defined.

[2019-10-26 20:02] walterbender commented on #1874
<!DOCTYPE html>
<html>
<head>
	<script src="lib/Tone.js"></script>
</head>
<body>
	<script type="text/javascript">
           var synth = new Tone.PolySynth(8, Tone.AMSynth).toMaster();
	  synth.triggerAttackRelease('G4', 0.5);
	</script>
</body>
</html>

If you change the note value to anything but 0.5 the artifact goes away. Try 0.49 or 0.51.

[2019-10-26 20:09] walterbender commented on #1874
See https://github.com/Tonejs/Tone.js/issues/560

[2019-10-27 02:02] pikurasa commented on #1875
Yes, there **must** be a consideration of BPM.

If the widget is not considering BPM, then how is it calculating any note length whatsoever?

I was assuming that it might be considering all note values at some default BPM.

[2019-10-27 03:21] pikurasa commented on #1874
Thanks for writing the report. I am so curious what the underlying issue is.

[2019-10-30 12:39] walterbender commented on #1874
The bug has been fixed on Tone.js so we'll see it land when with the next release. Meanwhile, the work-around should suffice.

[2019-10-30 12:39] #1874 closed

[2019-10-31 00:56] walterbender opened #1879 "what is this? a mystery div is appearing when the help window is open"
![Screenshot from 2019-10-30 20-53-08](https://user-images.githubusercontent.com/3996641/67910010-a1fdc480-fb57-11e9-9da8-a20ab1efab69.png)

In the upper left, just  below the toolbar and above the palette is a div that should be hidden.

[2019-10-31 03:10] walterbender commented on #1879
https://github.com/sugarlabs/musicblocks/pull/1880

[2019-10-31 03:10] #1879 closed

[2019-11-02 17:49] pikurasa opened #1882 "Tag Suggestions for Planet Publish"
The user has only a few options for "tags" when publishing to the planet. However, they do not see any suggestions until they start to type something in (with the same starting letters as they are typing).

I have seen a few students assume that they can type anything into this field and get stuck when they get an error for typing in an invalid tag name (i.e. not one of our 5-6 fields).

I propose

[2019-11-05 10:08] vaibhavdaren opened #1886 "Add sponsorship button on the musicblocks repository"
Can we add this button on our repository?
If it is within norms maybe we can collect some donations from here.

[1]https://help.github.com/en/github/building-a-strong-community/displaying-a-sponsor-button-in-your-repository

[2019-11-05 12:31] #1663 closed

[2019-11-05 18:07] pikurasa opened #1887 "tweenjs.min.js and other "Violations" in Console"
I am seeing numerous instances of `[Violation] 'requestAnimationFrame' handler took 69ms` from `tweenjs.min.js:12`

tweenjs violations
[Tween-js-violation-rawgit.com-1572976692440.log](https://github.com/sugarlabs/musicblocks/files/3810564/Tween-js-violation-rawgit.com-1572976692440.log)

(above session continued) and more violations
[Tween-js-violation-rawgit.com-1572976692440-more.log](https://g

[2019-11-05 18:08] pikurasa opened #1888 "TweenJS and other Violations"
I am seeing numerous instances of `[Violation] 'requestAnimationFrame' handler took 69ms` from `tweenjs.min.js:12`

tweenjs violations
[Tween-js-violation-rawgit.com-1572976692440.log](https://github.com/sugarlabs/musicblocks/files/3810564/Tween-js-violation-rawgit.com-1572976692440.log)

(above session continued) and more violations
[Tween-js-violation-rawgit.com-1572976692440-more.log](https://g

[2019-11-05 18:58] pikurasa commented on #1767
I am reopening this as there are some unfinished features of the original design that are well-documented in this thread.

We discussed being able to do, not only 4/4 time, but 3/4, 5/8, etc.

The basic idea is meter is `x/y` where `x` is "how many (beats)?" and `y` is "what kind (note value)?"

Therefore we need two more features to make this widget complete.
1. a way to add and subtract beats, w

[2019-11-05 19:03] pikurasa commented on #1888
I received an error from GH and republished, which has made this a redundant issue.

[2019-11-05 19:03] #1888 closed

[2019-11-05 19:35] pikurasa commented on #1782
Should we hide search until it is fixed?

[2019-11-05 19:56] pikurasa opened #1890 "Print `Beat Count` prints a beat ahead"
1. If you use `on every note do` as in
[Print-Beat-Count.html.zip](https://github.com/sugarlabs/musicblocks/files/3810954/Print-Beat-Count.html.zip)

2. also, if you use `print` = `beat count` within a note block

What is printed is a beat ahead of the current beat.

Status widget, meanwhile, prints the correct beat number (as in the image below):
![Screenshot at 2019-11-05 14:47:15 beat ahead](ht

[2019-11-05 20:39] pikurasa opened #1891 "`Note Counter` and `Sum Note Values`"
Our current `Note Counter` does not "count the number of notes contained", which is what its name suggests. Rather, it sums the total note values contained and produces two values as a summed note value.

This is a handy tool, but it should be named something like "Sum Note Values".  (The Japanese translation suggests the meaning of the latter.)

It would also be handy to be able to just count how

[2019-11-05 20:41] pikurasa commented on #1891
(*Second note should be eighth note -- sorry)

[2019-11-06 01:13] walterbender commented on #1782
It still works... just doesn't show suggestions.

[2019-11-06 02:08] SomtochiAma commented on #1725
I would like to work on this.

When the "reinit" button is clicked, will it reinit all the open widgets that have changed, or just one?

[2019-11-06 12:13] chimosky commented on #1725
@SomtochiAma feel free to work on the issue and submit a pull request, see our [guide on contributing](https://github.com/sugarlabs/sugar-docs/blob/master/src/contributing.md#contributing). You don't need to ask for permission to work on an issue.

[2019-11-07 02:36] pikurasa commented on #1725
@SomtochiAma I think just the one widget from where the reint is being called.

[2019-11-07 15:47] pikurasa opened #1892 "Click to Refresh?"
I was prompted, on a page by Google, to click a (presumably javascript) button to refresh the page. If this is a JS feature that can be utilized, it would make refreshing the browser more convenient for 1. new language, and 2. switching beginner <--> advanced mode.

[2019-11-07 15:55] pikurasa commented on #1892
FWIW, I was prompted in Abrowser (essentially FireFox), so I feel confident the feature would work in both Chrome and FF. Unsure about Safari, but that should be investigated.

[2019-11-08 22:15] pikurasa opened #1893 "Flip scale degree pie menu to be consistent with our other pitch pie menus"
I can provide a picture, if needed. Just jotting down before I forget.

The pitch orientation is opposite for "scale degree". Higher pitches are to the right, not the left as we have for the other pitch blocks.

[2019-11-09 13:10] #1893 closed

[2019-11-10 18:25] walterbender commented on #1744
The most recent version of Tone.js breaks Chrome too... we need a new approach.

[2019-11-10 19:51] walterbender commented on #1725
Rather than a button, the reinit should be triggered by any modifications to the blocks inside the widget clamp.

[2019-11-10 21:29] #1418 closed

[2019-11-10 21:29] walterbender commented on #1418
We've taken a different approach.

[2019-11-10 21:31] walterbender commented on #1400
This is a duplicate of https://github.com/sugarlabs/musicblocks/issues/1825

[2019-11-10 21:31] #1400 closed

[2019-11-10 22:18] pikurasa commented on #1366
Some inspiration can also be found at http://legofortheblind.com/ (the author of this blog is also a musician and has created a rhythmic notation system with legos; we have some ideas for how to add pitch as well)

[2019-11-11 00:47] walterbender commented on #1892
https://github.com/sugarlabs/musicblocks/pull/1894

[2019-11-11 00:47] #1892 closed

[2019-11-11 01:13] #1310 closed

[2019-11-11 01:13] #1339 closed

[2019-11-11 01:13] #1340 closed

[2019-11-11 01:13] #1341 closed

[2019-11-11 01:13] #1342 closed

[2019-11-11 01:13] #1348 closed

[2019-11-11 01:13] #1357 closed

[2019-11-11 01:13] #1772 closed

[2019-11-11 01:16] walterbender commented on #1731
Duplicate with https://github.com/sugarlabs/musicblocks/issues/1852

[2019-11-11 01:16] #1731 closed

[2019-11-11 01:35] walterbender commented on #1305
I don't think this is useful enough to include.

[2019-11-11 01:35] #1305 closed

[2019-11-11 01:38] walterbender commented on #1290
They'd be concentric.

[2019-11-11 02:16] walterbender commented on #856
duplicate with https://github.com/sugarlabs/musicblocks/issues/745

[2019-11-11 02:16] #856 closed

[2019-11-11 02:19] walterbender commented on #849
Is this a duplicate with https://github.com/sugarlabs/musicblocks/issues/1223 ?

[2019-11-11 02:29] walterbender commented on #819
We came up with a lot more material in our NSF proposal. Let's make a document in the repo with not just a list but some explanation of why each item is on the list.

[2019-11-11 02:34] walterbender commented on #714
We've moved most of the color selections in https://github.com/sugarlabs/musicblocks/blob/master/js/utils/platformstyle.js

We could have a widget to override these values and/or store some themes.

[2019-11-11 06:28] tanhengyeow opened #1895 "GCI 2019 Mentor for Music Blocks"
Hi all, I wonder if Music Blocks require mentors for GCI 2019. If so, I'll be glad to assist the team in these areas:
1. Coding
2. Design
3. Research
4. Documentation
5. QA

[2019-11-11 06:40] quozl commented on #1895
Thanks.  Welcome.  Please get an account on the Wiki, and add your name to https://wiki.sugarlabs.org/go/Google_Code_In_2019 ... you can also promote your suitability by contributing to Music Blocks.  I've searched commits briefly but haven't found your name there.

This isn't a problem for the Music Blocks software, so I'll close the issue.

[2019-11-11 06:40] #1895 closed

[2019-11-11 14:21] SomtochiAma commented on #1725
Is it modifications in any widget at all and how can you know when they have been modified?

[2019-11-11 14:24] walterbender commented on #1725
First, you probably want to add a method to determine whether or not a block is in a widget clamp. Best to add that to blocks.js

We need to look in two places: block.js and blocks.js

In block.js, we need to look at when the value has changed in an argument block.
In blocks.js we want to know when a block is added or removed from a stack.

[2019-11-11 14:27] SomtochiAma commented on #1725
Will the reinit method just run init() again, I am thinking this will revert the blocks to their original state. Sorry if I am asking a lot of questions, I hope that's okay.

[2019-11-11 14:32] pikurasa commented on #1305
These are the things I was trying to do with rhythm for `decimal to fraction`. Something similar could be done for pitch. Since fractions is a common way for expressing the math in music, I thought it would be a useful feature.

![Screenshot at 2019-11-11 09:29:05-decimal-to-fraction](https://user-images.githubusercontent.com/13454579/68594614-dba3c900-048f-11ea-9136-83bfed6af224.png)

File used t

[2019-11-11 14:41] pikurasa commented on #1305
As for translations, it would be:
Kanji `小数を分数に直す` Kana `しょうすうをぶんすうになおす`

[2019-11-11 14:51] walterbender commented on #1725
It will be like running the widget block again...

[2019-11-11 14:59] walterbender commented on #1305
OK. We can reopen the PR and merge.

[2019-11-11 15:27] walterbender commented on #1305
merged.

[2019-11-11 17:50] SomtochiAma commented on #1725
Will this create another action block or update an existing one?

[2019-11-11 18:54] walterbender commented on #1725
Let me try to clear up a misunderstanding.

Widget blocks are typically clamp blocks containing other blocks.
Widgets are launched by clicking on a widget block.
While the widget is open, a user can make changes to the blocks inside the widget block.
The goal of this ticket is to detect when those changes are made and relaunch the widget.

Note that some widgets modify the blocks inside of a widge

[2019-11-11 22:04] alec-souders-cnu commented on #1856
Hey there,

For clarification, are you suggesting to have this visual keyboard for the basic major and minor scales (not mixolydian, phrygian, etc.)?

[2019-11-11 23:09] pikurasa commented on #1856
@alec-souders-cnu for all possible scales. Are you familiar with the custom mode widget?

[2019-11-11 23:58] alec-souders-cnu commented on #1856
Yes, I am. I guess I should have asked if you could clarify "custom temperament outside a 12 note system." I'm familiar with the custom mode widget's functionality, but not with this terminology in relation to its function. My apologies!

[2019-11-16 14:49] walterbender opened #1896 "When local storage fills up, the user is not informed"
Instead, an error is reported in the console and the project won't run.

ProjectStorage.js:177 Uncaught DOMException: Failed to execute 'setItem' on 'Storage': Setting the value of 'ProjectData' exceeded the quota.
    at ProjectStorage.set (https://musicblocks.sugarlabs.org/planet/js/ProjectStorage.js:177:27)
    at ProjectStorage.save (https://musicblocks.sugarlabs.org/planet/js/ProjectStorage.j

[2019-11-17 15:37] SomtochiAma commented on #1725
Is the "phrase maker" an example of the widget clamp?

[2019-11-17 16:41] fakela commented on #1725
Yes

On Sun, 17 Nov 2019, 16:37 Somtochi_Onyekwere, <notifications@github.com>
wrote:

[2019-11-18 15:17] pikurasa opened #1898 "Combination of `On strong beat do` and `On every note do` not working"
It seems that projects with both `on strong beat do` and `on every note do` do not work.

Example project:
![Screenshot at 2019-11-18 10:11:59 on strong beat and on every note do](https://user-images.githubusercontent.com/13454579/69064285-d73e5980-0a15-11ea-9f60-42437af35d21.png)
[phone-number-song-combo -of-every-beat-and-every-note-not-working.html.zip](https://github.com/sugarlabs/musicblocks/

[2019-11-18 15:45] walterbender commented on #1898
I think that the note in the action block is going to also trigger the arpeggio action. I'll dig into this.

[2019-11-18 20:52] pikurasa commented on #1898
I do not think we ever want that kind of recursion for `on every note do`.

[2019-11-18 20:55] pikurasa commented on #1705
We may want to call it "on scale degree do" or "on this scale degree do" or "on this pitch do".

If we call it "on pitch do" it could potentially confuse people (not "do" as in "do,re,mi").

[2019-11-18 21:06] pikurasa opened #1899 "Accept MIDI input"
Users with a MIDI keyboard connected to their computer (presumably via USB) could select notes using their keyboard. This could be convenient.

(These are just sketches -- to be refined)

For creating blocks:
* Selecting a pitch at the keyboard could generate the corresponding block on the screen in the same way that our keyboard shortcuts create blocks. There would, however, be no limit to octave

[2019-11-18 21:21] pikurasa opened #1900 "Update Musical Keyboard Documentation"
I think we ought to update https://github.com/sugarlabs/musicblocks/tree/master/guide#411-music-keyboard

Also, is it "Music Keyboard" or "musical keyboard"? We should try to be consistent.

[2019-11-18 22:06] alec-souders-cnu opened #1901 "Custom mode widget diplays mode twice after modifying in the interface"
This issue pertains to the custom mode widget interface.

Upon the selection of a different key and selection/deselection of different numbers on the wheel, the blocks attached to the custom mode widget display the "mode" twice, instead of the "key" and the "mode".

To replicate this issue, open the custom mode widget interface. Click the "key" block outside the interface (connected to the custom

[2019-11-19 00:31] pikurasa opened #1902 "Increase/Decrease Octave Value in Scale Degree Pie Menu"
Our Solfege Pitch Block automatically ticks scale degree's octave value up or down in its pie menu based on whether  the user is crossing the octave ti --> do (up) or do --> ti (down).

Currently, this feature is not present in scale degree's pie menu. It should be added.

[2019-11-19 00:34] pikurasa opened #1903 "Audio Playback for `Pitch Number`"
Currently `Pitch Number`'s pie menu is not providing an audio playback of the pitch (as it does for the other types of pitch blocks).

[2019-11-19 00:50] pikurasa opened #1904 "Pie menu for Hertz (pitch) block?"
Perhaps we could have a pie menu for `hertz` (pitch) block for chromatic values 220 - 880. (see https://pages.mtu.edu/~suits/notefreqs.html* for specific values)

Otherwise, we could have a slider, which could either be a pie (circle) or something like what we have with our current hertz widget.

*Copied from https://pages.mtu.edu/~suits/notefreqs.html

|Note	|Frequency (Hz)	|Wavelength (cm)|
|--|

[2019-11-19 00:57] walterbender commented on #1904
I think the pie menu makes sense here...Not sure we need wavelength.

[2019-11-19 00:57] walterbender commented on #1904
Maybe we want a wavelength block (in the spirit of multiple representations)?

[2019-11-19 01:10] pikurasa opened #1905 "Alert user when `note value` is greater than 2"
A note of note value that is greater than 2 is long and often users presume MB is broken.

MB should alert the user when code they are running is a note block with a value greater than 2.

(Originally, I was thinking "greater than or equal to 4", but greater than 2 is pretty long)

Note: There should be some instances/cases where this should be ignored such as if the long note value is a result of

[2019-11-19 01:13] pikurasa commented on #1905
(maybe) If the user is using a rest block (silence block), the alert should only trigger when greater than 4.

[2019-11-19 01:18] walterbender opened #1906 "distance block"
While you can calculate distance, it is a bit clumsy. A distance block would be handy. By default, it should measure the distance between the mouse x, y and the cursor x, y.

![Screenshot from 2019-11-18 20-12-48](https://user-images.githubusercontent.com/3996641/69107796-97409c00-0a40-11ea-85ee-fea8b315f4b3.png)

should be a block with 4 inputs...

[2019-11-19 01:35] pikurasa commented on #1906
Cool

[2019-11-19 01:44] walterbender commented on #1906
![Screenshot from 2019-11-18 20-40-49](https://user-images.githubusercontent.com/3996641/69108935-2bf8c900-0a44-11ea-9a92-537d055a6485.png)

[2019-11-20 16:09] pikurasa commented on #224
(Possibly helpful, related findings)

https://www.abcjs.net/abcjs-editor.html is really nice demo page that
responds to changes in the ABC notation in real time.

https://www.abcjs.net
^^ The developer's website is very helpful

https://github.com/paulrosen/abcjs
^^ This is the code (MIT-ish license)

[2019-11-20 16:14] pikurasa opened #1907 "Expose Standard Notation to UI | Engrave ABC within MB"
Right now a user can export their code as Lilypond or ABC, and use another program to engrave their musical creation.

It would be nice if there were a way to engrave to standard notation within Music Blocks.

The following information suggests that, using these ABC-JS tools together with our own ABC export tools, we could engrave and display the standard notation within MB.

**ABC-JS**

https://w

[2019-11-21 17:53] pikurasa opened #1908 "More Informative Help Example for "Make Block""
Right now the user gets this, which does not give quite enough clues as to how to utilize the block.

![Screenshot at 2019-11-21 12:45:46 difficult to understand](https://user-images.githubusercontent.com/13454579/69362848-36ef6b80-0c87-11ea-84f0-d05f0565e5b5.png)

After some tinkering, I came up with the following, but am open to other options as well.

![Screenshot at 2019-11-21 12:50:53 make bl

[2019-11-21 18:02] pikurasa opened #1909 "Delete Block Help"
Delete Block has no corresponding help image (and therefore no example to generate from help).

I propose the following:

![Screenshot at 2019-11-21 12:58:38 Delete Block](https://user-images.githubusercontent.com/13454579/69363684-d8c38800-0c88-11ea-9ac2-f77a801c12ad.png)

Hello Note, Goodbye Note!

The corresponding SVG and MB (.html) are
[delete-block.zip](https://github.com/sugarlabs/musicbloc

[2019-11-23 01:22] walterbender opened #1910 "using repeat block breaks grid in Music Keyboard"
Specifying keys with individual pitch blocks works fine, but in the case of using a repeat block and a step pitch block, every key stroke results in every note being selected in the grid. Playback and export work fine. It is just the grid itself.

![Screenshot from 2019-11-22 18-38-56](https://user-images.githubusercontent.com/3996641/69470638-de42d000-0d65-11ea-9ec4-cd0aa8b593aa.png)

The problem

[2019-11-23 12:34] #1910 closed

[2019-11-23 12:40] walterbender opened #1911 "add macro for creating chromatic keyboard"
It would be familiar to many people to see a keyboard that spans an octave but includes black and white keys in the music keyboard widget.
![Screenshot from 2019-11-22 18-38-56a](https://user-images.githubusercontent.com/3996641/69478790-6eaffd80-0dc4-11ea-8bab-19b5ec13f574.png)

It can be done by using 10 individual pitch blocks, but that is tedious. An easier way is to use the step pitch block w

[2019-11-24 00:15] walterbender commented on #1898
Here is a simple work-around while I try to figure out what is wrong.
[mb.zip](https://github.com/sugarlabs/musicblocks/files/3883075/mb.zip)
![Screenshot from 2019-11-23 19-15-20](https://user-images.githubusercontent.com/3996641/69487309-9e432200-0e25-11ea-814d-9b6bf2a684db.png)

[2019-11-24 11:22] SomtochiAma commented on #1909
Hey, The SVG image included in the zip file is too big for the help box. It extends out of the browser and therefore isn't visible. Is it possible to get a smaller SVG file?

[2019-11-24 12:34] pikurasa commented on #1909
Yes, you could recreate from the html file. Load the MB program from the html file, save as svg.

Otherwise, you could edit from a svg editor like inkscape.

[2019-11-24 13:48] #1854 closed

[2019-11-24 21:33] #1909 closed

[2019-11-24 21:59] #1908 closed

[2019-11-29 05:38] Pep-DEV101 commented on #1911
GCI marked  bugs reserved for GCI or anyone could contribute on these

[2019-11-29 12:44] walterbender commented on #1911
Feel free to take on any open issue.

[2019-11-30 04:05] pidddgy opened #1919 "Blocks in macros briefly appear in upper left of the screen"
https://www.youtube.com/watch?v=GBf4CIWtMg0&feature=youtu.be

look at the top left corner, right below the navbar. tested on firefox

[2019-11-30 12:59] walterbender commented on #1919
Blocks are created at 0, 0 and then moved into position. Maybe it would be better to create them off screen. This would mean changing the X,Y coordinates of the block to, for example, 0, -1000

[2019-11-30 13:33] #1911 closed

[2019-12-01 01:55] pikurasa commented on #1856
We have a temperament widget that allows the user to create notes for pitches that lie outside of the piano keys. When these custom notes are used, for now, we should ignore them until we have a robust design that accounts for their unique representation(s).

[2019-12-01 02:00] pikurasa opened #1920 "Viola Synth"
One of my students requests that we have viola as an option (not just violin or cello).

She plays viola.

[2019-12-02 23:34] Bottersnike commented on #1544
I can't claim on GCI, because I'm waiting on another task, but this would be my suggestion to make the widgets work a tad better with the rest of the UI:
![bitmap](https://user-images.githubusercontent.com/7524553/70003800-2fb83f80-155c-11ea-8c27-b3ef6e4fed7a.png)

There are a few things going on here>
* The most obvious thing is that widgets have been moved into floating windows of sorts, which g

[2019-12-02 23:39] walterbender commented on #1544
Makes a lot of sense. @pikurasa what do you think?
(I'd prefer gray than green for the title background.)

[2019-12-03 00:00] pikurasa commented on #1544
This all sounds really good.

I don't really mind the green, but whatever would be easiest to read. @Bottersnike Please research the color scheme in terms of color-blindness and any other recommendations on readability you can find online.

Lastly, what is the behavior for mobile?

(For example, "Perhaps for mobile, there are tabs at the top of the screen for any open widgets?")

Prob for one GCI

[2019-12-03 00:20] Bottersnike commented on #1544
For mobile, I would imagine it would do away with the window-ness and instead make it take up the whole screen. This would loose some of the fancies like rolling up windows, but I can't realistically see a practical way to implement windowing on the limited screen size available on mobile (especially after browsers apply viewport scaling). Colour-blindness isn't something I had considered and I'll

[2019-12-03 05:53] Nepaltechguy2 opened #1924 "`npm run serve` fails if only python 3 is installed"
A relatively minor bug but one I couldn't trivially solve while staying cross-platform: if you only have python3 installed on your system, `npm run serve` (or `python -m SimpleHTTPServer -p 3000`) errors out.

The python3 equivalent is `python -m http.server -p 3000`.

[2019-12-03 06:12] Hrishi1999 commented on #1924
The Python3 alternative to run the server would be `python3 -m http.server 9000`. The same can be changed in package.json to run `npm run server`

[2019-12-03 06:18] quozl commented on #1924
@Hrishi1999, I agree `python3` is more precise given some systems still default to `python2` when the command `python` is used, but why port 9000?

[2019-12-03 06:21] Hrishi1999 commented on #1924
@quozl I just took it as an example. Also, on some systems, `python3` is recognized as `py` by the system.

[2019-12-03 14:30] #1896 closed

[2019-12-03 15:21] Bottersnike commented on #1544
@pikurasa @walterbender now that I've claimed the task on the GCI dash, would you rather discussion move there or remain here?

[2019-12-03 15:38] pikurasa commented on #1544
Here is fine. The GCI dash can be used for more GCI-centric questions.

[2019-12-03 15:40] pikurasa commented on #1544
The grey is better, upon my first impression.

[2019-12-03 15:41] pikurasa commented on #1544
@walterbender any opinions on https://github.com/sugarlabs/musicblocks/issues/1544#issuecomment-560940829 ?

You have more experience with these sorts of things.

[2019-12-03 16:17] walterbender commented on #1544
I agree that full screen makes sense for smaller screens.

[2019-12-03 23:19] #1901 closed

[2019-12-03 23:23] Bottersnike commented on #1544
I think my idea for on mobile would be something like this, where it appears as a further level of nesting within the application. The toolbar, when present, would be a horizontally scrolling view with some indication of this, and the main body would also perform horizontal scrolling when required.
![mb_shown](https://user-images.githubusercontent.com/7524553/70098290-6f962a00-1623-11ea-8a10-c1f47

[2019-12-04 13:14] Bottersnike commented on #1544
Having run the images through a site that simulates colour blindness, the contrast on the green one is rather lost between the shades of green, but on the grey because there's already significant contrast it appears to remain readable for all the different types the site simulated. The more I look at them, the more I also think I prefer the grey just in general, so that couples nicely with it bein

[2019-12-04 13:57] perriefidelis commented on #1544
yes, for contract and readability the **grey** works better also for colourblind individuals.

how do you intend to indicate that there is a horizontal scrolling?

this works for me.
 @walterbender and @pikurasa?

[2019-12-04 19:20] walterbender commented on #1856
It would be nice if the keyboard played too when the play button is pressed.

[2019-12-05 12:50] Bottersnike opened #1928 "Overly verbose logging"
Many different files within Musicblocks, especially during startup, make liberal use of `console.log`. While useful for debugging those individual scripts, this clutters the console to no end and can make it hard to find what your're looking for when you _are_ debugging something rather hard. It also makes the `Music Blocks is a collection of tools for exploring fundamental musical concepts in a f

[2019-12-05 13:07] Bottersnike commented on #1544
@perriefidelis to indicate horizontal scrolling I think probably adding either a prominent scrollbar (see: the bottom of the main body), or some sort of fade-off effect to indicate that something was clipped off the edge.

On a different note, during implementation I came across an extra thing. Should we allow widget windows to go off the edges of the canvas (right), or snap them to the edges (lef

[2019-12-05 15:04] pikurasa commented on #1544
@Bottersnike I think that, when the widget is full-screen on mobile and in-focus, the top menu with "play", "stop", (etc), "planet", etc. should be hidden. This is because they have more to do with the code, than the widget. For example, pressing "play" would result in the code being run, not the widget.

@walterbender Thoughts?

[2019-12-05 15:24] fakela commented on #1544
@bottersnike the horizontal scroll bar at the top is a nice feature to add .

The 'play' ,'stop' does not run the widget and can be hidden when the
widget is in-focus  I agree with @pikurasa on that

@walterbender maybe you could have a different opinion

On Thu, 5 Dec 2019, 16:04 Devin Ulibarri, <notifications@github.com> wrote:

[2019-12-05 15:31] pikurasa commented on #1727
There has been some regression where it is "floor tom tom" again...

I noticed this in Japanese because it is the only drum sound not translating properly...

![Screenshot at 2019-12-05 10:30:13 floor tom tom Japanese](https://user-images.githubusercontent.com/13454579/70249468-518c0f00-1774-11ea-88a3-6dfc1f7e4f00.png)

[2019-12-05 16:22] walterbender commented on #1544
Actually, the play/stop button on the main toolbar can be used with an open widget. But I think it may be confusing.

[2019-12-05 18:26] walterbender commented on #1919
This patch works great for macros but individual blocks are now rendered off screen. I reverted the fix and am reopening the issue until we develop the proper work-around.

[2019-12-05 23:29] walterbender commented on #1727
Not sure how this could be happening again, but I added another check that should catch it.

[2019-12-05 23:29] #1727 closed

[2019-12-05 23:34] walterbender opened #1930 "missing clicks"
[code]

[2019-12-05 23:34] walterbender commented on #1930
fixed by https://github.com/sugarlabs/musicblocks/pull/1929

[2019-12-05 23:34] #1930 closed

[2019-12-06 07:20] b18050 commented on #1900
hey , I will like to work on this.

[2019-12-06 08:53] b18050 commented on #1924
@quozl  This is what I found .
https://gist.github.com/pavgup/11220737
This stands up a python http server and receives both POST and GET requests and prints to the console the parameters and values it receives over HTTP.

[2019-12-06 08:58] b18050 commented on #1890
I will like to work on this issue . Please help me to get started.

[2019-12-06 13:12] walterbender commented on #1890
No need to ask permission. Jump in.
The relevant code is probably buried somewhere in logo.js

Please follow the guidelines in https://github.com/sugarlabs/sugar-docs/blob/master/src/contributing.md

[2019-12-06 14:59] pikurasa opened #1931 "Cannot Open Projects from Shared Links"
Testing Environment:
Chromium = Version 70.0.3521.0 (Developer Build) (64-bit)
Language = JA-Kanji

I cannot seem to open projects from links. It gives me a blank canvas with no blocks -- not even a single start block. I noticed it about a week ago, and have been using workarounds, but as it seems to persist, I am reporting it.

The suspicious part of the log is:
[code]

[2019-12-06 15:03] pikurasa commented on #1931
Tested from https://musicblocks.sugarlabs.org

Unsure if it happens in Rawgit. Rawgit seems to open in English for me by default (maybe that is what it is set to in my cookies). I could try and test to see if changing to JA-Kanji causes the same issue, but using Rawgit is one of my workarounds for now.

[2019-12-06 15:07] pikurasa commented on #1931
This linked project also does not seem to be working for me on Rawgit:

https://rawgit.com/sugarlabs/musicblocks/master/index.html?id=1575610058500947&run=True

(Does it work for others?)

I also see this in the logs:
[code]

[2019-12-06 15:22] pikurasa commented on #1931
I am experiencing troubles in Abrowser, too.

This project opened with no START block...

![Screenshot at 2019-12-06 10:20:21 No START](https://user-images.githubusercontent.com/13454579/70333864-3389e180-183c-11ea-9bec-adc72512591b.png)

[2019-12-06 15:25] pikurasa opened #1932 "Cell Improvement for Grids (Phrase Maker, Keyboard)"
Read conversation at https://github.com/sugarlabs/musicblocks/pull/1926

Last design options proposed by @Bottersnike is:

![image](https://user-images.githubusercontent.com/7524553/70332823-469bb200-183a-11ea-865c-9b7ff506e05b.png)

Comment with above picture is:

[2019-12-06 15:49] b18050 commented on #1902
I will like to work on this issue. Please help me get started ..

[2019-12-06 15:57] b18050 commented on #1932
Please assign this issue to me.

[2019-12-06 16:09] fakela commented on #1902
Alright then. The relevant code for this issue should be found in the logo.js

[2019-12-06 16:22] Hrishi1999 commented on #1924
A conditional `serve` command would do just fine. Can use something similar like this: https://stackoverflow.com/questions/45553455/package-json-script-conditional

[2019-12-06 16:24] perriefidelis commented on #1544
@walterbender just a thought, do you think introducing pop here will be a bad idea?

Because if we want other code associated features to be hidden the widget can be a stand alone as a pop

[2019-12-06 16:50] walterbender commented on #1544
@perriefidelis not sure I understand what you mean.

[2019-12-06 17:18] pikurasa opened #1933 "Change "Add" to "Duplicate" for Note Value in Phrase Maker"
There are a few aspects of the way new (rhythm) notes are added for Phrase Maker that I think need to be revisited.

As a small step in the right direction, I propose that "add" be changed to "duplicate" as what is being done is the note value that is chosen is duplicated.

The reason "add" is confusing is the submenu has numbers and it may be assumed that these numbers are values for the new colu

[2019-12-06 17:42] walterbender commented on #1544
- [x] Phrase maker
- [ ] Rhythm maker
- [ ] Mode
- [ ] Music keyboard
- [ ] Help
- [ ] Meter
- [ ] Pitch staircase
- [ ] Pitch slider
- [ ] Status
- [ ] Temperament
- [ ] Timbre
- [ ] Pitch-drum mapper

[2019-12-06 17:57] fakela commented on #1544
1 done eleven more to go

On Fri, 6 Dec 2019, 18:42 Walter Bender, <notifications@github.com> wrote:

[2019-12-06 18:02] b18050 commented on #1902
I am stuck. Please give me some more guidance ..

[2019-12-06 18:29] walterbender commented on #1902
Hard to give you more guidance when you are being so vague. What are you stuck on?

[2019-12-06 18:50] b18050 commented on #1902
Sorry , but I donot unserstand what is scale degree?
Is it a block so having a pie menu different from pitch block's pie menu?

[2019-12-06 18:52] walterbender commented on #1902
Maybe it would be best to familiarize yourself with Music Blocks before trying to tackle this issue. Please see the [Guide](https://github.com/sugarlabs/musicblocks/blob/master/guide/README.md)

[2019-12-06 18:54] b18050 commented on #1902
Thanks . First I will go through the guide , then try to tackle issues.

[2019-12-06 22:36] pikurasa opened #1934 "Infininote in Phrase Maker"
My student just ran into the issue of "infininote" -- the infinitely long note in phrase maker.

Logs from student's project:

[infininote-1575671549302.log.zip](https://github.com/sugarlabs/musicblocks/files/3934286/infininote-1575671549302.log.zip)

We are using Chromium and a slightly more dated version of MB (by about 3 weeks) as Rawgit seems to have some new hidden features (ie bugs).

[2019-12-06 22:38] pikurasa opened #1935 "No playback on project"
Haven't the time to investigate right now, but I am unable to run this project which uses on strong/weak beat on rawgit:

[project-not-performing.zip](https://github.com/sugarlabs/musicblocks/files/3934291/project-not-performing.zip)

[2019-12-06 22:53] pikurasa opened #1936 "Top Menu Disappears"
On Rawgit:

Click on Planet

Top menu will disappear

[2019-12-07 13:44] walterbender opened #1938 "Audio playback needs user interaction"
Web security is now requiring a user interaction before allowing audio to play. This impacts opening a link with the run=True option.

We should add a message saying click on play to start in these situations.

[2019-12-07 13:45] walterbender opened #1939 "preview sound when using hertz block pie menu"
It would be nice to be able to preview the sounds in the Hertz Block pie menu.

[2019-12-07 21:50] walterbender commented on #1935
Please retest on latest master... works for me but it could be related to the bug I fixed today.

[2019-12-07 21:51] walterbender commented on #1936
Should be fixed on master

[2019-12-07 21:51] #1904 closed

[2019-12-08 02:21] walterbender commented on #1934
This log is actually quite helpful. Stay tuned.

[2019-12-08 03:12] pikurasa commented on #1936
Works for me and I will reopen if I experience it again.

[2019-12-08 03:17] pikurasa commented on #1934
We can thank one of my students. :)

[2019-12-08 22:38] pikurasa opened #1943 "Neighbor Block seems to escape Transposition Transformation"
I think this needs additional investigation, but in the following project (I call it "Eerily we Roll Along") the neighbor notes play too high--ignoring the semi-tone transposition.

[Dark Remix of Merily _ Eerily we Roll.html.zip](https://github.com/sugarlabs/musicblocks/files/3937258/Dark.Remix.of.Merily._.Eerily.we.Roll.html.zip)

[2019-12-09 00:53] #1943 closed

[2019-12-09 11:58] carpecodeum commented on #1725
hey can i work on this issue?

[2019-12-09 12:27] #1924 closed

[2019-12-09 12:48] walterbender commented on #1725
Feel free to dive in. Not the easiest first task, however.

[2019-12-09 17:28] pikurasa opened #1944 "Default BPM of 90 should be explicit in Lilypond when other voice is different"
This project has a really fascinating sound to it. One thing that makes it sound fascinating is the left hand is going 90BPM while the right hand is 140BPM (just recently I updated to 150BPM).

Today, I decided to see what the project looked like as Lilypond and I see that--although the right hand has quarter = 140BPM at the top--the left hand does not have anything, which implicitly tells the rea

[2019-12-09 18:11] pikurasa opened #1945 "pie menu for right and left blocks (degrees)"
Left and Right are begging for pie menus.

I also think that having pie menus will help avoid the confusion as to what the number value means. (some students have assumed it is a kind of x y coordinate)

I propose the following values for right:
0, 30, 60, 90, 120, 150, 180, 210, 240, 270, 300, 330

Left is the same, but backwards so that 90 will be in the position directly to the left.

[2019-12-09 18:12] pikurasa commented on #1945
Our angle block has values for degrees in increments of 15, which is also okay I think.

[2019-12-09 19:03] pikurasa opened #1946 "Bug with `Make Block`"
`Make Block` seems to cause an issue with its block inputs when you do the following:

(boiled down to simplest after repeating different steps)
1. Create a `make block` for "forward"
2. Insert a `random min/max`
3. Pull out a `box` block and insert the `make block` into it.

It should look like this:
![Screenshot at 2019-12-09 14:00:30 broken connection](https://user-images.githubusercontent.com/

[2019-12-10 03:26] kierenmacmillan commented on #1944
Hi all,

I often do polyrhythmic in my music, e.g.

Note how the barlines are a-sync at first (the last sync-ed barline was several systems before in this particular piece), and then they re-sync at the end of the system pictured.

So, yes, it’s possible. And, in a certain sense, easy. The difficult part would be to calculate line breaks — which would almost certainly be mid-measure (possibly in m

[2019-12-10 04:01] walterbender commented on #1946
I noticed that if there is no arg block in the box block, everything works fine. It is when you are replacing the arg block, the connects get mixed up. No idea why. Investigating.

[2019-12-10 04:02] walterbender commented on #1946
I wonder (expect) the same thing to happen with the count notes block.

[2019-12-10 15:06] pikurasa commented on #1944
@kierenmacmillan Please upload the image via Github. We cannot see it. Thank you!

The example is in the .zip file above, but I will copy here and subtract most of the fluff.

[code]

[2019-12-10 17:55] #1946 closed

[2019-12-10 23:58] pikurasa opened #1947 "Drop and Load Project Feature Available in Planet View"
Currently Drop and Load does not work when the user is in planet view.

Is this intentional?

[2019-12-11 00:00] pikurasa opened #1948 "Path to Save Artwork from Beginner Mode"
For beginner mode we greatly simplified what features beginners will see, which is good.

However, I think it is an oversight that there is no path to save artwork from beginner mode.

Today, students wanted to save the art they created, but the best I could do was make a screenshot because I knew that changing to advanced mode would erase the art they currently had on the screen.

[2019-12-11 00:08] pikurasa opened #1949 "Way (for teachers) to lock blocks"
Chie observed in one of my classes that students were breaking my starting example, which caused confusion and it was difficult to get to all the students who had broken their programs. She suggested that there may be some feature for blocks to be locked such that they need to be unlocked before modification. This would give the creator--presumably a teacher--some control over where students would

[2019-12-11 14:03] carpecodeum commented on #1725
@walterbender hey how do i communicate with the community? i have a few queries to ask regarding gsoc 2020

[2019-12-11 19:16] pikurasa commented on #1944
@kierenmacmillan can prob explain better, but it seems that the (generic) code would look something like:

[code]

[2019-12-11 19:20] pikurasa commented on #1944
and half of "Eerily we Roll Along" (sans chords) would be something like:

![Screenshot at 2019-12-11 14:19:19 Eerily we Roll](https://user-images.githubusercontent.com/13454579/70652837-39703000-1c4b-11ea-90cb-2aa3153032c8.png)

[code]

[2019-12-11 19:49] kierenmacmillan commented on #1944
Hi there,

One correction, I think?

If the tempo ratio is 150/90, then the Timing adjustment should match:
    \set Timing.measureLength = #(ly:make-moment 15/9)

I think for safety, you might just use the real ratio:
    \set Timing.measureLength = #(ly:make-moment 150/90)

That way, if it’s not divisible by 10, it still works:
\set Timing.measureLength = #(ly:make-moment 141/83)

Best,
Kieren.

[2019-12-12 03:06] pikurasa commented on #1944
@kierenmacmillan that makes sense thank you!

After doing the math, it seems easier to align 120 and 90, so my updated example is as follows (for simplicity's sake):

(every three measures of 90 equals one measure of 120)

![Screenshot at 2019-12-11 22:05:00](https://user-images.githubusercontent.com/13454579/70679150-35183700-1c8c-11ea-8842-99fcfac7472f.png)

[code]

[2019-12-12 08:34] Bottersnike commented on #1544
I've just encountered an issue I hadn't considered. In some widgets, such as the pitch staircase, the input areas in the header are designed to work when horizontal.

![image](https://user-images.githubusercontent.com/7524553/70695513-cce04a00-1cb9-11ea-81f1-bfd6fd38bb41.png)

Naturally, stacking `3`, `:`, and `2` vertically has no hope of working.

![image](https://user-images.githubusercontent.c

[2019-12-12 13:10] walterbender commented on #1544
think 3/2 with the line is better.

[2019-12-13 12:36] AnanyaAppan opened #1956 "Location of each Block not specified in Guide"
The README in the Guide is very well written! However, I was trying to use music blocks for the first time and I had to try each and every option in the palette until I found the block I wanted.  I had gone through the Guide as well, and could not find this information anywhere. It would be great if someone could update this, and I'm happy to volunteer.

[2019-12-13 13:09] walterbender commented on #1956
By "location of each block", do you mean, which palette a block can be found on?
Much of that is covered in https://github.com/sugarlabs/musicblocks/tree/master/documentation but maybe a table (for beginner and advanced modes) would be helpful.

[2019-12-13 13:25] AnanyaAppan commented on #1956
Yes, by "location" I had meant the palette corresponding to the block.
I had not read [this link](https://github.com/sugarlabs/musicblocks/tree/master/documentation)! Yeah a table would be helpful. But it would be good to have it in the guide as well, since that's the link to which the user is directed to in the help provided.

[2019-12-13 14:20] walterbender commented on #1956
You mean help from within the program? Maybe we should provide both links as per

https://github.com/sugarlabs/musicblocks#USING_MUSIC_BLOCKS

[2019-12-13 15:12] pikurasa commented on #1818
Note: Ideal sounds should not have any fluctuation in pitch (i.e. vibrato). The sounds need to be simple and pure so that the user may manipulate them via the programming language tools.

[2019-12-13 15:29] AnanyaAppan commented on #1956
Yes, that would work perfectly.

[2019-12-13 15:39] pikurasa commented on #1544
Yes, the line is better when it is stacked vertically.

[2019-12-13 15:42] pikurasa commented on #1544
It might be nice if these numbers were selected via the pie menu, maybe with some basic choices like 2-7. (The option to type in a number would still be available) This would most likely improve UX on mobile.

[2019-12-13 15:46] pikurasa commented on #1544
I have another thought: When the user is focused on a particular widget, then what if the clamp and contained block for that widget should stay full color, but other blocks displayed more translucent? This is so that the user draws their attention to the code in the widget clamp respective to the widget they are working on.

If there is agreement to this enhancement, I can create a separate ticket

[2019-12-13 16:00] walterbender commented on #1544
Best as a separate ticket. Thx

[2019-12-13 16:25] pikurasa opened #1957 "Choose Key in Menu; Changes Central Options in Pitch Pie Menus"
I have a few ideas that will enhance the utility and accessibility of our key/mode features, but this one is the more "low-lying fruit" and will make way for the others.

I think it should be visible in both easy and advanced mode, but when the user clicks the hamburger for more menu options they will also have a choice to "change key". This "change key" option will be limited only to the traditio

[2019-12-13 16:33] pikurasa commented on #713
I think that the next embellishment that would be probably be easy enough to do is https://github.com/sugarlabs/musicblocks/issues/438 It is basically a quick succession of neighbor notes.

[2019-12-13 16:35] pikurasa commented on #713
I think that the next embellishment that would be probably be easy enough to do is https://github.com/sugarlabs/musicblocks/issues/438 It is basically a quick succession of neighbor notes.

[2019-12-13 16:44] walterbender commented on #1957
Specifying the key would let us simplify many of the menus. The challenge had been that we didn't know the key until the code was running.

[2019-12-13 16:52] pikurasa commented on #438
The image in the comment above is:
![neighbor](https://user-images.githubusercontent.com/13454579/70816879-6719be00-1d9e-11ea-917c-774c09477887.png)

The design idea was to use neighbor within a note value block (within the ornament palette as a macros) to create a trill.

The above example would:
Fill: 1/2 note time
Rate: 1/16th notes
Note(s): B4 <-> C5

(Alternatively, a new block dedicated to t

[2019-12-13 17:09] PriyalsantoshJain commented on #1232
Hello sir, my name is Priyal.
I am new here, I would like to work on this issue, can u please guide me in doing so ?

[2019-12-13 17:42] walterbender commented on #1232
https://github.com/sugarlabs/musicblocks#CONTRIBUTING is a good place to start

[2019-12-13 17:52] PriyalsantoshJain commented on #1232
Can you sir please assign me a Good First Issue by yourself, so that I can start work on it under your guidance.

[2019-12-13 18:01] walterbender commented on #1232
https://github.com/sugarlabs/sugar-docs/blob/master/src/contributing.md

"Please note there is no need to ask permission to work on an issue. You should check for pull requests linked to an issue you are addressing; if there are none, then assume nobody has done anything. Begin to fix the problem, test, make your commits, push your commits, then make a pull request. Mention an issue number in the

[2019-12-13 18:02] pikurasa commented on #1957
This is more a "Music Blocks as IDE" enhancement than a "Music Blocks as Code Interpreter" enhancement.

The menus would stay the same, but the default options would change according to the key chosen in top menu (and could be overridden by the user).

[2019-12-13 20:39] walterbender commented on #1426
https://github.com/sugarlabs/musicblocks/blob/master/js/artwork.js#L279  <-- this is where the icon lives.

[2019-12-14 06:12] Alchemist98 commented on #1938
Hi I want to work on this issue if anyone not working

[2019-12-14 15:34] walterbender commented on #1938
Feel free to jump in. Seems to be more important than ever given the latest Chrome release.

[2019-12-14 16:29] PriyalsantoshJain commented on #1900
I tried to update the above link but couldn't found required portion in https://github.com/sugarlabs/musicblocks/blob/master/guide/index.html  after line 1069.

[2019-12-14 16:33] walterbender commented on #1900
The index.html file is generated from the .md file. It is woefully out of date. But we can regenerate it after the other updates.

[2019-12-15 17:55] samyok opened #1963 "Git-based Backend"
## Problem
Currently, Musicblock's planet has a basic forking system. In order to better serve the purpose of Musicblocks and its Planet, a Git-based planet (wherein users could commit, open/clone projects, merge, fork, and create PRs) would be a useful feature.

## Idea: Node-based planet rewrite
- Architecture:
     - NodeJS with a MongoDB backend
     - Use actual git repos for every project (i

[2019-12-15 21:07] pikurasa commented on #1963
I believe there was some work toward this as a GSoC (2018? 2019?) project. I recommend you review that work.

[2019-12-16 01:38] pikurasa commented on #1938
While we are doing this, may we also present the user with the title and description of the project?

I think this would help give the person who happens upon the link to have some context.

[2019-12-16 08:04] PriyalsantoshJain opened #1964 "Making widgets visible."
Due to immovable nature of help box some widget are hidden.
![help box ](https://user-images.githubusercontent.com/42600444/70889220-0c839a80-2008-11ea-8319-86bf0650cae3.JPG)

[2019-12-16 08:15] PriyalsantoshJain opened #1965 "Redo Button"
Just like there is restore button (which works something like undo button) we can also have a redo button.
 For example, suppose we selected node value rhythm and we again want that, we can directly press redo button to do so.

[2019-12-16 08:42] PriyalsantoshJain opened #1966 "Update "Run step by step" button"
"Run step by step" button is doing nothing. Neither higlighting any block nor producing any sound.

[2019-12-16 09:01] PriyalsantoshJain opened #1967 "Ignoring negative note value."
As we know note values must be greater than 0, so when user try to decrease value via decrease button at that time only warning "Note value must be greater than 0" should appear and value should not go below 1.

[2019-12-16 09:39] PriyalsantoshJain commented on #1956
According to me, Block table can come after "Getting started" and before "Making sounds" i.e. at index 2 in READme of Guide.

[2019-12-16 13:04] walterbender commented on #1964
The help widget can be dragged to a new position.

[2019-12-16 13:04] #1964 closed

[2019-12-16 13:06] walterbender commented on #1966
Can you please describe how you tested this? I just tested on Chrome 78.0.3904.108 and both step-by-step and slow modes worked as expected.

[2019-12-16 13:26] walterbender commented on #1965
We need to decide on the scope and granularity of this feature.

[2019-12-16 13:29] walterbender commented on #1963
@perriefidelis Can you look at this from the UX POV?

[2019-12-16 14:05] perriefidelis commented on #1963
I dropped some comments on the google docs

[2019-12-16 15:58] AnanyaAppan commented on #1956
Would a table like this suffice?
![beginner](https://user-images.githubusercontent.com/32462233/70921734-e3d0c480-204a-11ea-9ada-54976521b9ec.png)
![advanced](https://user-images.githubusercontent.com/32462233/70921741-e6331e80-204a-11ea-8b26-c32cd15d013d.png)

[2019-12-16 16:42] PriyalsantoshJain commented on #1956
Yeah! That's a good idea.

[2019-12-16 18:39] PriyalsantoshJain commented on #1965
As user set some values of a particular block, user must get same block with same values just by using redo button means only last modified block or last selected block.
(To be more clear, just as the case of copy and paste, only last copy was pasted using ctrl+v)

[2019-12-16 19:19] PriyalsantoshJain commented on #1967
![IMG_20191217_002215_328](https://user-images.githubusercontent.com/42600444/70935027-49ca4580-2065-11ea-9b42-977651f90b88.JPG)
Situation like this should not appear. Instead
![IMG_20191217_004710_265](https://user-images.githubusercontent.com/42600444/70935782-ff49c880-2066-11ea-9c2c-23414f38c802.JPG)
If after this user try to decrease value he/she must get notification.

[2019-12-17 09:13] AnanyaAppan opened #1969 "Save File option suggested on switching modes"
On switching from beginner to advanced mode or vice versa, at times the following pops up on refreshing the browser.

![Screenshot from 2019-12-17 14-39-41](https://user-images.githubusercontent.com/32462233/70981508-48d3fb00-20db-11ea-9f5f-67f8774a747f.png)

This appears even without clicking on the save project option.

[2019-12-17 14:45] Bottersnike commented on #1344
When attempting to navigate away from an unsaved project, newer browser standards now dictate that the only option a script has is to display the follow dialog, with no ability to customise any part of it:
![image](https://user-images.githubusercontent.com/7524553/71003979-55efea80-20d9-11ea-83f9-f14946beb715.png)
In the case where the leave button is pressed (`Refresh`, in this case), the amount

[2019-12-17 14:53] walterbender commented on #1344
I think we need to err on the side of annoying but never losing work.

[2019-12-17 19:20] Bottersnike commented on #1344
Does musicblocks currently have a nicer popup "yes/no" dialog or should I just make use of the browser's `prompt` for now?

[2019-12-17 19:32] walterbender commented on #1344
We only have the prompts you've seen. So the browser prompt is probably reasonable as an alternative.

[2019-12-18 12:23] #1928 closed

[2019-12-18 17:39] pikurasa opened #1973 "G_5 plays too short"
In this project:

https://rawgit.com/sugarlabs/musicblocks/master/index.html?id=1576554788549992&run=True

(tested Dec 18th, 2019 at 12:30pm)

the `sol_5` pitch note is playing too short every time.

![Screenshot at 2019-12-18 12:37:57 sol_5 too short](https://user-images.githubusercontent.com/13454579/71109558-58c40b80-21bd-11ea-8fc6-b639f3991e15.png)

[2019-12-18 17:58] pikurasa opened #1974 "Enable Horizontal Scrolling does not work"
I am running into a situation where I needed to enable horizontal scrolling.

However, the feature does not seem to be working at the moment.

Further, clicking to disable horizontal scrolling does not result in anything either (the icon stays as the "locked icon"). This is what I see in the logs when I click on "disable horizontal scrolling" icon:

`activity.js:1325 [Violation] Added non-passive

[2019-12-18 18:21] walterbender commented on #1973
Seems to be a tone.js problem and it seems restricted to certain synths: sine, triangle, etc.
logo.js:8786 notes to play: C5 1/4
logo.js:8786 notes to play: D5 1/4
logo.js:8786 notes to play: G5 1/4
logo.js:8786 notes to play: C5 1/4
logo.js:8786 notes to play: G5 1/4
logo.js:8786 notes to play: D5 1/4
logo.js:8786 notes to play: C5 1/4
logo.js:8786 notes to play: D5 1/4

[2019-12-18 22:16] pikurasa commented on #1935
I am still experiencing this issue.

If I open from a project link such as https://musicblocks.sugarlabs.org/index.html?id=1576206441841881&run=True I get:

![Screenshot at 2019-12-18 17:13:57 stuck at splash](https://user-images.githubusercontent.com/13454579/71127862-c7b45b00-21e3-11ea-91ca-ec123ef20a9e.png)

My guess is it has something to do with the browser being set to Japanese...

Logs:
[co

[2019-12-18 22:19] pikurasa commented on #1935
If I load from https://musicblocks.sugarlabs.org/index.html

I see:

[code]
and then two instances of
`turtledefs.js:90 language setting is ja`

I find it suspicious because I imagine this to only happen once.

Full logs:
[musicblocks.sugarlabs.org-1576707498437.log.zip](https://github.com/sugarlabs/musicblocks/files/3980790/musicblocks.sugarlabs.org-1576707498437.log.zip)

[2019-12-18 22:45] walterbender commented on #1935
Can you try using the npm server with your browser and open the project from the planet?

[2019-12-19 22:06] #1974 closed

[2019-12-19 22:08] walterbender commented on #1969
This is because when you change modes, you are refreshing the browser. It is erring on the side of caution that you don't lose any work. This is being addressed in part in #1344.

[2019-12-19 22:08] #1969 closed

[2019-12-19 23:00] walterbender commented on #1938
I implemented a fix: https://github.com/sugarlabs/musicblocks/commit/fbecf57577bbacb20c1a4d9d9bc570192ad60279

But I do like Devin's suggestion. Opening a separate issue for it.

[2019-12-19 23:00] #1938 closed

[2019-12-19 23:01] walterbender opened #1976 "Display project title and description when loading from the Planet"
As per the suggestion made in #1938 when we open a project from the Planet via a URL, we should display the title and description.

[2019-12-20 12:10] #1344 closed

[2019-12-20 12:57] #1956 closed

[2019-12-21 20:01] walterbender commented on #1852
Fixed by https://github.com/sugarlabs/musicblocks/pull/1978

[2019-12-21 20:01] #1852 closed

[2019-12-22 00:17] walterbender opened #1979 "Add an optional UID when accessing the Planet"
For several different reasons, it would be handy to have a UID associated with projects on the Planet: (1) one could search by UID and (2) as we migrate to a git backend, we would want the "owner" of a project to be able to manage "pull requests". That said, for privacy reasons, I don't think we should actually store any user identifiable data.

Here is a possible approach:

We can insert three fi

[2019-12-22 02:30] #745 closed

[2019-12-22 03:52] Nepaltechguy2 commented on #1979
Would using this to start working on a Node-based planet as per #1963 be a good idea? This would allow the new node-based server to associate a user id with everyone and make it easier to store git-based projects.

Pinging @eohomegrownapps :)

[2019-12-22 08:06] PriyalsantoshJain commented on #1935
Yes, I too tested both the project links, they worked for me. @pikurasa you must test again.

[2019-12-22 15:45] pikurasa commented on #1931
I think it is working now.

I will reopen if I experience again.

[2019-12-22 15:45] #1931 closed

[2019-12-22 15:48] pikurasa commented on #1935
I know that you have explained to me how to do npm server. However, I have yet to figure it out. Sorry.

FWIW, I am not experiencing this issue on rawgit at the moment.

[2019-12-22 15:54] pikurasa commented on #1935
The project from the [first report](https://github.com/sugarlabs/musicblocks/issues/1935#issue-534290839) (strong and weak beats) is working. It is sometimes unreliable, but it works.

[2019-12-22 15:54] #1935 closed

[2019-12-22 21:51] eohomegrownapps commented on #1979
@Nepaltechguy2, this sounds great :) It would probably be good to first deliver an API specification for the new planet (if you're adapting the API), and then to achieve feature parity with the original as detailed in https://github.com/sugarlabs/planet-server/blob/master/README.md. On the client side, all API communication happens here (https://github.com/sugarlabs/musicblocks/blob/master/planet/

[2019-12-23 07:16] Nepaltechguy2 commented on #1979
I started on both here: https://github.com/Nepaltechguy2/git-planet -- let me know your thoughts so far?

[2019-12-23 07:16] bharathjoshi commented on #1886
@walterbender @vaibhavdaren  can i get this started?

[2019-12-23 08:46] fakela commented on #1886
Well, sure you can

On Mon, 23 Dec 2019, 08:16 handler, <notifications@github.com> wrote:

[2019-12-23 10:26] bharathjoshi commented on #1886
Thanks @fakela . Can I know on which platforms in the picture attached shall the sponsorship button be active?
Is this link appropriate for the custom url
 https://wiki.sugarlabs.org/go/Sugar_Labs/Donate

![Screen Shot 2019-12-23 at 3 54 34 PM](https://user-images.githubusercontent.com/43785925/71352522-8e416e00-259c-11ea-9b59-7b0436bd9684.png)

[2019-12-23 10:28] bharathjoshi commented on #1886
We would get it this way!
![Screen Shot 2019-12-23 at 3 57 28 PM](https://user-images.githubusercontent.com/43785925/71352737-19baff00-259d-11ea-8a72-bcc61aa20d4f.png)

[2019-12-23 11:11] fakela commented on #1886
Alright @bharathjoshi

[2019-12-23 13:58] #1545 closed

[2019-12-23 17:33] pikurasa opened #1982 "Error when measure is incomplete (XML)"
If a user opens a file with an incomplete measure, they are greeted with this dialogue:

![Screenshot at 2019-12-23 12:28:47 incomplete measure](https://user-images.githubusercontent.com/13454579/71371738-10845f00-25aa-11ea-8076-bf7c27e2f74f.png)

The good news is the file still opens if the user chooses "ignore", but we should avoid this. I propose we just fill any remainder of the measure with r

[2019-12-23 20:47] #1945 closed

[2019-12-24 00:32] pikurasa opened #1984 "Change "Copy" AND "Paste" to just "Duplicate""
I have observed that in the class, the extra step to click "paste" has its own learning curve (albeit small).

When I think of copy and paste, I think the main advantage to separating the two steps is that the user has some control over what they copy (i.e. the program remembers what is on clipboard or the user can copy multiple--sometimes non-contiguous--items). We do not really have these featur

[2019-12-24 00:37] pikurasa opened #1985 "Overlapping Status Widget"
I have experienced this for about a week, but the status widget often (but not always) opens in the upper left of the screen, blocking access to the palettes.

Further, the status widget opens without any corresponding initiation or presence of any status block.

![Screenshot at 2019-12-23 19:32:53 overlapping status widget](https://user-images.githubusercontent.com/13454579/71386359-35e28e80-25e5

[2019-12-24 00:42] pikurasa commented on #1920
My viola student is very happy with the addition.

https://musicblocks.sugarlabs.org/index.html?id=1574199753513794&run=True

[2019-12-24 00:42] #1920 closed

[2019-12-24 16:46] bharathjoshi commented on #1886
@fakela @walterbender where can i search for the accounts in the platforms.

[2019-12-24 19:32] Bottersnike commented on #1963
I'm not entirely sold on using git. Diffing between two JSON files, and storing those diffs in a database, can be performed trivially without git, and also without the large overhead that comes from creating an entire new git repository per project. I really like the idea of being able to track changes and branch new projects off others, but I'm not sure if git is the correct tool for the job.

[2019-12-25 10:30] PriyalsantoshJain commented on #1902
If I am not wrong, value of octave increase by one as we move from ti --> do or decrease by one from do --> ti.
Then what new feature @pikurasa want to be added. Kindly explain briefly.

[2019-12-25 12:05] PriyalsantoshJain commented on #1426
![music2](https://user-images.githubusercontent.com/42600444/71445060-68eb6600-273c-11ea-9656-7b0cfa472034.jpg)
Is this icon suitable for "ornament" palette or something else ?

[2019-12-25 12:46] PriyalsantoshJain commented on #1890
Does "print" = "beat count" must print correct beat number instead of current beat number same as status widget ?

[2019-12-25 12:51] walterbender commented on #1426
It is a lovely design but it doesn't really speak to ornamentation. Nor will it be legible as a keyboard at the scale it is used in the palette display.

[2019-12-25 12:51] #1426 closed

[2019-12-25 18:32] pikurasa commented on #1902
Correct.

The feature is not present in `scale degree` block.

(Third one down in this pic)
![](https://camo.githubusercontent.com/57320fe682a94f8e3c3bd3995988f4005b1c744e/68747470733a2f2f7261776769746875622e636f6d2f73756761726c6162732f6d75736963626c6f636b732f6d61737465722f67756964652f6e6f7465332e737667)

[2019-12-25 18:35] pikurasa commented on #1890
I do not understand the question.

Do you know what a "beat" is in music? Have you tried the test file?

[2019-12-25 18:40] vaibhavdaren commented on #1886
@walterbender can you activate the sponsorship button on your profile.

[2019-12-25 18:43] PriyalsantoshJain opened #1993 "Time period of notification bar."
Notification bar must disappear on it's own after few seconds.

[2019-12-25 19:03] bharathjoshi commented on #1886
@vaibhavdaren, i guess  there is more to do other than activating the sponsorship button.
And @walterbender shall i send a pull request in this regard?

[2019-12-25 19:17] PriyalsantoshJain commented on #1890
No I don't have much idea about "beat" and I haven't tried test file as I unable to open your test case.

[2019-12-25 19:20] pikurasa commented on #1890
Unzip the zip file, in a browser with Music Blocks running, drag and drop the html file into the browser. This should open the file.

[2019-12-26 03:17] walterbender commented on #1984
I think this make a lot of sense. If they want multiple copies, they can hit duplicate repeatedly.

[2019-12-26 16:45] Nepaltechguy2 commented on #1985
Opening the planet and closing it without doing anything works most of the time to reproduce this.

[2019-12-27 08:39] PriyalsantoshJain commented on #1890
I think chages need to be made here https://github.com/sugarlabs/musicblocks/blob/master/js/logo.js#L8280
Am I correct ?
Please help.

[2019-12-27 09:38] PriyalsantoshJain commented on #1902
May be required result will obtain from changes from this part of code https://github.com/sugarlabs/musicblocks/blob/master/js/logo.js#L4807
Kindly give approval so that I can proceed further.

[2019-12-28 16:20] walterbender commented on #1903
The PR that closed this issue was in regard to a different bug.

[2019-12-28 17:18] #1905 closed

[2019-12-28 19:07] Bottersnike commented on #1344
I've just played around with the non-browser version of MusicBlocks (the Electron client) and this behaviour that was happening makes **far** more sense within the context of Electron. Is it worth re-opening this issue and instead looking for a way to only enable the auto-save behaviour in offline builds?

[2019-12-28 19:26] dolphingarlic opened #2000 "Add ability to import MIDI"
It would be really cool if people can import MIDI, although this would probably need an algorithm to scan for repeated chunks.

[2019-12-28 19:28] Bottersnike commented on #2000
As a possible route of investigation, the sort of algorithm that would be ideal for optimisation of MIDI note data is likely to be very similar to the algorithm used by text-to-brainfuck compilers when they are optimising the byte count.

[2019-12-28 20:09] Bottersnike commented on #1985
I've got a local repro and I've tracked the cause. When navigating to the planet, https://github.com/sugarlabs/musicblocks/blob/master/js/activity.js#L4116 attempts to check if status was open. Saving `false` into localStorage is causing it to become a string, `"false"`, which is now a truthy value (see attached image) causing https://github.com/sugarlabs/musicblocks/blob/master/js/activity.js#L41

[2019-12-28 20:54] walterbender commented on #1985
@Bottersnike wanna make a PR?

[2019-12-29 20:33] #1906 closed

[2019-12-30 13:46] #1903 closed

[2019-12-31 19:08] suyashsingh234 commented on #2000
I have a keyboard(digital music instrument) with ability to store in usb. Will importing it mean the same as importing MIDI?

[2019-12-31 19:13] Bottersnike commented on #2000
If the files it spits out are `.mid` or `.midi`, yes. Otherwise, probably not.

[2019-12-31 22:21] pikurasa commented on #1985
@Bottersnike Thanks for the forensics. Please make a PR if you can.

[2019-12-31 22:22] pikurasa commented on #1993
All notifications?

After how many seconds?

[2019-12-31 22:24] pikurasa commented on #2000
For this issue we should probably focus on importing a .mid or .midi filetype.

I think having MB listen for midi input on a USB midi keyboard should probably be worked on separately. (I think there is an existing issue for that feature)

[2020-01-01 16:00] #1985 closed

[2020-01-01 22:32] walterbender commented on #1993
We already have two different types of notifications available: warning that autoclose and messages that stay open until the user closes them. Why is that not enough?

[2020-01-01 22:41] walterbender commented on #2000
See also #752 and #1899

[2020-01-01 22:44] walterbender commented on #1886
Please see discussion at: http://meeting.sugarlabs.org/sugar-meeting/meetings/2020-01-01T20:00:40

[2020-01-01 22:44] #1902 closed

[2020-01-02 05:53] AndreaGon opened #2008 "Change toolbar options icons no longer shown"
I've downloaded the latest version of MB (as of January 2, 2020). The icons to change the toolbars options on the left are no longer shown. See image below:

![missing](https://user-images.githubusercontent.com/44361130/71653420-3d353500-2d67-11ea-922c-2247b2f9d04d.PNG)

The toolbar still works. The icons are just missing. I've tested it in Chrome.

[2020-01-02 12:20] walterbender commented on #2008
This is seeming due to a race condition introduced by some changes related to conversion of async required by the localForage implementation. I think I have fixed it on the palette-fix branch (which is behind master in several other respects.) Could you please test that branch to see if you still experience the problem? https://github.com/sugarlabs/musicblocks/tree/palette-fix

[2020-01-02 12:53] AndreaGon commented on #2008
Works perfectly now. Thanks @walterbender

[2020-01-02 12:53] #2008 closed

[2020-01-02 13:15] walterbender commented on #2008
pushed to master. thx for testing.

[2020-01-03 12:42] walterbender commented on #1782
Should be working now.

[2020-01-04 02:12] #258 closed

[2020-01-04 02:12] #264 closed

[2020-01-04 02:14] #811 closed

[2020-01-04 02:15] #870 closed

[2020-01-04 02:16] #1030 closed

[2020-01-04 02:17] #1156 closed

[2020-01-04 02:18] #1232 closed

[2020-01-04 02:19] #1782 closed

[2020-01-04 03:27] pikurasa commented on #1156
Yes, it seems to be fixed. Thanks!

[2020-01-04 03:31] pikurasa commented on #1782
It works, and it seems to work for Japanese as well.

For Japanese, I found a corner issue that I will write up separately.

[2020-01-04 03:41] pikurasa opened #2010 "Search for Japanese should detect both kana and kanji versions of words"
Search is super-helpful!

Japanese would benefit from an additional enhancement.

Currently, if the user is in kana mode, kanji input is not detected. Likewise, when the user is in kanji mode, kana input is not detected. It cannot be assumed that a user in kana will only input (e.g. type or paste) kana and visa-versa.

Current behavior:
* Kana in Kanji mode: Undected
![Screenshot at 2020-01-03 22:

[2020-01-04 07:19] sudiptapradhan1181 commented on #1933
Hi! I would like to solve this issue. Can you tell me which files do I need to refactor.

[2020-01-04 07:54] kohli6010 opened #2012 "Stuck at landing/ homepage"
I am new to this this and I was trying to run it but got stuck on the music blocks homepage
![Screenshot (19)](https://user-images.githubusercontent.com/42965455/71762464-8e732f00-2ef5-11ea-8214-cbc838447ed4.png)

[2020-01-04 12:59] fakela commented on #2012
check your console.logs and see if there are errors

On Sat, Jan 4, 2020 at 8:54 AM Rahul <notifications@github.com> wrote:

[2020-01-04 13:33] pikurasa commented on #2012
Which browser are you using?

[2020-01-04 13:42] walterbender commented on #1933
https://github.com/sugarlabs/musicblocks/blob/master/js/widgets/pitchtimematrix.js

[2020-01-04 13:53] walterbender opened #2013 "collapsing notes with embedded notes is broken"
This

![Screenshot from 2020-01-04 08-52-00](https://user-images.githubusercontent.com/3996641/71766610-b2bc1500-2ecf-11ea-8ac3-c8af7e9f0e1d.png)

turns into this

![Screenshot from 2020-01-04 08-51-40](https://user-images.githubusercontent.com/3996641/71766613-bc457d00-2ecf-11ea-9841-7538706893b6.png)

[2020-01-04 14:22] kohli6010 commented on #2012
That problem has been resolved

On Sat 4 Jan, 2020, 7:03 PM Devin Ulibarri, <notifications@github.com>
wrote:

[2020-01-04 14:34] fakela commented on #2012
Great

On Sat, 4 Jan 2020, 15:22 Rahul, <notifications@github.com> wrote:

[2020-01-04 14:36] walterbender commented on #2012
How was it resolved?

[2020-01-04 16:06] kohli6010 commented on #2012
Actually PWA got cached and because of that it wasn't working I delete the
cache of the tab and it started working again

On Sat, Jan 4, 2020 at 8:06 PM Walter Bender <notifications@github.com>
wrote:

[2020-01-04 19:33] #1933 closed

[2020-01-04 23:12] pikurasa commented on #2012
What is PWA?

[2020-01-05 01:53] fakela commented on #2012
Progressive web app...musicblock can be added to home screen just like a
regular app

On Sun, 5 Jan 2020, 00:12 Devin Ulibarri, <notifications@github.com> wrote:

[2020-01-05 02:01] kohli6010 commented on #2012
Sir can you help me I want to contribute to this project and want to
participate this year's GSoC, It would be very helpful for me if you can
suggest where should i start in this project and what technology do i need
to learn for this project

On Sun 5 Jan, 2020, 7:23 AM Favour Kelvin, <notifications@github.com> wrote:

[2020-01-05 02:01] walterbender commented on #2012
Any open issue...

[2020-01-05 02:01] #2012 closed

[2020-01-05 06:26] suyashsingh234 commented on #1982
the sample file gives error message "cannot load project from file. please check the file type"

[2020-01-05 13:13] pikurasa commented on #1982
Did you unzip the file?

[2020-01-05 14:27] walterbender commented on #2013
hmm. Having trouble reproducing this.

[2020-01-05 18:37] #1939 closed

[2020-01-06 16:34] suyashsingh234 commented on #1982
yes

[2020-01-07 15:03] theprover97 commented on #1976
Hey @walterbender , I am new here and would like to work on this issue. Can you please tell me how to get started.

[2020-01-07 15:30] walterbender commented on #1976
just jump in... I think just the title is enough and it could be shown using the textMsg mechanism

[2020-01-07 15:31] walterbender commented on #1976
Be sure to follow the contributor guidelines: https://github.com/sugarlabs/sugar-docs/blob/master/src/contributing.md

[2020-01-07 23:48] pikurasa commented on #1936
This happened three times today during class. All students were on rawgit (at 4-5pm EST)

I am uncertain, but the reproducible steps seem to be:
* Toggle fullscreen between off and on
* Click on Planet

[2020-01-07 23:56] pikurasa opened #2017 "Saving for Widgets"
Students expect that their work is saved in the widgets and are often disappointed when it is not.

Further, sometimes teacher and student find they need to refresh the browser, which causes work in the widget to be lost. (Notably, losing data seems to be inevitable when encountering [issue 1936](https://github.com/sugarlabs/musicblocks/issues/1936) as there is no access to save or play).

I see t

[2020-01-07 23:59] pikurasa opened #2018 "Message for "Action Block Generated" displayed over full screen widget?"
I found that students are unsure that anything has happened when clicking to export/save code from a widget when in full screen.

[2020-01-08 00:00] pikurasa opened #2019 "Do we need Play for separate voices in Rhythm Maker?"
I find that students get a little bit confused by all the different options for play in rhythm ruler.

Maybe we just keep individual play for advanced mode?

[2020-01-08 19:37] pikurasa opened #2020 "Scale/Mode Meta"
This is what I would like to tackle this year. Perhaps, it is a GSoC project, but first let's try and come to agreement on a design.

Of all of Music Blocks features, I am least satisfied with our current design for scale and mode. I have spent much time thinking of why that is and will start here by breaking the problem into pieces.

I have identified three different categories of features that b

[2020-01-10 02:51] walterbender commented on #2017
I think we can save widget state in the widget block much the way we save start block state in the start block:
[code]

[2020-01-10 08:05] DantrazTrev opened #2024 "No graphic available for set instrument block"
There is no file  for set instrument block which is used in README and Beginners Guide and marked as `documentation/setinstrument_block.svg`

[2020-01-11 17:09] walterbender commented on #2024
there is a graphic for settimbre_block.svg that can be used instead.

[2020-01-11 18:05] DantrazTrev commented on #2024
the graphic is Spanish and it's just a rendered block with text which is the main identifier

[2020-01-11 21:37] walterbender commented on #2024
https://github.com/sugarlabs/musicblocks/blob/master/documentation/settimbre_block.svg

Looks like English to me.

[2020-01-12 07:52] im-prakher commented on #1907
@pikurasa @walterbender How can I export the code as ABC in musicblocks?

[2020-01-12 21:48] pikurasa commented on #1982
I am running MuseScore 2.0.2. It gives an error when I try and open the file, but if I ignore the error (by clicking "ignore") it opens.

[2020-01-12 21:56] pikurasa opened #2035 "Lilypond: Staccato inside slur is not exporting properly"
This
[code]
Should instead be this:
[code]

Specifically, the open/close parenthesis should follow the first and last note and `\staccato` should follow after staccato note, after the parenthesis when there are two notes.
This  `e'4  (a4 \staccato` should be `e'4(  a4) \staccato`

Here is the test code:
[stac-slur.zip](https://github.com/sugarlabs/musicblocks/files/4051559/stac-slur.zip)

[2020-01-12 21:58] pikurasa commented on #2035
(made an error in previous comment, but corrected it)

This `e'4 (a4 \staccato` should be `e'4( a4) \staccato`

[2020-01-12 22:05] pikurasa opened #2036 "Bad Lilypond Output: Forensics Requested"
A student came up with a project and the lilypond code is badly malformed.

I have two snapshots of her work, one that is okay -- the other does not compile.

Snapshot 1 and Snapshot 2 are in the following zip:

[malformed-lilypond-snapshots.zip](https://github.com/sugarlabs/musicblocks/files/4051575/malformed-lilypond-snapshots.zip)

Lilypond log:
[code]

The biggest difference is the use of \new

[2020-01-13 14:10] pikurasa opened #2038 "Music XML (MuseScore) Import"
A popular WYSIWYG music notation software, MuseScore, saves Music XML files. It might be nice to import Music XML in the same vein as [we are proposing to import lilypond and abc.]( https://github.com/sugarlabs/musicblocks/issues/224)

[2020-01-13 14:53] pikurasa opened #2039 "Better Handling of Forever Loop for Lilypond Export"
Right now, if a user exports to lilypond for code that has a forever loop the export process runs until a number of iterations then produces the .ly file for the user. Read https://github.com/sugarlabs/musicblocks/issues/185 for more info.

1. If the music code (in the forever loop/s) does not contain anything variable, the verbatim explicit repetition of notating the notes tells the reader nothin

[2020-01-13 14:57] pikurasa commented on #2039
Here is an example MB file with Lilypond output (and a simplified output made by me):
[Forver-Loop.zip](https://github.com/sugarlabs/musicblocks/files/4054142/Forver-Loop.zip)

The only Lilypond code that I think could be improved is
`^\markup { \line { Repeat Forever }}`
I am unsure how to tie the annotation to the repeat sign, not the note.

[2020-01-13 15:10] pikurasa opened #2040 "Peculiar Tie Output Lilypond"
This is a very small issue.

For the default code (in Japanese) of Do Mi Sol Do if I put a tie on the first Do, I get
[code]
If I tie the first and second notes, I get:
[code]
I did not split the last whole note into two notes and I did not put a tie on the last note, so I do not expect this output.

Here are the test files:
[tie-test.zip](https://github.com/sugarlabs/musicblocks/files/4054231/tie

[2020-01-13 15:11] pikurasa commented on #1453
At the moment, I am not able to reproduce this. I will close for now.

I did, however, find this issue while testing: https://github.com/sugarlabs/musicblocks/issues/2040

[2020-01-13 15:11] #1453 closed

[2020-01-13 18:05] aashimgarg opened #2041 "restore block positions when resizing"
When we resize the window to half of its size we are not able to see the right side from where there are respective palettes that are to be dragged on the left side of the screen.

[2020-01-13 18:30] walterbender commented on #2041
Can you please share a screen shot?

[2020-01-13 18:36] walterbender commented on #1735
We have a busy cursor, but we still need to address typing before the system is ready.

[2020-01-13 19:19] aashimgarg commented on #2041
Yes for sure!

On Tue, 14 Jan 2020, 00:00 Walter Bender, <notifications@github.com> wrote:

[2020-01-13 19:37] aashimgarg commented on #2041
![Uploading Screenshot from 2020-01-14 01-06-42.png…]()

[2020-01-13 19:44] aashimgarg commented on #2041
![Screenshot from 2020-01-14 01-06-42](https://user-images.githubusercontent.com/55639487/72286407-1a5e2700-366b-11ea-9a39-abb4d9706e20.png)

The issue was closed by mistake!

[2020-01-13 21:00] walterbender commented on #2041
I am not 100% sure I understand what you are referring to since you only show the "after" screen shot. But I presume there were blocks on the right side that are now hidden?

You can access them either by hitting the home button (red button on the lower right) or by enabling horizontal scroll from the secondary menu in advanced mode.

[2020-01-13 21:30] #1247 closed

[2020-01-13 21:33] aashimgarg commented on #2039
What is the preknowledge that i need to have to solve this issue? I am not able to understand this issue.

[2020-01-13 22:06] pikurasa commented on #2039
Would this be your first issue?

Have you experimented with the test files I attached to the first comment of the issue?

[2020-01-14 06:44] i-m-vivek commented on #1856
I am very new to open source. Can I work on this Issue? If yes, can you please guide me.

[2020-01-14 07:33] aashimgarg commented on #2041
![Screenshot from 2020-01-14 02-38-42](https://user-images.githubusercontent.com/55639487/72323036-c20c4100-36cd-11ea-9604-9bb5c24b8fbf.png)
 It comes behind the "welcome to music blocks" window and if we resize the window to the full screen the blocks does not go back to its original position.

[2020-01-14 13:17] walterbender commented on #1856
The relevant code is in:

https://github.com/sugarlabs/musicblocks/blob/master/js/widgets/modewidget.js

[2020-01-14 13:19] walterbender commented on #2041
The Welcome screen is always on top. It can be dismissed (and recalled).
Re block position after resize, I am not sure what an alternative would be. Any suggestions?

[2020-01-15 14:29] Bhanu-mbvg commented on #2017
Hey, can I take up this issue?

[2020-01-15 15:16] walterbender commented on #2017
Feel free to jump in. Might want to work on the phrase maker first.

[2020-01-15 19:12] pikurasa opened #2047 "Rotating Mouse (or Avatar) image is cropped at points during rotation"
repro steps

0. (optional, but makes it more obvious) Use "Avatar" block with an image to change mouse to another image.
1. Use "right" or "left" in your code (i.e. rotate the mouse by some method)

Current Result:
During rotation, the edges of the image are cropped.

Desired results:
No cropping during rotation

Test Project:
This happens for any project, but is very apparent in the "Face the Mus

[2020-01-15 19:14] pikurasa opened #2048 "Scroll x/y cuts image"
Test Project: "The Field" (one of the GCI projects) and observed elsewhere as well.

Depending on the way scroll is utilized, the image renders in a strange way.

I think it happens when x and y scrolling are used simultaneously, but more testing is needed to see exactly when the issue occurs.

[2020-01-15 20:51] sdziuda commented on #1877
1. The first thing I’ve observed is that when you change the tab in the browser the music keyboard doesn’t play sounds anymore. The same thing happens when you open the developer’s tools or just a console (observed on Google Chrome and Mozilla Firefox browsers). Nevertheless, it’s not connected to modifying the grid view, but worth noticing I think.

2. Modifying the grid view doesn’t stop playbac

[2020-01-15 20:51] sdziuda commented on #1139
1. I haven’t noticed any overlapping blocks in the palette.

2. Also haven’t noticed that any block appears in an inappropriate size.

[2020-01-15 20:53] sdziuda commented on #1145
1. I’ve noticed that after adding any block to the widget while it being open it appears for a while and disappears then and it’s fine, but there is also a new column of note value created what shouldn’t happen.

2. When I’ve added two functions with the same pitch note blocks and inserted them into the widget block. As you can see on the screenshot, the pitches are created twice inside the widget

[2020-01-15 20:54] sdziuda commented on #1859
1. When you close the keyboard and delete the widget’s block and then create it again, the grid view is longer than it is supposed to be. It looks like the grid view from before deleting the block, but without black boxes. I have captured the screenshot to let it be more understandable.
![image](https://user-images.githubusercontent.com/44412838/72470737-9bd7c580-37e1-11ea-8546-7b1314d84936.png)

[2020-01-15 20:58] sdziuda commented on #961
1. I have noticed that it is sometimes possible to add a pitch/hertz block after silence and space blocks. Just like on the screenshot. To let it happen I:
- added the note block
- removed pitch block, then the silence block automatically appeared
- moved the silence block out of the note block (but not to the trash bin)
- moved this silence block back inside- it causes two silence blocks to appea

[2020-01-15 23:12] i-m-vivek commented on #1856
@walterbender I looked at the code tried to understand it but I was not able to figure out how to proceed. Can you please give me a little bit of an idea about how I can start modifying the above file to add the keyboard functionality.

[2020-01-15 23:32] sum2it commented on #1965
+1 to this enhancement, can be a good first issue.

[2020-01-15 23:35] sum2it commented on #1965
Find relevant code in activity.js

[2020-01-16 08:53] Bhanu-mbvg commented on #2017
Sure thing

[2020-01-16 09:22] IshitaB08 commented on #1976
Hello @walterbender . I'm new to the SugarLabs community and wanted to get started with contributions through this issue. Is it still open?

[2020-01-16 10:00] fakela commented on #1976
Most likely it is since the issue isnt closed yet you can jump on it

On Thu, 16 Jan 2020, 10:23 Ishita Bhatnagar, <notifications@github.com>
wrote:

[2020-01-16 13:56] pikurasa commented on #1139
This particular bug is resolved. Thanks for confirming @sdziuda !

[2020-01-16 13:56] #1139 closed

[2020-01-16 14:05] pikurasa commented on #1145
Yes, I have been experiencing this bug for a few months now.

@sdziuda  As for comment 1, are you saying that a new column for note value is created? I cannot seem to be able to reproduce. Can you break down the steps a little bit more for us, please?

[2020-01-16 14:13] pikurasa commented on #1859
@sdziuda Confirmed. Thank you for reporting.

[2020-01-16 14:15] pikurasa commented on #1875
(I deleted some comments that stemmed from a misreading of this comment https://github.com/sugarlabs/musicblocks/issues/1875#issuecomment-546620711)

[2020-01-16 14:23] pikurasa commented on #961
2 and 3 are not really bugs.

1 is a bug. (testing right now, and I sense someone may have fixed it as I cannot pull the silence out...)

[2020-01-16 14:24] pikurasa commented on #961
Nevermind. You can still pull it out by **pulling from the v space block**.

[2020-01-16 14:25] pikurasa commented on #961
@sdziuda Thank you for identifying the repro steps! My students would run into this bug and I always wondered how they got there.

[2020-01-16 14:44] pikurasa opened #2049 "Drag and Drop image file causes MB to infinitely spin"
If you take an image file and drop it into Music Blocks, MB will try to open the file forever.

![Screenshot at 2020-01-16 09:40:06 drag and drop an image file](https://user-images.githubusercontent.com/13454579/72534283-75ac3700-386e-11ea-89a4-fae8ff1837b2.png)

It would be nice if, instead, the image file became an avatar block (or some other image block).

At the very least, MB should not try t

[2020-01-16 14:48] pikurasa commented on #1984
My last request is that the pie menu stay open so that the user can duplicate multiple times without having to right click every time.

![Screenshot at 2020-01-16 09:47:07 copy should stay open](https://user-images.githubusercontent.com/13454579/72534754-3d592880-386f-11ea-9a8c-423da3ba8500.png)

Thank you!

[2020-01-16 15:13] pikurasa commented on #1366
During GCI, a student researched this topic and came up with the following results:

[Accessibility.zip](https://github.com/sugarlabs/musicblocks/files/4071974/Accessibility.zip)

The TODO items are as follows:
Implementation
* Perhaps look into https://github.com/CurriculumAssociates/createjs-accessibility ? It’s a library for making Create.js elements parsable by screen reader/assistive technolo

[2020-01-16 17:12] pikurasa opened #2050 "Mode Tweaks ("Sakura" Case)"
For this code:

![Screenshot at 2020-01-16 11:27:16 sakura](https://user-images.githubusercontent.com/13454579/72543076-1c97cf80-387d-11ea-80d2-c957d877f23c.png)

I expect the result to be the same as Aeolian in A.

[Sakura in A Minor.pdf](https://github.com/sugarlabs/musicblocks/files/4072366/Sakura.in.A.Minor.pdf)

However, MB is currently not able to find some of the pitches. I think it is beca

[2020-01-16 17:15] pikurasa commented on #2050
Here are all my testing files: [Sakura-Testing-Files.zip](https://github.com/sugarlabs/musicblocks/files/4072642/Sakura-Testing-Files.zip). This is part of my research for https://github.com/sugarlabs/musicblocks/issues/2020

[2020-01-16 17:21] pikurasa opened #2051 "Repeats Skipped in Phrase Maker"
When using Phrase Maker to generate a graph of notes from action blocks, it seems to skip the pitch data contained inside any sort of repeat.

(The 4th, 5th, and 6th columns should have pitch data generated from repeat)
![Screenshot at 2020-01-16 12:19:07 repeats are skipped](https://user-images.githubusercontent.com/13454579/72547372-7354d780-3884-11ea-89ef-5c269102bcbb.png)

This is my test file

[2020-01-16 17:36] pikurasa commented on #2050
I tested Sakura as "Scale Degree" in "E In" and I found that I must specify the scale degrees 3, 3, and 4.

I am expecting 4, 4, and 5, especially in light of the behavior for "Movable Do" as mentioned in:

Test File:
[Scale-Degree-Sakura-TEST.zip](https://github.com/sugarlabs/musicblocks/files/4072733/Scale-Degree-Sakura-TEST.zip)

I suppose this is because "Sol" is skipped -- is that correct?

M

[2020-01-16 21:41] sdziuda commented on #961
No problem, I'm glad that I could help you!

[2020-01-16 21:57] sdziuda commented on #1145
I'm not really able to reproduce the steps right now. I've noticed that right now the widget doesn't get sorted automatically after I add a pitch note like it was at the previous time when I was testing it. Nevertheless, this bug doesn't happen to me anymore.

[2020-01-17 07:56] b18050 opened #2052 "Enable scrolling in palettes menu"
We have buttons to go up and down in palettes . It will be great if we can enable scrolling (when required) in palettes menu which will move the palettes depending on mouse movement up or down.

[2020-01-17 12:52] walterbender commented on #2052
The palettes should scroll already. Just drag your mouse up and down.

[2020-01-17 14:38] b18050 commented on #2052
@walterbender  I mean when I kept my mouse cursor inside palette menu and rotated my mouse scroller , it moves the whole screen but I was expecting it would move the palette menu as the cursor was inside its boundary.

[2020-01-17 15:33] walterbender commented on #2052
Got it. Yes. That would be nice.

[2020-01-17 16:00] b18050 commented on #2052
In order to add this feature, I have added some code in js/activity.js , js/palettes.js. But , this feature does not  get added . So,  What more changes do I need to do and in which file to add this feature.
Please guide me @walterbender

[2020-01-18 02:07] walterbender commented on #2052
Is there a pull request?

[2020-01-18 02:09] pidddgy commented on #1919
@walterbender does this issue still exist now that #2027 is merged? Rendering should be faster, so it should be significantly less noticeable.

[2020-01-18 02:24] walterbender commented on #1919
Not worth spending time on at the moment.

[2020-01-18 03:05] pidddgy opened #2053 "star in auxiliary menu should change state on click"
Right now it just stays constant, when it should change when the user clicks on the star.

[2020-01-18 10:43] imrishabh18 commented on #1965
Hey , guys can i work on this issue ?

[2020-01-18 11:03] sum2it commented on #1965
Yes, @imrishabh18

[2020-01-18 12:31] walterbender commented on #2053
I'm not sure. We changed the UX around a bit: are you seeing the prompt to refresh the browser? Until you refresh, the level will not have switched. So the star not changing shows means you always see the current state. If it did change, then you'd see the start you'll end up in after a refresh.

Maybe we should changed the hover text to indicate the current state and the state that is queued?

Or

[2020-01-18 14:52] pcube99 commented on #2053
I want to contribute to this issue.
Can you guide me what to do ?

[2020-01-18 17:31] imrishabh18 commented on #1965
@sum2it I was going through the code in activity.js and it is overwhelming as i am a beginner. Can you tell me what should i do and how to approach this issue ?

[2020-01-18 17:35] sum2it commented on #1965
@imrishabh18 If that's the case, I'd suggest you to find issues to familiarise yourself with the codebase.

Look at the issues and maybe try to see where you feel comfortable starting?

[2020-01-18 19:48] pidddgy commented on #2053
@walterbender i like the idea of changing state without refresh, maybe we could do that?

@pcube99 as walter mentioned if we change state without refresh it's just a matter of redrawing save menu and palettes.

[2020-01-19 13:55] pcube99 commented on #2053
I am completely new to sugar labs.
But I want to contribute to it.

Can you guide me where to start and solve the issue ?

[2020-01-19 14:03] walterbender commented on #2053
As mentioned above, the palettes would need to be regenerated. That process is triggered in activity.js.
Also, the toolbar, also triggered in activity.js

That said, this is perhaps not the easiest first issue to tackle.

[2020-01-20 05:46] AndreaGon opened #2057 "Regression on Widget Windows' Fullscreen Button"
A regression was introduced when `this.onmaximize` was introduced on widgetwindows.js file. After clicking the fullscreen button, then reclicking it again, it does not return to unfullscreen mode.

[2020-01-20 05:47] AndreaGon commented on #2057
I will work on this issue, but I dont know how to self-assign :sweat_smile:

[2020-01-20 15:30] pikurasa opened #2058 "Scale Degree Design Path Proposal"
There is an underlying issue with "scale degree" as we have it now. It took me a while to figure it what the issue is, but I think I identified it and have an easy design solution.

Root of the issue: The block that we now call "scale degree" does not do what musicians think of when they think of "scale degree". Instead, the block we have is more like "n^th modal pitch".

"Scale Degree"
----------

[2020-01-20 18:00] IshitaB08 commented on #1976
I think what @b18050 did pretty much fixed up this issue? @fakela

[2020-01-21 02:15] walterbender commented on #1898
![Screenshot from 2020-01-20 21-13-37](https://user-images.githubusercontent.com/3996641/72769777-e08ca380-3bc9-11ea-9b63-d58aab634669.png)

I think this is more along the lines of what you wanted. Still trying to figure out where the root problem lies.

[2020-01-21 13:36] #1976 closed

[2020-01-21 14:39] pikurasa commented on #1898
Yes.

[2020-01-21 18:09] arvindh75 commented on #1984
Can I start working on this ?

[2020-01-21 18:38] aviral243 commented on #2049
@pikurasa Can you guide me on where to begin?

[2020-01-21 20:24] aviral243 commented on #1984
I need to change this property right?

![Screenshot from 2020-01-22 01-52-21](https://user-images.githubusercontent.com/44023445/72840375-10b36f80-3cba-11ea-9d2c-246564cc33be.png)

[2020-01-21 20:36] walterbender commented on #1984
Just comment out that line and it should work.

[2020-01-21 20:41] aviral243 commented on #1984
@walterbender After doing the changes, how will they reflect on the development server. I commented out the line, reloaded the page and nothing changed.
Please help

[2020-01-21 20:45] walterbender commented on #1984
Are you testing from your local file system?

[2020-01-21 20:48] aviral243 commented on #1984
I don't have an idea on this. I'm new to the code. Can you please guide me a little bit on this?

[2020-01-21 20:54] walterbender commented on #1984
Perhaps you can do the github tutorial on how to clone a repository?

Then make a branch, make your changes, and test them in your browser:

file:///home/aviral/musicblocks/index.html

[2020-01-21 21:28] aviral243 commented on #1984
Thanks. Figured it out. I was using `npm run serve` and visiting `localhost:3000` to see changes.
Can I make a pull request ?

[2020-01-21 21:39] walterbender commented on #1984
You are welcome to make a PR. Please be sure to follow the guidelines here:
https://github.com/sugarlabs/sugar-docs

[2020-01-21 21:43] aashimgarg commented on #2041
As soon as the size of the window becomes the required one we can align the blocks right , we can do this by CSS.

[2020-01-21 21:45] aviral243 commented on #1984
Sure.

[2020-01-21 21:47] walterbender commented on #2041
What is "the required one"?

[2020-01-21 22:57] #1984 closed

[2020-01-22 08:46] aashimgarg commented on #2041
the required window size to fit the blocks size

[2020-01-22 10:59] walterbender commented on #2041
But the whole point is that the window size was changed.
(1) either we don't move blocks into the smaller window (there is a horizontal scroll option available)
or
(2) we come up with some plan for tracking the position of the blocks before we move them so that we can restore their positions.

Not sure #2 is worth the trouble,

[2020-01-22 11:21] walterbender commented on #2041
Even in the case of a large window, there may be off-screen blocks. What should we do about those?

[2020-01-22 19:28] Bhanu-mbvg opened #2062 "Images not shown in Phrase Maker widget dialog box."
On opening the Phrase Maker dialog box, by clicking on Widgets -> Phrase maker -> and clicking on phrase maker dialog, we see that images are not loaded. There might be some conflict with the src of these image files.

I'm adding a screenshot for better understanding.

![Screenshot from 2020-01-23 00-52-14](https://user-images.githubusercontent.com/44861163/72927002-6865df80-3d7b-11ea-9378-2eadc97

[2020-01-22 19:36] Bhanu-mbvg commented on #2017
Hey, in which files will I find widget state?

[2020-01-23 03:35] walterbender commented on #2062
Hmm. Can you describe the environment you are using? Browser, OS. Is this from file:// rawgit?? local server???

[2020-01-23 03:38] walterbender commented on #2017
I don't think we need to do every widget. Probably just the phrase maker and rhythm maker.
The relevant code would be:

https://github.com/sugarlabs/musicblocks/blob/master/js/widgets/pitchtimematrix.js#L71

and

https://github.com/sugarlabs/musicblocks/blob/master/js/widgets/rhythmruler.js#L33

[2020-01-23 04:01] #2057 closed

[2020-01-23 06:08] suyashsingh234 commented on #2062
they are loading for me on localhost

[2020-01-23 07:58] suyashsingh234 commented on #2053
i tried calling activity() again but it wont render again

[2020-01-23 20:31] walterbender commented on #846
https://github.com/sugarlabs/musicblocks/blob/master/guide/README.md#PITCH-MOVEMENT

[2020-01-23 20:31] #846 closed

[2020-01-24 05:00] AndreaGon commented on #2049
@pikurasa It seem as though there are unnecessary appearance of the loading page. The loading page also appears when going to "Display statistics"

@aviral243 I can guide you! The necessary file to change is the activity.js. There is a recent addition of `doLoadAnimation();` which calls the loading animation, however, it seemed as though there are places where it should not be called.

[2020-01-24 14:41] pikurasa commented on #846
My one tweak, which also requires a tweak to the way we interpret enharmonics for lilypond is:

This:
![](https://camo.githubusercontent.com/43dcfc718a1323e9d79fa141d0d6c52cff10490f/68747470733a2f2f7261776769746875622e636f6d2f73756761726c6162732f6d75736963626c6f636b732f6d61737465722f67756964652f70697463686d6f76656d656e74322e706e67)

should be this

![Screenshot at 2020-01-24 09:35:25 Sol-Mi Semito

[2020-01-24 15:34] b18050 opened #2066 "Make block from Search"
I may be doing mistake, but the name I choose from suggestions in search does not make that block for me. It just get hidden after click.
![search](https://user-images.githubusercontent.com/45814442/73081069-f31a1c00-3eec-11ea-883f-00a971f6a0e0.gif)

[2020-01-25 07:04] aviral243 commented on #2049
Okay. I'll look into it. Thanks for the insigths @AndreaGon

[2020-01-25 15:03] b18050 opened #2067 "Display statistics goes into infinite loading animation"
In advanced mode, when display statistics is clicked , it shows infinite loading animation.
Although it shows the respective analytics.

[2020-01-25 19:50] b18050 commented on #2018
Hey @pikurasa . The message for "Action Block Generated" should be shown over widget window (when in full screen).
How can I proceed to make it visible .Can it be done using present  text message mechanism  or make another such mechanism?

[2020-01-26 01:18] AndreaGon commented on #2067
See my comment on #2049 . It has something to do with the recent addition of `doLoadAnimation()` in the activity.js file

[2020-01-26 11:26] b18050 commented on #2067
So, how can we fix it ?
Can it be removed or it can be included in a Timeout function?

[2020-01-26 11:46] aviral243 commented on #2049
@AndreaGon I found the statement which is leading to this.

![Screenshot from 2020-01-26 17-14-24](https://user-images.githubusercontent.com/44023445/73134670-7eb3ba00-405f-11ea-987a-b5f9eaf7393e.png)

What can be done about this doLoadAnimation() call?

[2020-01-26 12:35] aviral243 commented on #2062
@Bhanu-mbvg I tried both using file:// and local server and the images are loading. Try restarting the server or cloning the repo again maybe.

[2020-01-26 13:59] Bhanu-mbvg commented on #2062
Reloading the server works. Thanks

[2020-01-26 13:59] #2062 closed

[2020-01-27 05:33] AndreaGon commented on #2067
@b18050 I guess you just remove it, since it's not supposed to be there...

[2020-01-27 05:35] AndreaGon commented on #2049
@aviral243 You just remove it

[2020-01-27 07:32] aviral243 commented on #2049
@AndreaGon Then it won't be loading for valid project files also. Would that be fine?

[2020-01-27 12:27] #2049 closed

[2020-01-27 17:21] #2067 closed

[2020-01-28 23:49] aviral243 commented on #1860
@walterbender What exactly do we need to do here? Please guide.

[2020-01-28 23:59] walterbender commented on #1860
Each key can be assigned to a unique instrument. When we save, we don't wrap the set instrument block around the individual notes. (It would be best to group multiple notes using the same instrument, eg,  piano do piano re piano mi guitar fa piano sol piano la piano ti  --> piano [do re mi] guitar fa piano [la ti]

The relevant code is here:
https://github.com/sugarlabs/musicblocks/blob/master/js/

[2020-01-29 10:12] DantrazTrev commented on #2010
Is this issue still open for work?

[2020-01-29 13:02] walterbender commented on #2010
All issues are available.
This issue is probably going to require a major kludge to extract both sets of translations. (Already, the kana implementation is a bit of a kludge.)

[2020-01-29 13:04] walterbender commented on #2010
Might make sense to work on https://github.com/sugarlabs/musicblocks/issues/2066 first.

[2020-01-29 14:40] jimil749 opened #2072 "rawgithub Links not working in documentation/README.md"
Some of the links in the README.md inside documentation of musicblocks are broken and return 404 error.

Some links that won't work:

[Turtle Blocks documentation pages](http://rawgithub.com/sugarlabs/turtleblocksjs/tree/master/documentation).
[Music Blocks Programming Guide](http://rawgithub.com/sugarlabs/musicblocks/tree/master/guide/README.md)

[2020-01-29 18:50] DantrazTrev commented on #2066
Which browser and OS platform are you using?

[2020-01-29 19:00] b18050 commented on #2066
I run MB using localhost in Mozilla Firefox in Ubuntu(Linux based).

[2020-01-30 01:31] AndreaGon commented on #2066
It seem as though it doesn't generate blocks if you click the result. However, if you use the arrow keys and click enter, then it will only generate the blocks:

![bug](https://user-images.githubusercontent.com/44361130/73412344-4a801800-4343-11ea-8b1a-d1bbbbe473f8.gif)

[2020-01-30 02:42] #2066 closed

[2020-01-30 06:55] #2024 closed

[2020-01-30 08:42] aviral243 commented on #2072
That is probably because RawGit isn't functional anymore. This does make a useful issue for shifting the content to some other platform like Github Pages.
@walterbender Is that required?

[2020-01-30 12:03] walterbender commented on #2072
Yes. I think github pages is a good idea.

[2020-01-30 12:04] walterbender commented on #2072
The broken links in question will work (and have been changed) to plain git hub. But the images will eventually fail because of rawgit.

[2020-01-30 14:09] jimil749 commented on #2072
Yup, Checked them. Works fine now :)
Thank you.

[2020-01-30 14:09] #2072 closed

[2020-01-30 23:58] walterbender opened #2075 "Update documentation on how to add a new block"
Since the recent refactoring of the block creation code (See https://github.com/sugarlabs/musicblocks/pull/1994) the [Readme.md](https://github.com/sugarlabs/musicblocks/blob/master/js/README.md) file is no longer up to date.

[2020-01-31 01:02] walterbender opened #2076 "Occasional race condition on load"
See https://github.com/sugarlabs/musicblocks/pull/1994#issuecomment-569440269

[2020-01-31 04:23] b18050 commented on #2075
Working on this.

[2020-01-31 07:56] aviral243 opened #2077 "Browser shows audio play symbol even after hitting the stop button"
- When stopping the play funtion mid-way using stop button, browser shows the symbol and the message; "This tab is playing audio". It remains for the time it normally would have provided we never would have used the stop button.

- Same behavior is observed when switching the browser window triggering `noblur`.

![Screenshot from 2020-01-31 13-19-19](https://user-images.githubusercontent.com/44023

[2020-01-31 08:10] #2077 closed

[2020-01-31 08:10] aviral243 commented on #2077
This is a chrome thing. Not an issue with musicblocks. Sorry.

[2020-02-01 08:15] aviral243 commented on #2076
@walterbender do we use the current config file `js/loader` for requirejs?

[2020-02-01 12:06] walterbender commented on #2076
I think it is used (See index.html)

[2020-02-01 17:46] aviral243 commented on #2075
@walterbender  Can I make a draft pull request and keep working on it with your guidance? I'm trying on my own but few inputs would be great.
Thank You

[2020-02-02 08:12] aviral243 commented on #2076
@walterbender So can we reuse it or we need a new file? I'm a bit new to requirejs.

[2020-02-02 15:03] AndreaGon commented on #2047
@pikurasa I think it's because of the size of the Avatar image, and should be resized? I'll look into this.

[2020-02-02 15:36] walterbender commented on #2047
I think this is due to the fact that the side of a square is not the same length as the diagonal of a square.

![Screenshot from 2020-02-02 10-35-29](https://user-images.githubusercontent.com/3996641/73610660-d7c3a680-45a7-11ea-8c2b-d3ed0fcd6672.png)

[2020-02-02 22:32] Swayamsvk commented on #2075
Can I work on this issue?

[2020-02-02 22:54] Swayamsvk commented on #1211
I can't reproduce this problem in my system. It shows save format is html not pdf.

[2020-02-02 23:00] Swayamsvk commented on #1432
Can I work on this?

[2020-02-03 12:46] pikurasa commented on #1211
@Swayamsvk make sure you are in advanced mode, then choose save as lilypond

[2020-02-03 12:50] pikurasa commented on #1432
Maybe the blocks on palette should zoom with our current zoom feature?

[2020-02-03 12:52] walterbender commented on #1432
I think it should be a separate mechanism. I know on some screens, the palette is very hard to read but the blocks, which are by default a bit larger, are fine.

[2020-02-04 12:33] #2047 closed

[2020-02-05 12:41] #2075 closed

[2020-02-05 12:44] walterbender opened #2082 "migrate help/beginner mode from turtledefs to new block API"
We should try to consolidate the code associated with each block into one place to the extent possible. The new block API gives us a good way to do that. We can add the help strings et al. to the block object defined in BaseBlock and move the help for each block into its definition rather than maintaining a separate file.

https://github.com/sugarlabs/musicblocks/blob/master/js/turtledefs.js

[2020-02-05 12:45] walterbender commented on #2082
We should also move the rubric values to the block definitions.

[2020-02-07 13:34] walterbender commented on #1544
done...

[2020-02-07 13:34] #1544 closed

[2020-02-07 15:01] walterbender commented on #2076
https://github.com/sugarlabs/musicblocks/pull/1994#issuecomment-577725872

[2020-02-07 16:55] walterbender commented on #2076
I just moved the class definitions inside the setups. It helps a lot but I occasionally get BaseBlocks.js coming before protoblock.js, which still causes a problem.

[2020-02-07 17:13] aviral243 commented on #2076
Can we use requirejs to specify protoblock as a dependency for `BaseBlock.js`

[2020-02-07 18:34] b18050 commented on #2076
Yes @walterbender , I was unable to run MB on mozilla firefox before this commit. However, it was working fine on other browsers.

[2020-02-07 18:46] walterbender commented on #2076
I just moved BaseBlock classes into protoblock.js and now I think it is working consistently. Please test.

[2020-02-07 19:31] b18050 commented on #2076
Now , It is working pretty well in firefox . But one issue with help widget. The previous and next button are not working .
![helpvdo](https://user-images.githubusercontent.com/45814442/74059632-6a33d200-4a0e-11ea-9909-ac3af4245cc4.gif)

[2020-02-07 19:46] walterbender commented on #2076
Fixed in https://github.com/sugarlabs/musicblocks/commit/217a645fc27c882311c90ad704659f4ffccde42e

[2020-02-07 19:46] #2076 closed

[2020-02-07 19:56] b18050 commented on #2082
Can you give me an example for one of the blocks so that I can do it for other blocks.

[2020-02-07 20:06] walterbender commented on #2082
I would think it is a matter of adding a field to the block form for beginner mode and check that field (instead of the array in turtledefs) here: https://github.com/sugarlabs/musicblocks/blob/master/js/protoblocks.js#L1430

[2020-02-08 00:49] aviral243 commented on #2082
@walterbender For help strings, can we have a function like `setPalette` which sets the help string for each individual blocks if applicable. This would move the help string associated with each block out of `turtledef.js`

[2020-02-08 17:37] Ishakikani9117 opened #2085 "Background color in graphics"
It would be a great feature if we let the user decide the background color from graphics.And also when drawing a graph, if the color of the pen is same as background color, then the line is not visible and user cannot control it because the background color is set randomly.For example,
![Screenshot from 2020-02-08 22-56-18](https://user-images.githubusercontent.com/54074188/74089437-2cdf4b00-4ac7-

[2020-02-08 17:44] Ishakikani9117 commented on #2048
Hello @pikurasa ,
I would like to work on this issue.Can you tell me about this issue in more detail?

[2020-02-08 17:54] b18050 commented on #2085
How about having a block for background color?

[2020-02-08 18:03] walterbender commented on #2085
The way that the background block works is to set the background to the current pen color. So if you set the background and don't change the pen color, you won't see anything. Maybe we should add this warning to the guide? And I suppose we could put up a warning to the user if pen color === background color???

[2020-02-08 18:17] Ishakikani9117 commented on #2085
Hello @walterbender , I would like to work on this.I will update the guide.
Thanks,
Isha

[2020-02-08 18:32] walterbender commented on #2085
Probably the place to update the guide is here:

https://github.com/sugarlabs/turtleblocksjs/blob/master/guide/README.md

[2020-02-08 18:38] aviral243 commented on #2082
Thanks @walterbender :)

[2020-02-08 18:59] Ishakikani9117 commented on #2085
@walterbender  But blocks in turtleblocksjs seems a little bit different,and also can you explain more about it?

[2020-02-08 19:38] Ishakikani9117 commented on #2085
@walterbender , please check out this https://github.com/sugarlabs/turtleblocksjs/pull/460

[2020-02-08 20:13] pikurasa commented on #2048
@Ishakikani9117

Try this project https://musicblocks.sugarlabs.org/index.html?id=1580247873092338&run=True

[2020-02-08 20:20] Ishakikani9117 commented on #2085
@walterbender  I have done some changes and made a new PR:
https://github.com/sugarlabs/turtleblocksjs/pull/461

[2020-02-09 12:29] Ishakikani9117 commented on #2048
Yes, @pikurasa You are right.When you don't use both x and y cursors  on x-y scroll it works fine.but even when you use only one cursor or both the cursors , it creates dashed  line like in the pictures below,
when you use only ane cursor ,then also the image renders in a strange manner.
![Screenshot from 2020-02-09 17-53-10](https://user-images.githubusercontent.com/54074188/74102016-9877f580-4b6

[2020-02-09 15:50] #2019 closed

[2020-02-09 16:06] #1993 closed

[2020-02-09 17:08] b18050 commented on #1891
With the new block api, the label off the block is not changed to 'sum note values'. @walterbender .

[2020-02-09 18:15] #2082 closed

[2020-02-09 22:20] aviral243 opened #2086 "Documentation changes after #2082 got resolved"
Documentation inside `js` would need to be updated now to incorporate:

1. The use of `beginnerBlock()` function.

2. The use of `setHelpString()` function.

P.S. I'll work on this.

[2020-02-09 22:53] walterbender commented on #2086
done.

[2020-02-09 22:53] #2086 closed

[2020-02-10 16:28] Ishakikani9117 commented on #2017
@walterbender  , Can I work on this issue?Can you explain a little bit more about how to solve it?

[2020-02-10 17:29] aviral243 opened #2087 "Musicblocks not opening after recent commits"
- Since recent commits got pushed I've been unable to open musicblocks.
I have tried both using `file://` syntax and `npm run serve`.
I constantly get the loading animation and it never stops.

![Screenshot from 2020-02-10 22-56-59](https://user-images.githubusercontent.com/44023445/74173893-f46f7680-4c58-11ea-9e9f-4a3a8ce95efd.png)

[2020-02-10 17:29] aviral243 commented on #2087
@walterbender Please help.

[2020-02-10 18:01] Ishakikani9117 commented on #2048
@pikurasa  do you have any general idea how to solve this issue?

[2020-02-10 18:05] walterbender commented on #2087
Can you please report any errors in the console log?

[2020-02-10 18:11] aviral243 commented on #2087
![Screenshot from 2020-02-10 23-40-37](https://user-images.githubusercontent.com/44023445/74176994-d4db4c80-4c5e-11ea-9d0e-43df57b95191.png)
 I'm getting following errors.

[2020-02-10 18:13] walterbender commented on #2087
I suspect there was an earlier error as well??? Are you sure you have the most recent commits on master? What browser/OS? (Needless to say, I am not seeing any errors.)

[2020-02-10 18:16] aviral243 commented on #2087
This is the complete console log.
![Screenshot from 2020-02-10 23-45-00](https://user-images.githubusercontent.com/44023445/74177315-84182380-4c5f-11ea-8a8c-e0646e5121d3.png)

Yes I just fetched the most recent commits.
Browser: Chrome 79
OS: Ubuntu 19.10

[2020-02-10 18:20] aviral243 commented on #2087
I just made it work by commenting out these two lines in `js/utils/utils.js`.
![Screenshot from 2020-02-10 23-49-08](https://user-images.githubusercontent.com/44023445/74177572-056fb600-4c60-11ea-975a-e26bf9f577d9.png)

That's where the error is.

[2020-02-10 18:23] walterbender commented on #2087
try pulling my latest changes. when was the last time it worked for you? can you please share your current project so I can see what blocks you are using?

[2020-02-10 18:25] aviral243 commented on #2087
Latest commit solved the issue. I guess it was due to the null value of text.
Last time I worked on it roughly 14 hours ago.
I am not using a project as such, I'm mainly using random blocks for testing and solving issues.

[2020-02-10 18:26] aviral243 commented on #2087
Thanks @walterbender :)

[2020-02-10 18:27] walterbender commented on #2087
I am curious which block triggered the null string error. Please share the project if possible.

[2020-02-10 18:29] aviral243 commented on #2087
Yes sure. This was the project.

[My Project.zip](https://github.com/sugarlabs/musicblocks/files/4182455/My.Project.zip)

[2020-02-10 18:30] walterbender commented on #2017
Please read the discussion above. It pretty much summarizes the work that needs to be done.

[2020-02-10 19:05] #2087 closed

[2020-02-10 19:06] walterbender commented on #2087
The project has some null values in unusual places. I added a few extra checks in the block-loading code to look for nulls and replace them with default values. Any idea how you created that project?

[2020-02-10 19:12] aviral243 commented on #2087
I remember vaguely that I was greeted with a default start block when I clicked on `New Project`. Then I was testing the `contextWheel`, so I right-clicked and made a copy of the complete block.
Perhaps that's all I did in that project.
Hope it helps.

[2020-02-10 19:20] walterbender commented on #2087
That helps a lot. It suggests that the copy mechanism is not copying all of the field values properly. It explains the nulls and the 0s.

[2020-02-10 19:21] walterbender commented on #2087
FWIW, I don't think this is in any way related to the changes I pushed today. Just a coincidence.

[2020-02-10 19:25] aviral243 commented on #2087
Yes I realize that now. Should we rename the issue to reflect that?

[2020-02-10 21:03] walterbender commented on #1735
this is complete now https://github.com/sugarlabs/musicblocks/commit/e0f879ec012a1d5598e01bd437c0549074f6a66c

[2020-02-10 21:03] #1735 closed

[2020-02-10 21:03] #800 closed

[2020-02-10 22:25] #1948 closed

[2020-02-10 22:26] b18050 commented on #1891
@walterbender I want to add the note counter block (which counts number of note blocks). But I cannot find the logic . So , what should I do to derive the logic to count note blocks.
P.S.- I looked the logic of notecounter in js/logo.js. Not so helpful for me

[2020-02-10 22:34] walterbender commented on #1891
It is not completely obvious how to do this. The way that the current logic works is to take advantage of the fact that we track the duration of the notes. **We'd have to start tracking the number of notes played as well.** Then the same logic would apply: a = the number of notes played up until now; b = the number of notes played after the notes to be counted have been played (with the "just coun

[2020-02-10 23:48] walterbender opened #2090 "keyboard in mode widget should be animated"
It would be nice if the keyboard animated too when the play button is pressed.

[2020-02-10 23:49] walterbender commented on #1856
Closing this issue and opening a new one for making the keyboard playable.
https://github.com/sugarlabs/musicblocks/issues/2090

[2020-02-10 23:49] #1856 closed

[2020-02-10 23:53] aviral243 opened #2091 "Weird on hover animation of buttons"
On hover animation of buttons on the right-bottom and right-top seems to get stuck if cursor is moved fast enough.

In the screenshot below, my arrow has just moved away from the button(not captured) , but the animation is still executing and stuck.

![Screenshot from 2020-02-11 05-21-47](https://user-images.githubusercontent.com/44023445/74201087-af663700-4c8e-11ea-826c-07e38ea4f7c6.png)

[2020-02-10 23:54] aviral243 commented on #2091
@walterbender This is being done through TweenJS right?

[2020-02-11 00:29] walterbender commented on #2091
These buttons are created/managed in activity.js. The buttons on the upper right are part of the "turtle" canvas and are created/managed in turtle.js.

[2020-02-11 00:30] walterbender commented on #2091
It is not using tween, just making a container (the circle shadow) visible or not on mouseover, mouseout.

[2020-02-11 08:32] AndreaGon commented on #1890
I tested and it seemed to be working properly:

![beat](https://user-images.githubusercontent.com/44361130/74221015-0fd79180-4cec-11ea-82f7-922fde687488.gif)

[2020-02-11 12:39] thegitone23 commented on #1965
Hey guys, I wanna familiarize myself with the codebase, I would like to give this a shot

[2020-02-11 13:32] walterbender commented on #1890
@AndreaGon can you please contact me by email re some GCI logisitics?

[2020-02-11 13:38] walterbender commented on #1890
I tested this as well. The example code that Devin shared works fine. Please reopen if you have an example where it does not behave as expected.

[2020-02-11 13:38] #1890 closed

[2020-02-11 13:40] walterbender opened #2092 "clean/clear button does not reset mouse heading"
Seems to be a problem of the graphics. Internally, the mouse heading is reset.

[2020-02-11 13:48] walterbender commented on #2092
![Screenshot from 2020-02-11 08-48-25](https://user-images.githubusercontent.com/3996641/74242099-4d67fa80-4cab-11ea-8842-dcd156212ee9.png)

Seems to be a more systemic problem.

[2020-02-11 14:05] pikurasa commented on #1890
It is working now.

[2020-02-11 18:04] b18050 commented on #1891
@walterbender  What is the use of these two blocks?
![notesplayed](https://user-images.githubusercontent.com/45814442/74264580-e25c0980-4d26-11ea-836b-351d7d2c0f44.png)

[2020-02-11 18:10] walterbender commented on #1891
whole notes played returns the number of notes played (in units of whole notes). notes played lets you specify the units.

[2020-02-11 18:53] aviral243 commented on #2053
@walterbender I have modified the code as such that the page automatically gets reloaded on clicking the button and the mode gets switched. So we never face the problem of state of the star button.
Please let me know if this works?

[2020-02-11 20:54] pikurasa commented on #2092
I noticed this for the first time on Sunday.

[2020-02-12 12:03] #2018 closed

[2020-02-12 13:35] aviral243 commented on #2053
@walterbender  I got the palettes to regenerate without reloading the page but I'm facing a couple of issues:
1.) The space between palette container and toolbar dissapears after switching mode.
2.) When switching from beginner to advanced, the switch mode star button disappears.
I've attached a GIF:

![Peek 2020-02-12 18-59](https://user-images.githubusercontent.com/44023445/74339690-98c4fa80-4dc

[2020-02-13 05:11] Ishakikani9117 commented on #2017
@walterbender  ,Hello can you help me a little  bit solving this issue?Since I'm new to open source, It's little bit tricky for me.

[2020-02-13 06:40] #2085 closed

[2020-02-13 11:50] Ishakikani9117 commented on #2017
@walterbender ,Hello , Would you please help me with this issue?Its a little bit tricky for me.

[2020-02-13 13:46] kohli6010 commented on #2091
It basically changing the opacity of the container on mouseout and mouseover

[2020-02-14 22:34] pikurasa opened #2095 "Issue with Box and JA's "Hako""
There may be a somewhat major conflict with "box" (English project) loading in Japanese.

![Screenshot at 2020-02-14 17:21:24 box and hako conflict](https://user-images.githubusercontent.com/13454579/74573906-ea5fb780-4f79-11ea-9184-426394e6fec6.png)

Test file:
[Tonal Pitch Paint box and JA hako conflict.html.zip](https://github.com/sugarlabs/musicblocks/files/4207147/Tonal.Pitch.Paint.box.and.JA

[2020-02-14 23:31] pikurasa opened #2096 "Print?"
Print block does not seem to be working on latest version (rawgit).

[2020-02-15 00:59] aviral243 commented on #2096
Hi @pikurasa , I just tested it on local server, [musicblocks.sugarlabs.org](url) and using `file://` syntax.
Then it seemed to work fine.
More details on how to test the rawgit version?

[2020-02-15 01:10] aviral243 commented on #2096
Just tested it on rawgit too, works fine for me though. Try checking once again, or there may be a conflict with some other block.

[2020-02-15 05:46] Ishakikani9117 commented on #2017
@walterbender where can i find the code for start block?I mean in which file?

[2020-02-15 15:11] walterbender commented on #2096
Cannot reproduce. Please reopen if you have a test case.

[2020-02-15 15:11] walterbender commented on #2095
Can you please explain the steps you took to create this project?

[2020-02-15 15:18] walterbender commented on #2017
Tip of the day: grep can be used to find things.

grep -R start

But I think you want to look for the saving and loading code for the start block, which is found in activity.js and blocks.js

[2020-02-15 16:20] #2092 closed

[2020-02-15 16:47] pikurasa commented on #2095
0. Start MB
1. Change language to Japanese (tested in Kanji)
2. Open a project that uses "box" (tested "Pitch Paint")
3. "Box" blocks for project will still be in English, but "box" blocks in palette will be in Japanese.

At the moment, I am not experiencing the problematic behavior of not being able to copy any of the box blocks (in either language), which was making it impossible to find a worka

[2020-02-15 16:52] pikurasa commented on #2096
I am still experiencing the behavior, but I can see now that in some instances the print block does work (as reported by others).

I suspect that the path to reproducing this issue includes changing the language to Japanese, and that it is a more overarching issue with display of text. This is because, when I try to change the language back to English, I do not see the message I usually see.

ATM,

[2020-02-15 17:07] pikurasa commented on #2096
After resetting the cache, I cannot reproduce the issue.

I did experience it on multiple machines (and now that I think of it, not all were set to Japanese), which is one of the reasons I reported it originally.

[2020-02-15 17:08] pikurasa commented on #2096
hmmm...

I just experienced it. Perhaps, if the browser looses focus???

[2020-02-15 17:13] pikurasa commented on #2096
I really have no idea what the steps are (and have to quit for now), but I did reproduce it a few times. I will just keep a look out for it.

[2020-02-15 20:34] pikurasa commented on #2096
Two videos (from two different testers) of the same issue. One in English, the other in Japanese.

[2020-02-15-print-issue.zip](https://github.com/sugarlabs/musicblocks/files/4208979/2020-02-15-print-issue.zip)

For my case (the video in English), I experienced the issue after doing work in another window, and then testing again.

So, my path to this issue is as follows:
1. pull out print block wi

[2020-02-16 08:51] Ishakikani9117 commented on #2017
@walterbender  , Can you tell me how tackle this issue?Since I am new to Musicblocks.

[2020-02-16 13:10] kohli6010 commented on #2091
where is code for showButtonHighlight and hideButtonHighlight

[2020-02-16 13:13] walterbender commented on #2096
Please test again.

[2020-02-16 16:53] Ishakikani9117 commented on #2017
@walterbender , in this issue , do you mean that  selected notes in the matrix should be black , even if we refreshed page?

[2020-02-16 17:10] Ishakikani9117 commented on #2017
@walterbender  ,Do you mean that the selected notes in the matrix should be black,even if the user refreshed page?

[2020-02-16 17:25] Ishakikani9117 commented on #2017
@walterbender ,Can't we just prompt the user to save their project before they refresh?

[2020-02-16 19:50] Ishakikani9117 commented on #2017
@walterbender , I have a question.If I want to work on this project,do I have to have a deep knowledge about music , like about different scales and keys?

[2020-02-17 03:29] walterbender commented on #2017
@Ishakikani9117 I am not sure this is a good issue to work on as a first introduction of Music Blocks. But to answer your questions:
* Music Blocks always tries to preserve your current state when you return to it (for example, refreshing your browser) without requiring an special action on the part of the user.
* Most widgets preserve their state between closing and reopening them in a session, b

[2020-02-17 09:34] kohli6010 commented on #2091
@walterbender @aviral243 please help me with this issue. I really want to contribute to this project and I think I can solve this one. Please help me to know the logic behind this.

[2020-02-17 14:27] walterbender commented on #2091
The code for these buttons (as mentioned earlier) is in activity.js

[2020-02-17 15:13] Ishakikani9117 commented on #752
@walterbender Can I work on this issue?

[2020-02-17 15:25] walterbender commented on #752
@Ishakikani9117 You are welcome to work on anything without asking permission.
This task is certainly one that requires little previous experience with Music Blocks: really more a matter of understanding how Lilypond works.

[2020-02-17 19:54] pikurasa commented on #752
I am unsure if this is still an issue. MIDI generation from .ly has been working fine for me.

[2020-02-17 19:54] #752 closed

[2020-02-17 19:58] pikurasa opened #2097 "Merge two notes on phrase maker"
During today's class it seems that we have lost the merge note feature for Phrase Maker triggered by click and drag.

[2020-02-17 20:01] pikurasa opened #2098 "Grid Lines for Phrase Maker"
We used to have space between columns and rows. It helped to see where one note stopped and the other began.

I really have a hard time seeing where my mouse cursor, especially on a big screen.

[2020-02-18 02:19] walterbender commented on #2098
Probably a CSS regression.

[2020-02-18 06:39] Ishakikani9117 commented on #2098
In which file can I find code for this issue?? Maybe activities.css?

[2020-02-18 13:32] kohli6010 commented on #2091
How are those circle shadow generating and where is hoverAction function is defined?

[2020-02-18 13:56] b18050 opened #2099 "Title text 'music keyboard' in widget window"
![keyboard](https://user-images.githubusercontent.com/45814442/74741992-d1118080-5283-11ea-9bde-6fafc964fb67.png)
As you can see title text 'music keyboard' and those three middle lines are overlapping each other when minimized . There should be some gap between them.
P.S. - Firefox has this issue. Others (like chromium etc.)  works fine.

[2020-02-18 13:57] b18050 commented on #2099
@Ishakikani9117  Can you help?

[2020-02-18 14:47] kohli6010 opened #2100 "Turtle color changed"
Turtle color changed to black.
![Screenshot (21)](https://user-images.githubusercontent.com/42965455/74746606-b5aa7380-528b-11ea-86aa-1b507ae0da15.png)

[2020-02-18 14:50] pikurasa commented on #2100
Yes, confirmed.

[2020-02-19 01:28] kohli6010 commented on #2091
I have made buttons to not stuck on animation but it looks like there is a problem on starting of hover animation

[2020-02-19 01:59] walterbender commented on #2100
Not sure why this was closed, but it is fixed now.

[2020-02-19 01:59] kohli6010 commented on #2091
and what I think it is the collision between setTimeout

[2020-02-19 03:25] #2100 closed

[2020-02-19 05:43] kohli6010 commented on #2091
I have made a pull request can you check and tell me is this correct.

[2020-02-19 05:57] kohli6010 commented on #2091
I am sharing the GIF of the feature
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/42965455/74805987-c3530e00-530a-11ea-9a2b-46dcf42e53f3.gif)

[2020-02-19 14:29] kohli6010 commented on #2091
Is this okay?
![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/42965455/74843627-316ef380-5352-11ea-905f-baaf44c67dfa.gif)

[2020-02-19 17:35] b18050 commented on #2090
![mode](https://user-images.githubusercontent.com/45814442/74859019-42c4f980-536c-11ea-9fba-3934e7b8a695.gif)
Something like this @walterbender

[2020-02-19 18:04] pikurasa opened #2103 "Fibonacci (Nautilus) Example is not working (on recent rawgit)"
I suspect that some of the blocks used in the [Fib (nautilus)](https://github.com/sugarlabs/musicblocks/blob/master/examples/nautilus.tb)  example have not been updated since refactoring.

[2020-02-20 00:01] pikurasa commented on #2090
Yes, but the black keys should **not highlight** when they are not specified.

[2020-02-20 02:00] walterbender commented on #2103
Should work now.

[2020-02-20 02:00] #2103 closed

[2020-02-20 03:46] #2097 closed

[2020-02-20 04:38] Ishakikani9117 opened #2104 "issue while setting up the project locally"
When I open the project locally ,I cannot see some of the features of widget like music keyboard and pitch
![Screenshot from 2020-02-20 10-02-59](https://user-images.githubusercontent.com/54074188/74901415-d1676400-53c8-11ea-9630-9ed5c03de2a5.png)

[2020-02-20 04:40] Ishakikani9117 commented on #2104
@walterbender Please,Can you do something about it?

[2020-02-20 05:16] b18050 commented on #2104
@Ishakikani9117 I think you are in beginnerMode of Music Blocks. There are two modes in MB.
1. beginnerMode  - some blocks are hidden in this mode.
2. AdvancedMode - all blcoks are visible.

So , you need to switch to AdvancedMode (click on the button where cursor is pointing and do reload) and you will see all  widgets.
![mode11](https://user-images.githubusercontent.com/45814442/74903142-2063c80

[2020-02-20 07:03] Ishakikani9117 commented on #2104
@b18050  Thank you so much.

[2020-02-20 07:03] #2104 closed

[2020-02-21 00:37] #2098 closed

[2020-02-21 04:24] #2099 closed

[2020-02-21 10:26] kohli6010 commented on #1965
I am not actually getting what you are trying to tell @PriyalsantoshJain, I think we are having the restore functionality which is the kind of same you are trying to say

[2020-02-21 11:13] kohli6010 commented on #2041
@walterbender I think restoring to the last position can be done using a stack the same strategy using in restoring of blocks from the trash.  I could be wrong can't we just remember the position of blocks according to their size and when the user tends to last position of the window we just give those blocks back to their position.

[2020-02-21 11:18] kohli6010 commented on #1947
I am new to this and I am not getting Planet View where exactly it is?

[2020-02-21 13:34] walterbender commented on #2041
We could keep track of the block positions, but it seems more trouble than it is worth. Certainly a low priority given all the other issues we are working on.

[2020-02-21 13:38] walterbender commented on #1965
I am not 100% convinced we need this feature. I am loath to add more complexity to the UX unless it serves a real need. Also, would it make sense to complement this with an undo button? Seems that they'd go hand-in-hand. (Also, what has been implemented is more of a repeat functionality than a redo functionality.)

As I said in my initial comment, we really need to carefully define the scope. Is i

[2020-02-21 13:50] aviral243 commented on #1965
@walterbender An undo button would make much sense, but together they would then more or less function like copy and delete.
To extend it beyond blocks would be a really nice addition.

[2020-02-21 13:51] aviral243 commented on #2091
Closed by #2101

[2020-02-21 13:51] #2091 closed

[2020-02-21 14:21] kohli6010 commented on #2038
Is this Idea discussed to implement? can I start Working on this?

[2020-02-21 16:29] walterbender commented on #1947
Oh. It seems that the planet is not documented anywhere.
Look for the icon that looks like a planet on the toolbar. It is the place where projects are stored.

[2020-02-21 16:30] #1725 closed

[2020-02-21 16:31] walterbender opened #2108 "Planet is not documented"
We should add a section on the Planet to the documentation README file.

[2020-02-21 16:58] aviral243 commented on #2052
@walterbender Would this be useful to implement because the user would have to anyway move the mouse to click on the palette for the palette menu to be visible. So just moving the highlighter on scroll wouldn't provide much utility.

[2020-02-21 17:52] aviral243 opened #2110 "Help modal gets covered by Aux menu"
- Help modal's topbar gets covered by aux menu, causing difficult closing/controlling the modal.

![Screenshot from 2020-02-21 23-14-29](https://user-images.githubusercontent.com/44023445/75058202-8cdee400-5500-11ea-90bd-471e220aaf7b.png)

The fix is to make it appear in a way that if the aux menu is visible, the modal appears beneath it.

[2020-02-21 19:00] b18050 commented on #2052
@aviral243 , This scrolling will ease the process . At present we need to click to move up and down , sometimes , we also select a block unnecessarily(due to clicking). Also see #2060
![scr_av](https://user-images.githubusercontent.com/45814442/75062547-04187600-5509-11ea-8be9-49df53b1ade3.gif)

[2020-02-21 19:08] aviral243 commented on #2052
@b18050 Okay. Now I understood it. I thought we were talking about scrolling in the default palette menu. This would be a good addition. 👍🏼

[2020-02-21 19:44] b18050 opened #2112 "Labels not properly shown in firefox"
![dist_label](https://user-images.githubusercontent.com/45814442/75065792-8a37bb00-550f-11ea-9a28-4e2d8eb11b63.png)
In Firefox , the labels are not shown properly. It must be x1, y1, x2, y2.
On other browsers (like chromium) labels are shown properly.
![dist_c](https://user-images.githubusercontent.com/45814442/75066252-80fb1e00-5510-11ea-995e-c0e1469f3ce2.png)

[2020-02-21 21:23] b18050 commented on #2108
@walterbender  I am on it.

[2020-02-22 13:31] #2110 closed

[2020-02-22 15:00] aviral243 commented on #1162
@pikurasa Would it work to remove the onblur functionality when we're on FireFox. But it would completely remove the feature in all cases.

[2020-02-23 04:42] #2112 closed

[2020-02-23 14:02] b18050 commented on #2108
@walterbender Any thing more that needs to be added to its documentation ?

[2020-02-23 14:07] #2108 closed

[2020-02-23 14:48] pikurasa commented on #1965
I think the "undo" feature that classrooms would most benefit from would be an undo for opening/starting a new project that results in loss of their work.**

I do not think we need an undo for moved blocks or block creation.

We already have an undo for block deletion, but it might be easier to find.

**I think, in the case of opening a new project, the old project is sometimes accessible from the

[2020-02-23 17:20] pikurasa commented on #1162
Please explain.

[2020-02-23 17:35] aviral243 commented on #1162
Like currently we have a feature which stops playback when the browser loses focus, like in case of switching tabs or moving to another application. We can add a condition which checks if the browser is Firefox, and not implement this feature. Hence the playback won't stop on volume change even if the browser loses focus.

[2020-02-23 20:39] #2090 closed

[2020-02-23 23:53] pikurasa commented on #1162
As long as there is a check for FF, then I think this solution makes sense.

@walterbender ?

[2020-02-24 12:59] AndreaGon opened #2119 "MusicXML: Double Barlines at the of End Piece?"
MusicXML doesn't add a double barline at the end of a piece:

![double](https://user-images.githubusercontent.com/44361130/75154171-1cc29f00-5748-11ea-98bb-c06a56b751b0.PNG)

It should be:

![should](https://user-images.githubusercontent.com/44361130/75154223-4085e500-5748-11ea-813e-d6901addcefb.PNG)

[2020-02-24 15:28] b18050 commented on #2119
@AndreaGon  How to proceed for solving this issue?

[2020-02-24 17:29] b18050 commented on #2119
![Screenshot_2020-02-24 Screenshot](https://user-images.githubusercontent.com/45814442/75175746-ee00f480-5758-11ea-96cb-57ec5b32556d.png)
I get this when I try to save sheet music as Musicxml file. How to get rid of this?

[2020-02-24 18:53] walterbender commented on #2119
Seems I introduced a regression last night when I was making some unrelated changes:

js/utils/munsell.js:70 Uncaught TypeError: Cannot read property 'substr' of undefined
    at interpColor (js/utils/munsell.js:70)
    at getMunsellColor (js/utils/munsell.js:53)
    at Turtle.doClear (js/turtle.js:707)
    at _onResize (js/activity.js:2321)
    at Activity.window.onresize (js/activity.js:2338)

[2020-02-24 18:58] walterbender commented on #2119
Hmm. Maybe there is another problem too.

[2020-02-24 19:11] walterbender commented on #2119
I think the regression was introduced when we made the transition of the block API. Some logic got dropped. Stay tuned.

[2020-02-24 19:28] walterbender commented on #2119
Fixed. Try again.

[2020-02-24 19:49] b18050 commented on #2119
@walterbender  How do I generate these pictures?
![Screenshot_2020-02-25 75154171-1cc29f00-5748-11ea-98bb-c06a56b751b0 PNG (PNG Image, 1108 × 124 pixels)](https://user-images.githubusercontent.com/45814442/75185901-dd5a7980-576c-11ea-9673-7789a96cd1bf.png)

[2020-02-24 20:03] walterbender commented on #2119
https://www.musicxml.com/

[2020-02-24 22:17] aviral243 commented on #1162
@pikurasa I've implemented and tested this approach. It works.
@walterbender Please let me know about the viability of this one.
Thanks.

[2020-02-24 23:04] aviral243 opened #2121 "Help div not getting centered on first time use"
- The recent fix #2111 works fine when clicking the help button, but on first time load help div moves to the corner of screen (0, 0).

![Screenshot from 2020-02-25 04-23-34](https://user-images.githubusercontent.com/44023445/75198579-fcfe9b80-5786-11ea-8c57-9e7fe8de4ae4.png)

- This is because DOM height/width parameters are 0 at the time of initialisation so `sendToCenter()` becomes useless.

![

[2020-02-24 23:07] aviral243 commented on #2121
@walterbender What would be a better way to do this?
Modifying `sendToCenter()` function or using setPosition on help div.

[2020-02-25 00:39] walterbender commented on #2121
I suppose we could test for 0,0 and use hardwired numbers in those situations.

[2020-02-25 05:26] Ishakikani9117 commented on #2121
@aviral243 I don't think it should get centered.And also when a user opens Music blocks for the first time,it gets initialized at this position shown in below picture:
![Screenshot from 2020-02-25 10-50-01](https://user-images.githubusercontent.com/54074188/75217508-3c47df00-57bd-11ea-99df-1d6fae71ab77.png)
 And that's fine because it would get centered then it will overlap the mouse and the start

[2020-02-25 05:50] aviral243 commented on #2121
@walterbender I think we should take into consideration the hiding of mouse and starting blocks in this as @Ishakikani9117 suggested.

[2020-02-25 05:59] aviral243 commented on #2121
@walterbender I've hardwired the numbers ( using approximation from `sendToCenter()` ) to make the help div appear as shown below in all cases.

![Screenshot from 2020-02-25 11-25-15](https://user-images.githubusercontent.com/44023445/75219173-13761880-57c2-11ea-9a1f-091d3371a06f.png)

[2020-02-25 06:45] b18050 commented on #2119
@walterbender I used Musescore for the first time and was a good experience. I found some difference in code b/w musescore file and .xml file (using MB). So , it is a bit confusing for me.
I opened a .xml file (which I created using MB) in Musescore and done some changes but when I saved it , it is saved in .mscz format and code is also changed . So , Is there any way to convert this .mscz file in

[2020-02-25 07:23] AndreaGon commented on #2119
@b18050 This issue refers to when exporting MB to XML, it doesn't add a double barline. Double barlines in music context signifies the end of a piece. You don't have to convert .mscz file to .xml in order to solve this issue.

I think by solving this issue, then can only start doing #1982 .

[2020-02-25 13:26] Ishakikani9117 commented on #1449
@pikurasa  @walterbender  Can you tell me which file includes this code and general idea how to do it?

[2020-02-25 13:33] #1162 closed

[2020-02-25 14:49] #1967 closed

[2020-02-25 14:57] walterbender commented on #2121
Please *do not* hide the mouse and blocks. Please see my comment in https://github.com/sugarlabs/musicblocks/pull/2122

[2020-02-25 16:15] b18050 commented on #2119
@AndreaGon Do we need to add double bar lines at the end of every voice?

[2020-02-26 12:12] Ishakikani9117 commented on #1449
@walterbender please tell me.

[2020-02-26 12:12] Ishakikani9117 commented on #1449
@walterbender  please tell me where can i find the code?

[2020-02-26 14:20] #2119 closed

[2020-02-26 14:43] walterbender commented on #1449
two places to look.
here
https://github.com/sugarlabs/musicblocks/blob/master/js/lilypond.js
and beginning here
https://github.com/sugarlabs/musicblocks/blob/master/js/logo.js#L6095

[2020-02-26 16:04] paras151 commented on #2121
how to reproduce this error as on first time use i am getting the screen as @Ishakikani9117 has shown in the comment.

[2020-02-26 17:53] b18050 opened #2126 "Bottom part of Widget window not visible"
Unable to see lower part of widget window. How to see the bottom of any large widget window?
![Screenshot_2020-02-26 Music Blocks is a collection of tools for exploring fundamental musical concepts in a fun way ](https://user-images.githubusercontent.com/45814442/75372661-d9eefb80-58ee-11ea-94a8-5ab527cb7c5a.png)

[2020-02-28 07:21] aashimgarg commented on #2041
@munna00mkv you can work on this!

[2020-02-28 07:32] Ishakikani9117 commented on #1449
@walterbender  please review this.

[2020-02-28 08:34] Ishakikani9117 commented on #2126
@b18050  Can you tell me the steps to reproduce this issue?

[2020-02-28 08:45] aviral243 commented on #1287
@walterbender Is there a way to fetch the current version. I mean do we have a mechanism for that.

[2020-02-28 13:52] #2121 closed

[2020-02-28 13:57] walterbender commented on #1287
I suppose we could implement something on the Planet, but I really think this is not worthwhile. Making changes on the server in inherently risky and the reward is almost zero.

[2020-02-28 13:58] #1287 closed

[2020-02-28 14:19] #1449 closed

[2020-02-28 14:34] Ishakikani9117 commented on #2121
@walterbender  @aviral243  as i open the musicblocks for the first time,it looks like this,
![Screenshot from 2020-02-28 19-35-06](https://user-images.githubusercontent.com/54074188/75556829-f0b75e80-5a64-11ea-9b0f-113f60794d7a.png)

only when you click on the music blocks icon it goes in the center.I think before these changes it was fine and the help div was initializing in the right place like

[2020-02-28 14:58] aviral243 commented on #2121
@Ishakikani9117 Please make sure you fetch the latest commits.
About the overlapping part, as said here https://github.com/sugarlabs/musicblocks/pull/2122#issuecomment-590992342, it's not possible to avoid overlapping on all screens.

[2020-02-28 15:20] b18050 commented on #2126
Can you please share a screenshot?
I am unable to see in my firefox browser.

[2020-02-28 15:47] b18050 commented on #291
@walterbender  Where can I get more information about plugins? I am looking for something like documentation.

[2020-02-28 18:11] walterbender commented on #291
Have you looked at https://github.com/sugarlabs/musicblocks/blob/master/plugins/README.md ?

[2020-02-29 04:28] b18050 commented on #291
@walterbender  Thanks .
I found out that **Pluginsviewer.js**  is never used because it is incomplete. What more needs to be added to it?
I have cloned turtleart-activity, but unable to run it. I cannot find further steps to run it locally.

[2020-02-29 18:36] b18050 commented on #1107
@walterbender  Please take a look if this approach is right.
I changed tempo (to 120) and time signature(12/8)  https://www.8notes.com/scores/6174.asp (example given above)  in Musescore and saved that file in .xml format.
I get this.
![row-row-row](https://user-images.githubusercontent.com/45814442/75613158-62b8a200-5b50-11ea-83af-34bbedd257ed.png)

[2020-02-29 19:13] walterbender commented on #1107
@pikurasa ^^ I am guessing this is not what you had in mind.

[2020-02-29 20:35] walterbender commented on #291
Yes, the pluigin selector was never completed.
We may want to rethink plugs somewhat in light of the new Blocks API in any case.

[2020-03-01 03:36] Ishakikani9117 commented on #2126
@b18050  This is the example I was talking about.
![Screenshot from 2020-03-01 08-57-19](https://user-images.githubusercontent.com/54074188/75619000-cf0cc300-5b9b-11ea-8659-a55db8082406.png)
the above one is in chrome .

![Screenshot from 2020-03-01 09-04-16](https://user-images.githubusercontent.com/54074188/75619006-e9df3780-5b9b-11ea-8063-92561c304b3c.png)
this one is in firefox.

[2020-03-01 04:41] b18050 commented on #2126
@Ishakikani9117 Yes ,I am able to see that . But , I am not seeing it using localhost. Can you see?

[2020-03-02 14:41] gabbyprecious commented on #1886
Hello, has been implemented, can I work on this?

[2020-03-02 15:25] walterbender commented on #1886
We will not be implementing this for Music Blocks. It will presumably be done on the Sugar Labs level somehow.

[2020-03-02 15:25] #1886 closed

[2020-03-05 01:15] digitaldybbuk commented on #2048
It looks like this issue occurs when the drawing is has been shifted outside the frame. Almost as if it is not keeping track once the pixels are outside the visible frame.
maybe somewhere in turtles.js? just my guess though. Looks like the canvas is not being restored correctly when the pixels go out of view and back....

<img width="1440" alt="Screen Shot 2020-03-04 at 4 50 05 PM" src="https://us

[2020-03-06 15:49] pikurasa commented on #2096
I am not experiencing the bug on the latest code run locally, nor am I experiencing it on rawgit. However, I am experiencing it on musicblocks.sugarlabs.org. Has musicblocks.sugarlabs.org been updated to the latest release?

[2020-03-06 16:08] pikurasa commented on #2096
hmm... I spoke too soon. I just experienced this bug on rawgit (after doing work in another application in another window for about 20 minutes).

[2020-03-07 14:07] Ishakikani9117 commented on #2035
@pikurasa  Can you send me this project  which has this output?

[2020-03-07 18:05] pikurasa commented on #2035
The project is attached to my issue report:

which links to

https://github.com/sugarlabs/musicblocks/files/4051559/stac-slur.zip

[2020-03-07 21:06] sksum commented on #2048
It seems that the doScrollxy function is implemented in such a way to give the effect of scrolling using image shifting and stage.update() without any record of any "out of frame" drawing .
`this.doScrollXY = function (dx, dy) {
        // FIXME: how big?

        var imgData = ctx.getImageData(0, 0, ctx.canvas.width + dx, ctx.canvas.height + dx);
        ctx.putImageData(imgData, dx, dy);

[2020-03-07 21:22] walterbender commented on #2048
go for it

[2020-03-08 03:15] Ishakikani9117 commented on #2035
@pikurasa  I meant if you can send me the .html file so that I can see the block diagram.

[2020-03-08 04:03] Ishakikani9117 commented on #2039
@pikurasa Are you trying to say that this ~ notation should be before this  { \line { Repeat Forever }}?

[2020-03-08 05:05] Ishakikani9117 commented on #791
@pikurasa @walterbender   I think a general idea is if we encounter a repeat block then enter a function which takes repeat count as an argument then we can just simply output   \repeat volta repeatcount musicexpr.
But I need a little help with which files should i look upto and where should i put the code to find weather a repeat block is encountered or not.

[2020-03-08 06:13] Anigor66 commented on #2096
Hello. I tried running print statements on localhost as well as on https://musicblocks.sugarlabs.org/ and it seems to be working just fine. I also left that particular window idle for around 30 minutes and after returning it was printing the values.
![2020-03-08](https://user-images.githubusercontent.com/48329149/76157677-f9c5c100-6131-11ea-96fb-34a344666cc5.png)

[2020-03-08 06:16] Anigor66 commented on #2096
In the first video(the English one), the print block was not present in the status block. Is that the reason for not printing anything?

[2020-03-08 13:31] walterbender commented on #2096
Thanks for the detailed tests. I have a suspicion as to the problem: there is a timeout that is set when you use print that will cause the message to be erased after 1 minute. There is also logic to remove the timeout if another print statement is used subsequently. Probably somehow the timeout handler is getting messed up and the print messages are being erased immediately.

[2020-03-08 13:41] walterbender commented on #791
Your proposal makes sense. The caveat is when to use the notationRepeat call. Not every call to repeat represents a repeat in the music itself. Unless I am mistaken, this is a non-trivial problem. But tackling a few obvious cases may be enough.

[2020-03-08 20:42] pikurasa commented on #791
It is not a trivial problem, but a simple starting point might be:

1. Assume that repeated action blocks are higher level repeats and use repeat signs.

[code]
TODO: Figure out methods for repeats more than 2 (probably just annotation) and figure out other forms such as Da Capo, Sign, and Coda (which are probably best represented in MB with conditionals)

2. Assume that repeats around individual

[2020-03-09 15:20] Anigor66 commented on #2096
Could you please tell me in which JS file is the timeout handler?

[2020-03-09 17:54] walterbender commented on #2096
activity.js L29 is where the timeoutID is stored.

messages are created in the textMsg function in the same file. That is where the timeout for subsequently hiding the message is created.

The print block itself is defined in blocks/ExtrasBlocks.js L824

[2020-03-09 18:58] Ishakikani9117 commented on #2040
@pikurasa  when you said that you tied the first and second notes which are c'2 and e'4 ,you cannot do that. Because according to the documentation ,for tie to work ,both pitches should be exactly same otherwise it will be considered as a slur.

[2020-03-09 19:57] pikurasa commented on #2040
You are correct, for the second case, that the syntax is not correct for Lilypond.

That being said, I do not know why this affects the last note output **from MB**.

![Screenshot at 2020-03-09 15:54:14](https://user-images.githubusercontent.com/13454579/76251932-cffac000-623f-11ea-8eb7-fca1f3c27ad1.png)

As for the first case, the syntax is meaningless for Music Blocks as well, and it should also

[2020-03-09 21:57] #2096 closed

[2020-03-09 21:59] walterbender commented on #2096
I jumped in and fixed this since it was causing some problems for students.

The problem was not the timeouts but the method used in the timeout to hide the window.
We used add and remove show from the classList in one place and style.visibility=hidden in the timeout Nothing ever reset style.visibility again.

[2020-03-11 04:00] aviral243 commented on #325
@walterbender Is this issue still relevant?

[2020-03-11 04:44] aviral243 opened #2137 "Official App Repository link is broken inside plugins/README"
- Redirects to a 404 page.

[2020-03-11 13:14] #2137 closed

[2020-03-11 13:18] pikurasa commented on #2048
When you have a PR, I am happy to test it.

[2020-03-11 14:07] walterbender commented on #325
We have a work-around the local storage issue now. I suppose we can close this.

[2020-03-11 14:07] #325 closed

[2020-03-11 14:18] aviral243 commented on #325
Yes. I sensed it while searching for a possible solution.

[2020-03-11 15:19] walterbender opened #2143 "wrap graphics"
As per http://stager.tv/blog/wp-content/uploads/2019/11/Screen-Shot-2019-11-26-at-8.42.35-PM.png the turtle should wrap when it goes off screen.

[2020-03-11 15:21] walterbender opened #2144 "subtract one"
Just like we have an add one block, it would be nice to have a subtract one block. This would avoid having to deal with the more complex Add to block and avoid negative numbers.

[2020-03-11 16:54] Ishakikani9117 opened #2145 "Issue regarding widgets"
For widgets like phrase maker,music keyboard,rhythm maker which has tables,
when we delete the block ,the table should  also be deleted.But it stays right there.This also happens
when we start a new project by clicking on the 'New Project' option on the navigation bar.Here delete the block means putting it into the trash can.

[2020-03-11 17:09] walterbender commented on #2145
"when we delete the block" <-- is "the block" the widget block itself? I suppose we should close the widget in those situations.

[2020-03-11 17:15] Ishakikani9117 commented on #2145
@walterbender
![Screenshot from 2020-03-11 22-43-20](https://user-images.githubusercontent.com/54074188/76444346-d62ca000-63e9-11ea-8e9b-cca10a28f15d.png)
As you can in the above picture, I have deleted the block ,but the table(matrix) is still there.The same thing happens for other features also.