[2020-03-11 18:57] b18050 commented on #2145
@Ishakikani9117 The widgets are designed to facilitate the creation of music. In this case, when you click on the widget block , you get the corresponding table(matrix) , so if you want to delete something from table , you deselect it or in some case you can also erase the whole table.
So, if you deleted the block , you may erase the table using erase button provided in the widget.

[2020-03-11 19:03] Ishakikani9117 commented on #2145
@b18050  ,I know that we can erase the table using theerase button ,but it would be much better if the table goes away as soon as we remove the block.

[2020-03-11 19:20] b18050 commented on #2143
@walterbender Right now, the turtle wraps when it goes off upper part of the screen , but it does not wrap when it goes off the left , right or bottom part of the screen .
So, is this the issue to add wrapping when the turtle goes off left, right or bottom part of the screen(just like it wraps for upper part)?

[2020-03-11 19:34] b18050 commented on #2145
@Ishakikani9117 Yes , I got your point . The widget table should be empty corresponding to the block which is not present.
In a way , you are right, but sometimes we want to do the things on widget itself and correspondingly  generate blocks at the end. So , we do not care about the blocks . Yes , it will be good to have this.
So, you want to erase the whole table or the part whose block is remove

[2020-03-11 19:44] walterbender commented on #2143
I've never seen it wrap on the top. But it would be nice to wrap in all directions.

[2020-03-11 19:48] walterbender commented on #2145
^table^window and all is clear.
The window should be closed if the block is no longer part of the project (via delete or loading a new project)

[2020-03-11 21:25] #2144 closed

[2020-03-11 22:08] walterbender commented on #2126
Looking at the screenshot in the very first comment, I suspect that the problem may be related to browser zoom settings. Is your browser set to 100%? (Why is the toolbar at the top offset to the right?)

[2020-03-12 04:31] b18050 commented on #2126
Yes. the browser is set to 100% zoom. Toolbar at the top is mistakenly set to right.

[2020-03-12 05:09] Ishakikani9117 commented on #2145
@walterbender  Yes, that is what I am trying to say.

[2020-03-12 08:35] aviral243 commented on #2143
@walterbender @b18050 Can you give me an idea what behaviour of turtle we'd be requiring?

[2020-03-12 11:23] walterbender commented on #2126
"Toolbar at the top is mistakenly set to right."
How would that have happened? Did you change something?

[2020-03-12 11:24] walterbender commented on #2126
Can you please tell us about what browser, what version, what OS, what version, what display resolution? How do you reproduce this?

[2020-03-12 11:41] walterbender commented on #2143
The idea would be that if the turtle head off the upper right, it would reappear in the lower left, sitll heading in the same direction.
As if the entire screen had shifted up and to the left to stay ahead of the turtle. Make sense?
The image attached to the ticket should give you an idea. I can make a more complete diagram if necessary.

[2020-03-12 12:23] walterbender commented on #2143
![bitmap](https://user-images.githubusercontent.com/3996641/76521174-abb70300-643a-11ea-92bc-3c10672b218a.png)

Like this...

[2020-03-12 12:24] walterbender commented on #2143
Maybe we expose this as a setting on the secondary toolbar?

[2020-03-12 13:32] pikurasa opened #2148 "(Macros) Instrument Names not showing up in JA in hard mode"
The following seems to be translated, but is not showing up in hard mode in Japanese:

![Screenshot at 2020-03-11 13:00:58 drum JA translations](https://user-images.githubusercontent.com/13454579/76526594-b1760e00-6465-11ea-995d-b59677c1f321.png)

snare --> cowbell

[2020-03-12 14:23] Ishakikani9117 commented on #2148
@pikurasa  @walterbender I would like to work on this issue.Can you tell me which files should i look into?

[2020-03-12 14:51] b18050 commented on #2148
@Ishakikani9117 You can use ` grep -R "block name" to find out in which file these are used.
`

[2020-03-12 14:57] Ishakikani9117 opened #2150 "Xor operator in Boolean blocks"
It would be great if we add xor operator in boolean blocks.
Since most of Music Blocks' users are students, it is an advantage for them if they know about xor operator besides the basic operators like 'or' and 'and'.

[2020-03-12 15:19] aviral243 commented on #2143
@walterbender Understood it clearly from this.

[2020-03-12 15:49] b18050 commented on #2126
I am using Firefox browser version 72.0.1 (64-bit). I am using Ubuntu(linux) version 16.04.
My display resolution is (1366 X 768).
Reproduce this :My test file
[Repeats.are.Skipped.html.zip](https://github.com/sugarlabs/musicblocks/files/4325108/Repeats.are.Skipped.html.zip)

![widget](https://user-images.githubusercontent.com/45814442/76539633-05551700-64a7-11ea-9da8-6a1c9b4fcc96.png)

[2020-03-12 17:55] sum2it commented on #2058
This is an exciting issue. Looking forward to see this develops.

[2020-03-12 18:15] aviral243 commented on #2058
@sum2it What can be a starting point for working on this? And also the prerequisites.
Please guide me a bit.

[2020-03-12 18:57] sum2it commented on #2058
@aviral243 One of the many different approaches for this idea would be to:

1. Tell us, in your own words, what were you able to understand about this idea. An understanding about scale degree would be helpful, Devin has explained it pretty well, but you might want to use Google a bit.

2. Make rough suggestions + discuss on how you think this idea could be implemented.

3. Keep contributing meani

[2020-03-12 19:33] aviral243 commented on #2058
@sum2it I was more or less concerned about the musical knowledge required. Thanks for clearing that out. I'll try to learn more about scale degree through other resources and get back to this.

[2020-03-12 21:03] aviral243 commented on #1245
@walterbender We can close this one right? It's fixed.

[2020-03-12 21:06] #2148 closed

[2020-03-12 21:13] walterbender commented on #1245
I think so.

[2020-03-12 21:13] #1245 closed

[2020-03-12 21:37] walterbender commented on #2150
Not sure this is necessary. Can you describe a use case?

[2020-03-12 22:07] Ishakikani9117 commented on #2150
@walterbender  This block seems necessary from the aspect of programming.
![Screenshot from 2020-03-13 03-30-15](https://user-images.githubusercontent.com/54074188/76570281-0142ec80-64db-11ea-9fea-100d0158981c.png)

here in this picture ,there is 'or' block ,but suppose there is a 'xor' block , and you don't want
any number between 50 to 100, then for example, no. 64 satisfies both conditions , si

[2020-03-12 23:12] walterbender commented on #2150
I understand what and XOR operator does. I am asking when you think it would be used in the context of a programming environment like Music Blocks. I am loath to add new blocks without a compelling reason -- either from pedagogy or function.

[2020-03-13 13:06] Ishakikani9117 commented on #2150
@walterbender consider the following project for xor :
![Screenshot from 2020-03-13 18-08-17](https://user-images.githubusercontent.com/54074188/76623131-e31bd180-6558-11ea-8ea0-b4136e16efc7.png)

same as above ,there are many corner cases.the main purpose of this feature is that the students get to know about this 'xor' operator.

[2020-03-13 19:25] Ishakikani9117 commented on #1670
@walterbender  what could be the starting point for this feature?

[2020-03-13 20:04] Ishakikani9117 commented on #1670
@walterbender this is my plan on how to tackle this feature,
In turtlrdefs.js,we have help content pages, so we have to add page for every single block.

[2020-03-13 21:03] walterbender commented on #1670
I think we don't want to rely on a list of blocks in turtledefs.js. We should figure out from the palettes what blocks are defined and walk through that list.

[2020-03-14 15:37] walterbender commented on #2145
I've added glue to close any open widgets when you load new projects. https://github.com/sugarlabs/musicblocks/commit/20b00fecfb2591ca4c0893e03a5b00524e7cdd38

Still need to close them individually when the widget block is dragged into the trash.

[2020-03-14 16:38] Ishakikani9117 commented on #2145
@walterbender  I would like to work on this.

[2020-03-14 17:29] walterbender commented on #2145
Probably you want to check each block as it is put into the trash (see the sendStackToTrash() method) to see if it is a widget block. If so, close that widget.

[2020-03-15 18:51] Ishakikani9117 commented on #2145
@walterbender I think we dont have to check whether it is a widget block or not, because after all every block
has a help widget  and the same issue happens also with it.

[2020-03-15 19:33] walterbender commented on #2145
Don't worry about the help widget.

[2020-03-16 11:13] Ishakikani9117 commented on #2150
@walterbender  i thought about the projects using  OR  and AND blocks. Going through that I realized that actually XOR block  overcome the limitations  of OR  and AND blocks. When both the conditions are false and we want do the task,then XOR block becomes handy.

[2020-03-16 11:45] walterbender commented on #2150
You are slowly wearing me down. I suppose in the spirit of high ceiling we should include it.

[2020-03-16 12:13] Ishakikani9117 commented on #2150
@walterbender   then I  have already  made a PR.Please check it out.

[2020-03-16 12:39] walterbender commented on #2150
Closed via https://github.com/sugarlabs/musicblocks/commit/5ec5bf070121df2c74e3bae1eced4a2f6df82c03

[2020-03-16 12:39] #2150 closed

[2020-03-16 22:47] SLakhani1 commented on #1213
Hello @pikurasa , I am not able to reproduce the error. Can you attach the screenshots. If possible?

[2020-03-16 22:47] SLakhani1 commented on #1381
Is this issue still available? I want to work on it.

[2020-03-17 00:02] sksum commented on #2048
#2156
This implementation solves the pixel-scattering problem , but will have a limited canvas to scroll through
PS ... sorry for the late reply .

[2020-03-17 01:49] walterbender commented on #2048
Should be OK now. Please reopen if you encounter a problem.

[2020-03-17 01:49] #2048 closed

[2020-03-17 10:55] aviral243 opened #2157 "Conditional rendering of like button tooltip in planet"
This is a very small enhancement issue I came across. When using the planet, the like button tooltip remains constant at `Like Project` irrespective of whether I've already liked the project or not.
After liking the project it should instead show `Unlike Project`.

Before Liking the project :

![Screenshot from 2020-03-17 16-18-55](https://user-images.githubusercontent.com/44023445/76849470-757ae8

[2020-03-17 16:21] sksum commented on #2143
the pic and the diagram shown above seem to be contradicting ...
Its not clear if you want the mouse to wrap to a position which is inline with current direction  (according to the diagram) oraccording to image(" http://stager.tv/blog/wp-content/uploads/2019/11/Screen-Shot-2019-11-26-at-8.42.35-PM.png") which just changes edges ...
![a](https://user-images.githubusercontent.com/55449862/76876053-6

[2020-03-17 17:35] walterbender commented on #2143
sorry for the lack of clarity. I think #2 would be better.

[2020-03-18 00:17] SLakhani1 commented on #2126
I am able to reproduce this error. Same problem- Scrolls bars are not there. But after fitting it into the screen, I am able to scroll horizontally but not vertically.
System- Ubuntu- 18.04
Resolution- 1366 x 768
(I tried changing resolution, had no effects).

[2020-03-18 00:23] walterbender commented on #2126
What do you mean by "fitting it into the screen"?

[2020-03-18 00:36] SLakhani1 commented on #2126
By clicking that fit to window button on top right corner of the frame.
![Screenshot from 2020-03-18 06-03-36](https://user-images.githubusercontent.com/33183542/76913926-7a2cb480-68de-11ea-906d-fa4256d3d463.png)
![Screenshot from 2020-03-18 05-40-18](https://user-images.githubusercontent.com/33183542/76913949-8a449400-68de-11ea-9e0d-6f51357cdc40.png)

[2020-03-18 00:48] walterbender commented on #2126
Got it. We need to add auto scrolling to the contents of the windowWidget

[2020-03-18 01:12] SLakhani1 commented on #2126
I would like to try this issue.

[2020-03-18 08:12] b18050 opened #2160 "Pitch Drum matrix widget not closing"
On clicking close button icon , the widget window of Pitch Drum matrix is not closing
![close drum](https://user-images.githubusercontent.com/45814442/76939240-09a58800-691e-11ea-8357-f0484b45b4e4.png)

[2020-03-18 09:40] Ishakikani9117 commented on #1352
@pikurasa  Can you tell me for what    \ !  and  \ < used for in the original lilypond output format?

[2020-03-18 12:31] Ishakikani9117 commented on #781
@walterbender  Can you tell me a project which causes this error?

[2020-03-18 12:43] #2160 closed

[2020-03-18 12:45] Ishakikani9117 commented on #712
@pikurasa  the link you mentioned above is not working.Can you send any latest examples?

[2020-03-18 14:53] pikurasa commented on #1352
The bug is that these characters are meaningless to lilypond, and should not be generated by mb (when outputting to Lilypond)

[2020-03-18 15:25] nicholaskernan opened #2162 "Set Drum Overrides Set Instrument"
Set Drum appears to not behave as intended in the sense that it always takes precedent over Set Instrument when they are nested. Whether a Set Instrument block is placed inside a Set Block block or vice-versa,  a drum sound is played.
![Screen Shot 2020-03-17 at 12 48 31 PM (1)](https://user-images.githubusercontent.com/24445686/76976783-d3aad880-690a-11ea-9346-703516616e55.png)

In this example,

[2020-03-20 19:07] Ishakikani9117 commented on #1244
@pikurasa I don't think it would be convenient to have tie block like v space block. first, there is more hassle  in dragging and putting 2 blocks: one where the tie start and where it ends.
plus, the current tie blocks indicate very clearly which notes are tied together without any confusion even for a new user.

[2020-03-20 19:18] Ishakikani9117 commented on #2157
@aviral243  the like button is not working only on local server (local version of Music blocks). Otherwise it is working totally fine on https://musicblocks.sugarlabs.org/ .
I don't why this is happening.

[2020-03-20 22:12] pikurasa opened #2164 "Reproducible method to creating an Infinitely long note with Phrase Maker"
1. Open Phrase Maker
2. Click the plus to "add note"
3. Choose "pitch"
4. In the pitch wheel, choose "sharp" or "flat" (not tested with double-sharp or flat)

Result: A note will play forever. Also, the sharp note will not appear on the Phrase Maker.

[2020-03-20 23:10] #2164 closed

[2020-03-21 09:37] Ishakikani9117 commented on #801
@walterbender  What do you mean by user manual?

[2020-03-21 12:30] walterbender opened #2165 "updated pitch values not reflected in grid playback"
In the Phrase Maker (pitchtimematrix.js) when you modify the value of a note (left column) using the pie menu, the old note still plays when you hit the Play button. Apparently the "notes to play" list is not being updated properly.

Steps to reproduce:
1. Open the Phrase maker
2. Click on any box to add a note to play in one of the pitch rows.
3. Play to confirm that the pitch you selected plays

[2020-03-21 12:51] #1670 closed

[2020-03-21 13:22] walterbender commented on #801
https://github.com/sugarlabs/musicblocks/blob/master/guide/README.md

[2020-03-21 18:29] walterbender opened #2167 "background color in help widget doesn't extend in scrolled window."
![Screenshot from 2020-03-21 14-26-23](https://user-images.githubusercontent.com/3996641/77233799-453f8c80-6b80-11ea-8654-30df50240d08.png)

When you scroll down, the background color is wrong.

[2020-03-21 18:31] walterbender commented on #2053
I suggest we defer working on this until we do a refactoring of the palette code.

[2020-03-21 18:49] Ishakikani9117 commented on #2167
@walterbender not only for background blocks, but it happens for every help widget which has scrolling available.

[2020-03-21 19:11] #2145 closed

[2020-03-21 19:47] aviral243 commented on #2053
@walterbender I've been thinking the same while figuring out how to make this work.

[2020-03-22 14:36] #801 closed

[2020-03-22 19:52] #2167 closed

[2020-03-22 23:39] aviral243 commented on #719
@walterbender Issue still valid?

[2020-03-22 23:43] walterbender commented on #719
Never heard back from Devin if my patch worked

[2020-03-23 16:18] pikurasa commented on #719
(Sorry for not responding. Testing again now, and...)

It does not work right now, and I think the reason has to do with our shift from "onbeat" block to "on strong beat" block.

What confirms my suspicion is that the .tb file pasted into https://github.com/sugarlabs/musicblocks/issues/719#issuecomment-366139934 opens as an "unkown" block.

[2020-03-23 16:26] walterbender commented on #719
Yes. It should be an on-strong-beat-do block.
But here is the problem: beat 4 comes during the half-note. There is no note that begins on beat 4. So the action is never triggered.

How should this actually work?

[2020-03-23 16:26] walterbender commented on #719
[[0,["start",{"collapsed":false,"xcor":0,"ycor":0,"heading":90,"color":0,"shade":60,"pensize":5,"grey":171.42857142857142}],1044,113,[null,42,null]],[1,["newnote",{"collapsed":false}],1072,249,[44,2,5,9]],[2,"divide",1174,249,[1,3,4]],[3,["number",{"value":1}],1260,249,[2]],[4,["number",{"value":4}],1260,281,[2]],[5,"vspace",1086,281,[1,6]],[6,"pitch",1086,313,[5,7,8,null]],[7,["solfege",{"value":

[2020-03-23 17:52] pikurasa commented on #719
What I did to test it was to change the 4 to an 8 in hopes that the "overload" feature would occur (by triggering for every eighth note).

...this being said, I am trying to figure out how "on strong beat" and "on weak beat" has impacted the proposal of this feature.

[2020-03-23 20:38] walterbender commented on #719
The problem I encountered is different. If we are triggering on 4 or 8, but those beats are never triggered because they occur inside of a half note, that seems wrong. We'll need to do some overhauling of the code to fix that.

[2020-03-23 21:21] pikurasa commented on #1936
I am experiencing this issue again on rawgit.

[2020-03-23 21:24] pikurasa commented on #1936
from the log:

/sugarlabs/musicbloc…js/activity.js:4751 Uncaught TypeError: widgetWindows.hideWindows is not a function
    at PlanetInterface.hideMusicBlocks (/sugarlabs/musicbloc…js/activity.js:4751)
    at PlanetInterface.openPlanet (/sugarlabs/musicbloc…js/activity.js:4799)
    at _doOpenSamples (/sugarlabs/musicbloc…js/activity.js:2932)
    at HTMLAnchorElement.planetIcon.onclick (/sugarlabs/

[2020-03-23 21:46] walterbender commented on #1936
Please try again.

[2020-03-23 22:23] pikurasa commented on #719
I think what would be nice is something that worked at an abstract level, such that it could be a kind of "automated drum machine"

Perhaps triggered by the following construct:

![Screenshot at 2020-03-23 18:20:08 beat factor proposal](https://user-images.githubusercontent.com/13454579/77368688-afa92600-6d54-11ea-9ac0-44aacabf181c.png)

[2020-03-23 22:23] pikurasa commented on #1936
Still not working for me...

[2020-03-23 22:44] walterbender commented on #1936
e you sure you refreshed your browser? console log please.

On Mon, Mar 23, 2020 at 6:24 PM Devin Ulibarri <notifications@github.com>
wrote:

--
Walter Bender
Sugar Labs
http://www.sugarlabs.org
<http://www.sugarlabs.org>

[2020-03-23 22:49] walterbender commented on #719
Not sure I was clear in my previous comment.

if we are in 4:4 and I want to kick on 4 and snare and tomtom on 8, it will work with the current code, except:

If I play a loop: 1/4 1/4 1/2 then we never see beat 4 or beat 8 since they occur during the 1/2 note.
So. if we have something queued for a beat, do we trigger it on that beat, whether or not a note is triggered on that beat? Seems we shoul

[2020-03-24 15:05] pikurasa commented on #719
Yes. Since "beat" is inherently abstract (as opposed to "on every note"), I think that it should be triggered even if there is no note starting on a given beat.

Or another way to think about it is, a given beat is passed (temporally) whether or not anything is placed there. The only remaining question would be at what level--"beat factor" as we are calling in--we want to drill down to with regard

[2020-03-24 20:23] meganindya opened #2172 "Tour window imperfect positioning"
The Tour window initially reading "Welcome to Music Blocks" is initially positioned to the left but comes to the bottom centre if closed and reopened. Sometimes, it overlaps the blocks too depending on the screen size. Wouldn't it be better if initially it appeared in the centre, then floated to the relevant area of the screen based on the position of the button it is describing?

![mb1](https://u

[2020-03-24 20:26] meganindya commented on #2172
In addition if the described button also flashes for a second, I think it could improve the experience.

[2020-03-24 20:35] meganindya opened #2173 "Tour window fullscreen problems"
I think the fullscreen feature of the Tour window is not very useful. Firstly, the content doesn't resize, and then too it doesn't serve much purpose.

![mb3](https://user-images.githubusercontent.com/33328728/77474000-5e746180-6e3c-11ea-8884-e7e331dbafb2.png)

Also, I think that the inactive feature on fullscreen mode doesn't look okay. In addition, the expanded menu hides some portion of the top

[2020-03-24 21:44] meganindya opened #2174 "Block Pie Menu position doesn't change with scrolling"
The pop-up pie menu does not move with the blocks when the screen is scrolled.
![mb5](https://user-images.githubusercontent.com/33328728/77479925-bd3ed880-6e46-11ea-8c52-1e75ce1e3c9b.png)

Also, there is a light gray square background behind the pie circle.

[2020-03-25 07:05] Ishakikani9117 commented on #2174
@meganindya  The pie menu   position doesn't change with , becuse there can be only one pie menu opened on the screen at a time, so I think it is better that it has fixed position.

[2020-03-25 07:08] Ishakikani9117 commented on #2172
@meganindya no matter where the help window is positioned, it is going to overlap something always.

[2020-03-25 08:03] meganindya commented on #2172
@Ishakikani9117 that's right. However, I'd still push for it to move to the relevant area of the screen (we can see this thing in several web applications) instead of hovering around arbitrarily.

[2020-03-25 22:27] aviral243 commented on #604
@pikurasa If -50 is all the way to the left won't -25 mean 75% of the volume from the left speaker and 25% of the right?

[2020-03-26 01:35] pikurasa commented on #604
That sounds right if we decide that 0 means 100% for both channels.

This being said, I will admit that I really do not know very much about these sorts of things. It would be nice to consult someone who does audio recording.

I just thought it would be fun to pan from left <--> right in stereo, and the code would be easier as a single block than as two blocks (e.g. controlling "left" and "right"

[2020-03-26 02:33] quozl commented on #604
Hello.  I've been a stage sound engineer.  Panning controls are different to balance controls.  Some controls are a pair of logarithmic variable resistors with opposing curves, and some are linear.  Most act as attenuators for the opposing channel only when moved from the neutral position.

Digital panning and balance is mostly done by varying the volume (by attenuator) on a per-channel basis.

Fu

[2020-03-26 03:30] aviral243 commented on #2143
@walterbender We should close this one. Or is there something left?

[2020-03-26 14:06] walterbender commented on #2143
I thought we were going to add a button to enable/disable wrap.

[2020-03-26 17:29] meganindya commented on #2165
I agree with the idea of notes to play list being generated on the fly as it is maintained by 13 different functions and most of it serves no real purpose. However, we'd then have to do the same for the `_save` function too. Yet, the option is still better.

[2020-03-27 01:39] #2165 closed

[2020-03-27 09:32] meganindya commented on #2174
@Ishakikani9117 That's right. But say for example, there are 3 pitch blocks as in the case above. Now, I wouldn't easily be able to tell which block the wheel corresponds to. Also, let's say I scroll past the canvas, there's no utility then to keep the wheel.

I think it should close if canvas is scrolled.

[2020-03-27 11:44] walterbender commented on #2174
I agree. It should close. Also, any "open" labels should close as well on scroll.

[2020-03-27 15:43] aviral243 commented on #2143
@walterbender Where is the setting position suited well? Aux menu?

[2020-03-27 15:49] walterbender commented on #2143
I am toying with putting it with the erase, grid, and collapse buttons. @pikurasa thoughts?

[2020-03-28 00:15] #2051 closed

[2020-03-28 08:17] meganindya opened #2179 "Sorting works only once in Phrase Maker"
In the Phrase Maker, if we sort the matrix once, we're unable to sort it again even if there is a change made to one of the pitch blocks from the widget.<br/>
Steps to Reproduce:
1. Add a Phrase Maker block to the canvas.
2. Add few pitch blocks in unsorted fashion.
3. Open the Matrix.
4. Sort it (by clicking on the sort button on the left).
5. Change one of the pitch blocks from the matrix (by cl

[2020-03-28 11:16] walterbender commented on #2179
I think that after a sort, a flag is set to indicate that the array has been sorted. Perhaps simply reset the flag?

[2020-03-28 12:51] meganindya commented on #2179
Yes, resetting the flag after a change is introduced should do it.

[2020-03-28 13:40] meganindya opened #2181 "Missing images in Phrase Maker note labels"
The Phrase Maker widget displays octave images only for the 4th octave and C5.
![Screenshot from 2020-03-28 17-18-07](https://user-images.githubusercontent.com/33328728/77822477-19d91680-7119-11ea-820d-4d386038f9cc.png)
Again, I'm not sure displaying the C5 at the end of the 4th octave has much reason, since pitches can be in any octave.

[2020-03-28 14:13] walterbender commented on #2181
This is by design since we only have 1 octave worth of images.

[2020-03-28 14:14] #2181 closed

[2020-03-28 15:19] #2179 closed

[2020-03-28 16:57] #2157 closed

[2020-03-28 19:47] Ishakikani9117 opened #2182 "Music keyboard: table grids not visible"
In the music keyboard table, the grids are not visible.So there happens a confusion when selecting and unselecting the notes from the table.
![Screenshot from 2020-03-29 01-12-11](https://user-images.githubusercontent.com/54074188/77832299-06e73600-715b-11ea-8ce4-c729578d4ef7.png)

[2020-03-28 21:08] #2182 closed

[2020-03-29 07:41] b18050 opened #2184 "Widget reopen after some time"
@walterbender Widget window reopen after some time when its block is send to trash .
I have referred to this in #2155.
@Ishakikani9117  has also reported the issue.

[2020-03-29 08:51] aviral243 commented on #1982
@pikurasa In that case what would be the duration of those rests?

[2020-03-29 08:53] aviral243 commented on #2184
@b18050 How to reproduce?

[2020-03-29 08:56] aviral243 commented on #1982
Because we assume 32 divisions per measure and we already fill them using notes. I tried adding a rest with 0 duration but that is read as another error by MuseScore.

[2020-03-29 09:59] b18050 commented on #2184
Try opening a widget and open its window . Now move the widget block to
trash . The widget window will be gone. Wait for two three seconds you will
see widget window coming again on the screen on its own.

On Sun, 29 Mar 2020, 14:23 Aviral Gangwar, <notifications@github.com> wrote:

[2020-03-29 10:11] aviral243 commented on #2184
@b18050 For me it seems to happen only for some widgets. Like I tried phrase maker, rhythm maker and pitch staircase. It only happened for pitch staircase.
Also for phrase maker the window didn't get close automatically in the first place.

[2020-03-29 10:16] aviral243 commented on #2184
It seems to depend on whether I'm dragging the block to trash or using the pie menu.

[2020-03-29 11:29] aviral243 commented on #2058
@sum2it @pikurasa I've tried reading more about scale degree (also music theory in general) and I've got a rough idea of it.

This is a simple image showing the names of different notes wrt tonic note.

![Screenshot from 2020-03-29 16-12-15](https://user-images.githubusercontent.com/44023445/77847344-18235780-71da-11ea-897f-55aba0c4492b.png)

I'm not able to understand this. Can we discuss impleme

[2020-03-29 16:11] meganindya opened #2185 "Notes improperly restored in Phrase Maker"
Pointed out by @walterbender. In the Phrase Maker if there are note blocks or repeat blocks, then new added notes in the matrix shouldn't affect the blocks and also should not be preserved between sessions, i.e. if the matrix is closed and reopened, the new notes should be gone. However, they are being incorrectly restored.<br/>
![77809601-bd1d2380-7066-11ea-97ca-411fe8d520a4](https://user-images.

[2020-03-29 16:12] meganindya commented on #2185
I'm currently trying to fix this.

[2020-03-29 17:33] pikurasa commented on #2048
It works for me.

My test project:
https://musicblocks.sugarlabs.org/index.html?id=1580247873092338&run=True

[2020-03-30 17:03] pikurasa commented on #2143
That strikes me as too prominent for this particular feature. I would think it is better suited in Aux menu.

[2020-03-30 23:50] #2174 closed

[2020-03-31 14:25] meganindya opened #2189 "Broken pitch add/update in Phrase Maker with note or repeat blocks"
If a Phrase Maker is created from note or repeat blocks, the user must be allowed to make changes, however, those shouldn't be reflected on the blocks and not be retained between sessions.

However, the add function is working: you can add new pitches, but they shouldn't be reflected in the blocks (which they are being).

Secondly, the change (clicking on the pitch value on the left column) functi

[2020-04-02 06:38] Ishakikani9117 opened #2190 "Temperament Widget: action block generating issue"
How to reproduce:
Open the temperament widget window and save the action block fro any random note.

The issue is the new generated action block is not being rendered properly on canvas. as shown in the below picture:
![Screenshot from 2020-04-02 12-03-04](https://user-images.githubusercontent.com/54074188/78217958-a0f00b00-74da-11ea-855b-6f1cf0d8bbf5.png)

[2020-04-02 06:38] Ishakikani9117 commented on #2190
I am currently working on this issue.

[2020-04-02 06:42] Ishakikani9117 commented on #2190
@walterbender  what should I do about this. I already checked the function that generates the new action block in temperament.js , but it seems that it is working fine.

[2020-04-02 20:11] walterbender opened #2192 "let there be let"
Now that ECMA is ubiquitous, there is no longer any reason to not use let instead of var where appropriate. It is a fairly major change -- we need to be careful regarding scoping. But nonetheless, it is time.

- [ ] js/
- [x] js/widgets/
- [x] js/blocks/  <-- mostly already in place
- [x] js/utils
- [x] planet/

[2020-04-02 20:19] Tobenna-KA commented on #2162
Hi @walterbender I have tried looking deeper into this, and I have had a little insight I think. When I export the block configuration above, I can see that the interpretation of it by MB appears to be wrong.

Here is the output:

![carbon(5)](https://user-images.githubusercontent.com/10382560/78295667-2a342b80-7535-11ea-8519-e00d48abb101.png)

Whereas I think with the block config above, it shoul

[2020-04-02 20:23] Tobenna-KA commented on #2192
Already started, this is actually in reply to the commit I made. Maybe we can talk about how to share the work, so we don't spend time working on the same things?

[2020-04-02 20:24] Ishakikani9117 commented on #2192
@Tobenna-KA ohh. same here. I also already started. Which part are you doing right now?

[2020-04-02 20:46] Tobenna-KA commented on #2192
Alright, sounds good, I will do the work on what is outside those 3 folders within /js

[2020-04-02 21:27] walterbender commented on #2162
I don't think this bug has anything to do with the block loading mechanism (which is in blocks.js). It is more of a logic error in terms of how we manage which instrument is currently active in a nesting situation.

That said, it is hard for me to "diff" the two blocks of code you've pasted since you pasted them as images. Try pasting the code inside '''  ''' so that markdown will display it prope

[2020-04-02 21:29] #2185 closed

[2020-04-02 22:45] Tobenna-KA commented on #2162
So the output currently is

[code]
But I thought it should be as such,

[code]
I had actually tried tracing in `blocks.js`

[2020-04-03 06:03] aviral243 commented on #2192
@walterbender Should be also try moving towards Arrow functions as there are numerous instances where `this` binding has been an issue, in the entire code.
We can get rid of them using Arrow functions.

[2020-04-03 14:49] walterbender commented on #2192
yes... we can use arrow functions in a lot of places.

[2020-04-04 00:55] aviral243 commented on #2192
@walterbender Will create a new issue and start working on it ASAP.

[2020-04-04 01:23] aviral243 opened #2198 "Use arrow functions instead instead of normal ones"
As we move towards using `let` instead of `var`, we can also make use of another ES6 Javascript feature; Arrow functions. The benefits of using it will be:

- Major benefit would be getting rid of `this` binding.
e.g We come across instances of such format in our code where we need to bind `this` to use in surrounding code:

![Screenshot from 2020-04-04 06-43-54](https://user-images.githubusercont

[2020-04-04 02:15] quozl commented on #2198
I approve.  ES6 was finalised in June 2015.  This along with the other changes relating to ES6 moves Music Blocks beyond compatibility with most instances of Sugar.  I'm fine with that, as it was never released for older platforms.  I'll make sure to advise against trying it.

[2020-04-04 03:21] aviral243 commented on #2198
@quozl Thanks for approving the change.
I don't know much about the compatibility at this instant to comment on that, but it's good that new issues aren't popping up.

[2020-04-04 03:55] aviral243 commented on #2198
Let's also have a task list to keep track:

- [ ] js/
- [ ]  js/widgets/
- [ ]  js/blocks/
- [ ] js/utils
- [ ]  planet/

[2020-04-04 11:36] walterbender commented on #2198
Re James' comment, I had been pretty diligent about keeping E6 out of MB for a long time, but during GCI, I had let down my guard, so that bridge has already been crossed.

[2020-04-04 13:22] walterbender opened #2200 "input block breaks keyboard block"
You cannot use the keyboard block after using the input block... perhaps the keyboard event handlers are not reset properly?

[2020-04-04 19:02] meganindya opened #2202 "Phrase Maker improper evaluation of _noteBlocks"
Consider the example,
![Screenshot from 2020-04-05 00-16-52](https://user-images.githubusercontent.com/33328728/78459065-08bd7600-76d4-11ea-874c-c130b1a5eaab.png)

If multiple phrase makers are used one by one, the evaluation of `_noteBlocks` (stores whether there are note or repeat blocks in the respective phrase maker stack) is anomalous.

If the matrix for the right one is opened first, `_noteB

[2020-04-04 19:08] walterbender commented on #2202
I think the obvious solution would be to put the block maps into a dictionary where the blk number of the phrasemaker block is used as a key. Then we'd know which map goes to which instance.

[2020-04-04 19:24] meganindya commented on #2200
Can you please help with some details about how to reproduce the issue?

[2020-04-04 19:46] meganindya commented on #2202
Sure thing. I believe that's a nice idea. I'll get on with it.

[2020-04-04 20:49] walterbender commented on #2200
![Screenshot from 2020-04-04 16-48-17](https://user-images.githubusercontent.com/3996641/78461055-1b17bf80-7694-11ea-9978-2658aa0085b4.png)

If you run this w/o the input, it prints the characters you type. With the input, it never sees anything.

[2020-04-05 14:24] #2202 closed

[2020-04-07 20:26] pikurasa opened #2209 "print current interval"
It would be nice to be able to "print current interval".

There seems to be no way to display such information.

For example, I would like to add "print current interval" to the following code:

![Screenshot at 2020-04-07 15:36:46 scale with stable pitch -- oblique motion](https://user-images.githubusercontent.com/13454579/78713561-02184400-790a-11ea-927f-4b2e1ba9a45d.png)

The result would be to

[2020-04-07 20:27] pikurasa opened #2210 "Found Turtle?"
Something is strange with this block.

![Screenshot at 2020-04-07 16:21:39 found turtle](https://user-images.githubusercontent.com/13454579/78716276-2ece5a80-790e-11ea-9379-54e85358ce9c.png)
Left is on palette; right is dragged from palette

[2020-04-08 10:11] aviral243 commented on #2210
@pikurasa Is this the expected shape of this block?

![Screenshot from 2020-04-08 15-40-08](https://user-images.githubusercontent.com/44023445/78772354-414ca080-79af-11ea-8ba1-245af9e983e9.png)

I suspect this is an issue with our current Block API. I am trying to fix it.

[2020-04-08 13:41] pikurasa commented on #2210
That looks correct to me. Certainly the text needs to be printed inside of the block.

@walterbender Is what @aviral243 has above correct?

[2020-04-08 14:50] walterbender commented on #2210
It is a regression. Not sure when it happened. Prob. the Block API PR as @aviral243 mentions.

[2020-04-08 14:57] aviral243 commented on #2210
@walterbender @pikurasa
Actually it was mentioned in the Block API PR that this is an underlying issue which wasn't addressed back then.

I think I've figured out how to fix it. We need to expose a third property, `bool` for `flows.left`.
This will be particularly for `one-argument boolean-output` blocks.

[2020-04-08 14:59] aviral243 commented on #2210
It will lead to the creation of blocks similar to what `booleanOneArgBlock()` used to before the Block API.

[2020-04-08 15:42] walterbender commented on #2210
sounds exactly right

[2020-04-08 17:55] sum2it commented on #2058
@aviral243 pentatonic means five notes per scale
Major scale has seven notes, minor scale has seven notes, and these are heptatonic (irrelevant, but  to make you understand)
Pentatonic scale has 5 notes.

The first note in a major scale is referred to DO, second is called RE, and subsequently MI, FA, SOL, LA, TI

In Indian terms, they're basically western equivalents of Sa, Re, Ga, Ma, Pa, Dha, Ni

[2020-04-08 20:47] pikurasa commented on #2058
@aviral243 feel free to ping me on IRC and we can talk about it. I read your proposal and I think that you have a good start, but I can help you complete your understanding.

Two things, real quick:
1. Let's stick to numbers for scale degrees. "Tonic, supertonic, etc." may come in handy, but is secondary.
2. The reason this issue is so important is that (most) musicians train themselves to be flue

[2020-04-08 20:50] #2210 closed

[2020-04-08 20:50] pikurasa commented on #2058
I guess that some musicians may not use this system. For those that really need a different system, our temperament tool provides a powerful way to generate systems outside the box, which also affect how scale degree works.

...so I am not too worried about be more conservative here.

[2020-04-08 22:01] pikurasa opened #2214 "Duplicate Block is broken"
Duplicate block is broken and that is breaking some of our projects.

Error in console is:

[code]

[2020-04-09 01:28] pikurasa commented on #712
@Ishakikani9117 Thanks for letting me know about the broken links.

I think any sticker making can be open ended, and does not need to be done with any particular tool.

At any rate, this issue was made more in the context of GCI. It is a good GCI project, but I think it clutters up the issues on GitHub. Therefore, I am removing it.

[2020-04-09 01:28] #712 closed

[2020-04-09 01:47] pikurasa commented on #1107
(Sorry the replies are so late. For some reason I am not being properly notified by GH...)

@b18050 This project is a good one for someone become familiar with utilizing Music Blocks as a competent user.

This issue involves:
0. Creating "Row, Row, Row your Boat" with Music Blocks code
1. The main melody should sound the same as https://www.8notes.com/scores/6174.asp (thanks walter, for the link)

[2020-04-09 01:56] pikurasa commented on #2039
I am sorry, I do not understand what you are saying here.

The basic point of this issue is to add some annotation to the score that explicitly states that the music is suppose to be repeated forever.

[2020-04-09 01:58] pikurasa commented on #2039
@kierenmacmillan do you have any suggestions, being the lilypond power user, of how to specify that a particular repeat is suppose to happen "forever".

My best solution, given my limited knowledge, is to append `^\markup { \line { Repeat Forever }}` to the final note, but that seems clumsy.

[2020-04-09 02:02] pikurasa commented on #2035
@Ishakikani9117 I am confused. If you unpack the .zip file you should see the .html file. GH does not allow you to upload the html file, so this is a workaround.

[2020-04-09 02:57] meganindya commented on #2192
@Ishakikani9117 @Tobenna-KA no offense. But, please be careful with the variable scopes while replacing `var` with `let`. I'm sure you know that `let`, unlike `var`, has a block only scope.

Here is an example. #2214 is caused by such a mistake. See the following excerpt in FlowBlocks.js:
![Screenshot from 2020-04-09 08-03-46](https://user-images.githubusercontent.com/33328728/78852447-f4fa7280-7a

[2020-04-09 04:21] Tobenna-KA commented on #2192
I'm pretty sure we both know this, and at least with the changes I have made in cases like this, you'd see me moving variable declarations out of the scope to a more global position to allow the use of let rather than var, but if necessary leave the var declaration.

But thank you for your concern.

[2020-04-09 06:23] aviral243 commented on #2058
@sum2it @pikurasa Thanks for your responses. I can see the dots connecting now.

 Yes, that makes complete sense.

And the notes missing in that framework as compared to a 7 note system can be skipped?

Combining what both of you said above:

1.) For heptatonic frameworks, we need not skip numbers (1-7) in scale-degree implementation and these numbers represent Do, Re, Mi... respectively.

2.) And

[2020-04-09 06:31] aviral243 commented on #2192
@Tobenna-KA Are you working on the remaining files inside `js/` folder? Once they're done I can resume working on #2201

[2020-04-09 06:49] meganindya commented on #2192
@Ishakikani9117 I was recently working on quite a few issues with the phrase maker (widgets/pitchtimematrix.js). There's one I'm currently working on and it might require changes at several places. So, can you please leave out that file for the time being? After the issue is sorted, I can help with the replacements by `let` and `arrow` functions for that file, since I'm somewhat versed with its co

[2020-04-09 07:16] Ishakikani9117 commented on #2192
@meganindya Ok. I will leave that file.

[2020-04-09 15:57] pikurasa commented on #2058
yes, find me in the #sugarlabs channel on freenode

[2020-04-09 20:04] #2214 closed

[2020-04-09 23:52] Tobenna-KA commented on #2192
Yes I am

[2020-04-10 11:06] #2200 closed

[2020-04-10 19:44] pikurasa opened #2218 "Lilybin is working again (and Hacklily does not)"
Maybe we should suggest both (in our lilypond export files)?

[2020-04-10 19:45] pikurasa commented on #2218
lilybin.com and hacklily.org

[2020-04-11 04:38] aviral243 commented on #2218
I'll look into this.

[2020-04-11 13:59] pikurasa opened #2220 "Silence input block"
I have often wondered if it might be nice to have a "silence" block as input block.

For example, it could be input to any pitch or drum block, but instead of playing a pitch or drum it would just play silence.

I think it might make interactive programs that occasionally need silence as (e.g. as a random input) easier to code out. Right now, you have to restate an entire note block just to get si

[2020-04-11 14:01] pikurasa opened #2221 ""Hover" as a sensor event"
Right now, we have "on click"

It might be nice to have "on hover" (i.e. when hovered over the avatar)

Also, somewhat related, for mobile it would be nice to have things like "on swipe" (and other mobile-only events)

[2020-04-11 14:04] walterbender commented on #2221
We should probably add mouse down and mouse up events too... Our virtual pianos could be much more interesting that way.

[2020-04-11 14:52] aviral243 commented on #2218
@pikurasa This works?

![Screenshot from 2020-04-11 20-21-41](https://user-images.githubusercontent.com/44023445/79047078-2b024700-7c32-11ea-8867-5ba8f27fab38.png)

[2020-04-11 17:24] pikurasa commented on #2218
Yes.

You should also change the default header for generated lilypond code to say something similar as well. If I remember correctly, right now, it recommends hacklily.org.

[2020-04-11 17:27] pikurasa opened #2222 "Sense when notes are getting behind and suggest (warning) using "no clock""
No clock's utility is not easy to understand or discover.

Also, user's may get their code into a place where they would benefit from "no clock".

It would be nice if MB detected when the notes are getting behind and give the user a warning with a suggestion to use "no clock" block in their code.

`Notes seem to be getting behind in your code. You may want to try "no clock".`

[2020-04-11 18:00] #2126 closed

[2020-04-12 03:53] aviral243 commented on #2218
Done.

![Screenshot from 2020-04-12 09-22-10](https://user-images.githubusercontent.com/44023445/79060165-4e171000-7c9f-11ea-8d48-b9699fce7469.png)

[2020-04-12 11:03] walterbender commented on #2218
@pikurasa translation please

[2020-04-12 12:35] #2218 closed

[2020-04-12 12:45] #2162 closed

[2020-04-13 00:42] pikurasa commented on #2218
HACKLILY / LILYBIN -- この「Lilypond」の楽譜を、http://hacklily.orgまたはhttp://lilybin.com/、ブラウザーで編集したり、見えたりできます。

HACKLILY / LILYBIN -- この「Lilypond」のがくふを、http://hacklily.orgまたはhttp://lilybin.com/、ブラウザーでへんしゅうしたり、みえたりできます。

[2020-04-17 21:04] pikurasa opened #2227 "Code not running with "on strong beat", "on weak beat", and "on every note""
![Screenshot at 2020-04-17 16:51:33 on-beat and weak-beat and on-every-note](https://user-images.githubusercontent.com/13454579/79613756-ac545080-80ee-11ea-9144-4257f271fa95.png)

Using On Strong Beat, On Weak Beat, and "On every note do" results in no music (playback) at all.

The only suspicious thing I see in the log is (i.e. why rest???):
[code]

Test Code:
[on-every-note-with-on-weak-and-on-s

[2020-04-17 21:10] pikurasa opened #2228 "New "Set Volume" block should sense volume set by master volume block"
![Screenshot at 2020-04-17 17:07:18 synth volume input should detect volume set by set master volume](https://user-images.githubusercontent.com/13454579/79614236-a7dc6780-80ef-11ea-9509-373fc3625435.png)

Right now the new "set volume" is not sensing volume changes made via "set master volume". However, since "set master volume" affects all synths, I think it makes sense to do so.

Test Code:
[syn

[2020-04-17 21:12] pikurasa commented on #2227
Oops, this is a duplicate of https://github.com/sugarlabs/musicblocks/issues/1898

[2020-04-17 21:12] #2227 closed

[2020-04-18 11:19] b18050 commented on #2220
So, we will need to add a silence block , which will just play silence. It will also need time for which it will play silence , e.g. it now has note block and its length decide silence playing .
The new block will be independent of note block for time and will play silence according to the block to which it is attached as input.(pitch or drum block) .
Is it this that needs to be done?

[2020-04-18 11:48] b18050 commented on #2220
![silence](https://user-images.githubusercontent.com/45814442/79636873-a0bd6400-8198-11ea-953e-afa98e888b9d.png)

[2020-04-18 11:52] b18050 commented on #2192
@meganindya  @Ishakikani9117 @Tobanna-KA
Is anyone doing changes to planet. I want to work on this if anyone has not yet started on this.

[2020-04-18 13:34] Ishakikani9117 commented on #2192
@b18050 I want to do the planet folder.

[2020-04-18 13:34] pikurasa commented on #2220
That is not what I meant. I will send design soon.

[2020-04-18 13:51] aviral243 commented on #1982
@pikurasa Can you help me here a bit?

[2020-04-18 14:39] pikurasa commented on #2220
The result would look like this (the silence input would be on **note palette**):

![Screenshot at 2020-04-18 10:36:13 silence as input](https://user-images.githubusercontent.com/13454579/79640642-1ec24080-8182-11ea-9557-b65031aa9420.png)

It would make code such as the following possible:

![Screenshot at 2020-04-18 10:36:49 one-of-this-that-silence](https://user-images.githubusercontent.com/1345

[2020-04-18 18:09] b18050 commented on #2220
@pikurasa Yes , it is a really a nice thing and using this many beautiful musics can be composed.

[2020-04-18 21:03] Tobanna-KA commented on #2220
I'd like to give this a try, any suggestions on how to begin?

[2020-04-20 10:21] b18050 commented on #2220
@Tobanna-KA , you can prefer to look how to add a new block .
https://github.com/sugarlabs/musicblocks/blob/master/js/README.md#how-to-define-a-new-block
I think this block should be added in rhythm palettes.
For logic part , you may take help from
https://github.com/sugarlabs/musicblocks/blob/master/js/blocks/RhythmBlocks.js#L895.
@pikurasa  Is it a value block whose value is fixed to "rest"?

[2020-04-20 13:11] #2228 closed

[2020-04-21 21:46] Tobanna-KA commented on #2220
@b18050 thanks for the links.

@pikurasa I have created a draft pull request for the silence block its here, please have a look [https://github.com/sugarlabs/musicblocks/pull/2230](https://github.com/sugarlabs/musicblocks/pull/2230)

[2020-04-22 00:06] pikurasa commented on #2220
I did just some very simple testing, but it works for me so far.

@walterbender any comments from you?

[2020-04-22 11:52] Tobanna-KA commented on #2220
Thank you @pikurasa, I will await @walterbender for the go ahead

[2020-04-24 02:53] pikurasa opened #2233 "Proper placing of events for Lilypond"
Our Lilypond output is not yet placing event triggered functions in their proper places.

MB Code
![Screenshot at 2020-04-23 22:49:16 MB code](https://user-images.githubusercontent.com/13454579/80169998-7c1d1e00-85d6-11ea-9f06-e452daf9605c.png)

Current Output:
![Screenshot at 2020-04-23 22:48:46 result](https://user-images.githubusercontent.com/13454579/80170083-a7077200-85d6-11ea-9553-80bfc0179a

[2020-04-24 03:01] pikurasa opened #2234 "Sample Instruments Pitch is not Transformed"
The sound produced by our harmonics block is not very good right now. I tested a bit and have identified that our math works fine on our synth instruments (electric synth, different waves, etc), but not our samples.

Trumpet, especially should have a fuller sound. In fact, since the sample for trumpet most likely is a harmonic, I do not think we need to do anything more fancy than properly transpo

[2020-04-25 11:57] walterbender commented on #2220
I am still on the fence about this design. To me, plugging silence into the octave arg or even the pitch arg seems like a kludge. It seems more like using ~strike though~ in text.

[2020-04-25 14:21] pikurasa commented on #2220
Certainly, this is not a "main feature" but it does help for examples such as the following:

![https://user-images.githubusercontent.com/13454579/79640646-24b82180-8182-11ea-8744-3ebb563d278e.png](https://user-images.githubusercontent.com/13454579/79640646-24b82180-8182-11ea-8744-3ebb563d278e.png)

If there is another way to do this that is not too compicated, I am all ears.

[2020-04-25 15:08] walterbender commented on #2220
What if we just add silence as an option in the note selector. So the "do" could also become "silence"?

[2020-04-25 16:02] pikurasa commented on #2220
If it can be placed outside of our pitch wheel, then I am okay with it. Otherwise, I really, really do not like the idea of it being grouped with the pitches.

[2020-04-25 17:26] walterbender commented on #2220
Let's make some sketches

[2020-04-25 19:23] walterbender commented on #2220
![Screenshot from 2020-04-25 15-22-18](https://user-images.githubusercontent.com/3996641/80288836-b8e93200-8708-11ea-8198-6e00bbf2162b.png)

How about something like this?

[2020-04-25 20:14] pikurasa commented on #2220
The position is perfect.

How about a half or quarter note rest symbol? (but I am biased)

[2020-04-25 20:19] pikurasa commented on #2220
Also, what happens when you click to make it a silence note? Does it turn into our current silence block? And if you click the current silence block, does it give you this pie menu as well?

[2020-04-25 21:01] walterbender commented on #2220
A rest symbol is a nice idea. I thought it would change the note block from Sol to silence. Let's defer thinking about the current silence block for now since it adds a lot of complexity.

[2020-04-26 01:55] pikurasa commented on #2220
Although I like this idea, in general (and should be implemented), I think it fails to make the following formula any easier (which is the crux of this issue).

![https://user-images.githubusercontent.com/13454579/79640646-24b82180-8182-11ea-8744-3ebb563d278e.png](https://user-images.githubusercontent.com/13454579/79640646-24b82180-8182-11ea-8744-3ebb563d278e.png)

As awkward as it is, it is an ea

[2020-04-26 12:09] walterbender commented on #2220
I think you misunderstood what I was trying to communicate. If you click on a "do" block, one of the new options will be "silence" -- invoked by hitting the "rest" symbol in the inner circle. The label will be "silence" instead of "do" and it will cause no sound to play with whatever pitch block it is attache to. (It will be green rather than red and if you click on it again, you'll be able to re-

[2020-04-26 15:24] pikurasa commented on #2220
Yes, I did misunderstand. Thanks for clarification. This sounds fine.

[2020-04-26 16:06] Tobanna-KA commented on #2220
Thanks for the feed back, let me see if I can take another stab at this

[2020-05-03 20:39] pikurasa opened #2235 "input block does not connect to broadcast block"
I am trying to create a project that allows the user to choose which event to broadcast by input the name of the event into the broadcast block. However, input block does not connect into broadcast block.

![Screenshot at 2020-05-03 16:36:39 input value into broadcast not working](https://user-images.githubusercontent.com/13454579/80925302-1ec76080-8d7e-11ea-8739-704761e2b224.png)

[2020-05-03 20:49] #2235 closed

[2020-05-04 08:02] pikurasa opened #2236 "Collapsing Scale Degree (Note Value) is Broken"
![Screenshot at 2020-05-04 04:01:36 collapsing scale degree broken](https://user-images.githubusercontent.com/13454579/80946437-9678a800-8ddd-11ea-8902-8c2e01565b19.png)

[2020-05-04 08:26] pikurasa opened #2237 "Accept both "Minor" and "Aeolian", "Major" and "Minor""
I tried to use an input block for the mode/key value as in the following:

![Screenshot at 2020-05-04 04:18:32 input name](https://user-images.githubusercontent.com/13454579/80947620-1273ef80-8de0-11ea-95a5-450c86e828a5.png)

I noticed that typing "minor" does not result in any change.

I see that on line 6843 of block.js the expected input is "aeolian", which works.

[code]

It would be nice if "

[2020-05-06 12:47] pikurasa opened #2238 "Set Key and Scale Degree Hard-Coded Octave"
Set Key and Scale Degree is stubbornly staying within one octave. It should be able to move into other octaves as to preserve the shape of the melody that is being transformed.

(I think this is a regression as I recall it working properly before)

This MB code:

![Screenshot at 2020-05-06 08:42:11 octave issue](https://user-images.githubusercontent.com/13454579/81178052-9d3a2300-8f75-11ea-9770-79

[2020-05-07 04:29] aviral243 commented on #2238
![Screenshot from 2020-05-07 09-55-53](https://user-images.githubusercontent.com/44023445/81254536-0b034f00-9049-11ea-8c01-418e8fd620d6.png)

The notes being played when G major is selected. This should instead be ` G A B D E D B A G`. The notes being played are ` G A B C D C B A G`.

[2020-05-07 07:44] aviral243 commented on #2238
@pikurasa @sum2it The notes in a G major scale are:
![Screenshot from 2020-05-07 13-07-24](https://user-images.githubusercontent.com/44023445/81267233-bf11d380-9063-11ea-9db6-c10f94ad0c08.png)
So as part of the above project are we expecting the first 5 notes to play (and then repeat), or we want a pentatonic scale (Skipping the 4th and 7th note)?

I think I misjudged the issue before. The notes b

[2020-05-07 07:53] sum2it commented on #2238
@pikurasa please clarify the issue

[2020-05-07 12:51] walterbender opened #2239 "accidental block implementation is dubious"
![Screenshot from 2020-05-07 08-47-45](https://user-images.githubusercontent.com/3996641/81296131-71836f80-903f-11ea-869e-f3d7e5d540de.png)

In the about example, I'd expect F# followed by F. But I get F# F#
That s because accidental doesn't pay any attention to key. It behaves like the semi-tone transpose block instead. Natural == transpose by 0. I think natural should mean, ignore the sharp or f

[2020-05-07 13:35] pikurasa commented on #2239
@walterbender I am going to study your Rainbow Connection Code.

In the meantime, if you could send me the sheet music you used to transcribe this, that would be helpful.

(I was going to give you a fast answer, but I want to think about this more. My question is does this natural keep it a "re" or change it to something like "ra" in movable do? I hesitate to say that the natural affects the "writ

[2020-05-07 13:52] pikurasa commented on #2239
I see that the pertinent section for this issue is probably 43-47 (before the key change).  Correct?

[2020-05-07 13:54] pikurasa commented on #2239
In some ways, Bb starts two measures before the "Bb" is written explicitly out.

I do not have the score in front of me, but I assume there are E and B flats in those two measures.

[2020-05-07 13:56] pikurasa commented on #2239
So, are these two measures the end of the previous section, or the beginning of the next section?

[2020-05-07 14:06] walterbender commented on #2239
Here is an example...

and the code to implement it...

On Thu, May 7, 2020 at 9:52 AM Devin Ulibarri <notifications@github.com>
wrote:

--
Walter Bender
Sugar Labs
http://www.sugarlabs.org
<http://www.sugarlabs.org>

[2020-05-07 14:06] pikurasa commented on #2239
(This is a semi-philosophical question. I am pretty certain the placement of the set key block matches the score that was used.)

[2020-05-07 14:07] pikurasa commented on #2239
Attachment? Maybe send it in an email?

[2020-05-07 14:09] walterbender commented on #2239
The MB code I shared is for the 2nd voice. Attached is what comes before
it...

On Thu, May 7, 2020 at 10:06 AM Devin Ulibarri <notifications@github.com>
wrote:

--
Walter Bender
Sugar Labs
http://www.sugarlabs.org
<http://www.sugarlabs.org>

[2020-05-07 14:11] walterbender commented on #2239
![Screenshot from 2020-05-07 10-05-28](https://user-images.githubusercontent.com/3996641/81304436-0dff3f00-904b-11ea-986a-c3c729bf46bc.png)
![Screenshot from 2020-04-28 07-45-20](https://user-images.githubusercontent.com/3996641/81304438-0e97d580-904b-11ea-81ca-6fb332d0b8fb.png)
![Screenshot from 2020-04-28 07-45-18](https://user-images.githubusercontent.com/3996641/81304439-0e97d580-904b-11ea-9db

[2020-05-07 14:11] walterbender commented on #2239
^^ the attachements. didn't realize that they were not included earlier.

[2020-05-07 14:35] pikurasa commented on #2239
The B natural in these measures is functioning -- in movable do terms -- as a "do sharp". This is because it is moving us to the 2nd scale degree (Re in movable do).

I would not call it a "Re natural".

[2020-05-07 15:16] walterbender commented on #2239
https://images.app.goo.gl/Ri9weC2mt87Viqri9 is what I used for the transcription.

[2020-05-07 15:22] pikurasa commented on #2239
The E natural is more interesting (measure 71). It could either be a 1) guiding tone from F to E flat to D or 2) a non-functional color-tone (it is the 9th of the chord, after all, and this is a common way to color the chord).

If we say it is 1, then I might call it (for movable Do) "Sol Flat" (going to Fa, then Mi). In the case of 2, I might call it "Fa Sharp" (kind of "going" to Sol, but not re

[2020-05-07 16:24] pikurasa commented on #2239
https://musescore.com/user/18531356/scores/5227340

[2020-05-07 17:58] pikurasa commented on #2058
I made a first draft of a test file that we can use.

I sketched out the same drawing I made for you this morning, but in Music Blocks.

[Scale Degree Tester.html.zip](https://github.com/sugarlabs/musicblocks/files/4594809/Scale.Degree.Tester.html.zip)

I broke down the representations into four layers
1. Chromatic -- This is our universe (let's ignore anything other than 12 for now)
2. Superset 7

[2020-05-08 11:05] aviral243 commented on #2238
I've figured out what is wrong with the way we calculate octaves.

![Screenshot from 2020-05-08 16-10-48](https://user-images.githubusercontent.com/44023445/81398330-a7f7e200-9146-11ea-8550-d958a12835e1.png)

In here if `arg` is a number, we simply return its value. (All we look is that it's not larger is 9). `arg` is nothing else but the value of octave block connected to the Scale Degree block i

[2020-05-08 11:27] aviral243 commented on #2058
@pikurasa Thanks for the project. Nice to have it for reference.

[2020-05-08 14:59] pikurasa opened #2241 "Recommended Tags (on Planet) arbitrated by blocks used"
It would be nice if recommended tags were automatically input into the "tags" area of the planet when publishing.

I think we already have what we need to arbitrate many of the tags. For example, our "statistics" feature detects which blocks are being used.

![Screenshot at 2020-05-08 08:50:06 use statistic data to suggest tags](https://user-images.githubusercontent.com/13454579/81418231-5afe1680-

[2020-05-08 15:32] pikurasa commented on #862
@aviral243 has found the cause of this issue. I think he says it is because we test for flats before sharps (or the other way around).

The lilypond result of this test file [Simple 12 Key Test.zip](https://github.com/sugarlabs/musicblocks/files/4599935/Simple.12.Key.Test.zip) is correct for all the flat keys, but not for the sharp keys.

_**Note: The octave displacement is due to https://github.c

[2020-05-08 15:34] pikurasa commented on #2238
[Simple 12 Key Test.zip](https://github.com/sugarlabs/musicblocks/files/4599957/Simple.12.Key.Test.zip) can be a helpful test file. @aviral243

[2020-05-08 15:39] pikurasa commented on #961
I think this is fixed, but by which commit, I do not know.

What fixed it is that silence blocks are now immovable.

[2020-05-08 15:39] #961 closed

[2020-05-08 15:53] pikurasa commented on #1086
I just tested this on rawgit version and our "faux pickup" does not seem to be working.  (See https://github.com/sugarlabs/musicblocks/issues/1086#issuecomment-368234124 and subsequent comments)

![Screenshot at 2020-05-08 11:49:51 cannot process pickup](https://user-images.githubusercontent.com/13454579/81423375-59385100-9122-11ea-852b-9ccee7513b02.png)

It is true that Lilypond cannot parse this

[2020-05-08 16:13] pikurasa commented on #1096
99% of what was discussed here works.

The only outlying issue is that it would be nice to have a button to choose "the nearest common key" instead of these unfamiliar combinations. I will put that in a separate issue.

@walterbender @kierenmacmillan bravo!

images of the feature below (ignore octave leaps, that is a separate issue)

Locrian
![Screenshot at 2020-05-08 12:03:23 locrian test](https:

[2020-05-08 16:13] #1096 closed

[2020-05-08 16:20] pikurasa commented on #2020
@aviral243 Please read this issue and the issues linked inside (if you have not done so already)

[2020-05-08 16:22] pikurasa opened #2242 ""nearest common key" when generating lilypond"
What we produce for lilypond when specifying something like "Jazz Minor" is impressive, but most musicians (even jazz musicians, despite the name) would not be trained to read these key signatures.

One idea that was suggested is a button upon lilypond output to choose "the nearest common key". See https://github.com/sugarlabs/musicblocks/issues/1096#issuecomment-402354319

We would need to design

[2020-05-08 16:27] aviral243 commented on #2020
@pikurasa I gave this a shallow read before. I'll read it again in light of new information.

[2020-05-08 16:30] pikurasa commented on #1145
My original test code is not working

`[[0,["start",{"collapsed":false,"xcor":0,"ycor":0,"heading":0,"color":10,"shade":50,"pensize":5,"grey":100}],133.66666666666669,74.33333333333334,[null,null,null]],[1,["newnote",{}],438.66666666666674,130.33333333333334,[250,2,5,9]],[2,["divide",{}],534.8878580729167,130.33333333333334,[1,3,4]],[3,["number",{"value":1}],620.3878580729167,130.33333333333334,[2

[2020-05-08 16:36] pikurasa commented on #1239
I do not believe there is anything more to be done for this issue.

MB is outputting the dotted half notes correctly for lilypond to handle.

[2020-05-08 16:36] #1239 closed

[2020-05-08 16:40] pikurasa commented on #1381
This really does not work. It results in various strange behavior.

This is my test file. https://github.com/sugarlabs/musicblocks/files/3699185/map-pitch-drum-affecting-all-pitches.html.zip

@SLakhani1 yes, it is still available, if you are still interested.

[2020-05-08 16:45] pikurasa commented on #1872
It seems to work for some cases, but not for others.

It worked for me for Do major and Do dorian, but not Do locrian. I cannot yet figure out the pattern...

![Screenshot at 2020-05-08 12:44:55 locrian](https://user-images.githubusercontent.com/13454579/81428130-d3200880-9129-11ea-99c8-0dd285810699.png)

[2020-05-08 16:53] pikurasa commented on #1877
I am still experiencing this particular part of the issue.

Also, I did experience an unexpected "NaN" inside a hertz block. I do not understand how this could happen as I just used the default notes. Could it be that note value = 1/1 causes this bug? ( I am trying to reproduce, but without some[ metronome "click track"](https://github.com/sugarlabs/musicblocks/issues/1875) this task is near impos

[2020-05-08 16:54] pikurasa commented on #1936
Fixed

[2020-05-08 16:54] #1936 closed

[2020-05-08 17:04] pikurasa commented on #2095
Most aspects of this issue have been resolved.

I tested with https://github.com/sugarlabs/musicblocks/files/4207147/Tonal.Pitch.Paint.box.and.JA.hako.conflict.html.zip

I did get a box with name "hako1" (see block at the right) when I opened the file, which is not recognized by MB. However, all the other blocks were called "hakonosuuchi1" (see box blocks at left that are attached) and they worked

[2020-05-08 17:06] pikurasa commented on #1223
I think the original issue has been resolved. We can discuss taxonomies in other discussions.

[2020-05-08 17:06] #1223 closed

[2020-05-08 17:35] sksum commented on #1898
I would like to work on this issue (if its okay with @walterbender ) . I think the problem lies in the way "everybeat"  and  "strongbeat" beats are treated for the noteblock .

[2020-05-08 20:59] fakela opened #2243 "Block help at the end of help block tour"
The block help at the end of the tour
<img width="571" alt="Screenshot 2020-05-07 at 1 54 57 PM" src="https://user-images.githubusercontent.com/39309699/81446779-59147180-9173-11ea-9bba-628cb993318a.png">

**Issue**

At the end of the tour, the block help is meant to show with the rhythm block being the first but going back and forth with the arrows on the help block immediately pops the rhythm bl

[2020-05-08 21:43] walterbender commented on #1898
@sksum please do jump in on this. We were thinking that perhaps "on every beat" could behave a bit differently than currently designed: to be triggered on every beat in the defined meter, regardless of whether or not a note was played. Not 100% certain how we'd want to handle off-beat events but perhaps we can all discuss this together on Monday?

[2020-05-09 00:15] sksum commented on #1898
Sure @walterbender

[2020-05-09 07:45] sksum commented on #1973
I will be working on this issue

[2020-05-09 08:59] aviral243 commented on #2238
Thanks. I'll try using it.

[2020-05-09 09:12] meganindya commented on #2192
@walterbender I've reviewed pull requests for changes in `planet/` (#2231) and `js/utils` (#2225, #2226). Please take a look.

[2020-05-09 12:24] pikurasa opened #2244 "Pop does not connect to "name" for pitch offset"
![Screenshot at 2020-05-09 08:23:24 pop does not connect](https://user-images.githubusercontent.com/13454579/81473730-7a567b80-91ce-11ea-8d18-b9ef1676cf5f.png)

The top not of "pop" does not connect.

[2020-05-09 12:28] pikurasa commented on #2239
@walterbender If you input a "do #" does it give you the correct note?

If I remember correctly, we set movable do to work this way. Do# would be like "Di" for movable solfege. Di is a half-step higher than Do and suggests that we are moving to Re.

I will do my own testing later. Right now, I am focused on nailing down scale degree with Aviral.

[2020-05-09 12:30] aviral243 commented on #2244
This might be a problem with `set pitch number offset` block instead.

[2020-05-09 12:30] pikurasa commented on #2244
a box input does not connect either (I thought I had a clever workaround, but no)

[2020-05-09 12:32] aviral243 commented on #2244
What type of arguments do we expect for the top argument of `set pitch number offset` block. Currently it is set to only accept `note` input.

[2020-05-09 12:33] pikurasa commented on #2244
Yes, but I am trying to put pitch into a heap, then pop it into set pitch number offset

[2020-05-09 12:34] pikurasa commented on #2244
![Screenshot at 2020-05-09 08:22:11 set up strings](https://user-images.githubusercontent.com/13454579/81473887-c229d280-91cf-11ea-984e-bc90c9db08fd.png)

See the right side of the screen. The left is as I have in my original comment.

(Now I am trying other things, so not going to recreate the exact screenshot)

[2020-05-09 12:35] aviral243 commented on #2244
The problem is mainly because it won't know the type of data pop will be feeding until the project is run.
Let me find a fix.

[2020-05-09 12:38] walterbender commented on #2244
The problem is set pitch number offset expects a string. We should change it to anyin.

[2020-05-09 12:38] pikurasa commented on #2244
Maybe we just need exceptions for input that is variable (box, pop, one of this that, random)

[2020-05-09 12:39] aviral243 commented on #2244
I can change the argument type to `anyin` for the first notch of set pitch number offset` block. Would that be okay?

[2020-05-09 12:39] aviral243 commented on #2244
Yes exactly.

[2020-05-09 12:39] pikurasa commented on #2244
Sounds good. Thanks!

[2020-05-09 12:40] walterbender commented on #2239
Accidental set to sharp adds a half-step under **all** conditions, which is probably not what we want.

[2020-05-09 12:58] #2244 closed

[2020-05-09 13:12] pikurasa commented on #2244
Great work!

Meanwhile, I created what I wanted via a different method. See https://musicblocks.sugarlabs.org/index.html?id=1588957026697981&run=True for a six string guitar.

The simpler version is https://musicblocks.sugarlabs.org/index.html?id=1589029763532253&run=True

[2020-05-09 13:53] sksum commented on #1973
#2246

[2020-05-09 14:58] #2236 closed

[2020-05-09 15:40] pikurasa commented on #2239
Is this issue only for the accidental block specifically?

Would the following, for example, be the same or different?

![Screenshot at 2020-05-09 11:39:06 Bb accidental](https://user-images.githubusercontent.com/13454579/81478197-be0aae80-91e9-11ea-81ca-a066c3f8197c.png)

[2020-05-09 16:01] walterbender commented on #2239
I'd expect B and B# but I think it does B and B right now. What do you expect?

[2020-05-09 17:27] #1973 closed

[2020-05-09 21:55] pikurasa commented on #2239
Okay, I totally get it now.

However, I am failing to understand where this design would be helpful musically. In your rainbow connection transcription, the code would be much easier to read if you used Do#, which would suggest a movement up to Re.

If you put a natural around it, someone would need to really wrap their head around the rest of the code to understand that Do is Bb and then mentally

[2020-05-09 21:57] walterbender commented on #1872
There was a typo in the list of SOLFEGE names for conversion that was tripping things up for certain combinations of notes. Should be OK now. Please test.

(Also, curious about using Do for the key in set key... it works but seems a bit circular.)

[2020-05-09 22:07] walterbender commented on #2095
I will investigate. But in the meantime, I found another bug.
![Screenshot from 2020-05-09 18-04-32](https://user-images.githubusercontent.com/3996641/81486026-e8775e80-921f-11ea-935f-f39edcf4bf1f.png)

It seems that number to pitch fails with float values. It works with integers.

[2020-05-09 22:09] walterbender commented on #1381
I just played your example and it mapped Sol to the drum and played the Mi as a pitch. What behavior were you expecting?

[2020-05-09 22:19] walterbender commented on #2095
pushed a fix for the number to pitch bug :)

[2020-05-09 22:20] walterbender commented on #2239
I guess I don't understand why we'd use the accidental block at all.

[2020-05-09 23:10] walterbender commented on #2095
I have looked at the project and cannot figure out how it was created. Most of the named blocks are stored internal as:
`[15,["namedbox",{"value":"box1"}]`

But one block is stored as:
`[67,["namedbox",{"value":"箱１"}]`

We translate the box name in the interface but the internal value is in English -- a special case for box1, box2, and box. I don't know how we can determine the intention of "箱１" w

[2020-05-10 11:03] pikurasa commented on #2239
We made it before we had pie selector for pitch.

[2020-05-10 11:06] pikurasa commented on #2095
I just remember switching to Japanese and reloading this project, but cannot remember the details. I do not think I explicitly named any box blocks.

[2020-05-10 11:36] walterbender commented on #2239
Then perhaps it should be "hidden" until we settle on a way in which it can be of value.

[2020-05-10 11:44] pikurasa commented on #2239
I think your idea for its use is clever, but it is deceptively advanced.

I am okay with implementing it if we put it at the bottom of the palette. Also, perhaps call it "accidentalizer" (not really a word, but suggests we act upon the accidentals in some way).

[2020-05-10 11:49] pikurasa commented on #1381
I will upload a video as soon as I can, but if you run the program more than once and play around with it, the behavior is "erratic".

[2020-05-10 11:52] walterbender commented on #1381
That would be helpful as I cannot get it to behave erratically.

[2020-05-10 13:28] pikurasa commented on #2239
If I remember correctly the other reason we created a wrapper version of accidental was to make the more colorful notes more visually salient. We may experiment with changing the color of our pitch and/or note block based on whether we have an accidental specified. But that is a separate (design) issue.

[2020-05-10 21:44] pikurasa commented on #2058
@aviral243 I dug up some designs that I made in 2017. Please see [Fixed-Movable-Systems-6.svg.zip](https://github.com/sugarlabs/musicblocks/files/4606767/Fixed-Movable-Systems-6.svg.zip). Notice the difference from the following revisions.

The following has a new middle layer (pink), which is what we have been missing. This layer would be the true "scale degree block". Notice that this layer requ

[2020-05-10 21:52] pikurasa commented on #2058
(I made a comment that I want to think about a little longer)

[2020-05-11 07:48] aviral243 opened #2250 "skip notes block not functioning"
![Screenshot from 2020-05-11 13-16-59](https://user-images.githubusercontent.com/44023445/81536792-bbdf5600-9389-11ea-8cd0-77b9ca2038d6.png)

Most possibly a regression as I remember it working correctly.

Looking for a fix.

[2020-05-11 13:06] aviral243 commented on #2238
[12KeyTest.zip](https://github.com/sugarlabs/musicblocks/files/4609739/12KeyTest.zip)

@pikurasa Here is the file with extended repeats.

[2020-05-11 13:43] pikurasa opened #2251 "Beat Events triggered regardless of whether a note is played"
Yes. Since "beat" is inherently abstract (as opposed to "on every note"), I think that it should be triggered even if there is no note starting on a given beat.

Or another way to think about it is, a given beat is passed (temporally) whether or not anything is placed there. The only remaining question would be at what level--"beat factor" as we are calling in--we want to drill down to with regard

[2020-05-11 13:45] pikurasa commented on #2251
We want beat events to be triggered regardless of whether a note is played.

(Unlike "on every note do") The beat goes on, whether or not something is explicitly played on that beat.

Should open a lot of fun utility.

[2020-05-11 13:48] pikurasa opened #2252 "On Every Beat Do"
We could have a new block which looks at the denominator (the beat) and calls an action on every point in time which matches.

For example, for meter = 6/8, we would call an action for every eighth note (regardless of whether or not it is "strong" or "weak")

[2020-05-11 13:52] pikurasa opened #2253 "Default Strong and Weak for Common Meters"
For the most common meters, we could have a default strong and weak beat.

Meter | Strong Beat (assume all other beats are weak)
2/4  | 1
4/4 | 1 and 3
3/4 | 1
6/ 8 | 1 and 4

These defaults will be overridden when a user explicitly specifies "on strong beat"  blocks.

[2020-05-11 13:59] pikurasa opened #2254 "Blocks generated by Temperament Widget are jumbled at the left side of the screen"
Blocks generated when you click save for temperament widget a generated, but jumbled at the left of the screen. Furthermore, clicking home does not bring their position back to center, and they are not draggable.

![Screenshot at 2020-05-11 09:54:45 temperament](https://user-images.githubusercontent.com/13454579/81569631-875da100-936d-11ea-8bdd-87e559a1549d.png)

Suspicious stuff in logs:

[code]

[2020-05-11 14:07] pikurasa opened #2255 "Octave Flip works backward for Temperament's Custom Pitch Pie Menu"
Flipping the octave in the custom pitch pie menu works the opposite of how one would expect.

Right now, you must go down in pitch in order to tick the octave up.

My test was done this way:
* Open Temperament Widget
* Click on the pitches to go down in pitch (C, A#, G, F, D# --> C)
* The octave will go up, not down

or

* Click on the pitches to go up in pitch (C, D#, F, G, A# --> C)
* The octave

[2020-05-11 14:21] pikurasa commented on #2238
Thanks. Yes, there are some issues with the way this works.

I tried lowering the number of repeats going down to 21 and there is still unexpected skipping.

Also, we have a design question before us:

As we move from note to note, do we keep the octave from the previous scale degree (n^th modal pitch) or do we reset to the octave number specified in the new note?

For this code snippet, certainly

[2020-05-11 14:30] pikurasa commented on #2238
@aviral243 Inspecting the Lilypond output, it looks like you may be forcing the octave leap in an unreliable way.

For G major (where the first sharp comes in), I see an octave leap down from B to C, and then an octave leap up from F# (Gb) to G**. This behavior repeats predictably throughout.

F# to G for G major is the move from the 7^th scale degree back to the 1st (in the next octave).

![Scree

[2020-05-11 18:46] pikurasa commented on #2238
^^ I just realized that I made these tests on https://musicblocks.sugarlabs.org

@aviral243 Which of your branches should I be testing?

[2020-05-11 18:51] pikurasa opened #2256 "Whole Numbers as x/1 for Fraction block"
It would be nice if whole numbers were represented as being "over 1" for the output of fraction block so that there is always a numerator and a denominator.

[2020-05-11 18:54] walterbender commented on #2256
Can you please provide some context? What "Fraction" block?

[2020-05-11 19:14] pikurasa commented on #2256
![Screenshot at 2020-05-11 15:14:06 fraction](https://user-images.githubusercontent.com/13454579/81602153-14b6ea80-939a-11ea-9e84-8a7c91ac745b.png)

[2020-05-11 20:18] walterbender commented on #2256
Got it.

[2020-05-11 20:25] #2256 closed

[2020-05-12 11:50] aviral243 commented on #2238
![Screenshot from 2020-05-12 17-19-46](https://user-images.githubusercontent.com/44023445/81684682-ccb8c600-9474-11ea-86dc-914da5a9d3a3.png)

Are we talking about such a scenario where 1st note would be in 4th octave and next should be played in 5th octave?

[2020-05-12 11:51] aviral243 commented on #2238
@pikurasa I haven't pushed changes yet. I'm trying to come up with something more robust for octaves.

[2020-05-12 11:58] pikurasa commented on #2238
Please push to a branch that we can see. Thanks.

[2020-05-12 12:16] aviral243 commented on #2238
I'll do that.
Also there is a way to force octave change using `current` , `previous` and `next` arguments to scale degree block. Do they fulfill the purpose?

[2020-05-12 13:58] aviral243 commented on #2238
@pikurasa I've pushed changes to a branch: [octaveFix](https://github.com/aviral243/musicblocks/tree/octaveFix)

Please check it out and report bugs.

[2020-05-12 17:04] aviral243 commented on #2238
@pikurasa What if we check whether we're inside a Repeat block and calculate octaves using previous notes meanwhile for separate note blocks we use the individual values.

[2020-05-12 17:27] pikurasa commented on #2238
They do, but the user will not necessarily be using them.

I thought of it more, and...

Since `scale degree` and `n^th modal pitch` are both inherently movable, I think it is safe to say that no change in the octave arg means "do not force the octave up or down". Similarly, if the octave arg in a subsequent `scale degree` and/or `n^th modal pitch`is higher or lower, then we assume the user is try

[2020-05-12 19:17] pikurasa commented on #2238
I tested your branch some more and ran into an issue going up from B to C# (crossing the absolute octave)

![Screenshot at 2020-05-12 15:12:47 issue corssing from b to c sharp](https://user-images.githubusercontent.com/13454579/81735571-c3cff080-9484-11ea-9674-704b38ca007e.png)

Also, notice how I am trying to force the octave down and back in the transition.

![Screenshot at 2020-05-12 15:15:33 o

[2020-05-12 19:32] aviral243 commented on #2238
@pikurasa Is the octave not changing in this transition?

[2020-05-12 19:39] pikurasa commented on #2238
Are you referring to the "transition"?

The octave is not changing in the transition where I specify 5, then 4, then 5 again for octave (for the same scale degree of 5).

For B to C sharp, it is skipping up an octave.

(two separate issues in my previous comment)

[2020-05-12 19:41] pikurasa commented on #2239
This is one place that accidental blocks are currently helpful. If I want, for example, a sharp 4, there is no additional data input for sharps (like we have for movable do) in this particular movable system.

![Screenshot at 2020-05-12 14:58:55 sharp four](https://user-images.githubusercontent.com/13454579/81737925-663da300-9488-11ea-8d6e-96c2bbe200cd.png)

[2020-05-12 19:42] aviral243 commented on #2238
Yes. I was referring to the B-->C Sharp issue.
Regarding transition, I think our current octave calculations largely rely on currentOctave value in logo.js, which only changes according to the previous note played. We need to use the octave argument values for that. I'll look into that tomorrow.

[2020-05-12 19:49] pikurasa commented on #2238
+1

[2020-05-12 19:55] walterbender commented on #2239
Would not a semi-tone half-step transposition do the same thing? (Not that I am opposed to multiple ways to get to the same place.)

[2020-05-12 20:02] pikurasa commented on #2239
Of course, but musicians use this "sharp 4" kind of nomenclature. This would be more accurate to its function.

[2020-05-12 20:53] pikurasa opened #2257 "Accidental for chosen key not printing"
![Screenshot at 2020-05-12 16:30:38 print key](https://user-images.githubusercontent.com/13454579/81744169-63e04680-9492-11ea-9e85-33c59c558f29.png)

I am curious what the solution is. I tried a few things, but cannot fix it myself.

[2020-05-12 21:29] pikurasa commented on #862
Looking through musicutils.js, it looks like we do check for sharp/flat preference, so it seems that the preference is not piping through to lilypond.js

L3201 in musicutils.js
[code]

[2020-05-12 21:39] #2257 closed

[2020-05-13 08:47] aviral243 commented on #2238
@pikurasa As we discussed yesterday using an example of going from 7_4 to 1_4 [In C major], where we would instead go to 1_5 as it is closer to 7_4.

That logic will also prevent octave throttling in this case as 5_5 would obviously be closer to itself than 5_4. [ We will calculate which is closer to 5_5 (the 1st note), whether 5_4 which is specified or 5_5 which is one higher octave than specifie

[2020-05-13 14:09] pikurasa commented on #2238
I have read this over a few times, and you explained it to me this morning, but I still do not understand this. Please explain your understanding of the logic we are trying to produce. Thanks!

[2020-05-14 01:27] walterbender commented on #2253
These should be reflected in the Meter Widget -- e.g. when you open the widget with a 4:4 meter, the 1st and 3rd beats should be preselected.

[2020-05-14 10:46] meganindya opened #2261 "Note blocks skipping child flow"
Child flow inside a `note block` isn't executed. If I create any stack with child flows inside a note block, and play it using the play button or by clicking on the blocks, the child flow is skipped. However, the note is executed for its set duration.

This issue is seen post commit 1b6e66ecd5d0a5768252065f79ece479db0f75d3. Works fine until ed6e88b393ebef414beb398073a9bf2c37a14e17.

[2020-05-14 10:51] aviral243 commented on #2238
@pikurasa I think this is no longer of concern as we've already decided the behavior in such a case.

I've pushed some new changes regarding the transitioning issue. Now, if the same notes are being played using subsequent blocks, octave would be forced up and down according to the octave argument of scale degree blocks.

[2020-05-14 13:12] pikurasa commented on #2238
It works, but it is overzealous when forcing the octave.

![Screenshot at 2020-05-14 09:11:54](https://user-images.githubusercontent.com/13454579/81938484-faac2080-95c2-11ea-9689-bb7033470e8f.png)

[2020-05-14 13:34] meganindya commented on #2261
Fixed by c9646dae59a4774cb64f68a54b0ffb60616dbf8d.

[2020-05-14 13:34] #2261 closed

[2020-05-14 13:40] aviral243 commented on #2238
@pikurasa I would need an interpretation. (Still not good at sheet music :( )

[2020-05-14 14:25] pikurasa commented on #2238
I think that your true GSoC project is to master reading sheet music -- hehehe...

I will send more details. Right now, I am creating a MB project which I hope bidges the "musician-programmer communication gap" (General Public: Note this was coined here by myself first!)

[2020-05-14 14:57] pikurasa opened #2262 "Number to Interval Block?"
Now that I figured out how mod works (maybe the bottom number should be 12 for MB???) it may be nice to have a "Number to Interval Block".

It would need to keep key in mind to arbitrate which name to give a specified interval.

The break in this code is where I want to put the block. The input for this project is in semitones. I want to express the remainder as an interval.
![Screenshot at 2020-0

[2020-05-14 15:43] pikurasa commented on #2238
The issue in the picture is that the d drops down two octaves, then back one. It should just leap down one octave and back since the user specified 5_5, 5_4, and 5_5.

relevant lilypond code:
`d'''4 d'4 d''4` (the number of ' specifies the octave)

[2020-05-14 15:46] pikurasa commented on #2238
I have thought about this issue quite a bit today and reread this thread a few times over.

Simply put:
* The bottom octave number--when it is a number--should always be respected as the reference octave.

In response to your question: https://github.com/sugarlabs/musicblocks/issues/2238#issuecomment-627294700

For the example you gave, the first note is in octave 4. The next is octave 5. I expect

[2020-05-14 16:57] pikurasa opened #2263 "Repeat of zero (and below)"
For repeat of less than 1, nothing happens (not even an error message)

![Screenshot at 2020-05-14 12:56:46 repeat of zero](https://user-images.githubusercontent.com/13454579/81962951-779ac280-95e2-11ea-8060-42961787f15c.png)

[2020-05-14 16:58] pikurasa commented on #2263
This becomes important when using boxes on certain operations.

[2020-05-14 17:12] pikurasa commented on #2238
Here is my sketch for calculating current, next, and previous octave based on a selection for semitones that a user inputs. (It ignores whether it is great than 12 or less than 12, which would push the octave additionally).

[Pitch-Wheel.html.zip](https://github.com/sugarlabs/musicblocks/files/4629090/Pitch-Wheel.html.zip)

Please note that it ignores what the "absolute octave" is completely.

If

[2020-05-14 18:10] aviral243 commented on #2238
Yes. Now it does.

So in essence, we respect the octave argument.

The same thing gets extended here. We move to the next note as per the `box` value, and octave is as per the argument.

Now here, how would this resolve the problem we started with?

[2020-05-14 18:13] aviral243 commented on #2238
Our original example would still play:

`G4 A4 B4 C4 D4`  and return back. Because there is no change to the octave argument. Octave shift will only happen after 7 notes.

[2020-05-14 20:08] pikurasa commented on #2238
Yes.

For G major, 1, 2, 3, 4, 5 (all octave 4) would play as `G4 A4 B4 C5 D5`.

This is because we are in a movable system, and the octave is relative to the specified key.

The only key, I think, where the two systems will overlap--Alphabet (which is always fixed), and n^th modal pitch-- is C major. Otherwise, the octave for a movable system should be tied to its starting note (whatever key it's

[2020-05-14 22:10] walterbender commented on #2263
What should happen?

[2020-05-14 22:51] pikurasa commented on #2263
I was hoping you might have an opinion about this.

Left to my own devices...

"Repeat zero times" means either to skip or to play once (same as repeat = 1). Skipping may be useful in certain situations.

Any negative number is illogical and should trigger an error.

Right now there is no error, so the user needs to hunt around a little bit.

[2020-05-15 06:50] aviral243 commented on #2238
I understand what we are trying to do. But I can't think of a way to implement this.
How would we tie octave to a particular key? Is there a well-defined relation?

[2020-05-15 11:33] pikurasa commented on #2238
Whatever the key is, that pitch and the pitch immediately before it (half-step before) is where the octave break would be.

It is kind of like timezones.

We have UTC (fixed system), and we have various time zones (movable). The "break" is between midnight and 1am for each time zone respectively.

[2020-05-15 11:52] vaibhavdaren opened #2264 "Pitch to hertz block always shows undefined for the first note."
Pitch to hertz block always shows undefined for the first note.
The probable reason is race condition.

![Screenshot 2020-05-16 at 2 05 58 AM](https://user-images.githubusercontent.com/17678138/82094033-e890c600-9719-11ea-85b1-f8245f2ae195.png)

[1] https://musicblocks.sugarlabs.org/index.html?id=1589542696262980&run=True

[2020-05-15 12:42] pikurasa commented on #2238
@aviral243  Test file for n^th modal pitch that we discussed today.

[code]

[2020-05-15 14:58] aviral243 commented on #2238
@pikurasa Thanks.

Also, I noticed we don't have any Help string for scale degree (nth modal pitch) block.
Could you please frame a help string for it? [ I can, but it might not be in musically accurate terms]

[2020-05-15 19:27] sum2it commented on #2263
I would prefer that repeat zero skips the track, since that's mathematically appropriate even if it sounds counter-intuitive.

[2020-05-15 22:16] walterbender opened #2265 "regression in change in pitch"
Note 100#% sure where the regression is, but if you run the example, crabcanon-plot, it no longer renders a symmetric graphic. Seems to be pitch value related.

[2020-05-15 22:23] walterbender commented on #2265
Using pitch to hertz and all is well. If is the change in pitch that is not being calculated properly.

[2020-05-15 22:28] walterbender commented on #2265
Works fine with pitch number too. So it is a regression in change in patch.

[2020-05-15 22:44] walterbender commented on #2264
This is due to the fact that on-every-note-do triggers *before* the note is played.

I cannot manage to get it to run during the note, only before or after. Maybe we need to have both options available?

[2020-05-15 23:20] walterbender commented on #2264
Before-Every-Note-Do
After-Every-Note-Do

[2020-05-15 23:20] walterbender commented on #2264
@pikurasa what do you think?

[2020-05-16 05:49] meganindya opened #2266 "Tie block ties notes in pairs"
If there are more than two notes inside a tie block, it ties the note values of a pair at a time.

For example, consider:
![mb1 ](https://user-images.githubusercontent.com/33328728/82111954-477c2c80-9766-11ea-939d-1c6b5438791e.png)

The left stack ties the first two `sol-4` and plays for `1/2` duration and the third `sol-4` for `1/4` duration.

The stack on the right plays (tied) `sol-4` for `1/2`

[2020-05-16 16:32] pikurasa commented on #2238
It seems to work for sharp keys (yeah!), but not yet for flat keys. Please investigate.

This is my new test file, which is robust yet elegantly simple.

[Octave2-Fix-Works-Sharp-KEys-Not-Yet-Flat.html.zip](https://github.com/sugarlabs/musicblocks/files/4638734/Octave2-Fix-Works-Sharp-KEys-Not-Yet-Flat.html.zip)

[2020-05-16 16:52] pikurasa commented on #2238
![Screenshot at 2020-05-16 12:49:52 flats](https://user-images.githubusercontent.com/13454579/82125408-c75cc380-9773-11ea-879b-6252e47c560b.png)

Notice the skips for flat keys. Something is happening when moving over to C.

Also, measure 4, the B natural should be C -- that is an error in the way we are converting to lilypond, and one that I just now noticed.

[2020-05-16 20:41] walterbender opened #2267 "Lilypond inserting extra notes"
The Zelda project plays fine, but the Lilypond output has an extra whole note. No idea where t is coming from.

https://musicblocks.sugarlabs.org/index.html?id=1589659602312836&run=True

![Screenshot from 2020-05-16 16-41-13](https://user-images.githubusercontent.com/3996641/82129875-203c5400-9794-11ea-8b47-8e6cdb447eb8.png)

[2020-05-16 20:50] walterbender opened #2268 "invert block doesn't invert"
It doesn''t seem to do anything.

[2020-05-16 20:51] walterbender commented on #2268
![Screenshot from 2020-05-16 16-51-13](https://user-images.githubusercontent.com/3996641/82130012-7c53a800-9795-11ea-9d0f-811ecb2ca3d2.png)

It plays sol, mi, sol instead of the inverted notes.

[2020-05-16 22:03] walterbender commented on #2268
Works now that the let/var situation is sorted out

[2020-05-16 22:03] #2268 closed

[2020-05-17 14:46] sksum commented on #2252
Adding another turtle with the following blocks could be a workaround , until we get the new block
![Screenshot (80)](https://user-images.githubusercontent.com/55449862/82151809-23f6d600-987b-11ea-8f0b-b99b79c60630.png)

[2020-05-17 19:00] pikurasa commented on #2238
Could you please frame a help string for it?

_N^th Modal Pitch takes the pattern of pitches in semitones for a mode and makes each point a degree of the mode, starting from 1 and regardless of tonal framework (i.e. not always 8 notes in the octave). For a mode with five pitches Do, Mi, Fa, Sol, and La each pitch would be represented by 1, 2, 3, 4, and 5 respectively. The octave would occur at 6.

[2020-05-17 20:41] #2253 closed

[2020-05-17 20:44] walterbender commented on #2252
This is the right idea. The only change would be to issue an event to the turtle that invoked on every beat do... Let's discuss it.

[2020-05-17 20:47] walterbender commented on #2252
![Screenshot from 2020-05-17 16-46-40](https://user-images.githubusercontent.com/3996641/82159677-05cead00-985e-11ea-86d9-8bbe4a40cc37.png)

[2020-05-17 20:48] walterbender commented on #2252
There'd need to be one of these per mouse with a unique event name and they'd have to know the meter and BPM of the mouse.

[2020-05-17 21:08] pikurasa commented on #2252
Interesting.

[2020-05-18 00:05] aviral243 commented on #2238
@pikurasa Is this the sign of test going successful?

![Screenshot from 2020-05-18 05-33-52](https://user-images.githubusercontent.com/44023445/82163514-62b37d00-98c9-11ea-9e8e-f9e2338ddccc.png)

[2020-05-18 00:11] aviral243 commented on #2238
@pikurasa I've pushed some changes that ( I feel :D ) should fix the issue for flat keys. I've added an additional check.

[2020-05-18 00:51] pikurasa commented on #2238
Visually, yes, but I need to test it for myself.

[2020-05-18 00:59] pikurasa commented on #2238
It works for this newer test.

![Screenshot at 2020-05-17 20:57:24](https://user-images.githubusercontent.com/13454579/82164934-9a5afe80-98a2-11ea-9d17-dc632cb7ab19.png)

I want to test it using the extended octave test I made earlier, but I need to stop for today.

Great work!

[2020-05-18 01:01] aviral243 commented on #2238
Thanks.

Sure. We can do that during our meeting.

[2020-05-18 01:06] pikurasa opened #2271 "Issue with Brown Rat as Voice"
I admit I really have only 1% of the information I need to properly diagnose this issue, but sometimes the lilypond output breaks and you get an error like

[code]

...which is a fatal error, a real "show stopper".

It does not happen all the time.

It just happened to me, and the voice name should have been `\brown_ratVoice`. Going out on a complete limb, does it have to do with this voice name i

[2020-05-18 12:32] pikurasa commented on #2238
I tested the project with the transition more and it does seem to stop at the "transition" action block and I cannot figure out why. I do not see anything particular in the logs.

[2020-05-18 13:35] aviral243 commented on #2238
Is the behaviour same on master branch?

[2020-05-18 14:03] meganindya commented on #2266
This is the desired behavior.

[2020-05-18 14:03] #2266 closed

[2020-05-18 14:44] pikurasa commented on #2238
Weird. It is happening on the master branch, but I do not think it was happening on the Master Branch last week...

[2020-05-19 19:50] pikurasa commented on #2264
Yes, I was thinking the same thing too.

[2020-05-19 20:23] pikurasa commented on #1957
My current thinking on this, as I have already shared with @aviral243 , is that this feature would simply specify "number of sharps" or "number of flats" and would look pretty much just like the circle of fifths.

It would be organized similar to this, but does not even need major/minor keys:
![https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Circle_of_fifths_deluxe_4.svg/400px-Circle_of_

[2020-05-19 21:10] pikurasa commented on #2020
It might help if we agree to think of "scalar" and "modal" differently. So far, my best definitions are:

Scalar | Modal
------ | ------
Degrees 1-7 are all defined without "overskewing" | Possibly a subset or superset of scale (or just the common "church modes", which overlap completely with scalar).

This may need some tweaks, but below is a chart of all the systems that have to scale (fixed/mov

[2020-05-19 21:49] pikurasa opened #2273 "Movable La"
Walter and I have discussed changing the design of our "Movable Do" block.

It would have two (or three) possible inputs: Do, La, (and maybe) n^th

True or False is not needed because "True" is implicit by simply having the block in the script.

1. Movable=Do would work such that the system is movable, but the starting point never changes. Do is always the first degree of the [relative](https://en

[2020-05-20 21:46] sksum commented on #2265
the graph won't render properly due to use of doforward function , change in pitch works fine
 #2274

[2020-05-20 22:12] #2265 closed

[2020-05-21 12:00] aviral243 commented on #2238
@pikurasa I just realized that issue hasn't been fixed yet. The patch merged yesterday was regarding something different.
Please refer to this:
https://github.com/sugarlabs/musicblocks/pull/2269#discussion_r428084457

[2020-05-21 12:02] pikurasa commented on #2238
So it is the meter block that is broken?

I will take it out and retest

[2020-05-21 12:03] aviral243 commented on #2238
Yes. Meter block needs to be taken out.

[2020-05-21 12:07] pikurasa commented on #2238
I took it out.

Other than the outstanding sharp/flat lilypond-specific issue, the results are perfect.

Results:
[Long-Octave-Test.zip](https://github.com/sugarlabs/musicblocks/files/4662346/Long-Octave-Test.zip)

Bravo!

[2020-05-21 12:09] aviral243 commented on #2238
Thanks.
I'll properly comment the code for future references and submit a PR.

And look into this.

[2020-05-21 13:40] aviral243 commented on #2237
@pikurasa The fix for this is simple. We just need to add an alias for `minor` in `MUSICALMODES` defined in musicutils.js.

`ionian` is present so that is not required.

I'll submit a patch.

[2020-05-22 11:34] #2238 closed

[2020-05-22 11:37] #2237 closed

[2020-05-22 20:13] pikurasa opened #2277 "Pitch Number Offset Macros?"
For some reason "pitch number offset" on rawgit has a text input for pitch by default instead of a pitch block.

This seems like a regression as it is correct on musicblocks.sugarlabs.org

[2020-05-22 20:55] aviral243 commented on #2277
@pikurasa It is a result of resolving #2244
Since we changed the argument to `anyin`: Accept any input type, thus the default is changed to a text input.

[2020-05-22 21:00] pikurasa commented on #2277
I see. However, the default for the user should be a pitch block as before.

[2020-05-22 21:00] aviral243 commented on #2277
I'll just implement the `makeMacro()` to have pitch by default.

[2020-05-22 21:14] #2277 closed

[2020-05-22 21:28] pikurasa commented on #2277
Thanks!

[2020-05-24 08:14] is-knight commented on #1352
@pikurasa I think "\<" is used to start a crescend and "\!" to terminate that..
Should we remove the part of the code that generates this characters?

[2020-05-24 11:17] is-knight commented on #1352
When I converted the two files recieved via the above link..This is what I am getting.
For the edited file:
![lil2](https://user-images.githubusercontent.com/65847411/82752633-e810c300-9ddc-11ea-8f48-201a6ddc6a2c.PNG)
For the unedited file:
![lil1](https://user-images.githubusercontent.com/65847411/82752640-01b20a80-9ddd-11ea-8361-6ec5f657b41b.PNG)
The only difference I see is those crescendo symb

[2020-05-24 16:56] pikurasa commented on #1352
@is-knight You may have found the source of the issue. Your diagnosis seems entirely plausible.

I will check again later to verify.

[2020-05-24 18:20] pikurasa opened #2279 "Store in `Box` not showing in Beginner Mode"
Just plain old `store in box` (not box 1 or box 2) is missing in beginner mode at the moment.

[2020-05-24 18:54] aviral243 commented on #2279
@pikurasa What is the difference between several types of `store in box` blocks?

[2020-05-24 20:25] pikurasa commented on #2279
@aviral243 They are just for convenience, so that a new user has different default names to start from.

[2020-05-24 20:28] pikurasa commented on #2279
Personally, I find "box" and "box 1" to be too similar for this practical purpose, btw. It might be better to have more creative names like "apple box", "banana box", "cherry box".

..but I am getting off topic now...

Image of issue:

![Screenshot at 2020-05-24 16:26:52 box not shown](https://user-images.githubusercontent.com/13454579/82764251-74ba8180-9ddb-11ea-9c80-2873244745c6.png)
Like we hav

[2020-05-24 20:29] #2279 closed

[2020-05-25 03:12] aviral243 commented on #2279
Definitely catchy, with children being the major users.

[2020-05-25 12:23] pikurasa opened #2282 "Rename "box", "box 1" and "box 2" to something like "apple box", "banana box", "cherry box"."
In the classroom, names like "box", "box 1", and "box 2" are so similar that they sometimes cause confusion. It would be nice to have names that are more linguistic (i.e. not numbers).

For English, I suggest "Apple Box", "Banana Box", and "Cherry Box". Open to suggestions.

This change has implications for translations, but I have hope that it will be worth the change.

![Screenshot at 2020-05-24

[2020-05-25 12:23] pikurasa commented on #2282
@walterbender what do you think? Curious for your perspective.

[2020-05-25 12:36] fakela commented on #2282
I actually like the suggestion with the rename also it would make it a lot
of fun working with the boxes and the boxes would be distinctively separated

On Mon, 25 May 2020, 13:24 Devin Ulibarri, <notifications@github.com> wrote:

[2020-05-25 12:39] walterbender commented on #2282
I have never seen the confusion you are referring to but if we do come up with different default names, I would suggest we use things like shoebox, cigarbox, ...

[2020-05-25 12:42] fakela commented on #2282
I was thinking alphabetically naming them might work a lot better

On Mon, 25 May 2020, 13:39 Walter Bender, <notifications@github.com> wrote:

[2020-05-26 18:33] aviral243 opened #2285 "Zero Based Indexing for Scale Degree block and it's subsequent renaming to nth modal pitch"
As of now scale degree (nth modal pitch) block accepts arguments that are either greater than or less than zero but not equal to.

Since the utility of this block has been mostly expressed in the programming aspect of MB, it has been proposed that it has a zero-based index.

**Note:** I know this issue has already been discussed in meetings but there are several details for which I have to reach o

[2020-05-26 18:35] aviral243 commented on #2285
@pikurasa

![Screenshot from 2020-05-26 23-57-16](https://user-images.githubusercontent.com/44023445/82937324-99665300-9fad-11ea-9814-2119d1a8292d.png)

Please have a look at this.

[2020-05-26 18:37] pikurasa commented on #2285
The picture looks fine.

[2020-05-26 18:38] pikurasa commented on #2285
If we want simpler, we may do -3 to 7. Otherwise, great.

[2020-05-26 18:40] aviral243 commented on #2285
I think -7 to 7 really conveys the purpose better.
Moreover, I'll slightly decrease the inner radius to make the design look less cluttered.

[2020-05-26 18:43] aviral243 commented on #2285
A (+/-) button alongside exit button might be helpful?

Similar to this:

![Screenshot from 2020-05-27 00-13-16](https://user-images.githubusercontent.com/44023445/82938094-e7c82180-9fae-11ea-8975-5acb6c6664b9.png)

[2020-05-26 19:42] pikurasa commented on #2285
We do need the outer circle for octave. It serves as reference for octave (even if user goes above or below with 7/-7)

[2020-05-26 19:45] aviral243 commented on #2285
No change to the octave menu. The above image was just for the reference of button in the middle [ +, -, x ].

Octave menu is as it is.

[2020-05-26 19:59] aviral243 commented on #2285
@pikurasa  Please have a look at this mapping; if this is what we require.
C major: 4th octave: [Assumption]

-7       -6      -5       -4       -3       -2      -1       0       1       2       3        4        5         6        7
 C2    D3     E3      F3      G3     A3     B3     C4     D4    E4     F4     G4      A4      B4      C5

[2020-05-26 20:10] pikurasa commented on #2285
-7 is C3. Otherwise, perfect.

[2020-05-26 20:12] aviral243 commented on #2285
Yes. Just updated it.
Got a little confused.

[2020-05-26 20:45] pikurasa commented on #2285
No worries. It happens to me, too. Welcome to MB development. :)

[2020-05-26 21:03] aviral243 commented on #2285
:laughing:

Any suggestions on how to proceed with the pie menu selections. [ Shifting of octaves when we select pitches in Pie Menu ]

Currently, we change the octave if the newly selected pitch and previous pitch differ by more than 3. Also, we change octave while going across the 7<-->1 division.

[2020-05-26 21:11] pikurasa commented on #2285
The octave input is first reference. It can be overridden by the number in other input.

Please remember that the octave reference is important to contextualize the starting point. The reason that we do not force the user to change the octave is so that they can escape it with math as needed (like in our dynamic examples).

[2020-05-26 21:23] aviral243 commented on #2285
![OctaveChange](https://user-images.githubusercontent.com/44023445/82951264-72ffe200-9fc4-11ea-81ee-55b0a24f13bb.gif)

I'm not sure if we're on the same page. I was referring to this feature, where selecting the number argument leads to a change in octave argument. { Moving from 1 --> 5, shifted octave from 4 to 3, crossing 7 led to an increase in octave }

How do we draw its parallels in our new

[2020-05-26 21:28] pikurasa commented on #2285
I do not think we need this functionality for pie menu of this block.

This block is kind of a cross between `pitch number` and a true scale degree. Make sense?

For true scale degree, we will want this functionality (because it behaves like movable=la solfege).

[2020-05-26 23:12] pikurasa commented on #2285
I see why bring this up. Let's discuss tomorrow.

[2020-05-27 06:59] aviral243 commented on #2285
This does make sense and I've implemented the same.

Another thing that is up for discussion: We play a sample pitch when we select the note in Pie menu [ Like in GIF above ]. Previously we played that sample pitch according to `C major`.

Now, we can play that sample pitch according to the current KeySignature but the issue is we won't know what key we're in until the project is played once. So a

[2020-05-27 17:42] pikurasa opened #2287 "Set Heading not fully executed before "input value" begins"
(Note: Probably not specific to "set heading")

If the code does not specify "wait", the input value block initiates and the previous (e.g. previous set heading) block does not complete its execution.

without wait

![Screenshot at 2020-05-27 13:38:48 without wait](https://user-images.githubusercontent.com/13454579/83053936-9310bf00-a01f-11ea-8aab-4ff6b77a7908.png)

with wait

![Screenshot at 2020

[2020-05-27 17:44] pikurasa commented on #2287
The visual output from tests above were made by repeatedly inputting the value of 5. With wait, the output is as expected, without wait things begin to drift.

It is also notable that the direction the mouse appears to be heading is not always correct in either scenario (at least not for me for these tests).

[2020-05-28 11:41] sum2it commented on #2282
Are these boxes supposed to work like variable names?

[2020-05-28 11:50] pikurasa opened #2288 "Paste JSON only works once"
Ctl-V to paste JSON

This feature only works one time -- the first time.

If the user tries to paste again, they will get an error.

Repro Steps:
1. Copy .tb data (JSON) to clipboard
2. Paste to MB (Ctl-V); press enter
(This should work; code will load)
3. Try step 2 again
(This will not work the second, third time)

[2020-05-28 13:03] pikurasa commented on #2282
Yes, default names for the convenience of users -- usually for new users to get them started with using box.

[2020-05-28 13:04] pikurasa commented on #2282
I like the general idea, but I don't like "cigarbox".

That being said, I can imagine a box full of "apples", "bananas", and "cherries" just as well.

[2020-05-28 13:30] walterbender commented on #2282
Of course we won't use cigar box. Maybe:

cookie jar
book bag
shoe box
~~litter box~~
bowl of cherries
box of kittens

or maybe just:
box
bag
jar
bowl

[2020-05-28 13:47] #2285 closed

[2020-05-28 13:48] pikurasa commented on #2282
This sounds good to me. What do others think?

[2020-05-28 13:55] sum2it commented on #2282
I really think box 1 and box 2 are really great names.

Almost like variable 1 and variable 2.

I am not convinced that it needs a change, coming from a programming perspective.

[2020-05-28 14:08] pikurasa commented on #2282
Sure, but if we go this route, I would like box to be changed to "box 0" in order to better disambiguate between "box" and "box 1" (when speaking out loud).

"Grab box"

(Grabs "box 1")

"Not 'box 1', but `box`"

Maybe
One box, Two box, Red Box, Blue Box

(Dr Seuss)

or

Box 1, Box 2, Box Red, Box Blue

[2020-05-28 14:11] sum2it commented on #2282
So the point now is changing box to box 0, right?

That seems intuitive enough.

[2020-05-28 14:17] pikurasa commented on #2282
@sum2it

What about "Box 1, Box 2, Box Red, Box Blue"?

Clever, no?

[2020-05-28 14:17] pikurasa commented on #2282
https://en.wikipedia.org/wiki/One_Fish_Two_Fish_Red_Fish_Blue_Fish

[2020-05-28 14:27] pikurasa opened #2291 "Not all Pitches play in Example"
This issue has been longstanding, but just getting to reporting now.

In this example, which uses n^th modal pitch and `scalar interval (+/-)` not all the pitches are sounding. At least one note plays at a time, but their should be three notes played at a time throughout.

https://musicblocks.sugarlabs.org/index.html?id=1590675250597030&run=True

(Note: You now need to run the following from rawgi

[2020-05-28 14:27] sum2it commented on #2282
Clever, yes definitely. Consistent? Probably not.

I like box 0 better.

[2020-05-28 18:59] sksum commented on #1860
@walterbender
I am working on this issue and a design question came up . how would we want to set instruments for chords with different instruments

![Screenshot (83)](https://user-images.githubusercontent.com/55449862/83182060-635ad780-a143-11ea-9d6c-0b00571c5026.png)

would something like this work ?

[2020-05-28 19:32] walterbender commented on #1860
Looks like an appropriate way to do it. No idea if it works. But we should try to make it work.
(Similar to dropping a drum block into a note along with a pitch.) Probably we need to tweak the way __playnote works in processNotes in logo.js

[2020-05-28 19:52] meganindya opened #2293 "Turtle loses track of position on running a turtle movement block after a bezier block is executed"
I tried creating a `bezier` curve, followed by a `forward` move. But, the turtle disappears.

I printed the `x` and `y` positions after the `bezier` block and after the `forward` block. The values show `NaN` after the `forward` block, and the turtle disappears. Happens the same with `back` and `arc` blocks. For `left` and `right`, the turtle doesn't disappear and the values are retained, but the r

[2020-05-28 20:52] sksum commented on #2293
I will look into this .

[2020-05-29 16:57] #2293 closed

[2020-05-30 11:36] walterbender opened #2299 "if-then-else doesn't expand properly on project load"
See the two if-then-else blocks in the screen capture.
![Screenshot from 2020-05-30 07-35-25](https://user-images.githubusercontent.com/3996641/83327230-4bb94700-a248-11ea-8cef-4fb6dabaaf60.png)

[2020-05-30 13:25] pikurasa commented on #2299
I do not think it is specific just to project load.

[2020-05-30 14:29] pikurasa opened #2301 "Pie Menu for Beats Per Minute Blocks"
It would be nice to have a pie menu for our BPM blocks based on the conventional values for a metronome.

Please see https://en.wikipedia.org/wiki/Metronome

What we have for the Tempo Widget is pertinent. Please see https://github.com/sugarlabs/musicblocks/issues/1124 and related Widget code.

[2020-05-31 21:06] pikurasa opened #2302 "Set Relative Volume is Broken"
Code does not run with Set Relative Volume

Console:
[code]

I was on my sandbox, but the version reported by my cron job is:
[code]

I can test on Rawgit later if need be... Rawgit was causing me trouble today.

[2020-06-01 11:42] aviral243 commented on #2058
@pikurasa I've moved somewhat forward with this, now using the fallback modes from that E-mail.

One thing I'm stuck on is that these fallback modes do not exactly superimpose over our chose mode for scale degree [ only those that have less than 7 notes ].

So the issue concerning me is that how do I know what scale degrees would be played from the scale of our chosen mode, and for which of them I

[2020-06-01 11:48] aviral243 commented on #2058
Now that I've made a comment, I wonder why `major blues` is showing 7 notes.

[2020-06-01 14:12] pikurasa opened #2305 "Print Letter Class, Solfege Syllables and other Tools"
As @aviral243 @sum2it and others work on the complex design issue of key/mode, I think that it would be helpful for us as well as users to have access to the following output/debugging tools:

1. Letter Class (LC) -- For printing A, B, C, D, E, F, or G data (no sharp, flat)
2. Solfege Syllable -- Similar to LC, but Do, Re, Mi, Fa, Sol, La, or Ti (no sharp, flat)
3. Pitch Class (PC) -- For printing

[2020-06-01 14:54] aviral243 commented on #862
@pikurasa Was this also resolved as part of #2284

[2020-06-01 15:56] pikurasa commented on #862
We can close it now, but I thought there was still the issue of "E<->F and B<->C"

[2020-06-01 17:18] aviral243 commented on #2058
@pikurasa

I've attached an image below which shows (my understanding) of scale degrees that are defined for scales having less than 7 notes. There are a few which I was unable to understand, (`Fibonacci`, `minor blues` and little confusion in `whole tone`) which I've marked in the image.

I DO NOT aim to hard code these but just to assure that my understanding is complete.

[2020-06-01 17:20] aviral243 commented on #2285
@pikurasa I suggest we have this too under the GSOC2020 milestone. It would really be helpful at the end of the program, assessing the work we've done. Thanks :)

[2020-06-01 19:41] pikurasa commented on #2058
1. Minor Blues:
`    "minor blues": [3, 2, 1, 1, 3, 2],`

`1, 3, 4, 4+/5o, 5, 7`

We skip scale degrees 2 and 6. The note between 4 and 5 can function either as an augmented 4th or a diminished 5th. Typically, for example, when going up we have an augmented 4th moving us from 4-5, and when going down we have a diminished 5th moving us down from 5-4. Either way, it's function is a [passing tone](ht

[2020-06-01 19:51] pikurasa commented on #2058
(I made some mistakes on my comment for Fib that are now corrected.)

Also, we need to check Bebop scale. I think it is flipped (inverted).

Bebop scale usually has a passing motion down from the octave to major 7th to minor seventh, down to 6. It does not, as I recall, have any passing tones around 1-2 and I do not remember a minor 3rd, rather a major 3rd.

[2020-06-02 01:59] aviral243 commented on #1957
@pikurasa Please take a look at the following images:

This image shows the position of the icon: (the musical note icon, the icon to use is subject to change)

![Screenshot from 2020-06-02 07-23-24](https://user-images.githubusercontent.com/44023445/83471371-2c1d5b00-a4a2-11ea-9cf5-4fb06a08c967.png)

Following is a very basic starting on the pie menu and we can add more stuff to it:

![Screenshot

[2020-06-02 02:09] walterbender commented on #1957
I think we should stick with the green for the hue. But maybe make the center reticle be menu blue?

Not sure the icon tells me much but it will do as a placeholder. I'll think about it.

[2020-06-02 02:35] aviral243 commented on #1957
Sure. This is the look with a blue central marker.

![Screenshot from 2020-06-02 08-04-45](https://user-images.githubusercontent.com/44023445/83473670-c16f1e00-a4a7-11ea-9cec-44e2b0d50bd9.png)

[2020-06-02 03:45] aviral243 commented on #2058
Programmers/Mathematicians do have a special love for the Fibonacci series. :D

Well, enough to start for now. All scales are defined, for now, I'll post if I encounter something.

Thanks for taking the trouble of going through all these scales.

[2020-06-02 11:22] pikurasa commented on #1957
There needs to be a way to select either a sharp key or a flat key even when they are enharmonically equivalent.

[2020-06-02 11:47] aviral243 commented on #1957
Yes. I'll add those options. Then I think of a submenu that appears when you click such options and lets you choose between those options.

Below is an example from our wheelnav library: (we'll customize it to suit our designs)

![Screenshot from 2020-06-02 17-15-37](https://user-images.githubusercontent.com/44023445/83516500-cad2a780-a4f4-11ea-8dfd-e30dd25265ad.png)

[2020-06-02 16:21] aviral243 commented on #1957
Or we can also think in terms of our `modename` block. How choosing the number of notes leads to altered choices in the outer menu

[2020-06-02 18:06] pikurasa commented on #1957
I would rather like to avoid that level of complexity.

I think that the user needs to specify:

1. Pitch Class -- A pitch's Letter Class and Sharp or Flat. We should probably have the same limits to our options as the circle of fifths https://github.com/sugarlabs/musicblocks/issues/1957#issuecomment-631061581 . I imagine an inner layer with flat options and an outer layer with sharp options--not

[2020-06-02 21:40] pikurasa opened #2310 "Does `Store in Box` have two name inputs?"
I saw this bubble up a long while ago, but thought it may just be because my browser was set to Japanese.

However, I am seeing it still in a different environment and it is giving me very unexpected results.

`Store in Box` Block has two name inputs
![Screenshot at 2020-06-02 17:34:34 Why two names for store in](https://user-images.githubusercontent.com/13454579/83572646-f1461200-a4f7-11ea-8aad-b

[2020-06-03 11:23] aviral243 commented on #1957
Yes I remember our discussion about this.

What I meant here was, taking inspiration from how we produce different sub-menus on clicking different options. Not having all options in our pie menu.

I hoped to implement something similar using sub-menus for enharmonic keys.

But this may be better suited.
I propose the same inner layer of flats and outer layer of sharps and, in the center a mode whe

[2020-06-03 11:54] pikurasa commented on #1957
[code]

[2020-06-04 14:32] aviral243 commented on #2058
@pikurasa As I was looking to extend functionality for non-trivial scales, I am in a doubt that what does something like a `4+` or `5o` mean for our scale degree block. How would we provide an input that conveys this meaning of an `augmented` or `diminished` tone?

The scale degrees I'm currently generating for `minor blues` scale are `1 3 4 4 5 7`, so basically I'm repeating 4 twice in absence of

[2020-06-04 15:55] aviral243 commented on #2058
Let's take this example:

I meant that both 4 and 4+ are defined for minor blues, now we know the significance of 4 i.e what note to play when the user selects 4 and also there is a defined way for the user to give the input 4.

What is the significance of 4+ as how will the user ever provide an input of 4+? (Will it be same as 4#?)

[2020-06-04 16:04] pikurasa commented on #2058
Yes, the same.

IF a user puts 4#, then they are being congruent with their stated scale (good for them), so no hocus pocus needed on our end.

[2020-06-04 16:08] pikurasa commented on #2058
I think we only need to account for inconsistencies...

Or, we let the user choose a chosen fallback, so that they can specify themselves.

[2020-06-04 21:17] sksum commented on #2310
I think the Two name thing is just a typo ,
but the bigger issue is that the store-in block doesn't work in the configuration as stated by you i.e.
using a "value block"
instead the "store-in"block only works with "text blocks"which identify what box we are referring to
and another issue is that, we can't use spaced text which is counter-intuitive
we need to use "box1" instead of "box 1";
![Screen

[2020-06-04 23:18] pikurasa commented on #2310
I see. I did try "box 1" and it did not work, so I was confused.

[2020-06-05 07:32] meganindya opened #2315 "Mice associated with bezier blocks rotate on project load"
If a `bezier` block is present in a project, the `mouse` associated with that block rotates a few seconds after startup.

This is just after load:
![Screenshot (58)](https://user-images.githubusercontent.com/33328728/83849013-5e41ed80-a72c-11ea-979a-01e328ec117f.png)

This is a few seconds later, without doing anything:
![Screenshot (57)](https://user-images.githubusercontent.com/33328728/83849007

[2020-06-05 11:26] sksum commented on #2315
I don't think this behaviour is specific to bezier block ,  This happens to any block that changes orientation . Apparently the state of blocks along with mouse properties(including orientation ) are saved only when we play something , so the new heading (0 degrees : I am assuming you cleared everything before reload ) won't be saved until we play logo again.

[2020-06-05 12:25] meganindya commented on #2315
I get what you are saying. I got confused by the delay. Thanks.

[2020-06-05 12:25] #2315 closed

[2020-06-05 20:41] sum2it commented on #2305
Agreed.

[2020-06-05 20:44] sum2it commented on #2302
Were you able to test it with rawgit later?

[2020-06-05 20:54] sum2it commented on #2291
I can't seem to find when it's playing only one note, can you please tell me at what point does it play only one note?

[2020-06-05 20:58] sum2it opened #2317 "Repetition of block names when searching a block name using search tool"
For example, type "if" in the search bar and it'll pop up two results for the same if-then block.
Same happens for a lot of other blocks.

[2020-06-05 21:55] sum2it commented on #2301
Presets for BPM? I've never seen it on software. What's problem does it solve that entering the BPM can't solve?

[2020-06-06 00:28] pikurasa commented on #2301
It is just for the pie menu. A user can input any number they like.

There is a logic to a common metronome.

![https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Electronic-metronome%28scale%29.jpg/200px-Electronic-metronome%28scale%29.jpg](https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Electronic-metronome%28scale%29.jpg/200px-Electronic-metronome%28scale%29.jpg)

[2020-06-06 00:33] pikurasa commented on #2291
Almost always for me (and on multiple devices).

It plays them all, but only for a split second. Only one note plays its full value. I will make audio of the issue when I have the chance.

[2020-06-06 12:44] walterbender commented on #2310
As per our discussion, we should change the block labels to box1 and box2 (no space). This will require some changes to the .PO files.

[2020-06-06 12:49] walterbender opened #2318 "invert doesn't work with scalar step block"
If you create a scale with the scalar step block, you'd expect the scale to invert when you play it back. Instead it seems to apply the step to the inverted note, creating a toggle back and forth.

![Screenshot from 2020-06-06 08-47-14](https://user-images.githubusercontent.com/3996641/83944578-7e2bec80-a7d2-11ea-86d7-817660141438.png)

Inverting this code:

![Screenshot from 2020-06-06 08-49-10](

[2020-06-06 12:51] walterbender commented on #2271
Please test again. I think it should be OK now due to https://github.com/sugarlabs/musicblocks/commit/7ef425b7635a79d0957c9deea5d24711e30973cd

[2020-06-06 12:56] walterbender commented on #2287
the input block pauses execution while it waits for the input. Maybe a race condition of some sort? I don't think it would be a problem to add a short pause before stopping.

[2020-06-06 13:02] walterbender commented on #2291
[code]

I think the correct notes are being sent to tone.js as per the above.

[2020-06-06 14:39] pikurasa opened #2319 "Int in the back end for n^th modal"
We need to automatically floor the number going into n^th modal, like we do for pitch number.

@aviral243 can you do this?

Walter says it is simple to add the floor.

[2020-06-06 14:56] aviral243 commented on #2319
Yeah, I can try.

So I played around a little bit. If we connect a float number let's say 3.9, the pitch played is already according to 3, i.e floor.

So do we need the number block to floor the visible argument too if connected to `nth modal pitch`?

[2020-06-06 15:08] pikurasa commented on #2319
What is the "visible argument"?

[2020-06-06 15:15] aviral243 commented on #2319
![Screenshot from 2020-06-06 20-44-49](https://user-images.githubusercontent.com/44023445/83947750-96cdee00-a836-11ea-88da-0659a0bc42d6.png)

Like we have `4.9` as a parameter. When we play project we'll play pitch according to 4. Should we also change the block label to `4` at the same time?

[2020-06-06 15:23] pikurasa commented on #2319
I defer to Walter on this.

My first reaction is that the 4.9 should be visible even though the output would be floored.

@walterbender your thoughts?

[2020-06-06 15:27] aviral243 commented on #2319
I have both things in place. [ changing `label+value` and changing `only value` ]

Though, I am inclined towards also changing the label.

I'll make adjustments according to what is decided.

[2020-06-06 15:31] walterbender commented on #2319
I think we should leave the label.
But as far as floor, maybe we should be using floor(arg0 + 0.5) instead? so 4.9 --> 5 and 4.2 --> 4.
This would apply to the int block itself too. And where ever we use it to round pitch.

[2020-06-06 15:33] pikurasa commented on #2319
@walterbender I saw your email. You are right, it seems to floor already without needing `int` block.

I would need to think about rounding.

[2020-06-06 15:56] aviral243 commented on #2319
@walterbender So the value should only be processed at the connected block's end.
Because not changing the label but changing the value of `number` block would ultimately change the label on the next reload.

[2020-06-06 16:09] walterbender commented on #2319
It should not change the value of the number block, just the way that value is interpreted by the block it connects to.

[2020-06-06 18:16] walterbender opened #2320 "add staff display to grid cycle"
In addition to coordinate grids, it would be nice to display a staff.

- [ ] blank staff
- [x] treble clef
- [x] grand clef
- [x] mezzo-soprano clef
- [x] alto clef
- [x] tenor clef
- [x] bass staff

@pikurasa what do you recommend for the labels for these options?

[2020-06-06 21:28] pikurasa commented on #2320
This is what I imagined when you came up with this idea (for the particular placement of the clefs, I am agnostic. However, the various c clefs would be nice, even if they displayed only one or two at a time. And perhaps there are always dotted lines to show the various "ledger line" possibilities):

Just Treble:

![Common_clefs_treble](https://user-images.githubusercontent.com/13454579/83954696-6

[2020-06-06 22:37] walterbender commented on #2320
I have treble by itself and treble and bass. Not sure we really need the other combinations.

[2020-06-06 22:41] walterbender commented on #2320
![Screenshot from 2020-06-06 18-40-05](https://user-images.githubusercontent.com/3996641/83955819-2a96be80-a825-11ea-8f75-9cd8d3eeaf2a.png)

I added the y-coordinate of each line in the staff on the far right. I think it will help with lining up notes to the staff. Also, I named the notes (far left). Less sure we need that.

[2020-06-07 11:27] pikurasa commented on #2320
Maybe we do not "need" the other clefs, but if we have them it will really make some musician's day.

My Friday student who plays viola (same one who requested viola synth), I can guarantee will ask where her clef is.

If we add C clefs, I recommend only one at a time as more than one clutters the screen.

[2020-06-07 12:37] walterbender commented on #2320
Do we need bass by itself too?

[2020-06-07 12:56] pikurasa commented on #2320
Yes. It helps reinforce "clef as a concept", which is a big benefit of this feature.

[2020-06-07 13:02] walterbender commented on #2320
Should be all set. Please test.

[2020-06-07 16:05] walterbender opened #2323 "regression in backwards block"
Test by running the Crab-Canon-Plot project in the examples folder.
It stops running as soon as the backward block is encountered.

[2020-06-07 16:06] walterbender commented on #2323
@meganindya ^^

[2020-06-07 18:34] walterbender opened #2326 "regression in print block when used with Lilypond"
The print block can be used to insert lyrics into Lilypond output. This feature is no longer working.

![Screenshot from 2020-06-07 14-32-28](https://user-images.githubusercontent.com/3996641/83977006-bcf19d80-a8cb-11ea-87ef-8cd807c11580.png)

should produce output with the beat could as "lyrics" but it only produces:

![Screenshot from 2020-06-07 14-11-32](https://user-images.githubusercontent.co

[2020-06-07 19:39] pikurasa commented on #2320
Very nice.

I am curious to try this scale given our decision to round the numbers for `pitch number` and `n^th modal`

[2020-06-07 20:02] pikurasa commented on #2305
A "change in letter class" block (similar to "change in pitch") block may serve useful for mapping pitches to our new clefs grids (per https://github.com/sugarlabs/musicblocks/issues/2320#)

[2020-06-07 23:02] walterbender commented on #2320
I'll move the staffs so that Middle C is at 0.

[2020-06-08 00:13] walterbender commented on #2320
done.

[2020-06-08 00:15] walterbender commented on #2320
I didn't add ledger lines yet. How many do we need?

[2020-06-08 01:02] #2323 closed

[2020-06-08 01:09] pikurasa commented on #2320
I imagined, if they are a light grey, they could fill the screen. Theoretically, they just go on forever (only limited by the instrument, which is a moot point in this case).

If that seems too much, then I might say up to 3 or 4 above the treble and below the bass clef.

[2020-06-08 01:28] pikurasa commented on #2320
Tested. Very nice.

[2020-06-08 10:10] aviral243 commented on #2305
@pikurasa

![Screenshot from 2020-06-08 15-26-29](https://user-images.githubusercontent.com/44023445/84018530-c3504a00-a99d-11ea-995a-bafb18486b91.png)

Do we need something like this for all the attributes defined above?

- [ ] Letter class
- [ ] Solfege
- [ ] Pitch class
- [ ] Scalar class
- [ ] Scale degree
- [ ] Nth degree of mode

[2020-06-08 11:16] walterbender commented on #2320
I added 3 ledger lines above and below. Any more and it gets very cluttered. I think we done with this issue. Please reopen if something else comes up.

[2020-06-08 11:31] walterbender commented on #2320
We should check to see if the Turtle Blocks flag is set and if so, not offer these options.

[2020-06-08 11:44] pikurasa commented on #2305
Yes.

[2020-06-08 13:19] walterbender commented on #2320
[treble-paint.zip](https://github.com/sugarlabs/musicblocks/files/4746132/treble-paint.zip)

I made a few tweaks to @pikurasa 's paint program that takes advantage of the new staff graphics. Question: would it be worthwhile adding a new macro, y-to-note-number, as per this example. Could come in handy.

[2020-06-08 13:41] pikurasa commented on #2320
Certainly it could come in handy, but someone may be devoid of context if the staff is not open.

I am *trying* to be disciplined about not introducing too many features, but it may be handy to have a block that initiates one of the grids (yes, each option could be displayed on a pie menu). If we have that block, then perhaps these other blocks--or the entire "treble paint" program--are what one g

[2020-06-08 13:44] walterbender commented on #2320
We have blocks for the grids in the Python version of Turtle Blocks. Easy enough to add to the Extras palette (probably using a piemenu)

Wanna write up a new issue and assign it to @sksum ?

[2020-06-08 13:47] aviral243 commented on #2305
@pikurasa This solfege needs to be movable right?

[2020-06-08 13:51] pikurasa commented on #2320
@walterbender mezzo-soprano, not "mezza"

[2020-06-08 13:52] pikurasa opened #2329 "Display Grid Block"
@sksum si vous plait

It would be nice to have a "Display Grid Block" that would initiate a specified grid when run.

The user could specify any of the grid options via a pie menu toggle.

Cartisian, Polar, Cartesian and Polar, Treble, Grand Staff (Treble and Bass), Mezzo-Soprano Alto, tenor, and Bass

The help menu could have this program https://github.com/sugarlabs/musicblocks/files/4746132/tre

[2020-06-08 13:54] pikurasa commented on #2305
Good question. I think it outputs movable only if set to movable. Make sense?

[2020-06-08 13:58] pikurasa opened #2330 "Record and Generate Lilypond/ABC (Under Play)"
Now that I know a little more about computation (thank you @walterbender ), I can better appreciate the original design of generating lilypond output, which was its own block that could be inserted into the code.

I do still like what we have right now. I like just clicking the button and seeing the music notation quicker than listening to all the music every time. Great for debugging.

However, i

[2020-06-08 14:05] pikurasa commented on #2329
It would be in the extras palette.

[2020-06-08 17:55] pikurasa opened #2334 "Funny behavior with the multiply note value clamp"
Funny behavior with the multiply note value clamp

![Screenshot at 2020-06-08 13:13:56 funny clamp state](https://user-images.githubusercontent.com/13454579/84061912-bbd47500-a98c-11ea-84b1-f307001b6a58.png)

I think that the reproducible steps are:
1. insert notes into  multiply note value clamp
2. Extract a middle note
3. Repeat 1 and 2, if the issue does not happen the first time

The issue is

[2020-06-08 18:25] pikurasa opened #2335 "Issue with Mode Pie Menu"
[code]

Caused when one clicks the "7b" collection of modes.

[2020-06-08 18:42] aviral243 commented on #2335
@pikurasa Should be fixed now.

[2020-06-08 20:14] #2335 closed

[2020-06-08 20:32] walterbender commented on #2320
Fixed the mezzo typo as well as a typo with "Cartersian".
Added a check to skip the staffs when not running Music Blocks.

[2020-06-08 20:32] #2320 closed

[2020-06-08 20:33] walterbender commented on #2329
Prob. should add a "none" option too that hides the grids.

[2020-06-08 20:34] #2319 closed

[2020-06-08 20:35] walterbender commented on #2330
We used to have these blocks (and one for save SVG too). I suppose there is no reason not to add them to the extras palette.

[2020-06-09 01:25] walterbender commented on #2334
Does the same thing happen to any other clamps? e.g. tie?

[2020-06-09 11:08] sksum commented on #2334
This seems to happens when using collapsed notes/blocks ( in any type of clamp )

[2020-06-09 11:51] walterbender opened #2338 "Add automated and semi-automated testing"
Please add your ideas about testing here.

[2020-06-09 12:10] sum2it commented on #2338
Sometime in the future maybe we would be able to (semi?) automate the refactoring process.
It's already slightly easier now because of the function importMembers(obj, modelArgs, viewArgs) in utils.js.

Things to take care of:

1. var-let port

2. arrow function port

3. creating MVC components

PS: My comment isn't about testing but refactoring, but we'll have to have proper tests to automate refa

[2020-06-09 12:16] digitaldybbuk opened #2339 "Some block images fail to load in "take a tour""
The following sections do not load an example block image:

- set relative volume
- scalar transpose
- number to pitch
- scalar change in pitch
- box
- action
- wait for
- control point 2
- nth mouse name

Some examples of what I see - in chrome as well as firefox. (using a mac)
<img width="508" alt="Screen Shot 2020-06-09 at 7 07 53 AM" src="https://user-images.githubusercontent.com/1059285/84145

[2020-06-09 12:21] aviral243 commented on #2338
ESLint is installed but we don't have `eslintrc` with the rules specified.

[2020-06-09 12:37] walterbender commented on #2338
Setting rules for ESLint is where I hit the wall...

[2020-06-09 12:47] aviral243 commented on #2338
I'm experimenting with some. I'll post here how it turns out.

[2020-06-09 13:15] aviral243 commented on #2338
These are some of the rules on which I would like to have everyone's opinion:

- Indentation
- Unused Vars
- Quotes [ Single / Double / backticks]
- Semi-colons at the end
- Max line length, if any

These are the few off the top of my head, and most common ones.

[2020-06-09 13:17] digitaldybbuk commented on #2339
The offending srcs:

 https://musicblocks.sugarlabs.org/documentation/deltapitch2_block.svg
 https://musicblocks.sugarlabs.org/documentation/number2pitch_block.svg
 https://musicblocks.sugarlabs.org/documentation/setscalartransposition_block.svg
 https://musicblocks.sugarlabs.org/documentation/articulation_block.svg
 https://musicblocks.sugarlabs.org/documentation/waitFor_block.svg
 https://musicb

[2020-06-09 13:25] aviral243 commented on #2338
My opinion:
- Indentation: 4 spaces and `no-mixed-spaces-and-tabs` turned to true,
- Unused Vars: Warning
- Quotes: Double. Allows others in case of backspacing required characters.
e.g  'This is a "string" with double quotes'
- Semi-colons at the end: required always
- Max-line length: Maybe 80, not applicable to comments

[2020-06-09 14:13] walterbender commented on #2338
For JS, I think we may want to relax the 80 char per line rule. Maybe 100?

[2020-06-09 14:27] digitaldybbuk commented on #2338
I used this test script to check out the musicblocks tutorial section, and figure out which images were missing if any: https://gist.github.com/digitaldybbuk/ddad8675fbaf13eebac9740d61db2d92

[2020-06-09 14:29] aviral243 commented on #2338
Yes. And rather than throwing error, throw in a warning, also ignore it for strings too.

I've run some initial tests,

`{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "rules": {
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "no-mixed-

[2020-06-09 14:50] aviral243 commented on #2338
![Screenshot from 2020-06-09 20-17-57](https://user-images.githubusercontent.com/44023445/84162852-7ac48980-aa8e-11ea-838e-2028be3ade11.png)

Well, caught some errors like this:
https://github.com/sugarlabs/musicblocks/blob/14b209bf09adad29b7ecebb42971455f3d1e4085/js/utils/utils.js#L1226

[2020-06-09 16:45] meganindya commented on #2338
I think 100 is better. While adding comments I had a few lines go till 85-ish. 80 was becoming a weird fence just to push a word or two to the new line.

[2020-06-09 22:04] walterbender commented on #2338
[test-suite.zip](https://github.com/sugarlabs/musicblocks/files/4755093/test-suite.zip)

^^ this is the sort of thing I have in mind re testing in MB itself. Once the "lyrics" regression in Lilypond is fixed, we can use it to "print" the test results.

[2020-06-11 06:04] digitaldybbuk commented on #2339
does prod deviate from master? which branch should i switch to for what's pushed to prod?
@walterbender when I clone the (master) repo locally, I get different missing svg files:

+ ['http://localhost:8000/documentation/mycursorover_block.svg',
+  'http://localhost:8000/documentation/mycursorout_block.svg',
+  'http://localhost:8000/documentation/mycursorup_block.svg',
+  'http://localhost:8000/do

[2020-06-11 08:41] vaibhavdaren commented on #2338
@walterbender this is cool. I think we should add unit tests in the code too.

[2020-06-11 11:58] walterbender commented on #2339
Please do continue to test on Master.

[2020-06-11 19:38] sksum commented on #2263
currently , it gives out a no input error message .
@walterbender  thoughts ?
repeat 0 --> skip note
repeat -ve --> warning ,works same as repeat 0

[2020-06-11 22:09] walterbender commented on #2263
repeat 0 should skip its child flow without an error message. Maybe an error message for < 0???

[2020-06-12 03:33] digitaldybbuk commented on #2339
(updated my test: https://gist.github.com/digitaldybbuk/ddad8675fbaf13eebac9740d61db2d92)

No Image Detected for **"speak"** with description:
 _The Speak block outputs to the text-to-speech synthesizer_

SRC for image is Invalid: http://localhost:8000/documentation/mycursorover_block.svg
SRC for image is Invalid: http://localhost:8000/documentation/mycursorout_block.svg
SRC for image is Invalid:

[2020-06-12 10:29] walterbender opened #2346 "add a README for the examples folder"
We have more than 50 examples now. It would be great to have a README.md file that:
(1) organizes them by theme;
(2) includes a brief explanation where appropriate, e.g.,

crabcanon.html -- A crab canon is an arrangement of two musical lines that are complementary and backward. This is example from J. S. Bach, which uses the **backward** block in its implementation.

(3) some tags such as we have

[2020-06-12 10:32] walterbender commented on #2346
Note the highlight of the featured block(s) used in the example.

[2020-06-12 12:39] pikurasa opened #2347 "Unknown Block on Custom Temperament Save"
I think the "unknown" block is suppose to be a ratio for the specified octave.

![Screenshot at 2020-06-12 08:32:36 unknown block for temperament](https://user-images.githubusercontent.com/13454579/84503043-77482280-ac87-11ea-8287-748ceaee55b1.png)

Logs:
[code]

Test File:
[unknown-block-temperament.html.zip](https://github.com/sugarlabs/musicblocks/files/4770778/unknown-block-temperament.html.zi

[2020-06-12 12:44] sksum commented on #2347
is the temperament block doing its job as expected ?

[2020-06-12 12:48] pikurasa opened #2348 "Custom Pitch (via Temperament) not loaded, not present in palette"
When a user creates a custom temperament, they also get a "custom pitch" block. This block is is loads of fun.

For example, the following block was generated from:
1. Initiate Temperament Widget
2. Clear everything
3. Choose --> Equal, then "5" for value for divisions
4. Save Custom Temperament

![Screenshot at 2020-06-12 08:41:12 custom pitch](https://user-images.githubusercontent.com/13454579/8

[2020-06-12 12:52] pikurasa commented on #2347
Yes, it seems to work.

There are some bugs in the widget, but I will report those separately.

[2020-06-12 12:59] pikurasa opened #2349 "Preview for Temperament Widget Only Plays Octave"
Preview for both "equal" and "ratio" division tools only play the starting note and the octave above. This does not really allow for someone to preview the sound of the specified temperament.

![Screenshot at 2020-06-12 08:55:48 temperament widget](https://user-images.githubusercontent.com/13454579/84504968-e2dfbf00-ac8a-11ea-8fa4-a7c82dc97149.png)

Preview (Only Plays two notes):

![Screenshot at

[2020-06-12 13:07] pikurasa opened #2350 "Temperament: Multiple Custom Pitches"
Development for temperament stopped before we could allow for users to create multiple custom pitches. Right now, the user can only create one.

This ticket is an enhancement because it adds additional functionality.
This ticket is also a bug report because, as of right now, if the user generates more than one custom pitch they bump up to very strange behavior of the pie menus for custom pitch blo

[2020-06-12 13:32] pikurasa opened #2351 "Temperament Widget Enhancements"
1. Warn user when initiating the widget without "set key" present.

The logs in console are, and the widget does not initiate, but the user is not notified:
[code]
Otherwise, we might say that if only a pitch block is given, we assume the major key for the specified pitch. (I am unsure why we even need both blocks. We may only need "set key".)

2. Right now, we show the numbers for the degrees of

[2020-06-12 20:30] pikurasa commented on #2320
The Friday student is very happy to have alto clef. :)

[2020-06-12 21:03] pikurasa commented on #2320
(and invert)

https://musicblocks.sugarlabs.org/index.html?id=1591992374010287&run=True

[2020-06-13 23:59] #2058 closed

[2020-06-14 15:56] walterbender opened #2353 "mouse over/mouse out events not working as expected"
The way I typically use events is like this:

![Screenshot from 2020-06-14 11-52-37](https://user-images.githubusercontent.com/3996641/84597992-91276800-ae35-11ea-8417-17fa1a1a72bc.png)

The event handlers get loaded but the mouse/turtle is not "running" after they are loaded.

Since the code in turtles.js tests for running, the events are not dispatched.

[code]

If I remove the check, it works,

[2020-06-14 18:01] sksum commented on #2353
the multiple events may be occurring due to blinking of turtles ,( I missed this while testing) .

[2020-06-14 18:04] sksum commented on #2353
I always thought that events could be triggered only when running , using a forever loop .

![Screenshot (89)](https://user-images.githubusercontent.com/55449862/84600531-74238100-ae97-11ea-919a-dfc3e5a96b79.png)

[2020-06-14 18:31] walterbender commented on #2353
That construct just keeps adding an event handler... I suppose it would work but it almost defeats the purpose of using an event.

I think the code I shared is basically correct except for some reason there are more events triggered than expected -- two for every one. Maybe you can track that down?

[2020-06-15 10:46] aviral243 commented on #2305
@pikurasa Pitch class output should start number from A right?
Like 0 for A.

[2020-06-15 11:02] #2353 closed

[2020-06-15 11:33] pikurasa commented on #2305
The convention is C = 0

[2020-06-15 21:26] pikurasa commented on #1705
Theoretically, if we rewrite Sakura for Scale Degree, then we should get the expected results. I will do this soon-ish.

[2020-06-15 21:39] pikurasa commented on #2050
Theoretically, if we rewrite Sakura for Scale Degree, then we should get the expected results. I will do this soon-ish.

[2020-06-16 11:58] walterbender commented on #2339
I think these are all OK now. Please check.

[2020-06-16 14:26] mannycastillo commented on #2339
Speak block and Temperament block are the only ones remaining - however it looks like these don't seem to have an src associated with an image (they just look blank) -

No Image Detected for "speak" with description:
 The Speak block outputs to the text-to-speech synthesizer

No Title has been assigned to this description: The Temperament name block is used to select a tuning method.

[2020-06-16 15:03] mannycastillo commented on #2339
Ah, the following svg files seems to be broken:
**documentation**
speak_block.svg:`<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0"></svg>`
temperamentname_block.svg:`<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0"></svg>`

**documentation-ja**
speak_block.svg:`<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0"></svg>`
temperamentname_block.svg:`<svg xmlns="http:

[2020-06-17 20:29] digitaldybbuk commented on #2339
Ah, the following svg files seems to be broken:
documentation
speak_block.svg:`<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0"></svg>`
temperamentname_block.svg:`<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0"></svg>`

documentation-pt
speak_block.svg:`<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0"></svg>`
temperamentname_block.svg:`<svg xmlns="http://www.w3

[2020-06-18 13:55] meganindya opened #2361 "Check for regression due to porting"
Let's maintain a checklist of bugs that appears to have cropped up due to MVC porting of `Turtles` (`turtle.js`) and `Turtles` (`turtles.js`), and refactoring of `Logo` (`logo.js`).

[2020-06-18 14:24] walterbender commented on #2361
- [ ] Regression in Subtract 1 from block

[2020-06-18 22:53] sksum commented on #2350
I am not sure how we would display different customNotes in palette . a different block for each custom pitch or maybe a pie menu .

[2020-06-19 13:29] sum2it opened #2366 "Searching a blocks loads two blocks of the same type"
Steps to reproduce:
- open search box
- type "set temperament"
- press enter
This should load one block of set temperament but instead loads two of them.

Same case if you search "if" block. Probably many other blocks as well.
I think this issue is related to #2317

[2020-06-19 14:18] sum2it opened #2367 "In music blocks tour, the "Show palette containing blocks" button doesn't work"
When you finish the basic music blocks tour and move on to learn about the blocks, the "Show palette containing blocks"  doesn't work in some blocks.

In the cases it doesn't work, the button named "Load this block" loads the blocks and opens the palette containing the block -- both at the same time.

Minor issue, but fixable.
![Screenshot from 2020-06-19 19-47-50](https://user-images.githubuserco

[2020-06-19 14:44] sum2it commented on #2367
Related issue: #2339

[2020-06-19 15:24] pikurasa commented on #2350
As we discussed, a pie menu seems to be a clever solution.

[2020-06-19 15:58] pikurasa commented on #2350
One design thing that we will bump into very soon is that the `set temperament` block needs to be present in the code in order for the custom pitches to be properly initiated AND we only have one value for "custom" in our temperament pie menu.

![Screenshot at 2020-06-19 11:39:07 multiple custom values for temperament pie menu](https://user-images.githubusercontent.com/13454579/85151586-f3131380-b

[2020-06-19 16:02] pikurasa commented on #2350
Or, when `temperament` block is set to custom, we allow the user to type??? (like we do for a number)

[2020-06-19 19:31] sksum commented on #2350
Adding more ways to change temperament inside code could be confusing to the user , In my opinion , removing custom from options and making `custom pitches` function independently might be better .

Also ,  the `set temperament =>(custom )` block doesn't seem to be work .... i.e. it doesn't change tuning according to the custom defined temperament ,
Although other temperaments work well:  `set tem

[2020-06-19 21:33] pikurasa commented on #2350
Fine by me.

[2020-06-20 07:23] pikurasa commented on #2350
I am exploring this a little more...

If we take custom from options we may be losing a way to do things like the following:

(Custom Mode of Custom Temperament)
![Screenshot at 2020-06-20 03:07:58 Custom Mode of Custom Temperament](https://user-images.githubusercontent.com/13454579/85195877-0961b380-b2a4-11ea-9359-65431c2665ea.png)

Also, currently this is how we reinitialize the temperament widg

[2020-06-20 07:36] pikurasa opened #2368 "Multiple Custom Mode?"
Right now it does not seem possible to initiate a custom mode after the first mode because only "custom" shows up in pie menu for `mode` block.

![Screenshot at 2020-06-20 03:29:41 two customs one value in pie menu](https://user-images.githubusercontent.com/13454579/85196186-5f375b00-b2a6-11ea-8c9f-ebf57fe49dc9.png)
(Note the two `define mode` blocks have different pitch numbers yet the same "cust

[2020-06-20 12:39] walterbender commented on #2368
I think the define mode block should take a string, which the user can edit to assign the mode name. All the defined names should appear in the pie menu for the set mode block.

[2020-06-20 14:49] pikurasa commented on #2350
Re: https://github.com/sugarlabs/musicblocks/issues/2368#issuecomment-646989535

@walterbender should we implement the same design for temperament as well (see the above thread for the discussion that Saksham and I have been having)?

[2020-06-20 14:54] walterbender commented on #2350
Should work for both.

[2020-06-20 21:45] walterbender commented on #2326
In investigating this, there is also a regression with the hertz block printing the numeric value over the note.

There used to be an array in logo.js for markup, which accumulated markup for each note. the array would be processed at the end of each note generating the notation for lilypond. This is gone and the print block no longer add lyrics to the notation when lilepond is running.

We prob.

[2020-06-21 10:38] aviral243 commented on #2305
@pikurasa Could you please provide a more clear explanation of these.

Are we matching only the `key` for Scalar class?

[2020-06-21 11:30] aviral243 commented on #1705
Which palette should this reside in?

[2020-06-21 11:47] walterbender commented on #1705
Probably this is for the Pitch palette.

[2020-06-21 13:24] aviral243 commented on #1705
![Screenshot from 2020-06-21 18-54-09](https://user-images.githubusercontent.com/44023445/85225696-a5003a80-b3f0-11ea-999f-f7ac10097b24.png)

[2020-06-21 15:15] walterbender commented on #2326
fixed by #2369

[2020-06-21 15:15] #2326 closed

[2020-06-21 20:46] pikurasa commented on #2305
We should match the key for both scalar class and scale degree.

Scalar Class is just one level more abstract than scale degree as it does not contain accidental information.

[2020-06-21 21:13] pikurasa commented on #2305
This could serve as a test program for these debuggers:

![Screenshot at 2020-06-21 17:11:34 debugger test](https://user-images.githubusercontent.com/13454579/85235382-72e7dc00-b3e2-11ea-9c4b-c2aaa835939e.png)

`[[0,["start",{"id":1592773240828,"collapsed":false,"xcor":0,"ycor":0,"heading":0,"color":10,"shade":50,"pensize":5,"grey":100}],191,220,[null,16,null]],[1,"displaygrid",205,324,[16,2,14]],

[2020-06-21 21:30] pikurasa commented on #857
I reviewed this now. For the most part, I agree with what I said before. I might add:

and "meters"

and "keys"
also, do the pitches in the code seem congruent with the key, and if not, which ones (not necessarily "good" or "bad" -- just an important stat).

"pitch classes" (means ignore octave); we should put this info with "key". If there are multiple keys, we should compare the key and the pitc

[2020-06-21 23:04] pikurasa opened #2370 "Ctl-V pasting of .tb code block rendering issue"
Right now, when a user pastes .tb code into MB the blocks load, but the clamps do not properly expand.

![Screenshot at 2020-06-21 19:03:47 rendering](https://user-images.githubusercontent.com/13454579/85237109-f78e2680-b3f1-11ea-9a31-c852d0156d54.png)

[2020-06-21 23:17] pikurasa opened #2371 "beat factor?"
Is `beat factor` behaving correctly?

I can only seem to produce an output of "1".

Also, there is no help. Nor is there anything in https://github.com/sugarlabs/musicblocks/tree/master/guide#BEAT for this block.

[2020-06-21 23:22] pikurasa opened #2372 "Declutter Interval Palette by Removing Verbose Macros"
If my memory serves me, I believe that the reason that we have so many macros in the interval palette is because we put them there before we had pie menu.

I think we should remove them.

![Screenshot at 2020-06-21 19:19:01 list of interval blocks](https://user-images.githubusercontent.com/13454579/85237371-58b6f980-b3f4-11ea-9f40-d4415efc587a.png)

If we remove them, we should keep one with the `

[2020-06-21 23:47] pikurasa commented on #2291
The same thing happens for `semi-tone interval` as in:

`[[0,["start",{"id":1592780583633,"collapsed":false,"xcor":0,"ycor":0,"heading":90,"color":50,"shade":50,"pensize":5,"grey":100}],382,-338,[null,21,null]],[1,"semitoneinterval",410,-233,[18,2,7,8]],[2,"plus",624,-233,[1,3,4]],[3,["intervalname",{"value":"major 3"}],710,-233,[2]],[4,"multiply",710,-201,[2,5,6]],[5,["number",{"value":0}],796,-2

[2020-06-21 23:53] pikurasa commented on #2291
The lower pitch plays first. Sorry, doing too many things at once...

[2020-06-21 23:57] pikurasa commented on #2291
Nevermind, the pattern is not so predictable.

[2020-06-22 00:00] pikurasa opened #2373 "Measurement Blocks' Clamp does not work"
The clamp for measurement blocks do not work.

They do not expand. They do not let you remove a block that has been placed inside.

![Screenshot at 2020-06-21 19:59:08](https://user-images.githubusercontent.com/13454579/85238124-c31e6880-b3f9-11ea-9c6c-40a4eda0f7fc.png)

[2020-06-22 00:21] pikurasa opened #2374 "Noise block Pie Menu is broken"
![Screenshot at 2020-06-21 20:15:55 noise pie menu is broken](https://user-images.githubusercontent.com/13454579/85238570-cf57f500-b3fc-11ea-85d0-ec630e83c977.png)

[2020-06-22 11:15] aviral243 commented on #2305
If we have a scale that contains, let's say `F#` as the 6th scale degree and we play `F` as a note.
Will `scalar class` show 6 or would it be undefined?

[2020-06-22 13:18] pikurasa commented on #2234
@sksum this issue is related to what we were discussing today.

I think it is part of an overarching issue with how pitch is being (or, rather, not being) transformed for the non-synth instruments.

Temperament, for example, has no effect on pitches within non-synth values for set-instrument.

This test file has some code to help compare:
[Instrument-TEst-2.html.zip](https://github.com/sugarlabs/m

[2020-06-22 17:41] pikurasa opened #2376 "Min (Pitch 1) - Max (Pitch 2) for Random"
I really like the functionality for random and pitch.

However, there is a blind spot.

Right now, if I want to go across the octave, I cannot. For example, if I want pitches Sol, Fa, Mi, Re, Do, and Ti (without La), I cannot specify this.

I have a design tweak that will make this possible.

Of the two pitch arguments,
Let's assume that "Min" is always a lower pitch, even if it means it is in the

[2020-06-23 00:04] sksum commented on #2367
Are there any specific block Help pages ? ... wasn't able to reproduce .

[2020-06-23 00:42] sksum commented on #2366
seems like blocks load twice when we press enter , and only once when we simply click .

[2020-06-24 11:46] #2366 closed

[2020-06-28 21:02] sksum commented on #2371
"beat Factor" changes when we use Dot clamp or the multiply note value clamp ,,, should this change in any other case as well?

[2020-06-29 12:01] sksum opened #2385 "Revamp Palette"
Main idea is to use Pie Menus for palette windows to replace the current list like structure.
Please add your ideas about reworking of palette here .

[2020-06-29 21:23] #2305 closed

[2020-06-30 04:24] #2361 closed

[2020-07-01 09:41] sksum commented on #2385
https://jsfiddle.net/v03a2b6o/12/
something like this could be used to replace the createjs containers for palettes ...
I am still struggling to find the best design and how to use the pie Menus effeciently.

[2020-07-01 11:04] aviral243 commented on #2376
There's a bottleneck in implementing this.
What we're returning from random block is just the `note` (do, re, ...).
Octave values (2nd argument of pitch block) is never touched in the random block.

[2020-07-01 11:29] aviral243 commented on #2374
@pikurasa

![Screenshot from 2020-07-01 16-58-07](https://user-images.githubusercontent.com/44023445/86238945-12178b00-bbbc-11ea-86e8-e887cc27b0bd.png)

I wasn't able to reproduce this.
Do you have a hint of what might've triggered this?

[2020-07-01 13:02] pikurasa commented on #2376
Are you able to assume the octave based on the formula I sketched above?

We do not need to be able to specify the octave any more granularly than that.

[2020-07-01 13:12] pikurasa commented on #2374
Huh, it is working for me now. Thanks!

[2020-07-01 13:12] #2374 closed

[2020-07-01 15:17] pikurasa commented on #2385
At one point in time we had a pie menu for the palatte.

Please see: https://sandbox.musicblocks.net/test/palette-selector/index.html to test it out. It was a branch on the sugarlabs repo (maybe it is still there).

![Screenshot at 2020-07-01 11:14:44 pie selector](https://user-images.githubusercontent.com/13454579/86261169-378ca080-bb8c-11ea-9e91-6f269dc2714a.png)

[2020-07-01 22:02] walterbender commented on #2376
If the Random block is attached to a Pitch block, we can read the octave from the Pitch block. Otherwise, we should assume octave 4 for the first pitch and proceed from there.

[2020-07-03 11:23] walterbender opened #2387 "Android release"
Peru needs a native Android Release. Prepare a Cordova release.

[2020-07-03 18:41] pikurasa commented on #2371
Please upload an example. Thanks!

[2020-07-03 21:31] sksum commented on #2371
::
`[[0,["start",{"collapsed":false,"xcor":-160,"ycor":-15,"heading":0,"color":50,"shade":60,"pensize":5,"grey":200}],826,8,[null,28,null]],[1,["newnote",{"collapsed":false}],854,81,[28,2,5,9]],[2,"divide",956,81,[1,3,4]],[3,["number",{"value":1}],1042,81,[2]],[4,["number",{"value":4}],1042,113,[2]],[5,"vspace",868,113,[1,6]],[6,"pitch",868,145,[5,7,8,31]],[7,["solfege",{"value":"sol"}],942,145,[6

[2020-07-06 15:34] pikurasa opened #2389 "Set Pitch Number Offset does not work"
Tested on Rawgit and musicblocks.sugarlabs.org

Does not connect to other blocks, and therefore does not work.

Nothing in logs...

[2020-07-06 19:56] pikurasa commented on #2389
The only suspicious thing I see is that, if I take an old project that already has "set pitch number offset" and introduce a new "set pitch number offset" block into the project, I see two different blocks in the JSON:

`[14,"setpitchnumberoffset",894,160,[null,15,16,null]]`
`[34,"setpitchnumberoffset",517,285,[0,35,1]]`

One seems to have three inputs and the other four (with two "nulls")

This i

[2020-07-06 20:09] pikurasa commented on #2371
Multiply Note Value and Dot seem to affect `Beat Factor` -- thanks for testing.

However, this simple example (created from the default sol,mi,sol) only returns `1` every time:

![Screenshot at 2020-07-06 16:07:01 every beat factor is one](https://user-images.githubusercontent.com/13454579/86637128-14eef300-bfa3-11ea-9697-fd2483634c3c.png)

[2020-07-06 20:16] pikurasa opened #2390 "`On every beat do` is always one beat behind"
This can be observed in:

https://github.com/sugarlabs/musicblocks/files/4871015/Improvisation.html.zip

`On every beat do` starts the action on the second beat, not the first.

`On every note do` does exactly what I expect, at the right time.

I am a little confused because I know there is discussion of "before" and "after". However, the "on every note do" seems to be putting the action "inside t

[2020-07-07 11:45] #2372 closed

[2020-07-08 00:04] sksum commented on #2371
What should be the expected values here ?

[2020-07-08 01:23] pikurasa commented on #2371
I expect 1, 1, and 2.

[2020-07-08 12:38] pikurasa opened #2395 "Pitch in hertz Cannot be found | Values in Pie Menu Cannot be found"
I was looking for "pitch in hertz" using search and it said it could not be found (but the feature still exists).

Searching:
![Screenshot at 2020-07-08 08:33:17 pitch in hertz](https://user-images.githubusercontent.com/13454579/86919298-0402c680-c0f6-11ea-93d7-01df2cfc0113.png)

Cannot be found:
![Screenshot at 2020-07-08 08:33:38 cannot be found](https://user-images.githubusercontent.com/1345457

[2020-07-09 11:51] #2376 closed

[2020-07-09 18:35] walterbender opened #2398 "y to pitch converter"
Now that we have a staff display, it would be handy to have a block that converts from Y to pitch. (We'd have to assume natural as opposed to sharp or flat, but it would still be quite useful.)

[2020-07-09 19:22] walterbender commented on #2395
This is a bit tricky. I suppose we could add some aliases to the search. But I am not sure why a block name would appear if it doesn't actually exist.

[2020-07-09 19:47] pikurasa commented on #2395
(If it is not too much work) I like the alias idea.

If it is too much work, the problem we have is that the search is indexing block(s) that do not exist--that have been restructured as values in pie menu(s).

[2020-07-10 09:03] aviral243 commented on #2395
Pitch in hertz does exist. It just has its hidden parameter set to true. I guess that is not preventing it from showing in the search options.

[2020-07-10 10:38] aviral243 commented on #2398
Would this work as an argument to some block (pitch) and play the corresponding pitch?

[2020-07-10 10:54] meganindya opened #2403 "Add more documentation for some context menus"
- Add documentation in [Guide](https://github.com/sugarlabs/musicblocks/blob/master/guide/README.md#SETTING)
- Improve help strings
- Add/Improve macro

Blocks:
- [x] `register`
- [x] `panning`

[2020-07-10 11:50] walterbender commented on #2398
If the block is attached to a pitch number block, it is just the pitch number.
If it is attached to the nth model pitch block, it takes into account the key.
If it is attached to print block, it is nth model pitch with key.
If it is attached to a pitch block, it is nth model pitch with key.
If it is unattached to anything, it is just pitch number.

[2020-07-10 13:16] walterbender opened #2404 "ecstatic is deprecated and a vulnerability"
We seem to be using a deprecated package with npm. We should replace it.

[2020-07-11 14:19] walterbender opened #2406 "hertz to color"
It would be nice to have a way to consistently map hertz to a color range (0-100). Something along the lines of:

If were are in C major:

131 (C3) --> 0
147 (D3) --> 14
165 (E3) --> 28
175 (F3) --> 42
196 (G3) --> 56
220 (A3) --> 70
247 (B3) --> 84
262 (C4) --> 100 --> 0
...

[2020-07-11 20:58] walterbender commented on #2406
The frequencyToPitch function in musicutils does most of the work here. Not sure we need to consider key/mode in this calculation.

[2020-07-11 21:06] pikurasa commented on #2406
Hertz is as absolute a unit as it gets.

[2020-07-11 21:07] pikurasa commented on #2398
If it is attached to a pitch number block, it takes into account "set pitch number offset" (if present)

[2020-07-11 21:41] walterbender commented on #2406
The point is to wrap octaves and to linearize the exponential scale. As far as adjusting the zero point to the current key, I think we can skip that.

[2020-07-11 21:42] walterbender commented on #2406
Do we have a way to go from hertz to octave? I could see using octave to control shade.

[2020-07-12 11:17] walterbender commented on #2406
This is making me think that perhaps we could refactor the "debug output block" as follows:
- [ ] (1) add a default input arg which is "current pitch".
- [ ] (2) use the output of freq to pitch as an input
- [ ] (3) add two new entries to the pie menu: pitch to octave and pitch to color (as defined above)

What do you think?

[2020-07-12 13:13] pikurasa commented on #2406
This sounds good to me.

I am having a hard time imagining what you mean.

Do you mean to change the shape so that it is like:

![Screenshot at 2020-07-12 09:12:18 shape](https://user-images.githubusercontent.com/13454579/87247132-e39d7980-c41f-11ea-9f87-a7ba2280980a.png)

??

[2020-07-12 22:54] walterbender commented on #2406
![My Project](https://user-images.githubusercontent.com/3996641/87258359-ef655c00-c470-11ea-8923-d8a5010970d5.png)

I thought we could have something along the lines of this ^^ where rather than implicitly converting the current pitch, you plug current pitch into the block.

[2020-07-12 23:01] sksum commented on #2403
as discussed earlier , documentation for "my blocks" palette is needed.

[2020-07-15 19:25] pikurasa opened #2410 "Pitch Blocks outside of Note Value"
I think some of the lowest lying fruit to extend Music Blocks' functionality in a way that both 1) extends its functionality as well as 2) removes a barrier for beginners is to allow pitch/drum/noise blocks to work outside of note value.

### Outside of Forever Loop

We should assume that the note should be played as a quarter note. Most of the time this works, but does not currently work on `scal

[2020-07-16 12:40] pikurasa commented on #1454
Instruments to be ignored from this enhancement:
[ ] piano
[ ] guitar
[ ] acoustic guitar
[ ] electric guitar
[ ] koto
[ ] banjo
[ ] dulcimer
[ ] xylophone
[ ] celeste

(basically, all the percussion and plucked string instruments)

[2020-07-16 15:07] pikurasa opened #2411 "Scale Degree is acting "wonky""
I am having trouble finding the pattern, but the scale degree block is not working well on its own.

[2-spelling-systems-for-Scale-Degree.html.zip](https://github.com/sugarlabs/musicblocks/files/4932320/2-spelling-systems-for-Scale-Degree.html.zip)

As a snapshot, you can see that the first pitch is not C (even though it is in C major and starts from SD=1). It seems to be making this lower C its s

[2020-07-16 15:08] pikurasa commented on #2411
Tested on Rawgit.

[2020-07-16 15:13] aviral243 commented on #2411
I'm probably subtracting 1 somewhere I shouldn't, or vice-versa. Must've happened when I refactored the function.
I'll take a look.

[2020-07-16 15:16] pikurasa commented on #2411
No worries!

Working on the docs right now!

[2020-07-19 16:06] walterbender opened #2414 "add 1 block not working properly when pitch is stored in box"
If you put a pitch inside of a box and use the add 1 block, you expect a pitch that is one pitch higher (do --> re, c --> d). Instead you get ti1 or C1.

[2020-07-19 16:10] walterbender opened #2415 "removing a box from a pitch block has unexpected results"
If you use a box as the pitch name and then remove it, you would expect that a default pitch name (sol) would replace it. However, instead, it is replaced by a strange new box. See the figure below:

![Screenshot from 2020-07-19 12-07-54](https://user-images.githubusercontent.com/3996641/87879429-bec57b00-c9b8-11ea-8481-e1eaf277b958.png)

[2020-07-19 18:41] pikurasa commented on #2415
I think I have seen this behavior with other blocks, too, so it may not be specific to box.

[2020-07-19 20:10] #2415 closed

[2020-07-19 20:20] #2414 closed

[2020-07-20 00:35] aviral243 commented on #2398
Regarding this, taking into account the key would translate like this:

Default mapping:
0 - C4
12.5 - D4
.. and so, till 75, for all 7 notes of C major.

Assuming to be in key G major:
0 - G4,
12.5 - A4
.. and so.

Am I right here? @walterbender @pikurasa

[2020-07-20 01:01] aviral243 commented on #1957
![Screenshot from 2020-07-20 06-28-54](https://user-images.githubusercontent.com/44023445/87890080-72c71480-ca52-11ea-8ef4-c2141c001e1c.png)

This is a general idea of how to display a choice for moveable. (The styling and positioning are in accordance.)

[2020-07-20 01:18] walterbender commented on #2398
C4 is always 0. The mode/key doesn't matter.

[2020-07-20 01:23] walterbender commented on #1957
Looks good. I suppose there are three choices? the default should be Moveable None

[2020-07-20 01:35] pikurasa commented on #1957
Looks good.

[2020-07-20 09:40] sksum commented on #1947
@walterbender Should we add this feature in Planet ?

[2020-07-20 11:08] walterbender commented on #1947
Not sure that it makes sense to have drop and load in the Planet view. Would it mean drop and upload when the Global view is open?

[2020-07-20 12:15] pikurasa commented on #1957
@aviral243 I tested it as it is now. Works well with movable do. It seems you have yet to implement the auto-selection (sharp/flat) for fixed. Please let me know when that has been pushed.

[2020-07-20 12:19] pikurasa commented on #1947
I thought it would just load the project. Otherwise, the user needs to exit planet in order to load the project. It seems like an unnecessary restriction.

[2020-07-21 07:57] aviral243 commented on #1957
Can you provide an example of this? I'm having trouble visualizing this.

[2020-07-21 11:36] pikurasa commented on #1957
For example, if you are in g major and you click "fa", you get "fa sharp" by default.

[2020-07-21 11:59] walterbender commented on #1957
For movable and fixed or just movable?

[2020-07-21 12:35] pikurasa commented on #1957
This is just for fixed. Movable already adjusts everything. The specs are detailed in issue.

[2020-07-21 12:49] pikurasa commented on #1957
Imagine this: draw five horizontal lines on a page (like a staff). Then put notes in for g, a, b, c, d, e, f, and g. The f (or fa for fixed) is natural.

Then draw a sharp at the beginning for F. This suggests the key of G major or E minor. Then write in g, a, b, c, d, e, f, and g. The f (fa in fixed) is now f sharp.

That is the analogy.

Right now in MB it is like always having no sharps/flats (

[2020-07-22 11:58] pikurasa commented on #1957
I think we cleared this up at today's meeting. @aviral243 please let me know if you have any questions.

[2020-07-22 12:04] pikurasa commented on #1957
The same implementation should be done for alphabet.

[2020-07-22 13:33] aviral243 commented on #1957
![SetKeyGen](https://user-images.githubusercontent.com/44023445/88182514-e7b26e00-cc4d-11ea-805e-e383893e6a67.gif)

Got the blocks to generate.

But generating them on pressing the play button does take away the vision and blocks just magically appear once the user sees the blocks again.

[2020-07-22 13:52] walterbender commented on #1957
Looks great.

Re updating, maybe you need to call adjustExpandableClampBlock() ???

[2020-07-22 14:08] aviral243 commented on #1957
The issue here might be that the play button instantly causes everything to disappear. If I tie the same function to the stop button, it happens almost instantly without any disappearance.

![setkeygenStop](https://user-images.githubusercontent.com/44023445/88186545-f0597300-cc52-11ea-9080-3810805cb1ad.gif)

[2020-07-22 14:16] walterbender commented on #1957
Oh I misunderstood.
Question: Why is it tied to a button rather than the PieMenu?

[2020-07-22 14:26] aviral243 commented on #1957
Should it be on closing the pie-menu?
I just thought it would be a little 'unforgiving'. But it's also convenient to have it auto-generate with the selected options.

[2020-07-22 14:38] walterbender commented on #1957
I think associating it with the pie menu makes the most sense.

[2020-07-24 20:25] pikurasa opened #2420 "Three "do" in search | More description appreciated"
Student today found that their are three "do" indexed in search and had a hard time finding the needed block (she likes using search).

![Screenshot at 2020-07-24 16:20:50 three do](https://user-images.githubusercontent.com/13454579/88432263-daba8980-cdc9-11ea-8901-f0051fc37d6d.png)

Maybe add some more description in parenthesis after the name of the block?
e.g.
do (arg)
do (run action)

[2020-07-24 20:26] pikurasa commented on #2420
I found a more immediate issue related to this as well.

All the "do" in the index produce the following:

![Screenshot at 2020-07-24 16:25:17 produced do blocks](https://user-images.githubusercontent.com/13454579/88432533-63392a00-cdca-11ea-855c-1cd8288af1b6.png)

Why do they say "_no arg_"? When I pull blocks from the palette, they do not look like this.

[2020-07-25 16:18] meganindya opened #2422 "Refine the blockList Data Structure from a List (or Array) to an n-ary Tree"
The `blockList` variable in `Blocks` (`blocks.js`) is currently a `List` (or `Array`) that stores the `Block` objects corresponding to each block in a project. It is a highly used Data Structure. But, the list is arranged in the order of initial load and the connections are maintained by the indices in the List, contained in each `Block` object's `connection` list variable.

Having a non-dynamic l

[2020-07-26 18:57] walterbender opened #2423 "regression in on-every-beat-do"
Seems that there is no correspondence to beat any more... it just loops as fast as it can.

Try this simple example.
![Screenshot from 2020-07-26 14-56-58](https://user-images.githubusercontent.com/3996641/88487103-4dee0800-cf50-11ea-9291-955b083dce26.png)

[2020-07-26 19:22] #2423 closed

[2020-07-26 19:23] walterbender commented on #2423
The problem was some missing ()s were causing duration to be assigned to null.

[2020-07-28 12:14] pikurasa opened #2426 "Missing Images from Help"
"On Every Beat Do" and "Temperament" Blocks are missing from Help

![Screenshot at 2020-07-28 08:11:36](https://user-images.githubusercontent.com/13454579/88663833-2e6af280-d0aa-11ea-8a10-9f209353300d.png)
![Screenshot at 2020-07-28 08:08:36 image for on every beat](https://user-images.githubusercontent.com/13454579/88663834-2f038900-d0aa-11ea-8085-8253a5f68fe7.png)

Also, the images from the medi

[2020-07-29 12:27] pikurasa commented on #2411
I tested it and the sound works perfectly as expected for the test example.

However, when I try and export as Lilypond I get:

[code]

[2020-07-30 23:31] #2426 closed

[2020-07-30 23:33] #2385 closed

[2020-07-30 23:35] walterbender commented on #2367
Please reopen if you can replicate this.

[2020-07-30 23:35] #2367 closed

[2020-07-30 23:36] #2329 closed

[2020-07-30 23:37] #2252 closed

[2020-07-30 23:37] #2241 closed

[2020-07-30 23:42] walterbender commented on #1432
With the new palette, the blocks are bigger. I don't think we need to add zoom.

[2020-07-30 23:42] #1432 closed

[2020-07-31 10:53] sksum opened #2434 "Update Tone.js to V 14.7.39"
https://github.com/Tonejs/Tone.js/releases/tag/14.7.39.
documentation : https://tonejs.github.io/docs/14.7.39/index.html

BREAKING CHANGES :
-TransportTimelineSignal renamed SyncedSignal
-Master renamed Destination
-Buffer renamed ToneAudioBuffer
-Buffer.on("loaded") is should now use: Tone.loaded(): Promise<void>
-Removing bower (71c8b3b), closes #197
-Removing Ctrl classes (51d06bd)

[2020-07-31 17:41] #2143 closed

[2020-07-31 22:36] walterbender commented on #2411
@pikurasa please test

[2020-07-31 22:38] walterbender commented on #2411
![Screenshot from 2020-07-31 18-38-15](https://user-images.githubusercontent.com/3996641/89082787-0ce56180-d35d-11ea-9e1e-3bec6630554e.png)

[2020-08-01 12:41] walterbender opened #2436 "add more tests to the test project"
https://github.com/sugarlabs/musicblocks/blob/master/examples/test-suite.html has a number of tests for different music and graphics blocks but is far from complete.

We should add tests for:

- [ ] scale degree
- [ ] intervals
- [ ] invert (all three modes)
- [ ] set temperament
- [ ] the various blocks on the tone palette
- [ ] the various blocks on the ornament palette
- [ ] volume blocks
- [ ]

[2020-08-01 18:03] NsLiang commented on #2436
Hi Walter, can I be assigned to this project?

[2020-08-01 18:21] walterbender commented on #2436
We don't typically assign issues. Feel free to jump in.

[2020-08-01 22:16] sksum commented on #604
example from web audio api : (range -1 to 1).
https://mdn.github.io/webaudio-examples/stereo-panner-node/
there are other features in tonejs ,like panner3d (sets source at a point in 3d space(x,y,z))

@pikurasa would this be a clamp block ?

[2020-08-02 13:01] sksum commented on #1463
this seems to be an issue with firefox browser , firefox provides deltaY property of mouse scroll in units"line width" unlike (chromium,IE,canary)   that use pixel . more info : https://gist.github.com/akella/11574989a9f3cc9e0ad47e401c12ccaf .

[2020-08-02 21:45] #1454 closed

[2020-08-02 21:48] #1957 closed

[2020-08-03 03:02] digitaldybbuk commented on #2339
----------------------------------------------------------------------
Ran 1 test in 30.949s

OK

No missing images 👍  💯

[2020-08-03 03:02] #2339 closed

[2020-08-03 03:10] athenajq commented on #2301
@athenajq will be work on this issue.

[2020-08-03 11:53] walterbender opened #2439 "new JA strings from pitch menu"
Please see ja.po and ja-kana.po

[2020-08-03 11:55] walterbender opened #2440 "pitch preference menu should rotate on click"
When you select a key from the pitch preference menu on the secondary toolbar, the pie menu should rotate (as well as any secondary pitches) to give feedback to the user that the selection has changed.

[2020-08-03 11:56] walterbender opened #2441 "midi import should use busy cursor"
Since midi import takes time, it should display a busy cursor to let the user know something is happening.

[2020-08-03 15:37] walterbender opened #2444 "Oscilloscope Widget"
Would be nice to be able to watch an oscilloscope view of the synth output.

This is pulled from a ticket on tone.js

You should be able to create a normal WebAudio GainNode, then it connect from Tone.Destination (or any ToneAudioNode object) to that GainNode ... and then connect the GainNode to oscilloscope.js

[2020-08-04 09:27] sksum commented on #2444
what features would this have ?
1- x-t  plot for a single start block(channel)
2- x-t plot for combined output of all start blocks .
3- x-y oscilloscope with 2 different start blocks. (https://www.tmatlantic.com/encyclopedia/index.php?ELEMENT_ID=9524)

[2020-08-04 11:25] walterbender commented on #2444
I think just x-t for each turtle. I don't think that for music, the x-y plot would make much sense.

[2020-08-04 20:00] athenajq commented on #2301
should the metronome pie menu be like this:

<img width="480" alt="Screen Shot 2020-08-04 at 12 57 43 PM" src="https://user-images.githubusercontent.com/65567661/89338879-18cd6e00-d652-11ea-9cdc-20cd413550e8.png">

or should I also include the tempo marking for the respective beats?

[2020-08-05 10:50] walterbender commented on #2301
I think just the pie menu is enough. However, since the numbers overlap a bit, maybe rotate the labels so that they are radial instead of always horizontal. (One of the pie menu settings enables that -- look at the instruments pie menu as an example.)

[2020-08-05 19:49] pikurasa commented on #2301
This looks pretty good.

I think radial would be a good improvement. Otherwise, we might look into displaying fewer of the number choices.

[2020-08-05 20:37] sksum commented on #747
I think up / down arrows should work as expected now.

[2020-08-05 21:37] #604 closed

[2020-08-06 11:28] pikurasa commented on #747
@sksum which branch? scrolltest? scrollspeed?

[2020-08-06 11:31] sksum commented on #747
Scroll test ,(merged with master)

[2020-08-06 11:44] pikurasa commented on #747
Seems to be fixed. Thanks!

[2020-08-06 11:44] #747 closed

[2020-08-06 15:08] pikurasa commented on #2420
@sksum any ideas for how to help the user figure out the difference between different blocks with the same name?

![Screenshot at 2020-08-06 11:07:16 multiple do](https://user-images.githubusercontent.com/13454579/89548510-1fd0b980-d7d5-11ea-9cad-c4cf4e0f8ff2.png)

[2020-08-06 19:08] sksum commented on #2420
we could use the help description for blocks with same names
 example :
![image](https://user-images.githubusercontent.com/55449862/89571978-23505900-d846-11ea-9dfb-ee89e893ea4f.png)

[2020-08-06 22:42] #2398 closed

[2020-08-07 12:04] pikurasa opened #2458 "Upon exit, upon reload, MB asks if you would like to save project, but does not"
When you exit the browser or reload the page, MB asks if you would like to save the project. However, it does not save the project.

Reproducible Steps:
1. Switch language or toggle beginner/advanced modes (or close browser tab)
2. Select "reload"
3. Select option to save project

Project does not save.

I expect project to save.

[2020-08-07 12:09] pikurasa opened #2459 "No way to toggle back to beginner mode"
Right now there is no way to toggle back to beginner mode.

You can, however, still toggle from beginner to advanced.

I know the palette is still being reworked and that there are plans to eliminate the need to reload. Is work still being made toward this end in the near future? Because if so, perhaps this issue does not need to be fixed.

[2020-08-07 12:20] pikurasa opened #2460 "Global Tuning Block"
Sometimes musicians choose to tune to pitches other than 440 (for A_4), either higher or lower.

Music Blocks currently has no way to do such a global transformation on pitch.

I imagine a block like the following:
![global-tuning](https://user-images.githubusercontent.com/13454579/89644665-6500f400-d886-11ea-8142-709e2e157acb.png)

The block would be global, across all turtles (aka mice).

In the

[2020-08-07 12:21] pikurasa commented on #2439
@walterbender Has this been addressed completely?

[2020-08-07 12:35] pikurasa commented on #2411
Yes, this is working as expected.

I would like to add https://github.com/sugarlabs/musicblocks/pull/2461 as I plan to reference it in documentation.

[2020-08-07 12:35] #2411 closed

[2020-08-07 12:37] walterbender commented on #2439
Yes. But we'll open a new similar issue in a few weeks for things like the oscilloscope, etc

[2020-08-07 12:37] #2439 closed

[2020-08-07 12:39] sksum commented on #2420
@walterbender  thoughts?

[2020-08-07 12:49] pikurasa opened #2462 "Stereo Design Considerations"
Now that we have stereo features (i.e. panning), it opens the possibility for small issues to arise.

For example, if a project pushes everything into a single channel (i.e. hard-pan left or right), then some people may not hear anything--if, for example, their headphones only source the opposite channel.

As a short-term measure we may consider a warning if all of the sound is going through a sin

[2020-08-07 12:49] #1475 closed

[2020-08-07 12:49] pikurasa commented on #1475
Please see https://github.com/sugarlabs/musicblocks/issues/2462

[2020-08-07 12:52] pikurasa commented on #2420
It works, but--depending on how we do it--could give more work to translators.

It could either show a small image of the block, or the first few words of its help menu, both of which are already translated.

[2020-08-07 13:07] walterbender opened #2463 "add icons for zoom buttons in Oscilloscope Widget"
We could use the same icons as we use for scaling the blocks.

[2020-08-07 13:10] walterbender opened #2464 "select turtle/mouse in oscilloscope block clamp"
By default, the Oscilloscope widget should display all voices (mouse/turtle).
But you could select a specific set of voices using a print block inserted into the clamp block as per:

![Screenshot from 2020-08-07 09-10-18](https://user-images.githubusercontent.com/3996641/89648836-d55f4380-d88d-11ea-8d70-bcd83ef3c8ec.png)

[2020-08-07 13:13] walterbender opened #2465 "upgrade to latest tone.js release"
A new tone.js release is available. We should be using it. (It will require some minor changes to synthutils.js)

[2020-08-07 13:15] walterbender opened #2466 "close search after selecting a block"
The search window stays open after selecting a block, occluding the newly generated block. It should close automatically.

[2020-08-07 19:49] #2463 closed

[2020-08-07 19:49] #2464 closed

[2020-08-07 19:51] #2444 closed

[2020-08-07 20:03] pikurasa opened #2467 "Not opening (fatal)"
From Logs

[code]

[2020-08-07 20:15] pikurasa commented on #2467
Reproduced by myself and my student.

Meanwhile, the sugarlabs.org version is fine.

[2020-08-07 20:39] pikurasa opened #2469 "Octave is Stubborn for Scale Degree"
This was tested today on musicblocks.sugarlabs.org (probably on https://github.com/sugarlabs/musicblocks/releases/tag/v3.2 ). I will assume this issue is still happening in the latest version, but please close if that is not true.

A string of Scale Degree pitches should maintain their relationship to one another, not force the octave.

The C and D in the third and fourth measures should be an oct

[2020-08-08 08:34] rajatagg21 commented on #2441
I want to work on it.

[2020-08-08 08:35] rajatagg21 commented on #2466
I want to work on it.

[2020-08-08 10:36] rajatagg21 opened #2473 "hovering over home icon on music blocks page shows Home[HOME]"
![musicbloc](https://user-images.githubusercontent.com/51416019/89707984-dd53dc00-d990-11ea-95e0-aeb983153381.png)

Is it the required action or should it be **Home** only.
@walterbender

[2020-08-08 11:56] walterbender commented on #2441
The import midi PR hasn't landed yet. So prob. best to wait for that.

[2020-08-08 11:57] walterbender commented on #2466
Feel free to make a PR

[2020-08-08 11:59] walterbender commented on #2473
The extra [HOME] is the keyboard shortcut. I think it is prob. OK as is.

[2020-08-08 11:59] #2473 closed

[2020-08-08 12:00] walterbender commented on #2467
Please retest. Should be working fine.

[2020-08-08 13:18] rajatagg21 commented on #2466
@walterbender  I want few days to do so as it is going to be my first ever contribution,

[2020-08-08 14:00] walterbender opened #2474 "oscilloscope widget should auto-open on play"
As with the status widget, the oscilloscope widget should open on play.

[2020-08-08 14:02] walterbender opened #2475 "output of y to pitch cannot be played by any pitch block variant"
The problem is with the octave appended to the pitch.

[2020-08-08 17:34] #2475 closed

[2020-08-08 18:21] walterbender opened #2478 "missing graphics"
![alt tag](https://rawgit.com/sugarlabs/musicblocks/master/charts/scale-degree-improv.svg "Scale Degree Improv")

[Scale Degree Improv](https://rawgit.com/sugarlabs/musicblocks/master/charts/Scale-Degree-Improv.html)

[2020-08-08 18:43] #2478 closed

[2020-08-08 23:10] sksum commented on #2459
the Star Icon is working fine for me , it should toggle back to beginner mode after reload.

[2020-08-09 15:10] walterbender opened #2479 "openFile block regression"
The value returned from loadHeap <--- openFile is undefined. This used to work.

[2020-08-09 19:17] pikurasa commented on #2459
It is working for me now...

[2020-08-09 19:17] #2459 closed

[2020-08-09 19:44] pikurasa commented on #2467
works

[2020-08-09 19:44] #2467 closed

[2020-08-09 19:50] pikurasa commented on #2469
@aviral243 One way to think about it is this: Movable Solfege and Scale Degree should function the same way.

Please use the following test file for testing:

![Screenshot at 2020-08-09 15:47:52](https://user-images.githubusercontent.com/13454579/89740570-dfcd3900-da57-11ea-998e-fdf947dc3509.png)

Current Results:

![Screenshot at 2020-08-09 15:46:39](https://user-images.githubusercontent.com/1345

[2020-08-09 19:53] pikurasa commented on #2373
works

[2020-08-09 19:53] #2373 closed

[2020-08-09 19:54] pikurasa commented on #2440
I believe this has been fixed.

Please reopen if this is not the case.

[2020-08-09 19:54] #2440 closed

[2020-08-09 20:59] pikurasa opened #2481 "Pitch Preview Bugs and Enhancements"
- [x] **Bug**: For C# major (fixed), mi # (e#) and fa # (f#) sound the same (fa # plays as natural). Notably, for fa #, if you toggle to natural and back to sharp the pitch sounds correct.

- [x] **Bug**: For G# major (fixed), ti # (b#) and do # (c#) sound the same (do # plays as natural). Notably, for do #, if you toggle to natural and back to sharp the pitch sounds correct.

(In both of the abov

[2020-08-09 21:07] pikurasa opened #2482 "Mouse/Turtle should not be draggable when shrunk"
If you "shrink" the canvas and click and drag from the mouse/turtle, the mouse/turtle is moved as well as the "shrunk" canvas.

![Screenshot at 2020-08-09 17:05:25](https://user-images.githubusercontent.com/13454579/89741837-a1894700-da62-11ea-9f13-f78b38bdeed8.png)

[2020-08-09 21:11] pikurasa opened #2483 "Action Block support for Phrase Maker"
Right now, notes work inside phrase maker, but action blocks are no longer working.

![Screenshot at 2020-08-09 17:09:19](https://user-images.githubusercontent.com/13454579/89741916-46a41f80-da63-11ea-9eab-29c2bdeac65e.png)

![Screenshot at 2020-08-09 17:08:48](https://user-images.githubusercontent.com/13454579/89741912-43109880-da63-11ea-9256-08129a91294c.png)

[2020-08-09 21:14] pikurasa opened #2484 "Spurious Initiation when a Widget is open"
When a widget is open, Music Blocks seems to be hearing spurious cursor clicks.

To reproduce, open a widget, leave it open, move cursor around the screen. Even without clicking anywhere, pitches will be played and the open widget will reinitiate itself.

[2020-08-09 21:15] pikurasa commented on #2484
Especially bothersome when Status Widget is open. Also observed with Phrase Maker.

[2020-08-09 21:21] pikurasa opened #2485 "Two Design Issues with Pitch Slider"
1. For pitch slider, we have a chromatic tick up/down feature. However, there is no pitch preview and no way to generate the pitch chosen.

![Screenshot at 2020-08-09 17:17:21](https://user-images.githubusercontent.com/13454579/89742058-99320b80-da64-11ea-9df0-f9c6224a1303.png)
How to click? The only way is to hunt and peck, but even so the pitch is never heard by the user.

2. It would be nice if

[2020-08-09 21:31] pikurasa opened #2486 "No "Did you mean to use Note Block" error for Phrase Maker"
The user should not be warned about using a note block when the pitch is inside phrase maker.

(The error is underneath the current message, but having trouble capturing it in time)
![Screenshot at 2020-08-09 17:29:35](https://user-images.githubusercontent.com/13454579/89742221-fe3a3100-da65-11ea-902e-3e9fa35d1445.png)

[2020-08-09 22:47] aviral243 commented on #2481
Some of these preview issues are a result of representational similarity in a few cases (like E# expressed as F). I'll see which ones we can eliminate.

re Cb Major: This is an issue with `_buildScale()`. Scale generated for Cb major is the same as C major.

re Scale Degree : Fix in order.

re Three set key blocks: I wasn't able to reproduce this. I seem to be able to generate one set key per star

[2020-08-10 02:16] pikurasa commented on #2481
Internally?

I assume this is some internal issue.

If this is too difficult, we can only offer B Major (and other modes) as Cb is pretty far from C and less common.

Yes, looks better. Please capitalize all the words -- "Solfege Pitch Preview"

[2020-08-10 11:25] walterbender commented on #2479
No idea how it could have worked before, but it works now that the loadFile block returns the file contents.

[2020-08-10 11:25] #2479 closed

[2020-08-10 18:45] pikurasa commented on #2481
- [ ] **Enhancement**: Change "Aeolian" to "Minor"

[2020-08-10 18:49] pikurasa commented on #2481
@aviral243 If there are overarching issues with `_buildScale()`, please document them in a new issue ticket. Thanks.

[2020-08-10 23:38] aviral243 commented on #2481
@walterbender Let's keep this open for a while. I might be able to fix few more of the above-mentioned issues.

[2020-08-11 01:05] sksum commented on #2484
I was able to reproduce something similar to this ,
steps:
1) initialize more than one widget : status and phrase maker .
2) close phrase maker , modify pitches inside phrase maker.
3) phrase maker initializes again and starts playing abruptly.

[2020-08-11 23:05] pikurasa commented on #2481
@aviral243 yes, please. I am afraid that if we don't sort out these bugs, this feature will cause more confusion than benefit.

[2020-08-12 11:54] pikurasa opened #2494 "Use Print Block for Display Grid"
For Display Grid feature, we introduced two new blocks.

We should keep the new pie menu selector, but we do not need the block that accepts the input. Instead, we will allow print block to accept the input and get the intended result.

[2020-08-13 01:23] pikurasa opened #2495 "Regression in Simple Tuplet and Tuplet (Phrase Maker)"
Tested on https://rawgit.com/sugarlabs/musicblocks/master/index.html

Simple Tuplet and Tuplet seem to not work right now.

Test File:
[Simple-Tuplet-Regression.html.zip](https://github.com/sugarlabs/musicblocks/files/5066642/Simple-Tuplet-Regression.html.zip)

Also, while we are fixing this, please change the values in the macros to the following:
1. Triplet --> 3 and 1/8
2. Quintuplet --> 5 and

[2020-08-13 01:27] pikurasa opened #2496 "Note Values in Phrase Maker no Longer editable"
![Screenshot at 2020-08-12 21:24:18](https://user-images.githubusercontent.com/13454579/90084056-4a91a500-dce2-11ea-8c49-b52b0c7b3be3.png)

It used to be that you could click on the note values and you would get a popup of choices to divide the note values or add additional notes.

[2020-08-13 02:04] sksum commented on #1875
@pikurasa
does this mean that music keyboard would have output similar to the phrase maker with constant note lengths
![image](https://user-images.githubusercontent.com/55449862/90086082-35933100-dd37-11ea-8285-c18969ac1305.png)
and not notes with different lengths. ?
![image](https://user-images.githubusercontent.com/55449862/90086008-011f7500-dd37-11ea-8bd4-28fd7ac0413d.png)

[2020-08-13 05:55] meganindya commented on #2496
It works at my end

![Screenshot (11)](https://user-images.githubusercontent.com/33328728/90099176-7c911e80-dd57-11ea-990f-15b275d4cda5.png)